<table class="table table-bordered table-hover">
	<tr>
		<td colspan="9">
			<input type="text" ng-model="searchFilter" placeholder="Search..."/>
		</td>
	</tr>

	<tr class="success">
		<td width="1%"></td>

		<td class="text-center" width="1%" nowrap>Appt </td>

		<td class="text-center" width="1%" nowrap>Chart # </td>
		<td class="text-center" nowrap>	Patient </td>
		<td class="text-center" width="1%" nowrap>	Trn Code </td>
	</tr>

	<tr ng-repeat="px_Item in clinix | filter : searchFilter | orderBy : [ 'TranStatus', 'AppDateSet', 'ClinixRID' ] ">
		
		<td>
			<a href="#/{{px_Item.ClinixRID}}" style="text-decoration:none; display:block">  
				<img ng-src="..//images/{{px_Item.pxFoto}}" width="75" style="padding: 0 0 0 0">  
			</a>   
		</td>
		<td class="text-center" nowrap>{{px_Item.ClinixRID}} <br> {{px_Item.AppDateSet | date}} </td>

		<td class="text-center" nowrap>{{px_Item.PxRID}} </td>
		<td nowrap>		
			<a href="#/{{px_Item.ClinixRID}}" style="text-decoration:none; display:block">
				
		    	{{px_Item.pxname}}
		    	<br>{{px_Item.pxstatus}}
		    	<br><span style="font-size:10px">{{px_Item.pxAddress}}</span>
			</a>
	  	</td>
	  	<td class="text-center"> 
			<span style="color:{{px_Item.preForeColor}}; background-color:{{px_Item.preBackColor}}">
				&nbsp; {{px_Item.TranStatusDisp}} &nbsp;
			</span>
	  	</td>
  	</tr>
</table>