<div ng-controller="DiagsMedsCtrl">	
	
		<table class="table table-condensed table-bordered">
			<tr class="info">
				<td class="text-left" colspan="9">
					<span id="DGL_module_header">
			    		Medication
			    	</span>
				</td>
			</tr>
			
			<tr  class="info">
				<th width="25%" class="text-center">Medicine</th> 
				<th width="25%" class="text-center">Brand</th> 
				<th width="1%" class="text-center" nowrap>Qty/Volume</th> 
				<th width="25%" class="text-center">Dosage</th> 
				<th width="25%" class="text-center">Duration</th> 
				<th width="1%" class="text-center"></th> 
			</tr>

			<tr class="active" ng-repeat="xMed in clinix_DiagsMedication">
	        	<td class="text-center" nowrap>{{xMed.GenericName}}</td>
	        	<td class="text-center" nowrap>{{xMed.Brand}}</td>
	            <td class="text-center">{{xMed.Qty}}</td>
	            <td class="text-center">{{xMed.Dose}}</td>
	            <td class="text-center">{{xMed.Duration}}</td>
	            <td>
	            	<a class="btn btn-large btn-danger" style="text-decoration: none" 
	            		ng-click="removeDiagnosis(xMed)">
	            		DELETE
	            	</a>
	        	</td>
                <!--td>
                	<a class="btn btn-large btn-warning" style="text-decoration: none" 
                		ng-click="editChiefComp(xMed)">
                		EDIT
                	</a>
            	</td -->
	        </tr>
			
			
		</table>
	
</div>