<script>
	// 127.0.0. 1
    $(document).ready(function()
    {
        $("#hideshowPrevLabs").show();

        $("#showlabsPrevLabs").click(function()
        {
            $("#hideshowPrevLabs").toggle(200);
        });
    });
</script>

<!-- LAB EXAMS -->

<div ng-controller="LABSCtrl">
	<div scroll-bookmark="IOPELabs">
		<div class="panel panel-default">

			<table class="table table-condensed table-bordered">

				<tr class="info">
					<th colspan=9>
						<span id="DGL_module_header">
			    			Laboratory Examinations
			    		</span>
					</th>
				</tr>

				<tr class="info">
					<th width="1%" class="text-center">Labs</th>
					<th width="1%" class="text-center">Date</th>
					<th width="1%" class="text-center">Where</th>
					<th width="1%" class="text-center">Report</th>
					<th></th>
				</tr>

				<tr class="active" ng-repeat="rolLabs in clinix_LABS">
	            	<td nowrap>{{rolLabs.labCategory}}</td>
	            	<td class="text-center">{{rolLabs.labDate}}</td>
	            	<td class="text-center" nowrap>{{rolLabs.labSource}}</td>
	                <td class="text-center">{{rolLabs.labReport}}</td>
				</tr>

	            <!--tr class="info">
					<td class="text-left" colspan="9" nowrap>
	                	<input type="submit" id="showlabsPrevLabs" class="btn btn-danger" value="Gross Images">
					
	                	<div id="hideshowPrevLabs">
		                	<div ng-repeat="lab_results in LABSPrevLabs | orderBy : [ 'RefDate' ] " style="padding: 0 20px 0 20px">
								<br><br>
	                			LAB Type: &nbsp;&nbsp;&nbsp; {{lab_results.LCatRID}}
            					<br> File Name: &nbsp;&nbsp;&nbsp; {{lab_results.ImageFileName}}
            					<br> Date: &nbsp;&nbsp;&nbsp; {{lab_results.RefDate | date}}
            					<br> Result: &nbsp;&nbsp;&nbsp; {{lab_results.Result}}
            					<br>
								<img ng-src="http://127.0.0. 1/{{lab_results.ImageFolder}}/{{lab_results.ImageFileName}}" width="70%" class="img-rounded"> 
		                	</div>
	                	</div>
					</td>
	            </tr-->

			</table>
		</div>
	</div>
</div>