<div ng-controller="PREOpKNEE_preformCtrl">
	
<table class="table table-condensed table-bordered">
	<tr class="info">
		<th colspan=9>
			<span id="DGL_module_header">
    			PRE-Operative Orders: KNEE Replacement 
    		</span>
		</th>
	</tr>
</table>

		<table class="table table-condensed table-bordered">
			
			<tr>
				<td class="text-center active" width="1%">
					<input type="checkbox" class="form-control" ng-model="kneePreform.Pre01" 
			            ng-true-value="1"
			            ng-false-value="0">
				</td>
				<td> 1. Regular hospital bed. </td>
			</tr>

 			<tr>
				<td class="text-center active" width="1%">
					<input type="checkbox" class="form-control" ng-model="kneePreform.Pre02" 
			            ng-true-value="1"
			            ng-false-value="0">
				</td>
				<td> 2. Regular diet or unless otherwise specified.</td>
			</tr>
 			<tr>
				<td class="text-center active" width="1%">
					<input type="checkbox" class="form-control" ng-model="kneePreform.Pre03" 
			            ng-true-value="1"
			            ng-false-value="0">
				</td>
				<td> 3. Get patient consent for Surgery.</td>
			</tr>
 			<tr>
				<td class="text-center active" width="1%">
					<input type="checkbox" class="form-control" ng-model="kneePreform.Pre04" 
			            ng-true-value="1"
			            ng-false-value="0">
				</td>
				<td> 4. Nothing by mouth after midnight (NPO).</td>
			</tr>
 			<tr>
				<td class="text-center active" width="1%">
					<input type="checkbox" class="form-control" ng-model="kneePreform.Pre05" 
			            ng-true-value="1"
			            ng-false-value="0">
				</td>
				<td> 5. Shower the night before surgery and wash with soap and water from umbilicus to knee of the schedule extremity wrap with clean towel.</td>
			</tr>
 			<tr>
				<td class="text-center active" width="1%">
					<input type="checkbox" class="form-control" ng-model="kneePreform.Pre06" 
			            ng-true-value="1"
			            ng-false-value="0">
				</td>
				<td> 6. Have BM the night before and empty bladder before going to surgery.</td>
			</tr>
 			<tr>
				<td class="text-center active" width="1%">
					<input type="checkbox" class="form-control" ng-model="kneePreform.Pre07" 
			            ng-true-value="1"
			            ng-false-value="0">
				</td>
				<td> 7. Type and x-match of packed red blood cells-units.</td>
			</tr>
 			<tr>
				<td class="text-center active" width="1%">
					<input type="checkbox" class="form-control" ng-model="kneePreform.Pre08" 
			            ng-true-value="1"
			            ng-false-value="0">
				</td>
				<td> 8. CBC, Hematocrit, hemoglobin, Sed. Rate.</td>
			</tr>
 			<tr>
				<td class="text-center active" width="1%">
					<input type="checkbox" class="form-control" ng-model="kneePreform.Pre09" 
			            ng-true-value="1"
			            ng-false-value="0">
				</td>
				<td> 9. EKG.</td>
			</tr>
 			<tr>
				<td class="text-center active" width="1%">
					<input type="checkbox" class="form-control" ng-model="kneePreform.Pre10" 
			            ng-true-value="1"
			            ng-false-value="0">
				</td>
				<td> 10. Hemostan 1gm in OR and repeat 1/2gm in about 6-12 hrs.</td>
			</tr>
 			<tr>
				<td class="text-center active" width="1%"> </td>
				<td> 11. Contact:</td>
			</tr>
 			<tr>
				<td class="text-center active" width="1%">
					<input type="checkbox" class="form-control" ng-model="kneePreform.Pre11a" 
			            ng-true-value="1"
			            ng-false-value="0">
				</td>
				<td> &nbsp;&nbsp;&nbsp;&nbsp; a. Admitting Surgeon</td>
			</tr>
 			<tr>
				<td class="text-center active" width="1%">
					<input type="checkbox" class="form-control" ng-model="kneePreform.Pre11b" 
			            ng-true-value="1"
			            ng-false-value="0">
				</td>
				<td> &nbsp;&nbsp;&nbsp;&nbsp; b. Anesthesiologist</td>
			</tr>
 			<tr>
				<td class="text-center active" width="1%">
					<input type="checkbox" class="form-control" ng-model="kneePreform.Pre11c" 
			            ng-true-value="1"
			            ng-false-value="0">
				</td>
				<td> &nbsp;&nbsp;&nbsp;&nbsp; c. Internist or Cardio;ogist</td>
			</tr>
 			<tr>
				<td class="text-center active" width="1%">
					<input type="checkbox" class="form-control" ng-model="kneePreform.Pre11d" 
			            ng-true-value="1"
			            ng-false-value="0">
				</td>
				<td> &nbsp;&nbsp;&nbsp;&nbsp; d. Others</td>
			</tr>
 			<tr>
				<td class="text-center active" width="1%">
					<input type="checkbox" class="form-control" ng-model="kneePreform.Pre12" 
			            ng-true-value="1"
			            ng-false-value="0">
				</td>
				<td> 12. Preoperative sedation per Anesthesiologist.</td>
			</tr>
 			<tr>
				<td class="text-center active" width="1%"> </td>
				<td> 13. Antibiotics:</td>
			</tr>
 			<tr>
				<td class="text-center active" width="1%">
					<input type="checkbox" class="form-control" ng-model="kneePreform.Pre13a" 
			            ng-true-value="1"
			            ng-false-value="0">
				</td>
				<td> &nbsp;&nbsp;&nbsp;&nbsp; a. Cefuroxime 1.5grms in the OR before induction. Repeat 12 hrs. after surgery.</td>
			</tr>
 			<tr>
				<td class="text-center active" width="1%">
					<input type="checkbox" class="form-control" ng-model="kneePreform.Pre13b" 
			            ng-true-value="1"
			            ng-false-value="0">
				</td>
				<td> &nbsp;&nbsp;&nbsp;&nbsp; b. Cefazolin 2grms in OR before induction repeat 8 hrs. After surgery.</td>
			</tr>
 			<tr>
				<td class="text-center active" width="1%">
					<input type="checkbox" class="form-control" ng-model="kneePreform.Pre14" 
			            ng-true-value="1"
			            ng-false-value="0">
				</td>
				<td> 14. Repeat in Bilateral joint surgery after the first joint is finished.</td>
			</tr>
 			<tr>
				<td class="text-center active" width="1%">
					<input type="checkbox" class="form-control" ng-model="kneePreform.Pre15" 
			            ng-true-value="1"
			            ng-false-value="0">
				</td>
				<td> 15. Please inform relatives to wait outside of the operating room to talk to surgeon after surgery is finished.</td>
			</tr>

			<tr>
				<td></td>

				<td class="text-center">
					
					<table width="100%">
						<tr class="success">
							<td width="15%" class="text-center" nowrap>
								<button class="form-control btn-danger" ng-click="checkAll()" style="margin-right: 10px">Check all</button>
							</td>

							<td width="5%"></td>

							<td width="15%" class="text-center" nowrap>
								<button class="form-control btn-warning" ng-click="uncheckAll()" style="margin-right: 10px">Uncheck all</button>
							</td>

							<td width="5%"></td>

							<td width="15%" class="text-center">
								<a class="btn btn-large btn-info" style="text-decoration: none" ng-click="addNew(kneePreform)">
									Save
								</a>
							</td>

							<td></td>
						</tr>
					</table>

				</td>
			</tr>
		</table>
</div>