<div ng-controller="POSTOpHIP_preformCtrl">

	<table class="table table-condensed table-bordered">
		<tr class="success">
			<th colspan=9>
				<span id="DGL_module_header">
	    			POST-Operative Orders: HIP Replacement 
	    		</span>
			</th>
		</tr>
	</table>

	<table class="table table-condensed table-bordered">
		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="hipPostform.Post01" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 1. To post-operative recovery room. </td>
		</tr>

		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="hipPostform.Post02" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 2. Portable X-rays in bed-AP (anterior-posterior) and cross table lateral of Operative Hip.</td>
		</tr>

		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="hipPostform.Post03" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 3. Regular diet as tolerated.</td>
		</tr>

		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="hipPostform.Post04" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 4. Keep IV per ordered by Anesthesiologist.</td>
		</tr>

		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="hipPostform.Post05" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 5. Keep epidural anesthesia per order by Anesthesiologist.</td>
		</tr>

		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="hipPostform.Post06" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 6. Demerol 50-75 mgs every 3-4 hrs PRN.</td>
		</tr>

		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="hipPostform.Post07" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 7. Arcoxia 60, 90, 120 mgs once a day.</td>
		</tr>

		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="hipPostform.Post08" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 8. Aspirin 80mgs once a day, indifinitely.</td>
		</tr>

		
		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="hipPostform.Post09" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 9. Ferrous Sulfate 300 gms, three times daily for 3 months.</td>
		</tr>
		
		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="hipPostform.Post10" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 10. Massive Ice Packs around the hip area continuously for 48 hrs.</td>
		</tr>

		
		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="hipPostform.Post11" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 11. Measure and record drainage from Hemovac Suction.</td>
		</tr>

		
		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="hipPostform.Post12" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 12. Repeat IV Cefuroxime 1.5 gms. Repeat 12 hrs one doze only.</td>
		</tr>

		
		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="hipPostform.Post13" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 13. Repeat IV Cefazoline 2 gms in 8 hrs one doze only.</td>
		</tr>

		
		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="hipPostform.Post14" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 14. HgB and Hematocrit in 48 hrs.</td>
		</tr>

		
		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="hipPostform.Post15" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 15. Keep legs apart with two pillows or abduction pillow.</td>
		</tr>

		
		<tr>
			<td></td>
			<td> 16. PT 2 times daily:.</td>
			
		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="hipPostform.Post16a" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> &nbsp;&nbsp;&nbsp;&nbsp; a. Foot and ankle pump 10 times every hour when awake.</td>
		</tr>
			
		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="hipPostform.Post16b" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> &nbsp;&nbsp;&nbsp;&nbsp; b. Quadriceps and hamstring sitting exercise 10 times every hour when awake.</td>
		</tr>

		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="hipPostform.Post16c" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> &nbsp;&nbsp;&nbsp;&nbsp; c. Active hip flexion not more than 90⁰.</td>
		</tr>

		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="hipPostform.Post16d" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> &nbsp;&nbsp;&nbsp;&nbsp; d. Isometric abduction 1ox every hour when awake.</td>
		</tr>

		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="hipPostform.Post16e" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> &nbsp;&nbsp;&nbsp;&nbsp; e. Ambulation with crutches or walker, weight bearing as tolerated.</td>
		</tr>
		
		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="hipPostform.Post17" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 17. Do not cross legs for at least 3 months.</td>
		</tr>
		
		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="hipPostform.Post18" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 18. May dangle on bed with assistance the post–operative day.</td>
		</tr>

		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="hipPostform.Post19" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 19. When sitting, keep feet turned out. Do not internally rotate leg in flexion.</td>
		</tr>
		
		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="hipPostform.Post20" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 20. Keep knee High TEDS stocking when up or awake. Use TEDS stockings for the next 6 weeks.</td>
		</tr>
		
		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="hipPostform.Post21" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 21. Ambulate on the second or third day with PT supervision or nurses assistance.</td>
		</tr>

		<tr>
			<td></td>

			<td class="text-center">
				<table width="100%">
					<tr class="success">
						<td width="15%" class="text-center" nowrap>
							<button class="form-control btn-danger" style="margin-right: 10px"
								ng-click="checkAll()">
								Check all
							</button>
						</td>

						<td width="5%"></td>

						<td width="15%" class="text-center" nowrap>
							<button class="form-control btn-warning" style="margin-right: 10px"
								 ng-click="uncheckAll()">
								Uncheck all
							</button>
						</td>

						<td width="5%"></td>

						<td width="15%" class="text-center">
							<a class="btn btn-large btn-info" style="text-decoration: none"
							 	ng-click="addNew(hipPostform)">
								SAVE
							</a>
						</td>

						<td></td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</div>