<div ng-controller="CloseIOHCtrl">

	<div scroll-bookmark="CloseIOH">	

		<table class="table table-condensed table-bordered">
			<tr class="success">
				<th colspan=9>
					<span id="DGL_module_header">
		    			Closing Initial Interview
		    		</span>
				</th>
			</tr>

			<tr>
				<td class="text-left" colspan="9" nowrap>
	            	Physical Examination Priority:
	        	</td>
	        </tr>

	        <tr>	
	        	<td width="1%" class="text-center active">
	        		<!-- div class="form-group" ng-repeat="frmzclinix in zclinix" -->
						<input type="checkbox" ng-model="frmzclinix.HIP" ng-checked="frmzclinix.HIP == 'true'" ng-true-value="true" ng-false-value="false">
					<!-- /div -->
				</td>

				<td width="1%"> H I P </td>
				
	        	<td width="1%" colspan="1" class="text-center">
					<a class="btn btn-large btn-info" ng-click="PEPrioritize(frmzclinix)" 
						style="text-decoration: none">save</a>
				</td>
				<td></td>
			</tr>

			<tr>
	        	<td class="text-center active">
					<input type="checkbox" ng-model="frmzclinix.KNEE" ng-checked="frmzclinix.KNEE == 'true'" ng-true-value="true" ng-false-value="false">
				</td>

				<td> KNEE </td>
			</tr>

			<tr>
	        	<td class="text-center active">
					<input type="checkbox" ng-model="frmzclinix.SPINE" ng-checked="frmzclinix.SPINE == 'true'" ng-true-value="true" ng-false-value="false">
				</td>

				<td> SPINE </td>
				<td></td>
			</tr>

			<tr>
	        	<td class="text-center active">
					<input type="checkbox" ng-model="frmzclinix.GENORTHO" ng-checked="frmzclinix.GENORTHO == 'true'" ng-true-value="true" ng-false-value="false">
				</td>

				<td nowrap> GENERAL ORTHOPEDIC </td>
			</tr>

			<tr>
	        	<td class="text-center active">
					<input type="checkbox" ng-model="frmzclinix.SKELTRAUMA" ng-checked="frmzclinix.SKELTRAUMA == 'true'" ng-true-value="true" ng-false-value="false">
				</td>

				<td nowrap> SKELETAL TRAUMA </td>
			</tr>

			<tr>
				<td></td>
				<td> SPORTS INJURY: </td>
			</tr>

			<tr>
	        	<td class="text-center active">
					<input type="checkbox" ng-model="frmzclinix.ANKLEFOOT" ng-checked="frmzclinix.ANKLEFOOT == 'true'" ng-true-value="true" ng-false-value="false">
				</td>

				<td> ANKLE & FOOT </td>
			</tr>

			<tr>
	        	<td class="text-center active">
					<input type="checkbox" ng-model="frmzclinix.KNEESPORTS" ng-checked="frmzclinix.KNEESPORTS == 'true'" ng-true-value="true" ng-false-value="false">
				</td>

				<td> KNEE SPORTS </td>
			</tr>

			<tr>
	        	<td class="text-center active">
					<input type="checkbox" ng-model="frmzclinix.SHOULDERARM" ng-checked="frmzclinix.SHOULDERARM == 'true'" ng-true-value="true" ng-false-value="false">
				</td>

				<td> SHOULDER-ARM </td>
			</tr>

			<!-- tr>
				<td></td>
	        	<td class="text-center active">
					<input type="checkbox" ng-model="frmzclinix.ELBOW" ng-checked="frmzclinix.ELBOW == 'true'" ng-true-value="true" ng-false-value="false">
				</td>

				<td> ELBOW </td>
				<td></td>
			</tr -->

			<!-- tr>
				<td></td>
	        	<td class="text-center active">
					<input type="checkbox" ng-model="frmzclinix.WRISTHAND" ng-checked="frmzclinix.WRISTHAND == 'true'" ng-true-value="true" ng-false-value="false">
				</td>

				<td> WRISTHAND </td>
				<td></td>
			</tr -->

			<!-- tr>
				<td></td>
	        	<td class="text-center active">
					<input type="checkbox" ng-model="frmzclinix.THIGH" ng-checked="frmzclinix.THIGH == 'true'" ng-true-value="true" ng-false-value="false">
				</td>

				<td> THIGH </td>
				<td></td>
			</tr -->

			<tr>
				<td></td>
				<td class="text-center form-inline" width="1%">
	            	PIN
	            	<input type="text" class="form-control">
	            </td>
	            <td class="text-center" width="1%">
	            	<a class="btn btn-large btn-danger" ng-click="CloseIOH(clinix)" style="text-decoration: none">
	            		Proceed to PE
	            	</a>
	            </td>

	            <td class="text-center" width="1%">
	            	<a class="btn btn-large btn-warning" ng-click="CancelIOH(clinix)" style="text-decoration: none">
	            		CANCEL Interview
	            	</a>
	        	</td>
			</tr>

		</table>
	</div>
</div>