<div ng-controller="CloseIOHCtrl">

	<div scroll-bookmark="CloseIOH">	

		<table class="table table-condensed table-bordered">
			<tr class="success">
				<th colspan=9>
					<span id="DGL_module_header">
		    			Closing Initial Interview
		    		</span>
				</th>
			</tr>

			<tr>
				<td class="text-left" colspan="9" nowrap>
	            	Physical Examination Priority:
	        	</td>
	        </tr>

	        <tr>	
	        	<td width="7%"></td>
	        	<td width="1%" class="text-center active">
	        		<!-- div class="form-group" ng-repeat="frmzclinix in zclinix" -->
						<input type="checkbox" ng-model="frmzclinix.HIP" ng-checked="frmzclinix.HIP == 'true'" ng-true-value="true" ng-false-value="false">
					<!-- /div -->
				</td>

				<td width="1%"> H I P </td>
				
	        	<td width="1%" colspan="1" rowspan="2" class="text-center">
					<a class="btn btn-large btn-info" ng-click="PEPrioritize(frmzclinix)" 
						style="text-decoration: none">save</a>
				</td>

				<td></td>
			</tr>

			<tr>
				<td></td>
	        	<td class="text-center active">
					<input type="checkbox" ng-model="frmzclinix.KNEE" ng-checked="frmzclinix.KNEE == 'true'" ng-true-value="true" ng-false-value="false">
				</td>

				<td> KNEE </td>
				<td></td>
			</tr>

			<tr>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td class="text-center" width="1%">
	            	<a class="btn btn-large btn-danger" ng-click="CloseIOH(clinix)" style="text-decoration: none">
	            		Proceed to PE
	            	</a>
	            </td>

	            <td class="text-center" width="1%">
	            	<a class="btn btn-large btn-warning" ng-click="CancelIOH(clinix)" style="text-decoration: none">
	            		CANCEL Interview
	            	</a>
	        	</td>
			</tr>

		</table>
	</div>
</div>