<!-- CHIEF COMPLAINT  127.0.0. 1 -->
<script>
    $(document).ready(function()
    {
        $("#hideshowChiefComp").show(); //hide
        $("#hideshowSpine").hide(); //hide

        $("#showlabsChiefComp").click(function()
        {
            $("#hideshowChiefComp").toggle(200);
        });

        
	        $('input[type=radio][name=selectionbonechange]').change(function() {
		        if (this.value == 'SPINE') {

		             $("#hideshowSpine").show(200);
		        }
		        else  {
		            $("#hideshowSpine").hide(200);
		        }
		    });

	    
       
    });
</script> 

<div ng-controller="ChiefComplaintCtrl">
	
	<div scroll-bookmark="IOPEChiefComp">
		<div class="panel panel-default">

		    <table class="table table-condensed table-bordered">
				<tr class="warning">
					<th colspan=9>
						<span id="DGL_module_header">
			    			Chief Complaint
			    		</span>
					</th>
				</tr>
	    	
				<tr class="active">
					<td width="1%"></td>


					<td width="1%" nowrap>Complaint: <br>
						<div class="form-group">
        					<!-- label class="checkbox-inline">
					            <input type="checkbox" ng-model="CHIEFCformData.MyBoneComplaint.None" 
					            ng-true-value="None"
					            ng-false-value=""> NONE
					        </label>
					        <br -->
        					<label class="checkbox-inline">
					            <input type="checkbox" ng-model="CHIEFCformData.MyBoneComplaint.Pain" 
					            ng-true-value="Pain"
					            ng-false-value=""> Pain
					        </label>
					        <br>
					        <label class="checkbox-inline">
					            <input type="checkbox" ng-model="CHIEFCformData.MyBoneComplaint.Swelling" 
					            ng-true-value="Swelling"
					            ng-false-value=""> Swelling
					        </label>
					        <br>
					        <label class="checkbox-inline">
					            <input type="checkbox" ng-model="CHIEFCformData.MyBoneComplaint.Stiffness" 
					            ng-true-value="Stiffness"
					            ng-false-value=""> Stiffness
					        </label>
							<br>
							<label class="checkbox-inline">
					            <input type="checkbox" ng-model="CHIEFCformData.MyBoneComplaint.LimitedMotion" 
					            ng-true-value="Limited Motion"
					            ng-false-value=""> Limited Motion
					        </label>
							<br>
					        <label class="checkbox-inline">
					            <input type="checkbox" ng-model="CHIEFCformData.MyBoneComplaint.Deformity" 
					            ng-true-value="Deformity"> Deformity
					        </label>
							<br>
					        <label class="checkbox-inline">
					            <input type="checkbox" ng-model="CHIEFCformData.MyBoneComplaint.Shortening" 
					            ng-true-value="Shortening"> Shortening
					        </label>
					        
					        <br>
					       	<label class="checkbox-inline">
					            <input type="checkbox" ng-model="CHIEFCformData.MyBoneComplaint.Numbness" 
					            ng-true-value="Numbness"> Numbness
					        </label>

					        <br>
					        <br>
					       	<label class="checkbox-inline">
					            <input type="checkbox" ng-model="CHIEFCformData.MyBoneComplaint.FollowUp" 
					            ng-true-value="Follow-up Visit"> Follow-up Visit
					        </label>

					    </div>
					</td>

					<td width="1%" nowrap>Affected: <br>
					    <label class="checkbox-inline">
				            <input type="radio" name="selectionbone" ng-model="CHIEFCformData.MyBoneLRB" 
				            value="Left"> Left
				        </label>
				        <br>
					    <label class="checkbox-inline">
				            <input type="radio" name="selectionbone" ng-model="CHIEFCformData.MyBoneLRB" 
				            value="Right"> Right
				        </label>
				        <br>
					    <label class="checkbox-inline">
				            <input type="radio" name="selectionbone" ng-model="CHIEFCformData.MyBoneLRB" 
				            value="Both"> Both
				        </label>
				        <br>
					</td>

					<td width="1%" nowrap>Concern: <br>
						<label class="checkbox-inline">
				            <input type="radio" name="selectionbonechange" ng-model="CHIEFCformData.MyBone" 
				             value="HIP"> HIP
				        </label>
				        <br>
						<label class="checkbox-inline">
				            <input type="radio" ng-model="CHIEFCformData.MyBone" name="selectionbonechange" value="KNEE"> KNEE
				        </label>

				        <br>
				        <label class="checkbox-inline">
				            <input type="radio" ng-model="CHIEFCformData.MyBone" 
				            name="selectionbonechange" value="SPINE"> SPINE
				        </label>

				        <br>
				        <label class="checkbox-inline">
				            <input type="radio" ng-model="CHIEFCformData.MyBone" 
				            name="selectionbonechange" value="GENERAL ORTHOPEDIC"> GENERAL ORTHOPEDIC
				        </label>

				        <br>
				        <label class="checkbox-inline">
				            <input type="radio" ng-model="CHIEFCformData.MyBone" 
				            name="selectionbonechange" value="SKELETAL TRAUMA"> SKELETAL TRAUMA
				        </label>

				        <br>
				        SPORTS INJURY:
				        <br>
						<label class="checkbox-inline">
				            <input type="radio" ng-model="CHIEFCformData.MyBone" 
				            value="ANKLE and FOOT"> ANKLE and FOOT
				        </label>

				        <br>
						<label class="checkbox-inline">
				            <input type="radio" ng-model="CHIEFCformData.MyBone" 
				            value="KNEE SPORTS"> KNEE SPORTS
				        </label>

				        <br>
						<label class="checkbox-inline">
				            <input type="radio" ng-model="CHIEFCformData.MyBone" 
				            value="SHOULDER-ARM"> SHOULDER-ARM
				        </label>

				        <!-- br>
						<label class="checkbox-inline">
				            <input type="radio" ng-model="CHIEFCformData.MyBone" 
				            value="ELBOW"> ELBOW
				        </label -->

				        <!-- br>
						<label class="checkbox-inline">
				            <input type="radio" ng-model="CHIEFCformData.MyBone" 
				            value="WRIST and HAND"> WRIST and HAND
				        </label -->

				        <!-- br>
						<label class="checkbox-inline">
				            <input type="radio" ng-model="CHIEFCformData.MyBone" 
				            value="THIGH"> THIGH
				        </label -->


					</td>

					<!-- td nowrap>Others:<br -->
						<!-- input type="text" ng-model="CHIEFCformData.Remarks" placeholder="remarks" -->
						<!--textarea class="form-control" ng-model="CHIEFCformData.Remarks" placeholder="others" rows="5" cols="20"></textarea>
					</td -->

					<td class="text-center" width="1%" nowrap>
						<a class="btn btn-large btn-info" href="#/{{clinix.ClinixRID}}" ng-click="addNew(CHIEFCformData)" style="text-decoration: none; color: #000">ADD</a>
					</td>

					<td></td>
					<td></td>
				</tr>

 				<tr class="info" ng-repeat="complaint in clinix_chiefcomp">
	            	<td width="1%" style="color:black" nowrap></td>  <!-- OnsetAccuteGradual -->
	            	<td width="1%" style="color:black">{{complaint.MyBoneComplaint}}</td>
	            	<td width="1%" style="color:black" nowrap>{{complaint.MyBoneLRB}}</td>
	            	<td width="1%" style="color:black" nowrap>{{complaint.MyBone}}</td>
	                
	                <td width="15%" style="color:black">{{complaint.Remarks}}</td> 
	                <td width="1%">
	                	<a class="btn btn-large btn-danger" href="#/{{complaint.ClinixRID}}" ng-click="removeChiefComp(complaint)" style="text-decoration: none">
	                		DELETE
	                	</a>
	            	</td>
	                <td>
	                	<!-- a class="btn btn-large btn-warning" href="#/{{complaint.ChiefRID}}/edit" ng-click="editChiefComp(complaint)" style="text-decoration: none">
	                		EDIT
	                	</a -->
	            	</td>
	            	<td></td>
	            </tr>
	           
	           
	            <!-- VIEW BOXES...
	            tr class="info">
					<td class="text-left" colspan="9" nowrap>
						<input type="submit" id="showlabsChiefComp" class="btn btn-danger" value="GROSS APPEARANCE">
	                	<div id="hideshowChiefComp">
		                	<div ng-repeat="lab_results in LABSChiefcomp" style="padding: 0 20px 0 20px">
		                		<br><br>
	                			LAB Type: &nbsp;&nbsp;&nbsp; {{lab_results.LCatRID}}
            					<br> File Name: &nbsp;&nbsp;&nbsp; {{lab_results.ImageFileName}}
            					<br> Date: &nbsp;&nbsp;&nbsp; {{lab_results.RefDate | date}}
            					<br> Result: &nbsp;&nbsp;&nbsp; {{lab_results.Result}}
            					<br>
								<img ng-src="http://127.0.0. 1/{{lab_results.ImageFolder}}/{{lab_results.ImageFileName}}" width="70%" class="img-rounded"> 
		                	</div>
	                	</div>
					</td>
	            </tr -->

			</table>
		</div>
	</div>
</div>