<!-- CHIEF COMPLAINT -->
<div ng-controller="ChiefComplaintCtrl">
	<div scroll-bookmark="IOPEChiefComp">
		<div class="panel panel-default">

		    <table class="table table-condensed table-bordered">
				<tr class="warning">
					<th colspan=9>
						<span style="font-family: Helvetiker; font-size:30px; color: #555; letter-spacing: 3px; font-style: italic;">
			    			Chief Complaint
			    		</span>
					</th>
				</tr>
	    	
				<tr class="active">
					<td width="1%"></td>
					<td width="1%" nowrap>Concern: <br>
						<select ng-model="CHIEFCformData.MyBone" style="background-color: white; color: #000">
	              			<option ng-repeat="bone in myBone" value="{{bone.name}}">{{bone.name}}</option>
						</select>
					</td>

					<td width="1%" nowrap>Affected: <br>
						<select ng-model="CHIEFCformData.MyBoneLRB" style="background-color: white; color: #000">
							<option value="">(select)</option>
							<option value="left">Left</option>
							<option value="Right">Right</option>
							<option value="Both">Both</option>
						</select>
					</td>

					<td width="1%" nowrap>Complaint: <br>
						<select ng-model="CHIEFCformData.MyBoneComplaint" style="background-color: white; color: #000">
							<option value="">(select)</option>
							<option value="Pain">Pain</option>
							<option value="Swelling">Swelling</option>
							<option value="Stiffness">Stiffness</option>
							<option value="Limited Motion">Limited Motion</option>
							<option value="Deformity">Deformity</option>
							<option value="Shortening">Shortening</option>
						</select>
					 </td>

					 <td width="1%" nowrap>
						<!-- input type="text" ng-model="CHIEFCformData.Remarks" placeholder="remarks" -->
						<textarea ng-model="CHIEFCformData.Remarks" placeholder="remarks" rows=2 cols=20></textarea>
					 </td>
					 <td class="text-center" width="1%" nowrap>
						<a class="btn btn-large btn-info" href="#/{{clinix.ClinixRID}}" ng-click="addNew(CHIEFCformData)" style="text-decoration: none; color: #000">ADD</a>
					 </td>

					<td></td>
					<td></td>
				</tr>

	            <tr class="info" ng-repeat="complaint in clinix_chiefcomp">
	            	<td width="1%" style="color:black" nowrap></td>  <!-- OnsetAccuteGradual -->
	            	<td width="1%" style="color:black" nowrap>{{complaint.MyBone}}</td>
	            	<td width="1%" style="color:black" nowrap>{{complaint.MyBoneLRB}}</td>
	                <td width="1%" style="color:black">{{complaint.MyBoneComplaint}}</td>
	                <td width="15%" style="color:black">{{complaint.Remarks}}</td> 
	                <td width="1%">
	                	<a class="btn btn-large btn-danger" href="#/{{complaint.ClinixRID}}" ng-click="removeChiefComp(complaint)" style="text-decoration: none">
	                		DELETE
	                	</a>
	            	</td>
	                <td>
	                	<a class="btn btn-large btn-warning" href="#/{{complaint.ChiefRID}}/edit" ng-click="editChiefComp(complaint)" style="text-decoration: none">
	                		EDIT
	                	</a>
	            	</td>
	            	<td></td>
	            </tr>

			</table>
		</div>
	</div>

	<!-- SPINE -->
	<div scroll-bookmark="IOPESpineIntl">
		<div class="panel panel-default">

			<table class="table table-condensed table-striped table-bordered" style="width: 100%">
				<tr class="warning">
					<th colspan="9">
						<span style="font-family: Helvetiker; font-size:30px; color: #555; letter-spacing: 3px; font-style: italic;">
			    			Spine
			    		</span>
		    	 	</th>
				</tr>

				<tr class="active">
					<td width="1%">Neck</td>

					<td width="30%" colspan=1>
						<input type="text" class="form-control" ng-model="CHIEFCformData.Neck" placeholder="Neck">
					</td>

					<td width="1%" rowspan="2" nowrap>Others</td>
					<td rowspan="2" nowrap>
						<textarea rows="3" ng-model="CHIEFCformData.SpineOthers" class = "form-control" placeholder="Others">
						</textarea>
					</td>
				</tr>
							
				<tr class="active">
					<td nowrap>Upper Back</td>
					<td>
						<input type="text" class="form-control" ng-model="CHIEFCformData.UpperBack" placeholder="Upper Back">
					</td>
				</tr>
				<tr class="active">
					<td nowrap>Lower Back</td>
					<td>
						<input type="text" class="form-control" ng-model="CHIEFCformData.LowerBack" placeholder="Lower Back">
					</td>

					<td></td>

					<td class="text-center" nowrap>
						<a class="btn btn-large btn-info" href="#/{{clinix.ClinixRID}}" ng-click="saveSpineIntl(CHIEFCformData)" style="text-decoration: none; color: #000">
							SAVE
						</a>
					</td>
				</tr>
			</table>
			

			<table class="table table-condensed table-bordered">
				<tr class="info">
	            	<th class="text-center" width="1%" style="color:#888" nowrap>NECK</th>
	            	<th class="text-center" width="1%" style="color:#888" nowrap>UPPER BACK</th>
	                <th class="text-center" width="1%" style="color:#888" nowrap>LOWER BACK</th>
	                <th class="text-center" width="35%" style="color:#888" >OTHERS</th> 
	                <th width="1%"></th>
	            	<th></th>
	            </tr>

				<tr class="info" ng-repeat="rollSpineIntl in clinix_spineIntl">
	            	<td style="color:black" nowrap>{{rollSpineIntl.MySpineNeck}}</td>
	            	<td style="color:black" nowrap>{{rollSpineIntl.MySpineUpperBack}}</td>
	                <td style="color:black" nowrap>{{rollSpineIntl.MySpineLowerBack}}</td>
	                <td style="color:black" >{{rollSpineIntl.MySpineOthers}}</td> 
	                <td class="text-center">
	                	<a class="btn btn-large btn-danger" href="#/{{rollSpineIntl.ClinixRID}}" ng-click="remove(rollSpineIntl)" style="text-decoration: none">
	                		DELETE
	                	</a>
	            	</td>
	            	<td></td>
	            </tr>
			</table>

			
		</div>
	</div>
</div>