<!-- ETILOGY -->
<div ng-controller="EtiologyCtrl">
	<div scroll-bookmark="IOPEEtio">
		<div class="panel panel-default">

			<table class="table table-condensed table-bordered">
				<tr class="warning">
					<th colspan=19>
						<span style="font-family: Helvetiker; font-size:30px; color: #555; letter-spacing: 3px; font-style: italic;">
			    			Etiology
			    		</span>
					</th>
				</tr>

				<tr class="active">
					<td class="text-left" width="5%" nowrap>Injury
						<br><input type="radio" ng-model="CHIEFCformData.Injury" value="YES"> Yes
						<br><input type="radio" ng-model="CHIEFCformData.Injury" value="NO"> No
					</td>

					<td width="15%">
						<input type="text" ng-model="CHIEFCformData.DateEtio" class="form-control">
					</td>
				
					<td class="text-left" width="5%" nowrap>
						Work Related
						<br><input type="radio" ng-model="CHIEFCformData.WorkRelated" value="YES"> Yes
						<br><input type="radio" ng-model="CHIEFCformData.WorkRelated" value="NO"> No
					</td>
					<td>
						<textarea rows="2" class="form-control" ng-model="CHIEFCformData.WorkRelatedDetails" placeholder="details (none)"></textarea>
					</td>
				</tr>
				
				<tr class="active">
					<td>Onset</td>
					<td nowrap>
						<input type="radio" value="Sudden" ng-model="CHIEFCformData.OnsetAccuteGradual">Sudden
						<br>
						<input type="radio" value="Gradual" ng-model="CHIEFCformData.OnsetAccuteGradual">Gradual
					</td>
				
					<td>Duration</td>
					<td>
						<div class="form-inline">
							<input type="text" class="form-control" ng-model="CHIEFCformData.Duration" style=" width:80px;" placeholder="Duration">

							<select ng-model="CHIEFCformData.DurationUnit" class="form-control">
								<option value="Days">DAYS</option>
								<option value="Weeks">WEEKS</option>
								<option value="Months">MONTHS</option>
								<option value="Years">YEARS</option>
							</select>
						</div>
					</td>
				</tr>
				
				<tr class="warning">
					<th colspan="19">
						<span style="font-family: Helvetiker; font-size:30px; color: #555; letter-spacing: 3px; font-style: italic;">
			    			Severity
			    		</span>
					</th>
				</tr>

				<tr class="active">
					<td colspan="1" nowrap>
						<input type="radio" value="Mild" ng-model="CHIEFCformData.Severity">Mild
					</td>
					<td colspan="9" nowrap>
						occasional pain meds, no limitation of activities of daily living(ADL) 
					</td>
				</tr>

				<tr class="active">
					<td colspan="1" nowrap>
						<input type="radio" value="Moderate" ng-model="CHIEFCformData.Severity">Moderate 
					</td>
					<td colspan="9" nowrap>
						pain midications, reduced ADL.
					</td>
				</tr>

				<tr class="active">
					<td colspan="1" nowrap>
						<input type="radio" value="Severe" ng-model="CHIEFCformData.Severity">Severe 
					</td>
					<td colspan="9" nowrap>
						pain medication, ambulatory aids, markedly reduced ADL 
					</td>
				</tr>

				<tr class="active">
					<td colspan="1" nowrap>
						<input type="radio" value="Increasing" ng-model="CHIEFCformData.Severity">Increasing 
					</td>
					<td colspan="9" nowrap>
						pain more than when it started & getting worse, ADL more restricted.
					</td>
				</tr>

				<tr class="warning">
					<th colspan="19">
						<span style="font-family: Helvetiker; font-size:30px; color: #555; letter-spacing: 3px; font-style: italic;">
			    			Ambulatory Aid
			    		</span>
					</th>
				</tr>

				<tr class="active">
					<td colspan="9" nowrap>
						<input type="radio" value="Cane" ng-model="CHIEFCformData.AmbulatoryAid">Cane
						&nbsp;&nbsp;<input type="radio" value="Walker" ng-model="CHIEFCformData.AmbulatoryAid">Walker
						&nbsp;&nbsp;<input type="radio" value="Crutches" ng-model="CHIEFCformData.AmbulatoryAid">Crutches
						&nbsp;&nbsp;<input type="radio" value="Wheelchair" ng-model="CHIEFCformData.AmbulatoryAid">Wheelchair
						&nbsp;&nbsp;<input type="radio" value="None" ng-model="CHIEFCformData.AmbulatoryAid">None
					</td>
				</tr>

				<tr class="active">
					<td class="text-center" colspan="9">
						<a class="btn btn-large btn-info" href="#/{{clinix.ClinixRID}}" ng-click="addEtiology(CHIEFCformData)" style="text-decoration: none">ADD</a>
					</td>
				</tr>
			</table>

			<table class="table table-condensed table-bordered">
			  	<tr class="info" >
	                <th class="text-center" style="color:#888" width="1%" nowrap>INJURY</th>
	                <th class="text-center" style="color:#888" width="1%" nowrap>Date</th>
	                <th class="text-center" style="color:#888" width="1%">WorkRelated</th>
	                <th class="text-center" style="color:#888" width="1%">Details</th>
	                <th class="text-center" style="color:#888" width="1%">Onset</th> 
	                <th class="text-center" style="color:#888" width="1%">Duration</th> 
	                <th class="text-center" style="color:#888" width="1%">Unit</th> 
	                <th class="text-center" style="color:#888" width="1%">Severity</th> 
	                <th class="text-center" style="color:#888" width="1%">Aid</th> 
	                <th></th>
	                <th></th>
	            </tr>

	            <tr class="info" ng-repeat="etiology in clinix_etiology">
	                <td class="text-center" style="color:black" width="1%" nowrap>{{etiology.Injury}}</td>
	                <td style="color:black" width="1%" nowrap>{{etiology.DateEtio}}</td>
	                <td class="text-center" style="color:black" width="1%">{{etiology.WorkRelated}}</td>
	                <td style="color:black" width="1%">{{etiology.WorkRelatedDetails}}</td>
	                <td style="color:black" width="1%">{{etiology.OnsetAccuteGradual}}</td> 
	                <td class="text-center" style="color:black" width="1%">{{etiology.Duration}}</td> 
	                <td style="color:black" width="1%">{{etiology.DurationUnit}}</td> 
	                <td style="color:black" width="1%">{{etiology.Severity}}</td> 
	                <td style="color:black" width="1%">{{etiology.AmbulatoryAid}}</td> 
	                <td width="1%">
	                	<a class="btn btn-large btn-danger" href="#/{{etiology.ClinixRID}}" ng-click="removeEtiology(etiology)" tyle="text-decoration: none">DELETE</a>
	                </td>
	                <td></td>
	            </tr>
        	</table>
		</div>
	</div>
</div>