<!-- ETILOGY -->
<div ng-controller="EtiologyCtrl">
	<div scroll-bookmark="IOPEEtio">
		<div class="panel panel-default">

			<table class="table table-condensed table-bordered">
				<tr class="warning">
					<th colspan=19>
						<span style="font-family: Helvetiker; font-size:30px; color: #555; letter-spacing: 3px; font-style: italic;">
			    			Etiology
			    		</span>
					</th>
				</tr>

				<tr class="active">
					<td width="5%"><input type="checkbox" ng-model="CHIEFCformData.Injury">Injury</td>
					<td width="25%">
						<div class="form-inline">
							<input type="date" ng-model="CHIEFCformData.DateEtio" class="form-control ">
						</div>
					</td>
				
					<td width="5%" nowrap>
						<input type="checkbox" ng-model="CHIEFCformData.WorkRelated"> Work Related
					</td>
					<td width="25%">
						<textarea rows="3" class="form-control" ng-model="CHIEFCformData.WorkRelatedDetails" placeholder="Work Related"></textarea>
					</td>
				</tr>
				
				<tr class="active">
					<td>Onset</td>
					<td>

						<input type="radio" name="onset" value="Accute" ng-model="CHIEFCformData.OnsetAccuteGradual">Accute
						<input type="radio" name="onset" value="Gradual" ng-model="CHIEFCformData.OnsetAccuteGradual">Gradual
					</td>
				
					<td>Duration</td>
					<td>
						<div class="form-inline">
							<input type="text" class="form-control" ng-model="CHIEFCformData.Duration" style=" width:80px;" placeholder="Duration">

							<select ng-model="CHIEFCformData.DurationUnit" class="form-control">
								<option value="Days">DAYS</option>
								<option value="Weeks">WEEKS</option>
								<option value="Months">MONTHS</option>
								<option value="Years">YEARS</option>
							</select>
						</div>
					</td>
				</tr>
				
				<tr class="active">
					<td>Sevirity</td>
					<td colspan="1">
						<select ng-model="CHIEFCformData.Severity" style=" width:110px;" class="form-control">
							<option value="Mild">Mild</option>
							<option value="Moderate">Moderate</option>
							<option value="Severe">Severe</option>
							<option value="Increasing">Increasing</option>
							<option value="Progressive">Progressive</option>
						</select> 
					</td>

					<td class="text-center">
						<a class="btn btn-large btn-info" href="#/{{clinix.ClinixRID}}" ng-click="addEtiology(CHIEFCformData)" style="text-decoration: none">ADD</a>
					</td>
					<td></td>
				</tr>
			</table>

			<table class="table table-condensed table-bordered">
			  	<tr class="info" >
	                <th class="text-center" style="color:#888" width="1%" nowrap>INJURY</th>
	                <th class="text-center" style="color:#888" width="1%" nowrap>Date</th>
	                <th class="text-center" style="color:#888" width="1%">WorkRelated</th>
	                <th class="text-center" style="color:#888" width="1%">Details</th>
	                <th class="text-center" style="color:#888" width="1%">Onset</th> 
	                <th class="text-center" style="color:#888" width="1%">Duration</th> 
	                <th class="text-center" style="color:#888" width="1%">Unit</th> 
	                <th class="text-center" style="color:#888" width="1%">Severity</th> 
	                <th></th>
	                <th></th>
	            </tr>

	            <tr class="info" ng-repeat="etiology in clinix_etiology">
	                <td class="text-center" style="color:black" width="1%" nowrap>{{etiology.Injury}}</td>
	                <td style="color:black" width="1%" nowrap>{{etiology.DateEtio | date}}</td>
	                <td class="text-center" style="color:black" width="1%">{{etiology.WorkRelated}}</td>
	                <td style="color:black" width="1%">{{etiology.WorkRelatedDetails}}</td>
	                <td style="color:black" width="1%">{{etiology.OnsetAccuteGradual}}</td> 
	                <td class="text-center" style="color:black" width="1%">{{etiology.Duration}}</td> 
	                <td style="color:black" width="1%">{{etiology.DurationUnit}}</td> 
	                <td style="color:black" width="1%">{{etiology.Severity}}</td> 
	                <td width="1%">
	                	<a class="btn btn-large btn-danger" href="#/{{etiology.ClinixRID}}" ng-click="removeEtiology(etiology)" tyle="text-decoration: none">DELETE</a>
	                </td>
	                <td></td>
	            </tr>
        	</table>
		</div>
	</div>
</div>