<!-- MED HIST -->
<div ng-controller="MedHistCtrl">
	<div scroll-bookmark="IOPEMedHist">
		<div class="panel panel-default">
			
			<table class="table table-condensed table-bordered">
				<tr class="warning">
					<th colspan=9>
						<span style="font-family: Helvetiker; font-size:30px; color: #555; letter-spacing: 3px; font-style: italic;">
			    			Medical History
			    		</span>
			    		{{CHIEFCformData}}
					</th>
				</tr>

				<tr class="active">
					<td width="1%" nowrap>1. HEART</td>
					<td width="1%" nowrap>
						<input type="checkbox" ng-model="CHIEFCformData.HeartMedsYes"> Medication
					</td>
					<td width="20%" colspan="2" nowrap>
						<input type="text" ng-model="CHIEFCformData.HeartMeds" class="form-control" placeholder="Details of Medication">
					</td>

					<td class="text-center" rowspan=7>
						<a class="btn btn-large btn-info" href="#/{{clinix.ClinixRID}}" ng-click="addMedHist(CHIEFCformData)" style="text-decoration: none">ADD</a>
					</td>

				</tr>
				<tr class="active">
					<td>&nbsp;</td>
					<td nowrap>
						<input type="checkbox" id="medhist_heart_surgery"  value="1"> Surgery
					</td>
					<td colspan="2" nowrap>
						<input type="date" id="medhist_heart_surgery_date" value="" class="form-control"> 
					</td>
				</tr>
				<tr class="active" nowrap>
					<td>2. </td>
					<td><input type="checkbox" id="medhist_hypertension" value="1"> Hypertension</td>
					<td colspan="2"><input type="text" id="medhist_hypertension_meds" value="" class="form-control" placeholder=""></td>
				</tr>
				
				<tr class="active">
					<td>3.</td>
					<td nowrap><input type="checkbox" id="medhist_diabetes"  value="1" "81"> Diabetes</td>
					<td colspan="2" nowrap>
						<input type="text" id="medhist_diabetes_meds" value=""class="form-control" placeholder="">
					</td>
				</tr>
				
				<tr class="active">
					<td>4. </td>
					<td nowrap>
						<input type="checkbox" id="medhist_kidney" value="1" "83"> Kidney
					</td>
					<td colspan="2" nowrap>
						<input type="text" id="medhist_kidney_meds" value="" class="form-control" placeholder="">
					</td>
				</tr>
				
				<tr class="active">
					<td>5. </td>
					<td nowrap>
						<input type="checkbox" id="medhist_GI" value="1"> GI(ulcer etc.)
					</td>
					<td colspan="2" nowrap>
						<input type="text" id="medhist_GI_meds" value="" class="form-control " placeholder="">
					</td>
				</tr>
				
				<tr class="active">
					<td>6.</td>
					<td nowrap>
						<input type="checkbox" id="medhist_allergies" value="1"> Allergies
					</td>
					<td colspan="2">
						<input type="text" id="medhist_allergies_meds" value="" class="form-control" placeholder="">
					</td>
				</tr>
				
				<tr class="active">
					<td>7.</td>
					<td nowrap>
						<input type="checkbox" id="medhist_infection" value="1"> History of Infection
					</td>
					<td colspan="2" nowrap>
						<input type="text" id="medhist_infection_meds" value="" class="form-control" placeholder="">
					</td>
				</tr>
				
				<tr class="active">
					<td>8.</td>
					<td nowrap>
						<input type="checkbox" id="medhist_lungs" value="1"> Lungs
					</td>
					<td colspan="2" nowrap>
						<input type="text" id="medhist_lungs_details" value="" class="form-control" placeholder="">
					</td>
				</tr>
				<tr class="active">
					<td>9.</td>
					<td nowrap>
						<input type="checkbox" id="medhist_trauma" value="1"> Trauma
					</td>
					<td colspan="2" nowrap>
						<input type="text" id="medhist_trauma_details" value="" class="form-control" placeholder="">
					</td>
				</tr>
				<tr class="active">
					<td>10.</td>
					<td nowrap>
						<input type="checkbox" id="medhist_CNS" value="1"value="1"> CNS
					</td>
					<td colspan="2" nowrap>
						<input type="text" id="medhist_CNS_details" value="" class="form-control" placeholder="">
					</td>
				</tr>
				<tr class="active">
					<td nowrap>11. OTHERS</td> 
					<td colspan="6" nowrap>
						<textarea rows="5" id="medhist_others" value=""class = "form-control" placeholder="Others">
						</textarea>
					</td>
				</tr>
			</table>

			<table class="table table-condensed table-bordered">
				<tr class="info">
	            	<th width="1%" class="text-center" style="color:#888" nowrap>Item</th>
	            	<th width="1%" class="text-center" style="color:#888" nowrap>Details</th>

	            	<th width="1%" class="text-center" style="color:#888" nowrap>Heart Surgery</th>
	            	<th width="1%" class="text-center" style="color:#888">Surgery Date</th>

	            	<th width="1%" class="text-center" style="color:#888" nowrap>Hypertension</th>
	                <th width="1%" class="text-center" style="color:#888">MRI Report</th>
	                <th width="1%" class="text-center" style="color:#888">CT Scan</th> 
	                <th width="1%" class="text-center" class="text-center" style="color:#888" >CT Scan Report</th> 

	                <th width="1%" class="text-center" class="text-center" style="color:#888" >Blood Test</th> 
	                <th width="1%" class="text-center" class="text-center" style="color:#888" >Blood Test Source</th> 
	                <th width="1%" class="text-center" class="text-center" style="color:#888" >Blood Test Report</th> 
					<td></td>
					<td></td>
					<td></td>
	            </tr>

				<tr class="info" ng-repeat="rolHist in clinix_MedHist">
	            	<td class="text-center" style="color:black">{{rolHist.HeartMedsYes}}</td>
	            	<td class="text-center" style="color:black">{{rolHist.HeartMeds}}</td>

	            	<td class="text-center" style="color:black" nowrap>{{rolHist.HeartSurgeryYes}}</td>
	            	<td class="text-center" style="color:black" nowrap>{{rolHist.HeartSurgeryDate}}</td>

	            	<td class="text-center" style="color:black">{{rolHist.HypertensionMeds}}</td>
	                <td class="text-center" style="color:black">{{rolHist.DiabetesMeds}}</td>
	                <td class="text-center" style="color:black">{{rolHist.Kidney}}</td> 
	                <td class="text-center" style="color:black">{{rolHist.GIs}}</td> 
	                <td class="text-center" style="color:black">{{rolHist.Allergies}}</td>

	                <td class="text-center" style="color:black">{{rolHist.InfectionHistory}}</td> 
	                <td class="text-center" style="color:black">{{rolHist.PreviousSurgeriesMeds}}</td> 
	                
	                <td class="text-center" style="color:black">{{rolHist.Lungs}}</td> 
	                <td class="text-center" style="color:black">{{rolHist.Trauma}}</td> 
	                <td class="text-center" style="color:black">{{rolHist.CNS}}</td> 
	                <td class="text-center" style="color:black">{{rolHist.Others}}</td> 

	                <td class="text-center" width="1%">
	                	<a class="btn btn-large btn-danger" href="#/{{rolHist.ClinixRID}}" ng-click="removeMedHist(rolHist)" style="text-decoration: none">
	                		DELETE
	                	</a>
	            	</td>
	                <td class="text-center" width="1%">
	                	<a class="btn btn-large btn-warning" href="#/{{rolHist.ChiefRID}}/edit" ng-click="editMedHist(rolHist)" style="text-decoration: none">
	                		EDIT
	                	</a>
	            	</td>

	            	<td></td>
	            	
	            </tr>
				
			</table>

		</div>
	</div>
</div>