<!-- MED HIST -->
<div ng-controller="MedHistCtrl">
	<div scroll-bookmark="IOPEMedHist">
		<div class="panel panel-default">
			
			<table class="table table-condensed table-bordered">
				<tr class="warning">
					<th colspan=9>
						<span id="DGL_module_header">
			    			Medical History
			    		</span>
					</th>
				</tr>

				<tr>
					<td colspna="9" nowrap>1. Heart</td>
				</tr>

				<tr>
					<td class="text-right" width="1%">Medication</td>

					<td width="1%" nowrap>
						<input type="radio" ng-model="CHIEFCformData.HeartMedYN" value="YES"> Yes
						&nbsp;&nbsp;&nbsp;
						<input type="radio" ng-model="CHIEFCformData.HeartMedYN" value="NO"> No
					</td>

					<td class="text-right" width="1%" nowrap>&nbsp;&nbsp;&nbsp;Specify:</td>
					<td nowrap><input type="text" ng-model="CHIEFCformData.HeartMedDetails" placeholder="NONE"></td>
				</tr>

				<tr>		
					<td class="text-right">Surgery</td>
					<td nowrap>
						<input type="radio" ng-model="CHIEFCformData.HeartSurgeryYN" value="YES"> Yes
						&nbsp;&nbsp;&nbsp;
						<input type="radio" ng-model="CHIEFCformData.HeartSurgeryYN" value="NO"> No
					</td>
					<td class="text-right" nowrap>Date: </td>
					<td nowrap><input type="text" ng-model="CHIEFCformData.HeartSurgeryDetails" placeholder="NONE"></td>
				</tr>

				<tr>
					<td nowrap>2. Hypertension</td>
					<td nowrap>
						<input type="radio" ng-model="CHIEFCformData.Hypertension" value="YES"> Yes
						&nbsp;&nbsp;&nbsp;
						<input type="radio" ng-model="CHIEFCformData.Hypertension" value="NO"> No
					</td>
					<td nowrap>Meds: </td>
					<td nowrap><input type="text" ng-model="CHIEFCformData.HypertensionDetails" placeholder="NONE"></td>
				</tr>
				
				<tr>
					<td nowrap>3. Diabetes</td>
						<td nowrap>
						<input type="radio" ng-model="CHIEFCformData.Diabetes" value="YES"> Yes
						&nbsp;&nbsp;&nbsp;
						<input type="radio" ng-model="CHIEFCformData.Diabetes" value="NO"> No
					</td>
					<td nowrap>Meds: </td>
					<td nowrap><input type="text" ng-model="CHIEFCformData.DiabetesDetails" placeholder="NONE"></td>
				</tr>
					

				<tr>
					<td nowrap>4. Kidney</td>
					<td nowrap>
						<input type="radio" ng-model="CHIEFCformData.Kidney" value="YES"> Yes
						&nbsp;&nbsp;&nbsp;
						<input type="radio" ng-model="CHIEFCformData.Kidney" value="NO"> No
					</td>
					<td nowrap>Meds: </td>
					<td nowrap><input type="text" ng-model="CHIEFCformData.KidneyDetails" placeholder="NONE"></td>
				</tr>
									
				<tr>
					<td nowrap>5. GI (ulcer, etc.)</td>
					<td nowrap>
						<input type="radio" ng-model="CHIEFCformData.GI" value="YES"> Yes
						&nbsp;&nbsp;&nbsp;
						<input type="radio" ng-model="CHIEFCformData.GI" value="NO"> No
					</td>
					<td nowrap>Meds: </td>
					<td nowrap><input type="text" ng-model="CHIEFCformData.GIDetails" placeholder="NONE"></td>		
				</tr>
									
				<tr>
					<td nowrap>6. Allergies</td>
					<td nowrap>
						<input type="radio" ng-model="CHIEFCformData.Allergies" value="YES"> Yes
						&nbsp;&nbsp;&nbsp;
						<input type="radio" ng-model="CHIEFCformData.Allergies" value="NO"> No
					</td>
					<td nowrap>Meds: </td>
					<td nowrap><input type="text" ng-model="CHIEFCformData.AllergiesDetails" placeholder="NONE"></td>				
				</tr>
														
				<tr>
					<td nowrap>7. History of Infection</td>
					<td nowrap>
						<input type="radio" ng-model="CHIEFCformData.Infection" value="YES"> Yes
						&nbsp;&nbsp;&nbsp;
						<input type="radio" ng-model="CHIEFCformData.Infection" value="NO"> No
					</td>
					<td nowrap>Meds: </td>
					<td nowrap><input type="text" ng-model="CHIEFCformData.InfectionDetails" placeholder="NONE"></td>
				</tr>
														
				<tr>
					<td nowrap>8. Lungs</td>
					<td nowrap>
						<input type="radio" ng-model="CHIEFCformData.Lungs" value="YES"> Yes
						&nbsp;&nbsp;&nbsp;
						<input type="radio" ng-model="CHIEFCformData.Lungs" value="NO"> No
					</td>
					<td nowrap></td>
					<td nowrap></td>					
				</tr>
			
				<tr>
					<td nowrap>9. Trauma</td>
					<td nowrap>
						<input type="radio" ng-model="CHIEFCformData.Trauma" value="YES"> Yes
						&nbsp;&nbsp;&nbsp;
						<input type="radio" ng-model="CHIEFCformData.Trauma" value="NO"> No
					</td>
					<td nowrap></td>
					<td nowrap></td>						
				</tr>
							

				<tr>
					<td nowrap>10. CNS</td>
					<td nowrap>
						<input type="radio" ng-model="CHIEFCformData.CNS" value="YES"> Yes
						&nbsp;&nbsp;&nbsp;
						<input type="radio" ng-model="CHIEFCformData.CNS" value="NO"> No
					</td>
					<td nowrap></td>
					<td nowrap></td>						
				</tr>
				<tr>
					<td nowrap>11. Arthritis</td>
					<td nowrap>
						<input type="radio" ng-model="CHIEFCformData.Arth" value="YES"> Yes
						&nbsp;&nbsp;&nbsp;
						<input type="radio" ng-model="CHIEFCformData.Arth" value="NO"> No
					</td>
					<td nowrap></td>
					<td nowrap></td>						
				</tr>
				<tr>
					<td nowrap>12. Asthma</td>
					<td nowrap>
						<input type="radio" ng-model="CHIEFCformData.Asth" value="YES"> Yes
						&nbsp;&nbsp;&nbsp;
						<input type="radio" ng-model="CHIEFCformData.Asth" value="NO"> No
					</td>
					<td nowrap></td>
					<td nowrap></td>						
				</tr>
				<tr>
					<td nowrap>13. Cancer</td>
					<td nowrap>
						<input type="radio" ng-model="CHIEFCformData.Cancer" value="YES"> Yes
						&nbsp;&nbsp;&nbsp;
						<input type="radio" ng-model="CHIEFCformData.Cancer" value="NO"> No
					</td>
					<td nowrap></td>
					<td nowrap></td>						
				</tr>
				<tr>
					<td nowrap>14. COPD</td>
					<td nowrap>
						<input type="radio" ng-model="CHIEFCformData.COPD" value="YES"> Yes
						&nbsp;&nbsp;&nbsp;
						<input type="radio" ng-model="CHIEFCformData.COPD" value="NO"> No
					</td>
					<td nowrap></td>
					<td nowrap></td>						
				</tr>
				<tr>
					<td nowrap>15. Heart Disease</td>
					<td nowrap>
						<input type="radio" ng-model="CHIEFCformData.HeartDisease" value="YES"> Yes
						&nbsp;&nbsp;&nbsp;
						<input type="radio" ng-model="CHIEFCformData.HeartDisease" value="NO"> No
					</td>
					<td nowrap></td>
					<td nowrap></td>						
				</tr>
				<tr>
					<td nowrap>16. Live Disease</td>
					<td nowrap>
						<input type="radio" ng-model="CHIEFCformData.LiveDise" value="YES"> Yes
						&nbsp;&nbsp;&nbsp;
						<input type="radio" ng-model="CHIEFCformData.LiveDise" value="NO"> No
					</td>
					<td nowrap></td>
					<td nowrap></td>						
				</tr>
				<tr>
					<td nowrap>17. M.I.</td>
					<td nowrap>
						<input type="radio" ng-model="CHIEFCformData.MI" value="YES"> Yes
						&nbsp;&nbsp;&nbsp;
						<input type="radio" ng-model="CHIEFCformData.MI" value="NO"> No
					</td>
					<td nowrap></td>
					<td nowrap></td>						
				</tr>
				<tr>
					<td nowrap>18. Previous Surgeries</td>
					<td nowrap>
						<input type="radio" ng-model="CHIEFCformData.PrevSurg" value="YES"> Yes
						&nbsp;&nbsp;&nbsp;
						<input type="radio" ng-model="CHIEFCformData.PrevSurg" value="NO"> No
					</td>
					<td nowrap></td>
					<td nowrap></td>						
				</tr>
				<tr>
					<td nowrap>19. Digestive</td>
					<td nowrap>
						<input type="radio" ng-model="CHIEFCformData.Digest" value="YES"> Yes
						&nbsp;&nbsp;&nbsp;
						<input type="radio" ng-model="CHIEFCformData.Digest" value="NO"> No
					</td>
					<td nowrap></td>
					<td nowrap></td>						
				</tr>
				<tr>
					<td nowrap>20. Elimination Problems</td>
					<td nowrap>
						<input type="radio" ng-model="CHIEFCformData.EliProb" value="YES"> Yes
						&nbsp;&nbsp;&nbsp;
						<input type="radio" ng-model="CHIEFCformData.EliProb" value="NO"> No
					</td>
					<td nowrap></td>
					<td nowrap></td>						
				</tr>
				<tr>
					<td nowrap>21. Emotional/Psych Disorder</td>
					<td nowrap>
						<input type="radio" ng-model="CHIEFCformData.EmoPsy" value="YES"> Yes
						&nbsp;&nbsp;&nbsp;
						<input type="radio" ng-model="CHIEFCformData.EmoPsy" value="NO"> No
					</td>
					<td nowrap></td>
					<td nowrap></td>						
				</tr>
				<tr>
					<td nowrap>22. Fainting</td>
					<td nowrap>
						<input type="radio" ng-model="CHIEFCformData.Fainting" value="YES"> Yes
						&nbsp;&nbsp;&nbsp;
						<input type="radio" ng-model="CHIEFCformData.Fainting" value="NO"> No
					</td>
					<td nowrap></td>
					<td nowrap></td>						
				</tr>
				<tr>
					<td nowrap>23. Renal Disease</td>
					<td nowrap>
						<input type="radio" ng-model="CHIEFCformData.RenalDisease" value="YES"> Yes
						&nbsp;&nbsp;&nbsp;
						<input type="radio" ng-model="CHIEFCformData.RenalDisease" value="NO"> No
					</td>
					<td nowrap></td>
					<td nowrap></td>						
				</tr>
				<tr>
					<td nowrap>24. Rheumatic Disease</td>
					<td nowrap>
						<input type="radio" ng-model="CHIEFCformData.RheumaticDis" value="YES"> Yes
						&nbsp;&nbsp;&nbsp;
						<input type="radio" ng-model="CHIEFCformData.RheumaticDis" value="NO"> No
					</td>
					<td nowrap></td>
					<td nowrap></td>						
				</tr>
				<tr>
					<td nowrap>25. Seizures</td>
					<td nowrap>
						<input type="radio" ng-model="CHIEFCformData.Seizures" value="YES"> Yes
						&nbsp;&nbsp;&nbsp;
						<input type="radio" ng-model="CHIEFCformData.Seizures" value="NO"> No
					</td>
					<td nowrap></td>
					<td nowrap></td>						
				</tr>
				<tr>
					<td nowrap>26. Stroke</td>
					<td nowrap>
						<input type="radio" ng-model="CHIEFCformData.Stroke" value="YES"> Yes
						&nbsp;&nbsp;&nbsp;
						<input type="radio" ng-model="CHIEFCformData.Stroke" value="NO"> No
					</td>
					<td nowrap></td>
					<td nowrap></td>						
				</tr>
				<tr>
					<td nowrap>27. Thyroid Disease</td>
					<td nowrap>
						<input type="radio" ng-model="CHIEFCformData.ThyroidDise" value="YES"> Yes
						&nbsp;&nbsp;&nbsp;
						<input type="radio" ng-model="CHIEFCformData.ThyroidDise" value="NO"> No
					</td>
					<td nowrap></td>
					<td nowrap></td>						
				</tr>
																			
				<tr>
					<td nowrap>28. Others</td>
					<td nowrap><input type="text" ng-model="CHIEFCformData.Others"></td>	
				</tr>
					
				<tr>
					<td class="text-center" colspan="9">
						<a class="btn btn-large btn-info" href="#/{{clinix.ClinixRID}}" 
						ng-click="addMedHist(CHIEFCformData)" style="text-decoration: none">ADD</a>
					</td>
				</tr>
			
				<tr class="info">
	            	<th width="1%" class="text-center" style="color:#888" nowrap>Item</th>
	            	<th width="1%" class="text-center" style="color:#888" nowrap>Yes/No</th>
	            	<th width="1%" class="text-center" style="color:#888" nowrap>Details</th>

					<td></td>
					<td></td>
	            </tr>




				<tr class="info" ng-repeat="rolHist in clinix_MedHist" style="color:black">
	            	<td class="text-center">{{rolHist.MedHist}}</td>
	            	<td class="text-center">{{rolHist.MedHistYN}}</td>
	            	<td class="text-center">{{rolHist.MedHistDetails}}</td>

	                <td class="text-center" width="1%">
	                	<a class="btn btn-large btn-danger" href="#/{{rolHist.ClinixRID}}" ng-click="removeMedHist(rolHist)" style="text-decoration: none">
	                		DELETE
	                	</a>
	            	</td>
	            </tr>
				
			</table>

		</div>
	</div>
</div>