<!-- SURGERY -->
<div ng-controller="PrevSurgeriesCtrl">
	<div scroll-bookmark="IOPESurgery">
		<div class="panel panel-default">
		
			<table class="table table-condensed table-bordered">
				<tr class="warning">
					<th colspan=9>
						<span id="DGL_module_header">
			    			Previous Surgeries
			    		</span>
					</th>
				</tr>

				<tr class="active">
					<td width="1%" nowrap>A. Type</td>
					<td width="25%">
						<textarea class="form-control" ng-model="CHIEFCformData.SurgeryType" placeholder="Type" rows="3" ></textarea>
					</td>
					
					<td width="16%" class="text-right" nowrap>B. When</td>
					<td width="25%"><input type="text" class="form-control" ng-model="CHIEFCformData.SurgeryWhen" placeholder="When" ></td>

					<td></td>
				</tr>
				<tr class="active">
					<td nowrap>C. Where</td>
					<td><input type="text" class="form-control" ng-model="CHIEFCformData.SurgeryWhere" placeholder="Where"></td>
				
					<td class="text-right" nowrap>D. Who</td>
					<td><input type="text" class="form-control" ng-model="CHIEFCformData.SurgeryWho" placeholder="Who" ></td>

					<td></td>
				</tr>
				

				<tr class="active">
					<td nowrap>E. </td>
					<td nowrap> 
						Did it help<br>
						&nbsp;&nbsp;<input type="radio" ng-model="CHIEFCformData.SurgeryHelped" value="1"> Yes
						&nbsp;&nbsp;<input type="radio" ng-model="CHIEFCformData.SurgeryHelped" value="0"> No
					</td>
					
					<td><input type="text" class="form-control" ng-model="CHIEFCformData.SurgeryHowMany" placeholder="for how long" size="10"></td>
					<td nowrap>
						<select ng-model="CHIEFCformData.SurgeryHowManyUnit" class="form-control">
							<option value="Days">DAYS</option>
							<option value="Weeks">WEEKS</option>
							<option value="Months">MONTHS</option>
							<option value="Years">YEARS</option>
						</select>
					</td>

					<td></td>
				</tr>

				<tr class="active">
					<td colspan="9" class="text-center">
						<a class="btn btn-large btn-info" href="#/{{clinix.ClinixRID}}" ng-click="addPrevSurgeries(CHIEFCformData)" style="text-decoration: none">ADD</a>
					</td>
				</tr>
			</table>

			<table class="table table-condensed table-bordered">
				<tr class="info">
	            	<th width="1%" class="text-center" style="color:#888" nowrap>Type</th>
	            	<th width="1%" class="text-center" style="color:#888" nowrap>Date</th>
	            	<th width="1%" class="text-center" style="color:#888" nowrap>Location</th>
	                <th width="1%" class="text-center" style="color:#888">By Who</th>
	                <th width="1%" class="text-center" style="color:#888">Result</th> 
	                <th width="1%" class="text-center" class="text-center" style="color:#888" colspan=2>Duration</th> 
	                <th width="1%">	</th>
					<td></td>
	            </tr>

				<tr class="info" ng-repeat="prevSurgery in clinix_previousSurgeries">
	            	<td class="text-center" style="color:black" >{{prevSurgery.SurgeryType}}</td>
	            	<td class="text-center" style="color:black" >{{prevSurgery.SurgeryWhen}}</td>
	            	<td class="text-center" style="color:black" >{{prevSurgery.SurgeryWhere}}</td>
	                <td class="text-center" style="color:black">{{prevSurgery.SurgeryWho}}</td>
	                <td class="text-center" style="color:black">{{prevSurgery.SurgeryHelped == "1" ? "YES" : "NO" }}</td> 
	                <td class="text-center" style="color:black">{{prevSurgery.SurgeryHowMany}}</td> 
	                <td class="text-center" style="color:black">{{prevSurgery.SurgeryHowManyUnit}}</td> 
	                <td>
	                	<a class="btn btn-large btn-danger" href="#/{{prevSurgery.ClinixRID}}" ng-click="removePrevSurg(prevSurgery)" style="text-decoration: none">
	                		DELETE
	                	</a>
	            	</td>
	                <!-- td width="1%">
	                	<a class="btn btn-large btn-warning" href="#/{{prevSurgery.ChiefRID}}/edit" ng-click="editChiefComp(prevSurgery)" style="text-decoration: none">
	                		EDIT
	                	</a>
	            	</td -->
	            	<td></td>
	            </tr>
				
			</table>
			
		</div>
	</div>
</div>