<!-- SF36  127.0.0. 1 -->


<!-- <div ng-controller="ChiefComplaintCtrl"> -->
	<div ng-controller="sf3603Ctrl">
	
			<table class='table table-bordered'>
				<tr class='active'>
					<td colspan='5'>
						4. During the past 4 weeks, have you had any of the following problems with your work or other regular daily activities as a result of your physical health?
					</td>
					
				</tr>
				<tr class='active'>
					<td width='1%'></td>
					<td style='padding:10px;' class='text-center' width='60%'>
						&nbps;
					</td>
					<td width='1%'>YES</td>
					<td width='1%'>NO</td>
					<td></td>
				</tr>
				<tr>
					<td class='active'>4.a</td>
					<td>
						Cut down on the amount of time you spent on work or other activities
					</td>
					<td class='text-center'>
						<input type="radio" ng-model="sf363.sf4a" 
				            value="1">
					</td>
					<td class='text-center'> 
						<input type="radio" ng-model="sf363.sf4a" 
				            value="0">
				    </td>
				    <td></td>
				</tr>
				<tr>
					<td class='active'>4.b</td>
					<td>
						Accomplished less than you would like
					</td>
					<td class='text-center'>
						<input type="radio" ng-model="sf363.sf4b" 
				            value="1">
					</td>
					<td class='text-center'> 
						<input type="radio" ng-model="sf363.sf4b" 
				            value="0">
				    </td>
				    <td></td>
				</tr>
				<tr>
					<td class='active'>4.c</td>
					<td>
						Were limited in the kind of work or other activities
					</td>
					<td class='text-center'>
						<input type="radio" ng-model="sf363.sf4c" 
				            value="1">
					</td>
					<td class='text-center'> 
						<input type="radio" ng-model="sf363.sf4c" 
				            value="0">
				    </td>
				    <td></td>
				</tr>
				<tr>
					<td class='active'>4.d</td>
					<td>
						Had difficulty performing the work or other activities (for example, it took extra effort)
					</td>
					<td class='text-center'>
						<input type="radio" ng-model="sf363.sf4d" 
				            value="1">
					</td>
					<td class='text-center'> 
						<input type="radio" ng-model="sf363.sf4d" 
				            value="0">
				    </td>
				    <td></td>
				</tr>
				<tr>
					<td colspan='6' class='text-center'>
						<a class="btn btn-large btn-info" ng-click="addNewsf363(sf363)" style="text-decoration: none; color: #000">SAVE</a>

						<a class="btn btn-large btn-danger" ng-click="removesf363(sf363)" style="text-decoration: none; color: #000">DELETE</a>
					</td>
				</tr>
			</table>