	<div ng-controller="sf3608Ctrl">
		<table class='table table-bordered'>
				<tr>
					<td colspan='9' class='active'>
						11. How TRUE or FALSE is each of the following statements for you?
					</td>
				</tr>
				<tr class='active text-center'>
					<td>
					</td>
					<td>
					</td>
					<td>
						Definitely True
					</td>
					<td>
						Mostly True
					</td>
					<td>
						Don't Know
					</td>
					<td>
						Mostly False
					</td>
					<td>
						Definitely False
					</td>
				</tr>
				<tr>
					<td class='active'> 11.a</td>
					<td>
						I seem to get sick a little easier than other people
					</td>
					<td class='text-center'>
						<input type="radio" ng-model="sf368.sf11a" 
				            value="1">
					</td>
					<td class='text-center'> 
						<input type="radio" ng-model="sf368.sf11a" 
				            value="2">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf368.sf11a" 
				            value="3">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf368.sf11a" 
				            value="4">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf368.sf11a" 
				            value="5">
				    </td>
				  
				    <td></td>
				</tr>
				<tr>
					<td class='active'> 11.b</td>
					<td>
						I am as healthy as anybody I know
					</td>
					<td class='text-center'>
						<input type="radio" ng-model="sf368.sf11b" 
				            value="1">
					</td>
					<td class='text-center'> 
						<input type="radio" ng-model="sf368.sf11b" 
				            value="2">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf368.sf11b" 
				            value="3">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf368.sf11b" 
				            value="4">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf368.sf11b" 
				            value="5">
				    </td>
				  
				    <td></td>
				</tr>
				
				<tr>
					<td class='active'> 11.c</td>
					<td>
						I expect my health to get worse
					</td>
					<td class='text-center'>
						<input type="radio" ng-model="sf368.sf11c" 
				            value="1">
					</td>
					<td class='text-center'> 
						<input type="radio" ng-model="sf368.sf11c" 
				            value="2">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf368.sf11c" 
				            value="3">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf368.sf11c" 
				            value="4">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf368.sf11c" 
				            value="5">
				    </td>
				  
				    <td></td>
				</tr>
				<tr>
					<td class='active'> 11.d</td>
					<td>
						My health is excellent
					</td>
					<td class='text-center'>
						<input type="radio" ng-model="sf368.sf11d" 
				            value="1">
					</td>
					<td class='text-center'> 
						<input type="radio" ng-model="sf368.sf11d" 
				            value="2">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf368.sf11d" 
				            value="3">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf368.sf11d" 
				            value="4">
				    </td> 
				    <td class='text-center'> 
						<input type="radio" ng-model="sf368.sf11d" 
				            value="5">
				    </td>
				  
				    <td></td>
				</tr>
				<tr>
					<td colspan='6' class='text-center'>
						<a class="btn btn-large btn-info" ng-click="addNewsf368(sf368)" style="text-decoration: none; color: #000">SAVE</a>

						<a class="btn btn-large btn-danger" ng-click="removesf368(sf368)" style="text-decoration: none; color: #000">DELETE</a>
					</td>
				</tr>
				
			</table>
		</div>