<!-- SF36  127.0.0. 1 -->


<!-- <div ng-controller="ChiefComplaintCtrl"> -->
	<div ng-controller="sf3602Ctrl">

			<table class="table table-condensed table-bordered">
				<tr>
					<td class='active' colspan='6'>
					3. Does your health now limit you in these activities? If so, how much?
					</td>
				</tr>
				<tr class="active text-center">

					<td width='1%' style='padding:30px'>
						
					</td>
					<td width='60%' style='padding:30px'>
						ACTIVITIES
					</td>
					<td width="1%">
						Yes Limited A Lot
					</td>
					<td width="1%">
						Yes Limited A Little
					</td>
					<td width="1%">
						Yes Limited At All
					</td>
					<td></td>
				</tr>
				<tr>
					<td class='active'>
						3.a 
					</td>
					<td>
						Vigorous activities, such as running, lifting heavy objects,
						participating in strenuous sports
					</td>
					<td class='text-center'>
						<input type="radio" name='sf3603a' ng-model="sf362.sf3a" 
				            value="1">
					</td>
					<td class='text-center'>
						<input type="radio" name='sf3603a' ng-model="sf362.sf3a" 
				            value="2">
					</td>
					<td class='text-center'>
						<input type="radio" name='sf3603a'ng-model="sf362.sf3a" 
				            value="3">
					</td>
					<td></td>
				</tr>
				<tr>
					<td class='active'>
						3.b 
					</td>
					<td>
						Moderate activities, such as moving a table, pushing a vacuum cleaner, bowling, or playing golf
					</td>
					<td class='text-center'>
						<input type="radio" name='sf3603b' ng-model="sf362.sf3b" 
				            value="1">
					</td>
					<td class='text-center'>
						<input type="radio" name='sf3603b' ng-model="sf362.sf3b" 
				            value="2">
					</td>
					<td class='text-center'>
						<input type="radio" name='sf3603b' ng-model="sf362.sf3b" 
				            value="3">
					</td>
					<td></td>
				</tr>
				<tr>
					<td class='active'>
						3.c 
					</td>
					<td>
						Lifting or carrying groceries
					</td>
					<td class='text-center'>
						<input type="radio" name='sf3603c' ng-model="sf362.sf3c" 
				            value="1">
					</td>
					<td class='text-center'>
						<input type="radio" name='sf3603c' ng-model="sf362.sf3c" 
				            value="2">
					</td>
					<td class='text-center'>
						<input type="radio" name='sf3603c' ng-model="sf362.sf3c" 
				            value="3">
					</td>
					<td></td>
				</tr>
				<tr>
					<td class='active'>
						3.d
					</td>
					<td>
						Climbing several flights of stairs
					</td>
					<td class='text-center'>
						<input type="radio" name='sf3603d' ng-model="sf362.sf3d" 
				            value="1">
					</td>
					<td class='text-center'>
						<input type="radio" name='sf3603d' ng-model="sf362.sf3d" 
				            value="2">
					</td>
					<td class='text-center'>
						<input type="radio" name='sf3603d' ng-model="sf362.sf3d" 
				            value="3">
					</td>
					<td></td>
				</tr>
				<tr>
					<td class='active'>
						3.e 
					</td>
					<td>
						Climbing one flight of stairs
					</td>
					<td class='text-center'>
						<input type="radio" name='sf3603e' ng-model="sf362.sf3e" 
				            value="1">
					</td>
					<td class='text-center'>
						<input type="radio" name='sf3603e' ng-model="sf362.sf3e" 
				            value="2">
					</td>
					<td class='text-center'>
						<input type="radio" name='sf3603e' ng-model="sf362.sf3e" 
				            value="3">
					</td>
					<td></td>
				</tr>
				<tr>
					<td class='active'>
						3.f 
					</td>
					<td>
						Bending, kneeling, or stooping
					</td>
					<td class='text-center'>
						<input type="radio" name='sf3603f' ng-model="sf362.sf3f" 
				            value="1">
					</td>
					<td class='text-center'>
						<input type="radio" name='sf3603f' ng-model="sf362.sf3f" 
				            value="2">
					</td>
					<td class='text-center'>
						<input type="radio" name='sf3603f' ng-model="sf362.sf3f" 
				            value="3">
					</td>
					<td></td>
				</tr>
				<tr>
					<td class='active'>
						3.g
					</td>
					<td>
						Waling more than a mile
					</td>
					<td class='text-center'>
						<input type="radio" name='sf3603g' ng-model="sf362.sf3g" 
				            value="1">
					</td>
					<td class='text-center'>
						<input type="radio" name='sf3603g' ng-model="sf362.sf3g" 
				            value="2">
					</td>
					<td class='text-center'>
						<input type="radio" name='sf3603g' ng-model="sf362.sf3g" 
				            value="3">
					</td>
					<td></td>
				</tr>
				<tr>
					<td class='active'>
						3.h
					</td>
					<td >
						Walking several blocks
					</td>
					<td class='text-center'>
						<input type="radio" name='sf3603h' ng-model="sf362.sf3h"  
				            value="1">
					</td>
					<td class='text-center'>
						<input type="radio" name='sf3603h' ng-model="sf362.sf3h"  
				            value="2">
					</td>
					<td class='text-center'>
						<input type="radio" name='sf3603h' ng-model="sf362.sf3h"  
				            value="3">
					</td>
					<td></td>
				</tr>
				<tr>
					<td class='active'>
						3.i 
					</td>
					<td>
						Walking one block
					</td>
					<td class='text-center'>
						<input type="radio" name='sf3603i' ng-model="sf362.sf3i"  
				            value="1">
					</td>
					<td class='text-center'>
						<input type="radio" name='sf3603i' ng-model="sf362.sf3i"  
				            value="2">
					</td>
					<td class='text-center'>
						<input type="radio" name='sf3603i' ng-model="sf362.sf3i"  
				            value="3">
					</td>
					<td></td>
				</tr>
				<tr>
					<td class='active'>
						3.j 
					</td>
					<td>
						Bathing or dressing yourself
					</td>
					<td class='text-center'>
						<input type="radio" name='sf3603j' ng-model="sf362.sf3j"  
				            value="1">
					</td>
					<td class='text-center'>
						<input type="radio" name='sf3603j' ng-model="sf362.sf3j"  
				            value="2">
					</td>
					<td class='text-center'>
						<input type="radio" name='sf3603j' ng-model="sf362.sf3j"  
				            value="3">
					</td>
					<td></td>
				</tr>
				<tr>
					<td colspan='6' class='text-center'>
						<a class="btn btn-large btn-info" ng-click="addNewsf3602(sf362)" style="text-decoration: none; color: #000">SAVE</a>

						<a class="btn btn-large btn-danger" ng-click="removesf362(sf362)" style="text-decoration: none; color: #000">DELETE</a>
					</td>
				</tr>
			</table>
		</div>
		