	<div ng-controller="sf3606Ctrl">
		<table class='table table-bordered'>
				<tr class='active'>
					<td colspan='9'>
						9. These questions are about how you feel and how things have been with you during the past 4 weeks.
					</td>
					
				</tr>
				<tr class='active text-center'>
					<td width='1%'></td>
					<td style='padding:10px;' class='text-center' width='40%'>
						ACTIVITIES
					</td>
					<td width='10%'>All of the Time</td>
					<td width='10%'>Most of the Time</td>
					<td width='10%'>A Good Bit of the Time</td>
					<td width='10%'>Some of the Time</td>
					<td width='10%'>A Little of the Time</td>
					<td width='10%'>None of the Time</td>
					<td></td>
				</tr>
				<tr>
					<td class='active'>9.a</td>
					<td>
						Did you feel full of life?
					</td>
					<td class='text-center'>
						<input type="radio" ng-model="sf366.sf9a" 
				            value="1">
					</td>
					<td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9a" 
				            value="2">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9a" 
				            value="3">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9a" 
				            value="4">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9a" 
				            value="5">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9a" 
				            value="6">
				    </td>
				    <td></td>
				</tr>
				<tr>
					<td class='active'>9.b</td>
					<td>
						Have you been a very nervous person?
					</td>
					<td class='text-center'>
						<input type="radio" ng-model="sf366.sf9b" 
				            value="1">
					</td>
					<td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9b" 
				            value="2">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9b" 
				            value="3">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9b" 
				            value="4">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9b" 
				            value="5">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9b" 
				            value="6">
				    </td>
				    <td></td>
				</tr>
				<tr>
					<td class='active'>9.c</td>
					<td>
						Have you felt so down in the dumps that
						nothing could cheer you up?
					</td>
					<td class='text-center'>
						<input type="radio" ng-model="sf366.sf9c" 
				            value="1">
					</td>
					<td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9c" 
				            value="2">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9c" 
				            value="3">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9c" 
				            value="4">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9c" 
				            value="5">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9c" 
				            value="6">
				    </td>
				    <td></td>
				</tr>
				<tr>
					<td class='active'>9.d</td>
					<td>
						Have you felt calm and peaceful?
					</td>
					<td class='text-center'>
						<input type="radio" ng-model="sf366.sf9d" 
				            value="1">
					</td>
					<td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9d" 
				            value="2">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9d" 
				            value="3">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9d" 
				            value="4">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9d" 
				            value="5">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9d" 
				            value="6">
				    </td>
				    <td></td>
				</tr>
				
				<tr>
					<td class='active'>9.e</td>
					<td>
						Did you have a lot of energy?
					</td>
					<td class='text-center'>
						<input type="radio" ng-model="sf366.sf9e" 
				            value="1">
					</td>
					<td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9e" 
				            value="2">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9e" 
				            value="3">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9e" 
				            value="4">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9e" 
				            value="5">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9e" 
				            value="6">
				    </td>
				    <td></td>
				</tr>
				<tr>
					<td class='active'>9.f</td>
					<td>
						Have you felt downhearted and blue?
					</td>
					<td class='text-center'>
						<input type="radio" ng-model="sf366.sf9f" 
				            value="1">
					</td>
					<td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9f" 
				            value="2">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9f" 
				            value="3">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9f" 
				            value="4">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9f" 
				            value="5">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9f" 
				            value="6">
				    </td>
				    <td></td>
				</tr>
				<tr>
					<td class='active'>9.g</td>
					<td>
						Did you feel worn out?
					</td>
					<td class='text-center'>
						<input type="radio" ng-model="sf366.sf9g" 
				            value="1">
					</td>
					<td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9g" 
				            value="2">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9g" 
				            value="3">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9g" 
				            value="4">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9g" 
				            value="5">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9g" 
				            value="6">
				    </td>
				    <td></td>
				</tr>
				<tr>
					<td class='active'>9.h</td>
					<td>
						Have you been a happy person?
					</td>
					<td class='text-center'>
						<input type="radio" ng-model="sf366.sf9h" 
				            value="1">
					</td>
					<td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9h" 
				            value="2">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9h" 
				            value="3">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9h" 
				            value="4">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9h" 
				            value="5">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9h" 
				            value="6">
				    </td>

				    <td></td>
				</tr>
				<tr>
					<td class='active'>9.i</td>
					<td>
						Did you feel tired?
					</td>
					<td class='text-center'>
						<input type="radio" ng-model="sf366.sf9i" 
				            value="1">
					</td>
					<td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9i" 
				            value="2">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9i" 
				            value="3">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9i" 
				            value="4">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9i" 
				            value="5">
				    </td>
				    <td class='text-center'> 
						<input type="radio" ng-model="sf366.sf9i" 
				            value="6">
				    </td>
				    <td></td>
				</tr>
				<tr>
					<td colspan='6' class='text-center'>
						<a class="btn btn-large btn-info" ng-click="addNewsf366(sf366)" style="text-decoration: none; color: #000">SAVE</a>

						<a class="btn btn-large btn-danger" ng-click="removesf366(sf366)" style="text-decoration: none; color: #000">DELETE</a>
					</td>
				</tr>
				
			</table>
		</div>