<!-- TREATMENT -->
<div ng-controller="TreatmentCtrl">
	<div scroll-bookmark="IOPETreat">
		<div class="panel panel-default">	

			<table class="table table-condensed table-bordered">

				<tr class="warning">
					<th colspan=19>
						<span style="font-family: Helvetiker; font-size:30px; color: #555; letter-spacing: 3px; font-style: italic;">
			    			Past Treatment
			    		</span>
					</th>
				</tr>

				<tr class="active">
					<th width="1%">Medications</th>
					<th width="1%">Analgesics (pain meds)</th>
					<td width="20%">
						<input type="text" class="form-control" ng-model="CHIEFCformData.medAnalgesic" placeholder="Pain-meds">
					</td>
					<td width="1%" nowrap>Dose: 
						<select ng-model="CHIEFCformData.drugDozageAnalgesic" style="background-color: white; color: #000">
	              			<option ng-repeat="doze in drugDozage" value="{{doze.doze}}">{{doze.dropname}}</option>
						</select>
					</td>

					<td class="text-center" rowspan=7>
						<a class="btn btn-large btn-info" href="#/{{clinix.ClinixRID}}" ng-click="addTreatment(CHIEFCformData)" style="text-decoration: none">ADD</a>
					</td>
				</tr>
				<tr class="active">
					<th>&nbsp;</th>
					<th>Anti-inflammatory meds</th>
					<td><input type="text" class="form-control" ng-model="CHIEFCformData.medAntiInflamatory" placeholder="Anti-inflammatory"></td>
					<td width="1%" nowrap>Dose: 
						<select ng-model="CHIEFCformData.drugDozageAntiInflame" style="background-color: white; color: #000">
	              			<option ng-repeat="doze in drugDozage" value="{{doze.doze}}">{{doze.dropname}}</option>
						</select>
					</td>
				</tr>
				<tr class="active">
					<th>&nbsp;</th>
					<th>Others</th>
					<td><input type="text" class="form-control" ng-model="CHIEFCformData.medOthers" placeholder="Other meds" ></td>
					<td width="1%" nowrap>Dose: 
						<select ng-model="CHIEFCformData.drugDozageOthers" style="background-color: white; color: #000">
	              			<option ng-repeat="doze in drugDozage" value="{{doze.doze}}">{{doze.dropname}}</option>
						</select>
					</td>
				</tr>
				<tr class="active">
					<td>Joint Injection</b></td>
					<td>1. Steroids, how many</td>
					<td><input type="text" class="form-control" ng-model="CHIEFCformData.injSteroidsVolume" placeholder="How many Steroids" ></td>
					<td><input type="text" class="form-control" ng-model="CHIEFCformData.injSteroidsWhen" placeholder="When" ></td>
				</tr>
				<tr class="active">
					<td>&nbsp;</td>
					<td> </td>
					<td nowrap><input type="checkbox" ng-model="CHIEFCformData.injSteroidsResult"> Result</td>
					<td><input type="text" class="form-control" ng-model="CHIEFCformData.injSteroidsDetails" placeholder="Details" ></td>
					
				</tr>
				<tr class="active">
					<th>&nbsp;</th>
					<td nowrap>2. Hyaluronic acid</td>
					<td colspan="1">
						<select ng-model="CHIEFCformData.injHyaluronicAcid" style="background-color: white; color: #000">
              				<option value=""></option>
              				<option value="Supartz">Supartz</option>
              				<option value="Synvisc">Synvisc</option>
              				<option value="Go On">Go On</option>
              				<option value="Others">Others</option>
						</select>
					</td>
				</tr>
				<tr class="active">
					<th>&nbsp;</th>
					<td> </td>
					<td nowrap><input type="checkbox" ng-model="CHIEFCformData.injHyaluronicResult"> Result</td>
					<td><input type="text" class="form-control" ng-model="CHIEFCformData.injHyaluronicDetails" placeholder="Details" ></td>
				</tr>
			</table>
			
			<table class="table table-condensed table-bordered">

			  	<tr class="info" >
	                <th class="text-center" style="color:#888" width="1%">Analgesics</th>
	                <th class="text-center" style="color:#888" width="1%">Anti-Inflamatory</th>
	                <th class="text-center" style="color:#888" width="1%">Others</th>
	                <th class="text-center" style="color:#888" width="1%">Steriods</th>
	                <th class="text-center" style="color:#888" width="1%">When</th>

	                <th class="text-center" style="color:#888" width="1%">Result</th>
	                <th class="text-center" style="color:#888" width="1%">Details</th>

	                <th class="text-center" style="color:#888" width="1%">HyaluronicAcid</th>
	                <th class="text-center" style="color:#888" width="1%">Result</th>
	                <th class="text-center" style="color:#888" width="1%">Details</th>
	                <th class="text-center" style="color:#888" width="1%"></th>

	            </tr>

	            <tr class="info" ng-repeat="treatment in clinix_treatment">
	                <td class="text-center" style="color:black" width="1%">
             			<span>{{treatment.medAnalgesic ? treatment.medAnalgesic : " "}}</span>
	                </td>
	                <td class="text-center" style="color:black" width="1%">
	                	<span>{{treatment.medAntiInflamatory ? treatment.medAntiInflamatory : " "}}</span>
	                </td>
	                <td class="text-center" style="color:black" width="1%">
	                	<span>{{treatment.medOthers ? treatment.medOthers : " "}}</span>
	                </td>
					<td class="text-center" style="color:black" width="1%">
	                	<span>{{treatment.injSteroidsVolume ? treatment.injSteroidsVolume : " "}}</span>
	                </td>
	                <td class="text-center" style="color:black" width="1%">
	                	<span>{{treatment.injSteroidsWhen ? treatment.injSteroidsWhen : " "}}</span>
	                </td>

					<td class="text-center" style="color:black" width="1%">
	                	<span>{{treatment.injSteroidsResult ? treatment.injSteroidsResult : " "}}</span>
	                </td>
	                <td class="text-center" style="color:black" width="1%">
	                	<span>{{treatment.injSteroidsDetails ? treatment.injSteroidsDetails : " "}}</span>
	                </td>

					<td class="text-center" style="color:black" width="1%">
	                	<span>{{treatment.injHyaluronicAcid ? treatment.injHyaluronicAcid : " "}}</span>
	                </td>
	                <td class="text-center" style="color:black" width="1%">
	                	<span>{{treatment.injHyaluronicResult ? treatment.injHyaluronicResult : " "}}</span>
	                </td>
	                <td class="text-center" style="color:black" width="1%">
	                	<span>{{treatment.injHyaluronicDetails ? treatment.injHyaluronicDetails : " "}}</span>
	                </td>

	                <td width="1%">
	                	<a class="btn btn-large btn-danger" href="#/{{treatment.ClinixRID}}" ng-click="removeTreatment(treatment)" tyle="text-decoration: none">DELETE</a>
	                </td>
	            </tr>
			</table>

		</div>
	</div>
</div>