<table class="table table-bordered table-hover" width="100%">
	<tr>
		<td colspan="3">
			<input type="text" ng-model="searchFilter" placeholder="Search..."/>
		</td>
	</tr>

	<tr class="active">
		<td class="text-center" width="1%"> FILE # </td>

		<td class="text-center" width="1%" nowrap> DESCRIPTION </td>

		<td class="text-center" width="1%" nowrap> FEE </td>
	</tr>

	<tr ng-repeat="charge_Item in LkUpPECharges | filter : searchFilter | orderBy : ['Description'] ">
		<td>
			<a class="btn btn-info" ng-click="pickCharge(charge_Item.FeeRID, charge_Item.Description, charge_Item.Tariff)" style="text-decoration:none; display:block;color:black">  
				{{charge_Item.FeeRID}}
			</a>   
		</td>

		<td class="text-left"> {{charge_Item.Description}} </td>

	  	<td class="text-right"> 
			{{charge_Item.Tariff | number : 2 }}
	  	</td>
  	</tr>
</table>