<ng:include src="'tplpe/px_pe.html'"></ng:include>

<div ng-controller="PEchargesCtrl">
	<div class="row">
		<div class="col-xs-12 col-sm-4 bs-docs-container" id="topLeft">
		    <ng:include src="'tplpe/charges_finder.html'"></ng:include>
		</div>

	  	<div class="col-xs-12 col-sm-8" id="mainContent"> 
			<table class="table table-condensed table-bordered">
				<tr class="warning">
					<td colspan="19" nowrap>
						<span id="DGL_module_header">
				    		Charges
				    	</span>
				    </td>
				</tr>

				<tr class="active">
					<td class="text-center" width="1%" nowrap>&nbsp;</td>
					<td class="text-center" width="5%" nowrap> Charges</td>
					<td class="text-center" width="5%" nowrap> Tariff </td>
					<td class="text-center" width="5%"> Bill </td>
					<td class="text-center" width="5%"> Discount </td>

					<th class="text-center" width="5%"> NET </th>
					<td></td>
				</tr>

				<tr>
					<td>
						<input type="text" class="form-control" ng-model="FeeRID" style="text-align: center" READONLY> 
					</td>

					<td> 
						<!--select class="form-control" 
							ng-model="selectedCharges" 
							ng-options="PECharge.Description for PECharge in LkUpPECharges | orderBy: 'SortOrder'" 
							name="PECharge">
						</select -->
						<input type="text" class="form-control" ng-model="Description" READONLY> 
					 </td>

					<td class="text-right" nowrap> 
						<input type="text" class="form-control" ng-model="Tariff" style="text-align: right" READONLY> 
					</td>

					<td class="text-center" nowrap> 
						<input type="text" class="form-control" ng-model="ChargeAmount" style="text-align: right"> 
					</td>

					<td> 
						<input type="text" class="form-control" ng-model="Discount" 
							ng-init="Discount=0" value="0"
							style="text-align: right"> 
					</td>

					<td class="text-right"> 
						<label>{{ (ChargeAmount|number) - (Discount|number) | number:2 }}</label> 
					</td>

					<td>
						<a class="btn btn-large btn-info" ng-click="addNew_PECharges(FeeRID,Description,Tariff,ChargeAmount,Discount)" 
							style="text-decoration: none">
							add
						</a>
					</td>
				</tr>


				<!-- Entries from clinic Charges -->
				<tr class="info" ng-repeat="peCharge in clinix_PEcharges" >

		        	<td style="color:black" class="text-center" nowrap>
		        		{{peCharge.ChargeRID}}
		        	</td>

		        	<td style="color:black">
		        		{{peCharge.ChargeItem}}
		        	</td>

		           	<td style="color:black" class="text-right" nowrap>
		        		{{peCharge.Tariff | number : 2 }}
		        	</td>
		        	
		           	<td style="color:black" class="text-right" nowrap>
		        		{{peCharge.ChargeAmount | number : 2 }}
		        	</td>

		        	<td style="color:black" class="text-right" nowrap>
		        		{{peCharge.Discount | number : 2 }}
		        	</td>

		        	<th style="color:black" class="text-right" nowrap>
		        		{{ peCharge.NetAmount | number : 2 }}
		        	</th>

		            <td width="1%">
		            	<a class="btn btn-large btn-danger" ng-click="removePECharges(peCharge)" style="text-decoration: none">
		            		DELETE
		            	</a>
		        	</td>
		        	<td></td>
		        </tr>

		        <tr class="info">
		        	<td></td>
		        	<th class="text-right">Total</th>
		        	<th class="text-right" style="color:black"> {{CALC_Tariff() | number : 2 }} </th>

		        	<th class="text-right" style="color:black"> {{CALC_ChargeAmount() | number : 2 }} </th>

		        	<th class="text-right" style="color:black"> {{CALC_Discount() | number : 2 }} </th>
		        	
		        	<th class="text-right warning" style="color:black"> {{CALC_NetAmount() | number : 2 }} </th>

		        	<td></td>
		        	<td></td>
				</tr>	

				<tr><td class="active" colspan="9">&nbsp;</td></tr>	
				<tr><td class="active" colspan="9">&nbsp;</td></tr>	

				<tr class="info">
					<!-- th class="text-center" style="color: #000" nowrap>Appt: 
						{{clinix.ClinixRID}} <br> {{clinix.AppDateSet | date}} <br>
						<span style="font-weight: bold; font-size: 24px"> {{clinix.TranStatus}} </span>
					</th>

					<th class="text-center" width="1%" style="color: #000" nowrap>
						chart: {{clinix.PxRID}} <br> <span style="font-size:16px">{{clinix.pxregdate | date}}</span>
						<br>
						{{clinix.pxname}}
					</th -->

					<td class="text-center" colspan="19">
		            	<a class="btn btn-large btn-danger" ng-click="ClosePE(clinix)" style="text-decoration: none">
		            		CLOSE PE
		            	</a>

		            	<a class="btn btn-large btn-warning" ng-click="CancelPE(clinix)" style="text-decoration: none">
		            		CANCEL PE
		            	</a>
		        	</td>
				</tr>	 

			</table>
		</div>

  	</div>

</div>
