<div ng-controller="DiagnosisCtrl">

	<table class="table table-condensed table-bordered">
		<tr class="success">
			<th colspan="9">
				<span id="DGL_module_header">
	    			Diagnosis
	    		</span>
			</th>
		</tr>

		<tr>
			<td class="text-center" width="1%" nowrap>
				ICD 10 Code:
				<br>
				<input type="text" class="form-control" ng-model="Diagnosis.ICDCode">
			</td>

			<td class="text-center" nowrap>
				<!-- textarea class="form-control" ng-model="Diagnosis" rows="5" placeholder="Diagnosis"></textarea -->
				<textarea id="tinymce" ui-tinymce ng-model="Diagnosis.Diagnosis" class="form-control" rows="2" style="font-size:26px"></textarea>
			</td>


			<td width="1%">
				<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
				  	<div class="modal-dialog modal-lg">

				    	<div class="modal-content">

					      	<div class="modal-header" style="color:black; background-color: #ccc">
					    		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					    		<h4 class="modal-title" id="myModalLabel"> ICD </h4>
	      					</div>

	      					<div class='container-fluid'>




								<!-- div ng-controller="ICDCtrl" -->




		      						<table class='table table-bordered'>
		      							<tr>
											<td colspan="3">
												<input type="text" ng-model="searchFilter" placeholder="Search..."/>
											</td>
										</tr>

										<!-- tr>
											<td class="text-center" colspan="9">
												<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
												<a class="btn btn-large btn-info" ng-click="addNew(ClinixOBJ.ClinixRID, ClinixOBJ.PxRID, selectedCharges)" style="text-decoration: none">
													add new </a>
											</td>
										</tr -->

		      							<tr class="warning text-center">	
			      							<td width='1%' NOWRAP>
			      								ICD Code
			      							</td>
			      							<td>
			      								icd_description
			      							</td>
		      							</tr>
		      							
										<tr ng-repeat="ICD_Item in LkUpICDCodes | filter : searchFilter | orderBy : ['icd_description'] ">
											<td>
												<a class="btn btn-info" ng-click="pickCharge(ICD_Item.icd_code, ICD_Item.icd_description)" 
													style="text-decoration:none; display:block;color:black">  
													{{ICD_Item.lkup_ICDRID}}
													{{ICD_Item.FeeRID}}
												</a>   
											</td>

											<td class="text-left"> {{ICD_Item.icd_description}} </td>

									  	</tr>
									</table>

								<!-- /div -->

							</div>
							<div class="modal-footer">
						    	<button type="button" class="btn btn-danger" data-dismiss="modal">
						    		Close
						    	</button>
						    	&nbsp;&nbsp;&nbsp;
						    	ICD 10
							</div>
						</div>
					</div>
				</div>
			</td>
			<!-- BACK TO -->
		</tr>

		<tr>
			<td></td>
			<td class="text-center"nowrap>

				<button type="button" class="btn btn-warning btn-inline" data-toggle="modal" data-target=".bs-example-modal-lg">
					SEARCH ICD 10
				</button>
				
				&nbsp;&nbsp;&nbsp;&nbsp;

				<a class="btn btn-large btn-info" style="text-decoration: none; color: #000"
					ng-click="addNew_Diagnosis(Diagnosis)">
					SAVE
				</a>

            	<a class="btn btn-large btn-danger" style="text-decoration: none"
            	 	ng-click="removeDiagnosis(Diagnosis)">
            		DELETE
            	</a>
        	</td>
		</tr>
	</table>
</div>