<div ng-controller="DiagsDispositionCtrl">	

	<div scroll-bookmark="CommDiagsDISPO">
		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td class="text-left" colspan="9">
					<span style="font-family: Helvetiker; font-size:30px; color: #000; letter-spacing: 3px; font-style: italic;">
			    		Disposition
			    	</span>
				</td>
			</tr>
			<tr>
				<td width="25%">
					<select ng-model="DispoForm.Disposition" class="form-control"> 
						<option value="">(select one)</option>
						<option value="Home with medication"> Home with medication </option>
						<option value="Hospital"> Hospital </option>
						<option value="Schedule Surgery"> Schedule Surgery </option>
					</select>
				</td>
				<td width="1%"> 
					<input type="text" class="form-control" ng-model="DispoForm.DispoValue">
				</td>
				<td width="1%"></td>
				<td width="1%"></td>
				<td></td>
			</tr>

			<tr>
				<td> Follow Up
					<input type="hidden" ng-model="DispoForm.FollowUp" class="form-control" ng-init="DispoForm.FollowUp='Follow Up'" value="Follow Up" READONLY>
				</td>
				<td> 
					<input type="date" class="form-control" ng-model="DispoForm.FollowUpDate" >
				</td>
				<td class="text-center" nowrap>
					<a class="btn btn-large btn-info" href="#/{{clinix.ClinixRID}}" ng-click="addNew(DispoForm)" style="text-decoration: none; color: #000">Add</a>
				</td>
				<td colspan="2"> <input type="Submit" class="btn btn-warning" name="Anesthesio" value="POST TO CALENDAR" ></td>
			</tr>


			<tr class="info" ng-repeat="disposition in clinix_DiagsDisposition">
	        	<td style="color:black">{{disposition.Disposition}}</td>
	        	<td style="color:black">{{disposition.DispoValue }}</td>
	        	<td style="color:black" nowrap>{{disposition.FollowUpDate | date}}</td>
	            <td>
	            	<a class="btn btn-large btn-danger" href="#/{{disposition.ClinixRID}}" ng-click="removeDiagnosis(disposition)" style="text-decoration: none">
	            		DELETE
	            	</a>
	        	</td>
                <td>
                	<a class="btn btn-large btn-warning" href="#/{{disposition.ChiefRID}}/edit" ng-click="editChiefComp(disposition)" style="text-decoration: none">
                		EDIT
                	</a>
            	</td>
	        </tr>


		</table>
	</div>

</div>