<div ng-controller="DiagsMedsCtrl">	
	
	<div scroll-bookmark="CommDiagsMedication">
		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td class="text-left" colspan="9">
					<span style="font-family: Helvetiker; font-size:30px; color: #000; letter-spacing: 3px; font-style: italic;">
			    		Medication
			    	</span>
				</td>
			</tr>
			
			<tr>
				<th width="25%" class="text-center" style="color:#888">Medicine</th> 
				<th width="25%" class="text-center" style="color:#888">Brand</th> 
				<th width="1%" class="text-center" style="color:#888" nowrap>Qty/Volume</th> 
				<th width="25%" class="text-center" style="color:#888">Dosage</th> 
				<th width="25%" class="text-center" style="color:#888">Duration</th> 
				<th width="1%" class="text-center" style="color:#888"></th> 
				<th class="text-center" style="color:#888"></th> 
			</tr>

			<tr>
				<td>
					<input type="text" class="form-control" ng-model="xMeds.GenericName" placeholder="drug" >
				</td>

				<td nowrap>
					<input type="text" class="form-control" ng-model="xMeds.Brand" placeholder="brand" >
				</td>

				<td nowrap>
					<input type="text" class="form-control" ng-model="xMeds.Qty" placeholder="dosage" >
				</td>

				<td nowrap>
					<select ng-model="xMeds.Dose" class="form-control">
              			<option ng-repeat="doze in drugDozage" value="{{doze.doze}}">{{doze.dropname}} - {{doze.doze}}</option>
					</select>
				</td>

				<td nowrap>
					<input type="text" class="form-control" ng-model="xMeds.Duration" placeholder="duration" >
				</td>

				<td class="text-center">
					<a class="btn btn-large btn-info" href="#/{{clinix.ClinixRID}}" ng-click="addNew(xMeds)" style="text-decoration: none">ADD</a>
				</td>

				<td></td>
			</tr>

			<tr class="info" ng-repeat="xMed in clinix_DiagsMedication">
	        	<td class="text-center" style="color:black" nowrap>{{xMed.GenericName}}</td>
	        	<td class="text-center" style="color:black" nowrap>{{xMed.Brand}}</td>
	            <td class="text-center" style="color:black">{{xMed.Qty}}</td>
	            <td class="text-center" style="color:black">{{xMed.Dose}}</td>
	            <td class="text-center" style="color:black">{{xMed.Duration}}</td>
	            <td>
	            	<a class="btn btn-large btn-danger" href="#/{{xMed.ClinixRID}}" ng-click="removeDiagnosis(xMed)" style="text-decoration: none">
	            		DELETE
	            	</a>
	        	</td>
                <td>
                	<a class="btn btn-large btn-warning" href="#/{{xMed.ChiefRID}}/edit" ng-click="editChiefComp(xMed)" style="text-decoration: none">
                		EDIT
                	</a>
            	</td>
	        </tr>
			
			
		</table>
	</div>
	
</div>