<div ng-controller="AmbulatoryStatusCtrl">
	<div scroll-bookmark="AmbuStat">
		<table class="table table-condensed table-bordered">
			<tr class="active">
				<td class="text-center" colspan="5">
					<span style="font-family: Helvetiker; font-size:20px; color: #EEE; letter-spacing: 3px; font-style: italic;">
					Physical Examination Starts at this Point
					</span>
				</td>
			</tr>

			<tr class="warning">
				<th colspan="5">
					<span style="font-family: Helvetiker; font-size:30px; color: #555; letter-spacing: 3px; font-style: italic;">
					Ambulatory Status
					</span>
				</th>
			</tr>

			<tr>
				<td width="1%" class="text-right" nowrap>
					Physical Condition
				</td>
				<td width="1%" nowrap>
					<input type="radio" ng-model="PEformData.AmbuPhysCond" value="Normal"> Normal
				</td>
				<td width="1%">
					<input type="radio" ng-model="PEformData.AmbuPhysCond" value="Limping"> Limping
				</td>
				<td></td>
			</tr>

			<tr>
				<td class="text-right" nowrap>Ambulatory aid</td>
				<td nowrap>
					    <input type="radio" ng-model="PEformData.AmbuAid" value="None"> None
					<br><input type="radio" ng-model="PEformData.AmbuAid" value="Cane"> Cane
					<br><input type="radio" ng-model="PEformData.AmbuAid" value="Walker"> Walker
				</td>
				<td nowrap>
					    <input type="radio" ng-model="PEformData.AmbuAid" value="Crutches"> Crutches
					<br><input type="radio" ng-model="PEformData.AmbuAid" value="Wheelchair"> Wheelchair
					<br><input type="radio" ng-model="PEformData.AmbuAid" value="Stretcher"> Stretcher
				</td>
			</tr>

			<!--tr>
				<td class="text-right">Able to </td>
				< td colspan="2" nowrap>
					    <input type="radio" ng-model="PEformData.AmbuAbleTo" value="get in/out of exam table BY SELF"> get in/out of exam table BY SELF 
					<br><input type="radio" ng-model="PEformData.AmbuAbleTo" value="get in/out of exam table WITH ASSIST"> get in/out of exam table WITH ASSIST
				</td>
			</tr -->

			<tr>
				<td class="text-center" colspan="9" nowrap>
					<a class="btn btn-large btn-info" href="#/{{clinix.ClinixRID}}" ng-click="addNew(PEformData)" style="text-decoration: none; color: #000">ADD</a>
				</td>
			</tr>
		</table>

		<table class="table table-condensed table-bordered">
			<tr class="info">
				<th width="1%" class="text-center" style="color:#888" nowrap></th>  <!-- OnsetAccuteGradual -->
	        	<th width="1%" class="text-center" style="color:#888" nowrap>Condition</th>
	        	<th width="1%" class="text-center" style="color:#888" nowwrap>Ambulatory Aid</th>
	            <th width="1%" class="text-center" style="color:#888" nowrwap>Able To</th>
	            <th width="1%"> </th>
	            <th width="1%"> </th>
	            <th width=> </th>
			</tr>

			<tr class="info" ng-repeat="ambState in clinix_AmbuStatus">
	        	<td style="color:black" nowrap></td>  <!-- OnsetAccuteGradual -->
	        	<td style="color:black" nowrap>{{ambState.PhysicalCondition}}</td>
	        	<td style="color:black" nowrap>{{ambState.AmbulatoryAid}}</td>
	            <td style="color:black">{{ambState.AbleTo}}</td>
	            <td>
	            	<a class="btn btn-large btn-danger" href="#/{{ambState.ClinixRID}}" ng-click="removeChiefComp(ambState)" style="text-decoration: none">
	            		DELETE
	            	</a>
	        	</td>
                <td>
                	<!-- a class="btn btn-large btn-warning" href="#/{{ambState.ChiefRID}}/edit" ng-click="editChiefComp(ambState)" style="text-decoration: none">
                		EDIT
                	</a -->
            	</td>
            	<td></td>
	        </tr>
		</table>	
	</div>
</div>