<div scroll-bookmark="COMMONDiagnosis">

	<div ng-controller="DiagnosisCtrl">

		<table class="table table-condensed table-bordered">
			<!-- tr class="active">
				<td class="text-center" colspan="5">
					<span style="font-family: Helvetiker; font-size:20px; color: #EEE; letter-spacing: 3px; font-style: italic;">
					Diagnosis Starts at this Point
					</span>
				</td>
			</tr -->	

			<tr class="success">
				<th colspan=9>
					<span style="font-family: Helvetiker; font-size:30px; color: #000; letter-spacing: 3px; font-style: italic;">
		    			Diagnosis
		    		</span>
				</th>
			</tr>	
			<tr>
				<td class="text-center" nowrap>
					<!-- textarea class="form-control" ng-model="Diagnosis" rows="5" placeholder="Diagnosis"></textarea -->
					<textarea id="tinymce" ui-tinymce ng-model="Diagnosis.DiagTnyMce" class="form-control" rows="5"></textarea>
				</td>
				<td class="text-center" width="10%" nowrap>
					<a class="btn btn-large btn-info" href="#/{{clinix.ClinixRID}}" ng-click="addNew(Diagnosis)" style="text-decoration: none; color: #000">Save</a>
				</td>
			</tr>

			<tr class="info" ng-repeat="diagnosed in clinix_Diagnosis">
	        	
	        	<td style="color:black">{{diagnosed.Diagnosis}}</td>

	            <td width="1%">
	            	<a class="btn btn-large btn-danger" href="#/{{diagnosed.ClinixRID}}" ng-click="removeDiagnosis(diagnosed)" style="text-decoration: none">
	            		DELETE
	            	</a>
	        	</td>
	        	
                <td width="1%">
                	<a class="btn btn-large btn-warning" href="#/{{diagnosed.ChiefRID}}/edit" ng-click="editChiefComp(diagnosed)" style="text-decoration: none">
                		EDIT
                	</a>
            	</td>
	        </tr>
		</table>
	</div>
</div>
<ng:include src="'tplpe/common_diags_Management.html'"></ng:include>
<ng:include src="'tplpe/common_diags_SurgerySched.html'"></ng:include>
<ng:include src="'tplpe/common_diags_Medication.html'"></ng:include>

<ng:include src="'tplpe/common_diags_Disposition.html'"></ng:include>
<ng:include src="'tplpe/common_diags_Notes.html'"></ng:include>
	