<ng:include src="'tplpe/px_pe.html'"></ng:include>

<table class="table table-condensed table-bordered">
	<tr class="success">
		<th colspan=9>
			<span id="DGL_module_header">
    			General Orthopedic
    		</span>
		</th>
	</tr>
</table>

<ng:include src="'tplpe/common_ambulatorystatus.html'"></ng:include>

<div class="panel panel-default">

	<div id="colphy" class="panel-collapse">
		<div class="panel-body">
			<div class="panel panel-default">

				<table class="table">					
					<tr>
						<td class="active" width="15%">Appearance</td>
						<td>
							<input type="radio" name="App" value="Normal" checked> Normal
						</td>
						<td colspan="6" class="form-inline">
							Deformity
							<input type="text" name="TypeApperance" class="form-control" size='55'>
						</td>
					</tr>

					<tr>
						<td class="active">Skin</td>
						<td><input type="radio" name="Skin" value="0"  checked> Closed</td>
						<td>
							Open:
							<input type="radio" name="Skin" value="2"> G1
							&nbsp;&nbsp;&nbsp;
							<input type="radio" name="Skin" value="3"> G2
							&nbsp;&nbsp;&nbsp;
							<input type="radio" name="Skin" value="4"> G3
						</td>
					</tr>
					<tr>
						<td class="active">
							Pain
						</td>
						<td class="text-right">
							Active Motion:
						</td>
						
						<td class="text-left" colspan="2" nowrap> 
							<input type="radio" ng-model="HipMotionRanges.SLRValR" value="NORMAL" > Normal
							&nbsp;&nbsp;&nbsp;<input type="radio" ng-model="HipMotionRanges.SLRValR" value="MILD" > Mild
							&nbsp;&nbsp;&nbsp;<input type="radio" ng-model="HipMotionRanges.SLRValR" value="MODERATE" > Moderate
							&nbsp;&nbsp;&nbsp;<input type="radio" ng-model="HipMotionRanges.SLRValR" value="SEVERE" > Severe
						</td>
					</tr>
					<tr>
						<td class="active">
						
						</td>
						<td class="text-right">
							Passive Motion:
						</td>
						
						<td class="text-left" colspan="2" nowrap> 
							<input type="radio" ng-model="HipMotionRanges.SLRValR" value="NORMAL" > Normal
							&nbsp;&nbsp;&nbsp;<input type="radio" ng-model="HipMotionRanges.SLRValR" value="MILD" > Mild
							&nbsp;&nbsp;&nbsp;<input type="radio" ng-model="HipMotionRanges.SLRValR" value="MODERATE" > Moderate
							&nbsp;&nbsp;&nbsp;<input type="radio" ng-model="HipMotionRanges.SLRValR" value="SEVERE" > Severe
						</td>
						
					</tr>
					<tr>
						<td class="active">
							Neurologic Status
						</td>
						<td>
							<input type="radio" name="Neurologic" value="2" checked> Normal
						</td>
						<td colspan="4">
							<input type="radio" name="Neurologic" value="3"> Poor
						</td>
					</tr>
					<tr>
						<td class="active">Vascular Status</td>
						<td>
							<input type="radio" name="Vascular" value="2" checked> Normal
						</td>
						<td>
							<input type="radio" name="Vascular" value="3"> Poor
						</td>
					</tr>
					<tr>
						<td colspan="1" class="active">
							
						</td>
						<td colspan="6" nowrap>
							Describe in details if Neurologic and Vascular are Poor
							<br>
							<textarea rows="2" class="form-control"name="PoorDetails" placeholder="Explaination"></textarea>
						</td>
					</tr>
				</table>

				<div scroll-bookmark="GENOrthoXRAY">

					<table class="table">
						<tr class="warning">
							
							<td colspan="6" id="DGL_module_header">	Appropriate X-Rays ordered</td>
						</tr>
						<tr >
							<td class="active" rowspan="2">
								Hip
							</td>
							<td>
								<input type="radio" name="Hip" value="0"  checked> AP Pelvis to include both hips
							</td>
						</tr>
						<tr>
							<td>
								<input type="radio" name="Hip" value="1" > Frog Leg, BOTH Hips
							</td>	
						</tr>
						<tr >
							<td class="active" rowspan="3">
								Knee
							</td>
							<td>
								<input type="radio" name="Knee" value="0"  checked> AP Standing at 0 and 20 Degrees flexion
							</td>
						</tr>
						<tr>
							<td>
								<input type="radio" name="Knee" value="1" > Lateral at 30 degrees flexion
							</td>
						</tr>
						<tr>
							<td>
								<input type="radio" name="Knee" value="2" > Patellar Views(LAURIN VIEW)
							</td>
							
						</tr>
					</table>

					<table class="table">
						<tr class="active">
							<td></td>
							<td class="text-center">LEFT</td>
							<td class="text-center">RIGHT</td>
							<td>
						</tr>
						<tr>
							<td width="1%" class="active">
								Hand
							</td>
							<td class="text-center" width="1%">
								<input type="checkbox" name="LeftHand" value="1" >
							</td>
							<td class="text-center" width="1%">
								<input type="checkbox" name="RightHand" value="1" >
							</td>
							<td></td>
						</tr>
						
						<tr>
							<td class="active">
								Shoulder
							</td>
							<td class="text-center">
								<input type="checkbox" name="ShoulLeft" value="1" >
							</td>
							<td class="text-center">
								<input type="checkbox" name="ShoulRight" value="1" >
							</td>		
							<td></td>							
						</tr>
						<tr>
							<td class="active">
								Elbows
							</td>
							<td class="text-center">
								<input type="checkbox" name="ElbowLeft" value="1" >
							</td>
							<td class="text-center">
								<input type="checkbox" name="ElbowRight" value="1" >
							</td>
							<td></td>
						</tr>
						<tr>
							<td class="active">
								Ankle 
							</td>
							<td class="text-center">
								<input type="checkbox" name="AnkleLeft" value="1" >
							</td class="text-center">
							<td class="text-center">
								<input type="checkbox" name="AnkleRight" value="1" >
							</td>
							<td></td>
						</tr>
						<TR>
							<td class="active">
								Wrist 
							</td>
							<td class="text-center">
								<input type="checkbox" name="WristLeft" value="1" >
							</td>
							<td class="text-center">
								<input type="checkbox" name="WristRight" value="1" >
							</td>
							<td></td>
						</TR>
						<tr>
							<td class="active">
								Foot 
							</td>
							<td class="text-center">
								<input type="checkbox" name="FootLeft" value="1" >
							</td>
							<td class="text-center">
								<input type="checkbox" name="FootRight" value="1" >
							</td>
							<td></td>
						</tr>
						<TR>
							<td class="active" colspan="4">&nbsp;</td>
						</TR>
						<tr>
							<td nowrap>
								<input type="checkbox" name="Spine" value="1" > Spine
							</td>
							<td colspan="2" nowrap>
								<input type="checkbox" name="Pelvis" value="1" > Pelvis
							</td>
							<td></td>
						</tr>
						<tr>
							<td nowrap>
								<input type="checkbox" name="Humerus" value="1" > Humerus
							</td>
							<td colspan="2" nowrap>
								<input type="checkbox" name="RadiusUlna" value="1" > Radius-Ulna
							</td>
							<td></td>
						</tr>
						<tr>
							<td nowrap>
								<input type="checkbox" name="Tibia" value="1" > Tibia
							</td>
							<td colspan="2" nowrap>
								<input type="checkbox" name="Ferum" value="1" > Ferum
							</td>
							<td></td>
						</tr>
					</table>
				</div>

				
				<div scroll-bookmark="GENOrthoXRAY2">
					<table class="table">
						<tr class="warning">
							<td colspan="6" id="DGL_module_header">	
							X-Rays Findings</td>
						</tr>
						<tr>
							<td><input type="checkbox" name="xfindings" value="1" > Normal</td>
							<td class="active" colspan="4">ABNORMAL DESCRIBE:
								<textarea class="form-control" name="AbnormalDes" rows="3" placeholder="Describe why"></textarea></td>
						</tr>
						
					</table>		
				</div>
			</div>
		</div>
	


		<div id="collapseThree" class="panel-collapse      ">
			<div class="panel-body">
				<div class="panel panel-default">
					<table class="table table-hover">
						<tr class="warning">
							<td colspan="6" id="DGL_module_header">	Diagnosis
							</td>
						</tr>
						<tr>
							<td>Medications</td>
							<td><textarea class="form-control" name="MediManage" rows="3"placeholder="Medications" ></textarea></td>
							<td colspan="2">&nbsp;</td>
						</tr>
						<tr>
							<td>Injections</td>
							<td><input type="text" class="form-control input-mysize" name="InjecManage" placeholder="Injections" ></td>
							<td colspan="2">&nbsp;</td>
						</tr>
						<tr>
							<td>Physical Therapy</td>
							<td><input type="text" class="form-control input-mysize" name="PhysiThera" placeholder="Physical Theraphy" ></td>
							<td colspan="2">&nbsp;</td>
						</tr>
						<tr>
							<td>Others</td>
							<td><input type="text" class="form-control input-mysize" name="OtherManage" placeholder="Others" ></td>
							<td colspan="2">&nbsp;</td>
						</tr>
						<tr>
							<td>Disposition:</td>
							<td>
								<input type="radio" name="Dispo" value="1"  checked> Home 
								<input type="radio" name="Dispo" value="1" > Hospital
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>


		<div id="collapseFive" class="panel-collapse">
			<div class="panel-body">
				<div class="panel panel-default">

					<table class="table">
						<tr class="warning">
							<td colspan="6" id="DGL_module_header">	Laboratory Examination
						</td>
						<tr>
							<td>A. X-Rays</td>
							<td><center>Date</center></td>
							<td><input type="date" class="form-control" name="XDate" ></td>
							<td>Report</td>
							<td><textarea rows="3" name="Xresult" placeholder="Result" class = "form-control" ></textarea></td>
						</tr>
						<tr>
							<td>B. MRI</td>
							<td><center>Date</center></td>
							<td><input type="date" class="form-control" name="MRIDate" ></td>
							<td>Report</td>
							<td><textarea rows="3" name="MRIResult" class = "form-control" placeholder="Result" ></textarea></td>
						</tr>

						<tr>
							<td>C. CT-SCAN</td>
							<td><center>Date</center></td>
							<td><input type="date" class="form-control" name="CTScan" ></td>
							<td>Report</td>
							<td><textarea rows="3" name="CTResult" class = "form-control" placeholder="Result" ></textarea></td>
						</tr>

						<tr>
							<td>D. Blood Exams</td>
							<td colspan="2">
								<input type="radio" name="BloodSel" value="0"  checked> CBC 
								<input type="radio" name="BloodSel" value="1"> ESR
								<input type="radio" name="BloodSel" value="2"> CRP
							</td>
							<td class="text-center">where</td>
							<td><input type="text" class="form-control" name="BloodWhere" placeholder="Where" ></td>
						</tr>

						<tr>
							<td>&nbsp;</td>
							<td><center>Reports</center></td>
							<td colspan="3"><Textarea rows="3" name="BloodReports" class = "form-control" placeholder="Reports" ></textarea></td>

						</tr>
					</table>
			</div>
		</div>
	</div>


		<div id="prevsurg" class="panel-collapse     ">
			<div class="panel-body">
				<div class="panel panel-default">

					<table class="table">
						<tr class="warning">
							<td colspan="6" id="DGL_module_header">	Previous Surgery
						</td>					
						<tr class="active">
							<td>
								<textarea rows="3" name="PrevSurg" class="form-control" placeholder="Previous Surgery"></textarea>
							</td>
						</tr>
					</table>		
					
				</div>
		</div>
	</div>
</div>
</div>
