<div ng-controller="gen_orth6_Ctrl">
	<table class="table">
		<tr class="warning">
			<td colspan="6" id="DGL_module_header">	
				Previous Surgery
			</td>					
		<tr class="active">
			<td>
				<textarea rows="3" ng-model="genortho6.PreviousSurgery" class="form-control" placeholder="Previous Surgery"></textarea>
			</td>
		</tr>
		<tr>	
			<td class="text-center" colspan="9" nowrap>
				<a class="btn btn-large btn-info" style="text-decoration: none; color: #000"
										 	ng-click="addNew_genortho6(genortho6)">
					SAVE
				</a>
				<a class="btn btn-large btn-danger" style="text-decoration: none"
						            		ng-click="removegenortho6(genortho6)">
					DELETE
				</a>
			</td>
		</tr>
	</table>
</div>	