<ng:include src="'tplpe/px_pe.html'"></ng:include>

	<table class="table table-condensed table-bordered">
		<tr class="success">
			<th colspan=9>
				<span id="DGL_module_header">
	    			Oby-Gyne
	    		</span>
			</th>
		</tr>
	</table>

	<table class="table table-bordered">
		<tr class="warning">
			
			<td colspan="6" id="DGL_module_header">	Reason For This Visit</td>
		</tr>
		<tr>
			<td colspan="2">
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Annual Exam/Routine Care
			</td>
		</tr>
		<tr>
			<td class="form-inline">
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Problem/Issue (Please describe briefly)
			</td>
			<td>
				<input type="text" class="form-control input-mysize" name="InjecManage" placeholder="Problem/Issue" size="50%">
			</td>
		</tr>
		<tr>
			<td class="form-inline">
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> I was reffered by
			</td>
			<tD>
				<input type="text" class="form-control input-mysize" name="InjecManage" placeholder="Problem/Issue" size="50%">
			</td>
		</tr>
	</table>
	<table class="table table-bordered">
		<tr class="warning">

			<td colspan="6" id="DGL_module_header" >
				Menstrual History (complete even if post-menopausal or no longer having periods)
			</td>
		</tr>
		<tr>
			<td colspan="6">
				Age at first period (Menarche): <br>
				<input type="text" class="form-control input-mysize" name="InjecManage" placeholder="Menarche">
			</td>
		</tr>
		<tr>
			<td colspan="6">
				Menstrual Periouds:<br>
			
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Regular
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Irregular
			</td>
		</tr>
		<tr>
			<td colspan="3">
				Duration of bleeding:<br>
				<input type="text" class="form-control input-mysize" name="InjecManage" placeholder="Day">
			</td>
		</tr>
		<tr>
			<td colspan="3">
				Pads/Napkins consumed per Day:<br>
				<input type="text" class="form-control input-mysize" name="InjecManage" placeholder="Day">
			</td>
		</tr>
		<tr>
			<td colspan="3">
				Does bleeding or spotting occur between periouds?<br>
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Yes
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> No
			</td>
		</tr>
		<tr>
			<td colspan="3">
				Does bleeding or spotting occur after intercourse?<br>
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Yes
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> No
			</td>
		</tr>
		<tr>
			<td colspan="3">
				First day of last menstrual period(LMP)?<br>
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Yes
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> No
			</td>
		</tr>
		<tr class="active">
			<td>
				Is pain associated with periods?<br>
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> No
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Occassionally
			</td>
			<td>
				If yes, is it:
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Before menses?
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> During Menses?
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Both?
			</td>
		</tr>
	</table>
	<table class="table table-bordered">
		<tr class="warning">
			<td colspan="8" id="DGL_module_header">
			Obstetrical History (All Pregnancies Including Abortions and Ectopic Pregnancies)
			</td>
		</tr>
		<tr>
			<td class="form-inline active">
				OB Score: 
			</td>
			<td class="form-inline" colspan="3">
				Gravida:<input type="text" class="form-control">
			</td>
			<td class="form-inline" colspan="3">
				Para:<input type="text" class="form-control">
			</td>
			

		</tr>
		<tr>
			<td class="active">
			</td>
			<td class="form-inline">
				Term:<input type="text" class="form-control"></td>
			<td class="form-inline">
				PreTerm:<input type="text" class="form-control">
			</td> 
			<td class="form-inline">
				Abortion/Ectopic/Molar:<input type="text" class="form-control">
			</td>
			<td class="form-inline" colspan="2">
				Living Children:<input type="text" class="form-control">
			</td>
		</tr>
		<tr>
			<td class="form-inline" colspan="8">
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Have never been pregnant
			</td>
		</tr>
		<tr class="active text-center">
			<td>
				Year of Pregnancy
			</td>
			<td>
				Place of Delivery or Abortion(Curettage)
			</td>
			<td>
				GA Weeks
			</td>
			<td>
				Type of Delivery
			</td>
			<td>
				Sex
			</td>
			<td>
				Birth Weight
			</td>
			<td>
				Complications
				/ Outcome
			</td>
		</tr>
		<tr class="text-center">
			<td>
				<input type="textbox" class="form-control">
			</td>
			<td>
				<input type="textbox" class="form-control">
			</td>
			<td>
				<input type="textbox" class="form-control">
			</td>
			<td>
				<input type="textbox" class="form-control">
			</td>
			<td>
				<input type="textbox" class="form-control">
			</td>
			<td>
				<input type="textbox" class="form-control">
			</td>
			<td>
				<input type="textbox" class="form-control">
			</td>
		</tr>
		<tr class="text-center">
			<td>
				<input type="textbox" class="form-control">
			</td>
			<td>
				<input type="textbox" class="form-control">
			</td>
			<td>
				<input type="textbox" class="form-control">
			</td>
			<td>
				<input type="textbox" class="form-control">
			</td>
			<td>
				<input type="textbox" class="form-control">
			</td>
			<td>
				<input type="textbox" class="form-control">
			</td>
			<td>
				<input type="textbox" class="form-control">
			</td>
		</tr>
	</table>
	<table class="table table-bordered">
		<tr class="warning">
			<td colspan="8" id="DGL_module_header">
				Birth Control History
			</td>
		</tr>
		<tr>
			<td class="form-inline active" width="30%">
				What birth control method(s) do you currently use?
			</td>
			<td>	
				<input type="text" class="form-control">
			</td>
		</tr>
		<tr>
			<td class="form-inline active">
				If using pills, what brand
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
		</tr>
		<tr>
			<td class="form-inline active">
				no. of years
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
		</tr>
		<tr>
			<td class="form-inline active">
				purpose of use
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
		</tr>
	</table>

	<table class="table table-bordered">
		<tr class="warning">
			<td colspan="8" id="DGL_module_header">
				Past Surfical History
			</td>
		</tr>
		<tr>
			<td class="form-inline" colspan="3">
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> None
			</td>
		</tr>
		<tr>
			<td class="form-inline active" colspan="3">
				Check any that apply:
			</td>
		</tr>
		<tr>
			<td class="active">Surgery</td>
			<td class="active">Year</td>
			<td class="active">Biopsy Result</td>
		</tr>
		<tr>
			<td class="form-inline active">
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Diagnostic
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
		</tr>
		<tr>
			<td class="form-inline active">
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Completion Curettage
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
		</tr>
		<tr>
			<td class="form-inline active">
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Cervical Polypectomy
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
		</tr>
		<tr>
			<td class="form-inline active">
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Cervical Polypectomy
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
		</tr>
		<tr>
			<td class="form-inline active">
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Tubal Ligation
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
		</tr>
		<tr>
			<td class="form-inline active">
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Hysterectomy(vagal)
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
		</tr>
		<tr>
			<td class="form-inline active">
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Hysterectomy(abdominal)
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
		</tr>
		<tr>
			<td class="form-inline active">
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Myomectomy
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
		</tr>
		<tr>
			<td class="form-inline active">
				Ovarian Surgery: <br>
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> L cyst(s) removed overian <br>
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> R cyst(s) removed overian <br>
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> L ovary removed
				<br>
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> R ovary removed<br>
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
		</tr>
		<tr>
			<td class="form-inline active">
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Vaginal or Bladder repair
			</td>
				<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
		</tr>
		<tr>
			<td class="active">
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Cesarean Section
			</td>
				<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
		</tr>
		<tr>
			<td class="active">
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Hysterotomy
			</td>
				<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
		</tr>
		<tr>
			<td class="active">
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Other/s (specify)
				<input type="text" class="form-control">
			</td>
				<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
		</tr>
	</table>

	<table class="table table-bordered">
		<tr class="warning">
			<td colspan="8" id="DGL_module_header">
				PAP Smear/ Mammogram History
			</td>
		</tr>
		<tr>
			<td colspan="2">
				Date of last pap smear: 
				<input type="text" class="form-control">
			</td>
		</tr>
		<tr>
			<td width="30%" class="active">
				Have you had abnormal pap smears?:
			</td>
			<td>
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Yes
			</td>
		</tr>
		<tr>
			<td class="active">
				Have you had Treatment for abnormal smears?: 
			</td>
			<td>
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Yes
			</td>
		</tr>
		<tr>
			<td colspan="2">
				If yes, what type(s) of treatment have you had?: 
				<input type="text" class="form-control">
			</td>
		</tr>
		<tr>
			<td colspan="2">
				Date of last mammogram:
				<input type="text" class="form-control">
			</td>
		</tr>
		<tr>
			<td class="active">
				Have you had an abnormal mammogram?: 
			</td>
			<td>
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Yes
			</td>
		</tr>
	</table>
	<table class="table table-bordered">
		<tr class="warning">
			<td colspan="8" id="DGL_module_header">
				Other Past Gynecological History (Check any apply)
			</td>
		</tr>
		<tr>
			<td class="form-inline" colspan="2">
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> None
			</td>
		</tr>
		<tr>
			<td class="form-inline" colspan="3">
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Venereal warts
			</td>
		</tr>
		<tr>
			<td class="form-inline" colspan="3">
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Herpes - genital Syphills
			</td>
		</tr>
		<tr>
			<td class="form-inline" colspan="3">
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Pelvic inflammatory Disease
			</td>
		</tr>
		<tr>
			<td class="form-inline" colspan="3">
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Endometriosis
			</td>
		</tr>
		<tr>
			<td class="form-inline" colspan="3">
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Chlamydia Gonorrhea
			</td>
		</tr>
		<tr>
			<td class="form-inline" colspan="3">
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Vaginal Infections
			</td>
		</tr>
		<tr>
			<td class="form-inline" colspan="3">
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Myoma
			</td>
		</tr>
		<tr>
			<td class="form-inline" colspan="3">
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Uterine/Cervical Polyp
			</td>
		</tr>
		<tr>
			<td class="form-inline" colspan="3">
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Ovarian New Growth
			</td>
		</tr>
		<tr>
			<td class="form-inline" colspan="3">
				<input type="checkbox" ng-model="SportsAngkeFoot.MyBoneComplaint.Pain" ng-true-value="Pain" ng-false-value=""> Other/s <input type="text" class="form-control">
			</td>
		</tr>
	</table>
	<table class="table table-bordered">
		<tr class="warning">
			<td colspan="8" id="DGL_module_header">
				Past Medical History and Previous Hospitalization
			</td>
		</tr>
		<tr>
			<td>
				<textarea class="form-control"></textarea>
			</td>
		</tr>
	</table>
	<table class="table table-bordered">
		<tr class="warning">
			<td colspan="8" id="DGL_module_header">
				Family History (Including Cancer)
			</td>
		</tr>
		<tr>
			<td>
				<textarea class="form-control"></textarea>
			</td>
		</tr>
	</table>
	<table class="table table-bordered">
		<tr class="warning">
			<td id="DGL_module_header">
				Current Medications
			</td>
			<td id="DGL_module_header">
				Drug Allergies
			</td>
		</tr>
		<tr>
			<td>
				<textarea class="form-control"></textarea>
			</td>
			<td>
				<textarea class="form-control"></textarea>
			</td>
		</tr>
	</table>
	<table class="table table-bordered">
		<tr class="warning">
			<td id="DGL_module_header" colspan="2">
				Bad Habits
			</td>
		</tr>
		<tr class="active">
			<td width="1%">
				Yes
			</td>
			<td>
				Describe
			</td>
		</tr>
		<tr>
			<td>
				<input type="checkbox" class="checkbox">
			</td>
			<td>
				Smoking
			</td>
		</tr>
		<tr>
			<td>
				<input type="checkbox" class="checkbox">
			</td>
			<td>
				Alcohol
			</td>
		</tr>
		<tr>
			<td>
				<input type="checkbox" class="checkbox">
			</td>
			<td>
				Illegal Drugs
			</td>
		</tr>
	</table>
	<table class="table table-bordered">
		<tr class="warning">
			<td id="DGL_module_header" colspan="3">
				Symptoms
			</td>
		</tr>
		<tr class="active">
			<td>
				General
			</td>
			<td>
				Lungs
			</td>
			<td>
				Urinary
			</td>
		</tr>
		<tr class="form-inline">
			<td>
				<input type="checkbox" class="checkbox"> Weight Loss or Gain
			</td>
			<td>
				<input type="checkbox" class="checkbox"> Coughing Up Blood
			</td>
			<td>
				<input type="checkbox" class="checkbox"> Incomplete Urination
			</td>
		</tr>
		<tr class="form-inline">
			<td>
				<input type="checkbox" class="checkbox"> Fever
			</td>
			<td>
				<input type="checkbox" class="checkbox"> Shortness of Breath
			</td>
			<td>
				<input type="checkbox" class="checkbox"> Loss of Urination
			</td>
		</tr>
		<tr class="form-inline">
			<td>
				<input type="checkbox" class="checkbox"> Trouble Sleeping
			</td>
			<td>
				<input type="checkbox" class="checkbox"> Chronic Cough
			</td>
			<td>
				<input type="checkbox" class="checkbox"> Painful Urination
			</td>
		</tr>
		<tr class="form-inline">
			<td>
				<input type="checkbox" class="checkbox"> Chronic Fatigue
			</td>
			<td class="active">
				Cardiovascular
			</td>
			<td>
				<input type="checkbox" class="checkbox"> Bloody Urine
			</td>
		</tr>
		<tr class="form-inline">
			<td>
				<input type="checkbox" class="checkbox"> Easy Bruising
			</td>
			<td>
				<input type="checkbox" class="checkbox"> Chest Pain
			</td>
			<td class="active">
				Musculoskeletal
			</td>
		</tr>
		<tr class="form-inline">
			<td>
				<input type="checkbox" class="checkbox"> Abnormal Thirst
			</td>
			<td>
				<input type="checkbox" class="checkbox"> Join Pains
			</td>
			<td>
				<input type="checkbox" class="checkbox"> Muscle Weakness
			</td>
		</tr>
		<tr class="form-inline">
			<td class="active">
				Eyes/Ears/Nose/Mouth
			</td>
			<td>
				<input type="checkbox" class="checkbox"> Ankle/Hand Swelling
			</td>
			<td>
				<input type="checkbox" class="checkbox"> Join Pains
			</td>
		</tr>
		<tr class="form-inline">
			<td>
				<input type="checkbox" class="checkbox"> Itchy, Red Eyes
			</td>
			<td class="active">
				 GastroIntestinal
			</td>
			<td>
				<input type="checkbox" class="checkbox"> Joint Swelling
			</td>
		</tr>
		<tr class="form-inline">
			<td>
				<input type="checkbox" class="checkbox"> Vision Problems
			</td>
			<td >
				 <input type="checkbox" class="checkbox"> Frequent Diarrehea
			</td>
			<td class="active">
				Neurologic
			</td>
		</tr>
		<tr class="form-inline">
			<td>
				<input type="checkbox" class="checkbox"> Ear Pain
			</td>
			<td >
				 <input type="checkbox" class="checkbox"> Constipation
			</td>
			<td>
				<input type="checkbox" class="checkbox"> Frequent/Severe Headaches
			</td>
		</tr>
		<tr class="form-inline">
			<td>
				<input type="checkbox" class="checkbox"> Ringing in Ears
			</td>
			<td >
				 <input type="checkbox" class="checkbox"> Bloody Stools
			</td>
			<td>
				<input type="checkbox" class="checkbox"> Dizziness
			</td>
		</tr>
		<tr class="form-inline">
			<td>
				<input type="checkbox" class="checkbox"> Hearing Loss
			</td>
			<td >
				 <input type="checkbox" class="checkbox"> Nausea/Vomiting
			</td>
			<td>
				<input type="checkbox" class="checkbox"> Seizures
			</td>
		</tr>
		<tr class="form-inline">
			<td>
				<input type="checkbox" class="checkbox"> Sinus Problems
			</td>
			<td >
				 <input type="checkbox" class="checkbox"> Hemorrhoids
			</td>
			<td>
				<input type="checkbox" class="checkbox"> Numbness
			</td>
		</tr>
		<tr class="form-inline">
			<td>
				<input type="checkbox" class="checkbox"> Nose Bleeds
			</td>
			<td class="active">
				 Skin
			</td>
			<td>
				<input type="checkbox" class="checkbox"> Trouble Walking
			</td>
		</tr>
		<tr class="form-inline">
			<td>
				<input type="checkbox" class="checkbox"> Sore Throat
			</td>
			<td>
				<input type="checkbox" class="checkbox"> Acne
			</td>
			<td>
				<input type="checkbox" class="checkbox"> Fainting Spells
			</td>
		</tr>
		<tr class="form-inline">
			<td>
				<input type="checkbox" class="checkbox"> Mouth Sores
			</td>
			<td>
				<input type="checkbox" class="checkbox"> Unwanted Hair Growth
			</td>
			<td class="active">
				Emotional
			</td>
		</tr>
		<tr class="form-inline">
			<td>
				<input type="checkbox" class="checkbox"> Dental Problems
			</td>
			<td>
				<input type="checkbox" class="checkbox"> Unusual Lump or Growth
			</td>
			<td>
				<input type="checkbox" class="checkbox"> Excessive Worry
			</td>
		</tr>
		<tr class="form-inline">
			<td class="active">
				Menopause
			</td>
			<td>
				<input type="checkbox" class="checkbox"> Dry Skin
			</td>
			<td>
				<input type="checkbox" class="checkbox"> Depression
			</td>
		</tr>
		<tr class="form-inline">
			<td>
				<input type="checkbox" class="checkbox"> Hot Flashes
			</td>
			<td class="active">
				Other Gyne Issue
			</td>
			<td>
				<input type="checkbox" class="checkbox"> Frequent Crying
			</td>
		</tr>
		<tr class="form-inline">
			<td>
				<input type="checkbox" class="checkbox"> Night Sweats
			</td>
			<td>
				<input type="checkbox" class="checkbox"> Vaginal Discharge
			</td>
			<td>
				<input type="checkbox" class="checkbox"> Serious Thoughts of <br>harming yourself or others
			</td>
		</tr>
		<tr class="form-inline">
			<td class="active">
				Sexual Problems
			</td>
			<td>
				<input type="checkbox" class="checkbox"> Itching/Irritation
			</td>
			<td>

			</td>
		</tr>
		<tr class="form-inline">
			<td>
				<input type="checkbox" class="checkbox"> Painful Intercourse
			</td>
			<td>
				<input type="checkbox" class="checkbox"> Vulvar Pain
			</td>
			<td>

			</td>
		</tr>
		<tr class="form-inline">
			<td>
				<input type="checkbox" class="checkbox"> Bleeding after Intercourse
			</td>
			<td>
				<input type="checkbox" class="checkbox"> Vulvar lump/growth
			</td>
			<td>

			</td>
		</tr>
		<tr class="form-inline">
			<td>
				<input type="checkbox" class="checkbox"> Decreased Desire
			</td>
			<td>
				<input type="checkbox" class="checkbox"> Vulvar Sores
			</td>
			<td>

			</td>
		</tr>
		<tr class="form-inline">
			<td>
				<input type="checkbox" class="checkbox"> Dryness 
			</td>
			<td>
				
			</td>
			<td>

			</td>
		</tr>
		<tr class="form-inline">
			<td>
				<input type="checkbox" class="checkbox"> Possible Exposure to STD
			</td>
			<td>
				
			</td>
			<td>

			</td>
		</tr>
	</table>
	<table class="table table-bordered">
		<tr class="warning">
			<td id="DGL_module_header" colspan="6">
				Physical Examination
			</td>
		</tr>
		<tr class="active">
			<td>
				Date
			</td>
			<td>
				BP
			</td>
			<td>
				Weight
			</td>
			<td>
				Temperature
			</td>
			<td>
				Respiratory Rate
			</td>
			<td>
				Heart Rate
			</td>
		</tr>
		<tr class="form-inline">
			<td>
				<input type="date" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
		</tr>
	</table>
	<table class="table table-bordered">
		<tr class="active">
			<td>
				Item
			</td>
			<td width="20%">
				Normal Findings
			</td>
			<td width="1%">
				
			</td>
			<td>
				Comments
			</td>
		</tr>
		<tr>
			<td class="active">
				Breasts
			</td>
			<td>
				Symmetrical, Non-tender, no massess, no nipple discharge, no skin charges, no retraction, no axillary, or supra-clavicular lymphadenopathy
			</td>
			<td>
				<input type="checkbox" class="checkbox">
			</td>
			<td>
				<textarea class="form-control" rows="2" placeholder=" comments"></textarea>
			</td>
		</tr>
		<tr>
			<td class="active">
				Abdomen
			</td>
			<td>
				Soft, non-tender, no massess. No herniad are detected. Liver is normal. Spleen is normal. No groin lymphadenopathy
			</td>
			<td>
				<input type="checkbox" class="checkbox">
			</td>
			<td>
				<textarea class="form-control" rows="2" placeholder=" comments"></textarea>
			</td>
		</tr>
		<tr>
			<td class="active">
				Pelvic
			</td>
			<td>
				External WNL. NL female hair pattern. Urethra meatus normal. Urethra non-tender.Bladder non-temder. Vagina is clean, withoud discharge/lesion. Cervix smooth, no lesions, no discharge, no CMT. Uterus normal size, shape and contour. Non-tender. Mobile. Pelvic support adequate. Adnexa gave no masses or tenderness.
			</td>
			<td>
				<input type="checkbox" class="checkbox">
			</td>
			<td>
				External Genitals<br>
				<textarea class="form-control" rows="2" placeholder=" comments"></textarea>
				Vagina<br>
				<textarea class="form-control" rows="2" placeholder=" comments"></textarea>
				Introitus<br>
				<textarea class="form-control" rows="2" placeholder=" comments"></textarea>
				Cervix<br>
				<textarea class="form-control" rows="2" placeholder=" comments"></textarea>
				Uterus<br>
				<textarea class="form-control" rows="2" placeholder=" comments"></textarea>
				Adnexa<br>
				<textarea class="form-control" rows="2" placeholder=" comments"></textarea>
				Discharges<br>
				<textarea class="form-control" rows="2" placeholder=" comments"></textarea>
			</td>
		</tr>
		<tr>
			<td class="active">
				Rectal
			</td>
			<td>
				Sphincter tone normal. No hemorrhoids seen or felt. No masses felt. No bleeding.
			</td>
			<td>
				<input type="checkbox" class="checkbox">
			</td>
			<td>
				<textarea class="form-control" rows="2" placeholder=" comments"></textarea>
			</td>
		</tr>
	</table>
	<table class="table table-bordred">
		<tr>
			<td class="active">
				Comments:<br>
				<textarea class="form-control"></textarea>
			</td>
		</tr>
		<tr>
			<td class="center">
				<img src="../images/OB.jpg" class="img-responsive">
			</td>
		</tr>
	</table>


	<table class="table table-bordered">
		<tr class="warning">
			<td id="DGL_module_header" colspan="10">
				Prenatal Visits
			</td>
		</tr>
		<tr class="active text-center">
			<td>
				Date
			</td>
			<td>
				AOG
			</td>
			<td>
				Weight
			</td>
			<td>
				BP
			</td>
			<td>
				FHB
			</td>
			<td>
				FH
			</td>
			<td>
				IE
			</td>
			<td>
				Next Appointment
			</td>
			<td>
				Signs/Symptoms
			</td>
			<td>
				Comments
			</td>
		</tr>
		<tr>
			<td>
				<input type="date" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
		</tr>
		<tr>
			<td>
				<input type="date" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
		</tr>
		<tr>
			<td>
				<input type="date" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
		</tr>
		<tr>
			<td>
				<input type="date" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
		</tr>
		<tr>
			<td>
				<input type="date" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
		</tr>
		<tr>
			<td>
				<input type="date" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
		</tr>
		<tr>
			<td>
				<input type="date" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
		</tr>
		<tr>
			<td>
				<input type="date" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
			<td>
				<input type="text" class="form-control">
			</td>
		</tr>
	</table>
	<table class="table table-bordered">
		<tr>
			<td class="active">
				Assessment
				<textarea class="form-control" rows="2" placeholder=" comments"></textarea>
			</td>
		</tr>
	</table>
	<table class="table table-bordered">
		<tr>
			<td class="active">
				Plan and Medication
				<textarea class="form-control" rows="2" placeholder=" comments"></textarea>
			</td>
		</tr>
	</table>