<div ng-controller="OPHIP_4Ctrl">
	
	<div scroll-bookmark="OPHIP_4">

		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td width="1%" colspan="9" nowrap>
					<span style="font-family: Helvetiker; font-size:30px; color: #000; letter-spacing: 3px; font-style: italic;">
			    		Acetabular Component
			    	</span>
			    </td>
			</tr>

			<tr class="active">
				<td nowrap>
					<input type="text" class="form-control" ng-model="ophip4.AcetabularComponent">
				</td>
			</tr>


			<tr class="active">
				<td>
					Size
					<br>
					<input type="text" class="form-control" ng-model="ophip4.AcetSize">
				</td>

				<td>
					Screws
					<br>
					<input type="text" class="form-control" ng-model="ophip4.AcetScrews">
				</td>
			</tr>

			<tr class="active">
				<td nowrap>
					Acetabular preperation
				</td>

				<td nowrap>
					<input type="radio" ng-model="ophip4.AcetPrep" value="Cemented">Cemented
					<br>
					<input type="radio" ng-model="ophip4.AcetPrep" value="Regular">Regular
				</td>
			</tr>

			<tr class="active">
				<td nowrap>
					Femoral preperation: 
					<br>
					<select class="form-control" ng-model="ophip4.FemoralPrep">>
						<option value=""> (select one) </option>
						<option value="Cemented"> Cemented
						<option value="Hybrid"> Hybrid
						<option value="Cement Less"> Cement Less
					</select>
				</td>
			</tr>

			<tr>
				<td colspan="2" class="text-center" nowrap>
					<a class="btn btn-large btn-info" ng-click="addNew(ophip4)" style="text-decoration: none; color: #000">Save</a>
				</td>
			</tr>
		</table>

		<table class="table table-condensed table-bordered">
			<tr class="info">
	        	<th width="1%" class="text-center" style="color:#888" >Acetbular Component</th>
	            <th width="1%" class="text-center" style="color:#888" >Size</th>
	            <th width="1%" class="text-center" style="color:#888" >Screws</th>
	            <th width="1%" class="text-center" style="color:#888" >Acetabular Preparation</th>
	            <th width="1%" class="text-center" style="color:#888" nowrwap>Femoral Preparation</th>
	            <th width="1%"> </th>
	            <th> </th>
			</tr>

			<tr class="info" ng-repeat="ophip4Row in jdata_OPHIP_4">
	        	<td style="color:black">{{ophip4Row.AcetabularComponent}}</td>
	        	<td style="color:black">{{ophip4Row.AcetSize}}</td>
	        	<td style="color:black">{{ophip4Row.AcetScrews}}</td>
	        	<td style="color:black">{{ophip4Row.AcetPrep}}</td>
	        	<td style="color:black">{{ophip4Row.FemoralPrep}}</td>
	            <td>
	            	<a class="btn btn-large btn-danger" ng-click="removeItem(ophip4Row)" style="text-decoration: none">
	            		DELETE
	            	</a>
	        	</td>
                <td></td>
	        </tr>
	    </table>

	</div>		
</div>