<div ng-controller="OpHipPin_Ctrl">	

	<table class="table table-bordered">					
		<tr>
			<td class="warning" colspan="12" id="DGL_module_header">
				Signature PIN 123
			</td>
		</tr>
		<tr>
			<td class="text-center form-inline">
				PIN
				<input type="text" ng-model="OpHipdsig.PIN" value="0" class="form-control">
				
					<a class="btn btn-large btn-info" style="text-decoration: none; color: #000" ng-click="OpHipPinchecking(OpHipdsig)" > SAVE</a><br>
			</td>
		</tr>
		
	</table>
</div>	