<div ng-controller="OPHIP_XRays_Ctrl">
	
	<div scroll-bookmark="OPHIP_PRE_XRays">

		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td width="1%" colspan="9" nowrap>
					<span style="font-family: Helvetiker; font-size:30px; color: #000; letter-spacing: 3px; font-style: italic;">
			    		PRE-Operative X-Rays
			    	</span>
			    </td>
			</tr>

			<tr class="active">
				<td width="1%" nowrap>
					Date:
				</td>
				<td width="10%">
					<input type="text" class="form-control" ng-model="opknee5.BloodLoss" placeholder="NONE">
				</td>
			
				<td width="1%" nowrap>
					Source:
				</td>
				<td width="10%">
					 <input type="text" class="form-control" ng-model="opknee5.BloodLoss" placeholder="NONE">
				</td>
			
				<td width="1%" nowrap>
					Result:
				</td>
				<td width="10%">
					<input type="text" class="form-control" ng-model="opknee5.BloodLoss" placeholder="NONE">
				</td>
			</tr>
		</table>

		<table>
			<tr class="info">
	        	<td width="1%" class="text-center" nowrap>
	        		X-Ray Image: NONE
	        	</td>
	        </tr>
	    </table>

	</div>		



	<div scroll-bookmark="OPHIP_POST_XRays">

		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td width="1%" colspan="9" nowrap>
					<span style="font-family: Helvetiker; font-size:30px; color: #000; letter-spacing: 3px; font-style: italic;">
			    		POST-Operative X-Rays
			    	</span>
			    </td>
			</tr>

			<tr class="active">
				<td width="1%" nowrap>
					Date: 
				</td>
				<td width="10%">
					<input type="text" class="form-control" ng-model="opknee5.BloodLoss" placeholder="JUNE 11: 2013">
				</td>
			
				<td width="1%" nowrap>
					Source:
				</td>
				<td width="10%">
					 <input type="text" class="form-control" ng-model="opknee5.BloodLoss" placeholder="RMCI">
				</td>
			
				<td width="1%" nowrap>
					Result:
				</td>
				<td width="10%">
					<input type="text" class="form-control" ng-model="opknee5.BloodLoss" placeholder=" ">
				</td>
			</tr>
		</table>

		<table width="100%">
			<tr class="info">
	        	<td width="1%" class="text-center" nowrap>
	        		<img src="..//images/post_xray.jpeg" width="850">
	        	</td>
	        </tr>
	    </table>

	</div>		
</div>