<div ng-controller="OPHIP_6Ctrl">
	
	<div scroll-bookmark="OPHIP_6">

		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td width="1%" colspan="9" nowrap>
					<span style="font-family: Helvetiker; font-size:30px; color: #000; letter-spacing: 3px; font-style: italic;">
			    		&nbsp;
			    	</span>
			    </td>
			</tr>

			<tr>
				<td width="1%" nowrap>
					Operative Blood Loss
				</td>
				<td>
					<input type="text" class="form-control" ng-model="ophip6.BloodLoss">
				</td>
			</tr>

			<tr>
				<td nowrap>
					Closure
				</td>
				<td nowrap>
					    <input type="radio" value="Subcuticular" ng-model="ophip6.Closure"> Subcuticular
					<br><input type="radio" value="Staples" ng-model="ophip6.Closure"> Staples
					<br><input type="radio" value="Direct Skin Suture" ng-model="ophip6.Closure"> Direct Skin Suture
				</td>
			</tr>

			<tr>
				<td>
					Compression Dressings Applied
				</td>
				<td nowrap>
					<input type="radio" value="YES" ng-model="ophip6.CompressionDressings" checked> Yes
					&nbsp;&nbsp;&nbsp;&nbsp;
					<input type="radio" value="NO" ng-model="ophip6.CompressionDressings"> No
				</td>
			</tr

			<tr>
				<td nowrap>
					POST - Operative Course:
				</td>
				<td>
					<input type="text" class="form-control" ng-model="ophip6.OperativeCourse">
				</td>
			</tr>

			<tr>
				<td nowrap>
					Operative Findings:
				</td>
				<td>
					<textarea class="form-control" rows="3" ng-model="ophip6.Findings"></textarea>
				</td>
			</tr>

			<tr>
				<td nowrap>
					POST Operative Diagnosis
				</td>
				<td>
					<textarea class="form-control" rows="3" ng-model="ophip6.Diagnosis"></textarea>
				</td>
			</tr>

			<tr>
				<td nowrap>
					Duration of Operation
				</td>
				<td>
					<textarea class="form-control" rows="3" ng-model="ophip6.OpDuratiion"></textarea>
				</td>
			</tr>

			<tr>
				<td nowrap>TED Stockings</td>
				<td nowrap>
					<input type="radio" value="YES" ng-model="ophip6.TEDS"> Yes &nbsp;&nbsp;
					<input type="radio" value="NO" ng-model="ophip6.TEDS"> No
				</td>
			</tr>

			<tr>
				<td nowrap>
					X-Rays
				</td>
				<td>
					    <input type="radio" value="Operating Room" ng-model="ophip6.XRays"> Operating Room
					<br><input type="radio" value="Recovery Room" ng-model="ophip6.XRays"> Recovery Room
					<br><input type="radio" value="X-Ray Room" ng-model="ophip6.XRays"> X-Ray Room
				</td>
			</tr>

			<tr>
				<td nowrap>
					Others
				</td>
				<td>
					<input type="text" class="form-control" ng-model="ophip6.Others">
				</td>
			</tr>

			<tr>
				<td colspan="2" class="text-center" nowrap>
					<a class="btn btn-large btn-info" ng-click="addNew(ophip6)" style="text-decoration: none; color: #000">Save</a>
				</td>
			</tr>
		</table>


		<table class="table table-condensed table-bordered">
			<tr class="info" ng-repeat="ophip6Row in jdata_OPHIP_6">
	        	<td width="1%" style="color:black" nowrap>{{ophip6Row.Operative}}</td>
	        	<td width="1%" style="color:black" class="text-center" >{{ophip6Row.OperValue}}</td>
	            <td width="1%" class="text-center">
	            	<a class="btn btn-large btn-danger" ng-click="removeItem(ophip6Row)" style="text-decoration: none">
	            		DELETE
	            	</a>
	        	</td>
                <td></td>
	        </tr>
	    </table>

	</div>		
</div>