<div ng-controller="OPHIP_3Ctrl">
	
	<div scroll-bookmark="OPHIP_3">

		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td width="1%" colspan="9" nowrap>
					<span id="DGL_module_header">
			    		HIP Implant
			    	</span>
			    </td>
			</tr>

			<tr class="active">
				<!--td nowrap>
					Type of HIP replacement<br>
					<input type="radio" ng-model="ophip3.TypeOfHIPRep" value="Cemented">Cemented
					<br>
					<input type="radio" ng-model="ophip3.TypeOfHIPRep" value="Hybrid">Hybrid
					<br>
					<input type="radio" ng-model="ophip3.TypeOfHIPRep" value="Cement Less">Cement Less
				</td -->
			
				<td nowrap>
					Implants Used
					<br>
					<input type="text" class="form-control" ng-model="ophip3.ImplantUsed">
				</td>
			</tr>

			<tr class="active">
				<td colspan="9" nowrap>
					<span style="font-family: Helvetiker; font-size:30px; letter-spacing: 3px; font-style: italic;">
			    		Acetabular Component
			    	</span>
				</td>
			</tr>



			<tr class="active">
				<td nowrap>
					<input type="text" class="form-control" ng-model="ophip3.AcetabularComponent">
				</td>
				<td></td>
			</tr>


			<tr class="active">
				<td>
					Size
					<br>
					<input type="text" class="form-control" ng-model="ophip3.AcetSize">
				</td>

				<td>
					Screws
					<br>
					<input type="text" class="form-control" ng-model="ophip3.AcetScrews">
				</td>
			</tr>

			<!-- tr class="active">
				<td nowrap>
					Acetabular preperation
				</td>

				<td nowrap>
					<input type="radio" ng-model="ophip3.AcetPrep" value="Cemented">Cemented
					<br>
					<input type="radio" ng-model="ophip3.AcetPrep" value="Regular">Regular
				</td>
			</tr -->

			<tr class="active">
				<td colspan="9" nowrap>
					<span style="font-family: Helvetiker; font-size:30px; letter-spacing: 3px; font-style: italic;">
			    		Femoral Component
			    	</span>
				</td>
			</tr>

			<tr class="active">
				<td nowrap>
					<input type="text" class="form-control" ng-model="ophip3.FemoralComponent">
				</td>
				<td></td>
			</tr>

			<tr class="active">
				<td nowrap>
					Head Size
					<br>
					<input type="text" class="form-control" ng-model="ophip3.HeadSize">
				</td>
				<td nowrap>
					Neck Length
					<br>
					<input type="text" class="form-control" ng-model="ophip3.NeckLength">
				</td>
			</tr>

			<tr>
				<td colspan="2" class="text-center" nowrap>
					<a class="btn btn-large btn-info" style="text-decoration: none; color: #000"
					 	ng-click="addNew_HIPImplant(ophip3)">
						SAVE
					</a>
					<a class="btn btn-large btn-danger" style="text-decoration: none"
						ng-click="removeHIPImplant()">
	            		DELETE
	            	</a>
				</td>
			</tr>
		</table>
	</div>		
</div>