<div ng-controller="OPHIP_1Ctrl">
	
	<div scroll-bookmark="OPHIP_1">

		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td width="1%" colspan="9" nowrap>
					<span style="font-family: Helvetiker; font-size:30px; color: #000; letter-spacing: 3px; font-style: italic;">
			    		HIP PRE-Operative Diagnosis
			    	</span>
			    </td>
			</tr>

			<tr class="active">
				<td colspan="2" nowrap>
					<textarea class="form-control" ng-model="OPHIP_1.PreOpDiagnosis" rows="3"></textarea>
				</td>
			</tr>

			<tr>
				<td class="text-center" nowrap>
					<a class="btn btn-large btn-info" ng-click="addNew(OPHIP_1)" style="text-decoration: none; color: #000">Save</a>
				</td>
			</tr>
		</table>

		<table class="table table-condensed table-bordered">

			<tr class="info" ng-repeat="preOpDiag in jdata_OPHIP_1">
	        	
	        	<td style="color:black">{{preOpDiag.PreOpDiagnosis}}</td>

	            <td width="1%">
	            	<a class="btn btn-large btn-danger" ng-click="removeItem(preOpDiag)" style="text-decoration: none">
	            		DELETE
	            	</a>
	        	</td>
	        	
                <td width="1%">
            	</td>
	        </tr>
	    </table>

	</div>		
</div>		