<div ng-controller="OPKNEE_2Ctrl">
	<div scroll-bookmark="OPKNEE_2">
		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td width="1%" colspan="9" nowrap>
					<span id="DGL_module_header">
			    		Knee Replacement Surgery
			    	</span>
			    </td>
			</tr>
		
			<tr>
				<td width="1%" nowrap> Type of Surgery </td>
				<td class="active"> {{ surgery.SurgeryType }} </td>

				<td width="1%"> When </td>
				<td class="active"> {{ surgery.SurgeryDate | date }} </td>
				<td></td>
			</tr>

			<tr>
				<td nowrap> Surgeon </td>
				<td class="active">
					<input type="text" class="form-control" ng-model="surgery.Surgeon">
				</td>
		
				<td nowrap> Assistant/s </td>
				<td class="active">
					<input type="text" class="form-control" ng-model="surgery.Assistant">
				</td>
			</tr>

			<tr>
				<td nowrap> Internist/Cardio </td>
				<td class="active"> <input type="text" class="form-control" ng-model="surgery.Cardio"> </td>
			</tr>

			<tr>			
				<td nowrap> Anaesthesiologist </td>
				<td class="active"> <input type="text" class="form-control" ng-model="surgery.Anesthesio"> </td>
			
				<td nowrap> Type of Anesthesia</td>
				<td class="active">
					<select class="form-control" ng-model="surgery.AnesthesiaType">
						<option value=""> (select one) </option>
						<option value="Spinal"> Spinal </option>
						<option value="Epidural"> Epidural </option>
						<option value="Nerve Blocks"> Nerve Blocks </option>
					</select>
				</td>
			</tr>

			<tr>
				<td> Hospital </td>
				<td class="active">
					<input type="text" class="form-control" ng-model="surgery.Hospital" READONLY>
				</td>
			</tr>

			<tr>
				<td colspan="4" class="text-center" nowrap>
					<a class="btn btn-large btn-info" 
						ng-click="UpdateMe(surgery)" style="text-decoration: none; color: #000">
						UPDATE
					</a>
				</td>
			</tr>
		</table>

	</div>		
</div>