<script>

    // 10.0.1.99

    $(document).ready(function()
    {
        $("#hideshowPre_OPKneeXRays").show();

        $("#showPreOpKNEEXRays").click(function() 
        {
            $("#hideshowPre_OPKneeXRays").toggle(200);
        });

        $("#hideshowPre_OPKneepicture").show();

        $("#showPreOpKNEEpicture").click(function() 
        {
            $("#hideshowPre_OPKneepicture").toggle(200);
        });

        $("#hideshowPre_OPKneeVid").show();

        $("#showPreOpKNEEVid").click(function() 
        {
            $("#hideshowPre_OPKneeVid").toggle(200);
        });



        $("#hideshowPost_OPKneeXRays").show();

        $("#showPostOpKNEEXRays").click(function() 
        {
            $("#hideshowPost_OPKneeXRays").toggle(200);
        });

        $("#hideshowPost_OPKneepictures").show();

        $("#showPostOpKNEEpictures").click(function() 
        {
            $("#hideshowPost_OPKneepictures").toggle(200);
        });

        $("#hideshowPost_OPKneeVid").show();

        $("#showPostOpKNEEVid").click(function() 
        {
            $("#hideshowPost_OPKneeVid").toggle(200);
        });
    });
</script> 

<div ng-controller="OPKNEE_XRays_Ctrl">
	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<td width="1%" colspan="9" nowrap>
				<span id="DGL_module_header">
		    		PRE-Operative X-Rays KNEE
		    	</span>
		    </td>
		</tr>

		<tr class="active">
			<td class="text-center" colspan="9">
                <a class="btn btn-large btn-info" style="text-decoration: none;"
                    scroll-to-bookmark="XRAY_FINDINGS">

                    JUMP TO X-Ray Findings

                </a>
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
            	<input type="submit" id="showPreOpKNEEXRays" class="btn btn-danger" value="GROSS IMAGES - PRE OP">
			</td>
		</tr>

        <tr>
			<td class="text-left" colspan="9" nowrap>
            	<div id="hideshowPre_OPKneeXRays">
                	<div style="padding: 0 20px 0 20px" ng-repeat="lab_results in AllPreOpKNEExrays">
                		<br><br>
                         Date: &nbsp;&nbsp;&nbsp; 
                        <span style='font-size:24px;'>{{lab_results.RefDate | date}}</span>
                		<br>LAB Type: &nbsp;&nbsp;&nbsp; {{lab_results.LCatRID}}
        				<br> File Name: &nbsp;&nbsp;&nbsp; {{lab_results.ImageFileName}}
        				<br> Result: &nbsp;&nbsp;&nbsp; {{lab_results.Result}}
        				<br> <img ng-src="http://10.0.1.99/{{lab_results.ImageFolder}}/{{lab_results.ImageFileName}}" width="70%" class="img-rounded"> 
                	</div>
            	</div>
			</td>
        </tr>
            <tr class="warning">
            <td width="1%" colspan="9" nowrap>
                <span id="DGL_module_header">
                    POST-Operative KNEE X-Rays
                </span>
            </td>
        </tr>

        <tr class="active">
            <td class="text-center" colspan="9">
                <a class="btn btn-large btn-info" style="text-decoration: none;"
                    scroll-to-bookmark="XRAY_FINDINGS">

                    JUMP TO X-Ray Findings

                </a>
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;

                <input type="submit" id="showPostOpKNEEXRays" class="btn btn-danger" value="GROSS IMAGES - POST OP">
            </td>
        </tr>

        <tr>
            <td class="text-left" colspan="9" nowrap>
                <div id="hideshowPost_OPKneeXRays">
                    <div style="padding: 0 20px 0 20px" ng-repeat="lab_results in AllPostOpKNEExrays">
                        <br>
                         Date: &nbsp;&nbsp;&nbsp; 
                        <span style='font-size:24px;'>{{lab_results.RefDate | date}}</span>
                        <br>
                        LAB Type: &nbsp;&nbsp;&nbsp; {{lab_results.LCatRID}}
                        <br> File Name: &nbsp;&nbsp;&nbsp; {{lab_results.ImageFileName}}
                        <br> Result: &nbsp;&nbsp;&nbsp; {{lab_results.Result}}
                        <br> <img ng-src="http://10.0.1.99/{{lab_results.ImageFolder}}/{{lab_results.ImageFileName}}" width="70%" class="img-rounded">
                        <br>
                    </div>
                </div>
            </td>
        </tr>



        <tr class="warning">
            <td width="1%" colspan="9" nowrap>
                <span id="DGL_module_header">
                    PRE-Operative KNEE PICTURES
                </span>
            </td>
        </tr>
        <tr class="active">
            <td class="text-center" colspan="9">
                <input type="submit" id="showPreOpKNEEpicture" class="btn btn-danger" value="Patient Pictures">
            </td>
        </tr>

        <tr>
            <td class="text-left" colspan="9" nowrap>
                <div id="hideshowPre_OPKneepicture">
                    <div style="padding: 0 20px 0 20px" ng-repeat="lab_results in AllPreOpKNEEpictures">
                        <br> <img ng-src="http://10.0.1.99/{{lab_results.ImageFolder}}/{{lab_results.ImageFileName}}" width="70%" class="img-rounded"> 
                    </div>
                </div>
            </td>
        </tr>

        <tr class="warning">
            <td width="1%" colspan="9" nowrap>
                <span id="DGL_module_header">
                    POST-Operative KNEE Pictures
                </span>
            </td>
        </tr>

        <tr class="active">
            <td class="text-center" colspan="9">
             
                <input type="submit" id="showPostOpKNEEpictures" class="btn btn-danger" value="Patient Pictures">
            </td>
        </tr>

        <tr>
            <td class="text-left" colspan="9" nowrap>
                <div id="hideshowPost_OPKneepictures">
                    <div style="padding: 0 20px 0 20px" ng-repeat="lab_results in AllPostOpKNEEpictures">
                        <br>
                        <img ng-src="http://10.0.1.99/{{lab_results.ImageFolder}}/{{lab_results.ImageFileName}}" width="70%" class="img-rounded">
                        <br>
                    </div>
                </div>
            </td>
        </tr>

        <tr class="warning">
            <td width="1%" colspan="9" nowrap>
                <span id="DGL_module_header">
                    PRE-Operative KNEE VIDEO
                </span>
            </td>
        </tr>
        <tr class="active">
            <td class="text-center" colspan="9">
                <input type="submit" id="showPreOpKNEEVid" class="btn btn-danger" value="PRE-OP Video">
            </td>
        </tr>

        <tr>
            <td class="text-left" colspan="9" nowrap>
                <div id="hideshowPre_OPKneeVid">
                    <div class='text-center' ng-repeat="preOpVideos in PreOpVideos | orderBy : [ 'VideoDate']">
                        <br>
                        {{preOpVideos.VideoFileName}}
                        <br>
                        {{preOpVideos.VideoDate | date}}
                        <br>

                        <video width='320' height='240' ng-src="{{preOpVideos.VideoURL}}" controls> </video> 

                        <br>
                    </div>
                </div>
            </td>
        </tr>
        
        <tr class="warning">
			<td width="1%" colspan="9" nowrap>
				<span id="DGL_module_header">
		    		POST-Operative KNEE VIDEO
		    	</span>
		    </td>
		</tr>

		<tr class="active">
			<td class="text-center" colspan="9">
             
            	<input type="submit" id="showPostOpKNEEVid" class="btn btn-danger" value="POST-OP Video">
			</td>
		</tr>

        <tr>
            <td class="text-left" colspan="9" nowrap>
                <div id="hideshowPost_OPKneeVid">
                    <div class='text-center' ng-repeat="postOpVideos in PostOpVideos | orderBy : [ 'VideoDate']">
                        <br>
                        {{postOpVideos.VideoFileName}}
                        <br>
                        {{postOpVideos.VideoDate | date}}
                        <br>

                        <video width='320' height='240' ng-src="{{postOpVideos.VideoURL}}" controls> </video> 

                        <br>
                    </div>
                </div>
            </td>
        </tr>
        
        <tr class="active">
            <td class="text-center" colspan="9">
                <a class="btn btn-large btn-info" style="text-decoration: none;"
                    scroll-to-bookmark="XRAY_FINDINGS">

                    JUMP TO X-Ray Findings

                </a>
            </td>
        </tr>



    </table>

</div>