<div ng-controller="OPKNEE_5Ctrl">
	
	<div scroll-bookmark="OPKNEE_5">

		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td width="1%" colspan="9" nowrap>
					<span id="DGL_module_header">
			    		&nbsp;
			    	</span>
			    </td>
			</tr>

			<tr class="active">
				<td width="1%" nowrap>
					Operative Blood Loss
				</td>
				<td width="50%">
					<input type="text" class="form-control" ng-model="opknee5.BloodLoss">
				</td>
				<td></td>
			</tr>

			<tr class="active">
				<td nowrap>
					Closure
				</td>
				<td nowrap>
					    <input type="radio" value="Subcuticular" ng-model="opknee5.Closure"> Subcuticular
					<br><input type="radio" value="Staples" ng-model="opknee5.Closure"> Staples
					<br><input type="radio" value="Direct Skin Suture" ng-model="opknee5.Closure"> Direct Skin Suture
				</td>
			</tr>

			<tr class="active">
				<td nowrap>
					Compression Dressings Applied
				</td>
				<td nowrap>
					<input type="radio" value="YES" ng-model="opknee5.CompressionDressings" checked> Yes
					<br>
					<input type="radio" value="NO" ng-model="opknee5.CompressionDressings"> No
				</td>
			</tr>

			<tr class="active">
				<td nowrap>
					POST - Operative Course
				</td>
				<td>
					<textarea class="form-control" rows="2" ng-model="opknee5.OperativeCourse"></textarea>
				</td>
			</tr>

			<tr class="active">
				<td nowrap>
					Operative Findings
				</td>
				<td>
					<textarea class="form-control" rows="2" ng-model="opknee5.Findings"></textarea>
				</td>
			</tr>

			<tr class="active">
				<td nowrap>
					POST Operative Diagnosis
				</td>
				<td>
					<textarea class="form-control" rows="2" ng-model="opknee5.Diagnosis"></textarea>
				</td>
			</tr>

			<tr class="active">
				<td nowrap>
					Duration of Operation
				</td>
				<td>
					<textarea class="form-control" rows="2" ng-model="opknee5.OpDuration"></textarea>
				</td>
			</tr>

			<tr class="active">
				<td nowrap>TED Stockings</td>
				<td nowrap>
					<input type="radio" value="YES" ng-model="opknee5.TEDS"> Yes &nbsp;&nbsp;
					<input type="radio" value="NO" ng-model="opknee5.TEDS"> No
				</td>
			</tr>

			<tr class="active">
				<td nowrap>
					X-Rays
				</td>
				<td>
					   <input type="radio" value="Operating Room" ng-model="opknee5.XRays"> Operating Room
					<br><input type="radio" value="Recovery Room" ng-model="opknee5.XRays"> Recovery Room
					<br><input type="radio" value="X-Ray Room" ng-model="opknee5.XRays"> X-Ray Room
				</td>
			</tr>

			<tr class="active">
				<td nowrap>
					Others
				</td>
				<td>
					<input type="text" class="form-control" ng-model="opknee5.Others">
				</td>
			</tr>

			<tr>
				<td colspan="2" class="text-center" nowrap>
					<a class="btn btn-large btn-info" style="text-decoration: none; color: #000" ng-click="addNew(opknee5)">
						SAVE
					</a>
					<a class="btn btn-large btn-danger" style="text-decoration: none" ng-click="removeItem(ophip5Row)">
	            		DELETE
	            	</a>
				</td>
			</tr>
		</table>
	</div>		
</div>