<script>

    // 10.0.1.99

    $(document).ready(function()
    {
        $("#hideshowPre_OPKneeXRays").show();

        $("#showPreOpKNEEXRays").click(function() 
        {
            $("#hideshowPre_OPKneeXRays").toggle(200);
        });

        $("#hideshowPost_OPKneeXRays").show();

        $("#showPostOpKNEEXRays").click(function() 
        {
            $("#hideshowPost_OPKneeXRays").toggle(200);
        });
    });
</script> 

<div ng-controller="OPKNEE_XRays_Ctrl">
	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<td width="1%" colspan="9" nowrap>
				<span id="DGL_module_header">
		    		PRE-Operative X-Rays
		    	</span>
		    </td>
		</tr>

		<tr class="active">
			<td class="text-center" colspan="9">
                <a class="btn btn-large btn-info" style="text-decoration: none;"
                    scroll-to-bookmark="XRAY_FINDINGS">

                    JUMP TO X-Ray Findings

                </a>
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
            	<input type="submit" id="showPreOpKNEEXRays" class="btn btn-danger" value="GROSS IMAGES - PRE OP">
			</td>
		</tr>

        <tr class="info">
			<td class="text-left" colspan="9" nowrap>
            	<div id="hideshowPre_OPKneeXRays">
                	<div style="padding: 0 20px 0 20px" ng-repeat="lab_results in AllPreOpKNEExrays">
                		<br><br>
                		LAB Type: &nbsp;&nbsp;&nbsp; {{lab_results.LCatRID}}
        				<br> File Name: &nbsp;&nbsp;&nbsp; {{lab_results.ImageFileName}}
        				<br> Date: &nbsp;&nbsp;&nbsp; {{lab_results.RefDate | date}}
        				<br> Result: &nbsp;&nbsp;&nbsp; {{lab_results.Result}}
        				<br> <img ng-src="http://10.0.1.99/{{lab_results.ImageFolder}}/{{lab_results.ImageFileName}}" width="70%" class="img-rounded"> 
                	</div>
            	</div>
			</td>
        </tr>
    </table>
		
	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<td width="1%" colspan="9" nowrap>
				<span id="DGL_module_header">
		    		POST-Operative X-Rays
		    	</span>
		    </td>
		</tr>

		<tr class="active">
			<td class="text-center" colspan="9">
                <a class="btn btn-large btn-info" style="text-decoration: none;"
                    scroll-to-bookmark="XRAY_FINDINGS">

                    JUMP TO X-Ray Findings

                </a>
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;

            	<input type="submit" id="showPostOpKNEEXRays" class="btn btn-danger" value="GROSS IMAGES - POST OP">
			</td>
		</tr>

        <tr class="info">
            <td class="text-left" colspan="9" nowrap>
                <div id="hideshowPost_OPKneeXRays">
                    <div style="padding: 0 20px 0 20px" ng-repeat="lab_results in AllPostOpKNEExrays">
                        <br><br>
                        LAB Type: &nbsp;&nbsp;&nbsp; {{lab_results.LCatRID}}
                        <br> File Name: &nbsp;&nbsp;&nbsp; {{lab_results.ImageFileName}}
                        <br> Date: &nbsp;&nbsp;&nbsp; {{lab_results.RefDate | date}}
                        <br> Result: &nbsp;&nbsp;&nbsp; {{lab_results.Result}}
                        <br> <img ng-src="http://10.0.1.99/{{lab_results.ImageFolder}}/{{lab_results.ImageFileName}}" width="70%" class="img-rounded"> 
                    </div>
                </div>
            </td>
        </tr>
        
        <tr class="active">
            <td class="text-center" colspan="9">
                <a class="btn btn-large btn-info" style="text-decoration: none;"
                    scroll-to-bookmark="XRAY_FINDINGS">

                    JUMP TO X-Ray Findings

                </a>
            </td>
        </tr>



    </table>

</div>