<div ng-controller="OPKNEE_5Ctrl">
	
	<div scroll-bookmark="OPKNEE_5">

		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td width="1%" colspan="9" nowrap>
					<span style="font-family: Helvetiker; font-size:30px; color: #000; letter-spacing: 3px; font-style: italic;">
			    		Operative
			    	</span>
			    </td>
			</tr>

			<tr class="active">
				<td width="1%" nowrap>
					Operative Blood Loss
				</td>
				<td width="50%">
					<input type="text" class="form-control" ng-model="ophip5.BloodLoss">
				</td>
				<td></td>
			</tr>

			<tr class="active">
				<td nowrap>
					Closure
				</td>
				<td>
					<input type="text" class="form-control" ng-model="ophip5.Closure">
				</td>
			</tr>

			<tr class="active">
				<td nowrap>
					Compression Dressings Applied
				</td>
				<td nowrap>
					<input type="radio" value="Compression Dressings Applied: YES" ng-model="ophip5.CompressionDressings" checked> Yes
					<br>
					<input type="radio" value="Compression Dressings Applied: NO" ng-model="ophip5.CompressionDressings"> No
				</td>
			</tr>

			<tr class="active">
				<td nowrap>
					POST - Operative Course
				</td>
				<td>
					<textarea class="form-control" rows="3" ng-model="ophip5.OperativeCourse"></textarea>
				</td>
			</tr>

			<tr class="active">
				<td nowrap>
					Operative Findings
				</td>
				<td>
					<textarea class="form-control" rows="3" ng-model="ophip5.Findings"></textarea>
				</td>
			</tr>

			<tr class="active">
				<td nowrap>
					POST Operative Diagnosis
				</td>
				<td>
					<textarea class="form-control" rows="3" ng-model="ophip5.Diagnosis"></textarea>
				</td>
			</tr>

			<tr class="active">
				<td nowrap>
					Duration of Operation
				</td>
				<td>
					<textarea class="form-control" rows="3" ng-model="ophip5.OpDuratiion"></textarea>
				</td>
			</tr>

			<tr class="active">
				<td nowrap>
					X-Rays
				</td>
				<td>
					<textarea class="form-control" rows="3" ng-model="ophip5.XRays"></textarea>
				</td>
			</tr>

			<tr class="active">
				<td nowrap>
					Others
				</td>
				<td>
					<input type="text" class="form-control" ng-model="ophip5.Others">
				</td>
			</tr>

			<tr>
				<td colspan="2" class="text-center" nowrap>
					<a class="btn btn-large btn-info" ng-click="addNew(ophip5)" style="text-decoration: none; color: #000">Save</a>
				</td>
			</tr>
		</table>


		<table class="table table-condensed table-bordered">
			<tr class="info" ng-repeat="ophip5Row in jdata_OPKNEE_5">
	        	<td style="color:black">{{ophip5Row.Operative}}</td>
	        	<td style="color:black">{{ophip5Row.OperValue}}</td>
	            <td>
	            	<a class="btn btn-large btn-danger" ng-click="removeItem(ophip5Row)" style="text-decoration: none">
	            		DELETE
	            	</a>
	        	</td>
                <td></td>
	        </tr>
	    </table>

	</div>		
</div>