<div ng-controller="OPKNEE_4Ctrl">
	
	<div scroll-bookmark="OPKNEE_4">

		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td width="1%" colspan="9" nowrap>
					<span style="font-family: Helvetiker; font-size:30px; color: #000; letter-spacing: 3px; font-style: italic;">
			    		KNEE Surgical Technique
			    	</span>
			    </td>
			</tr>

			<tr class="active">
				<td width="1%" class="text-right" nowrap>
					Tourniquet used:
				</td>
				<td width="20%"nowrap>
					<input type="radio" value="1" ng-model="opknee4.Tourniquet"> YES
					<br>
					<input type="radio" value="0" ng-model="opknee4.Tourniquet"> NO
				</td>
				<td width="20%"> <textarea class="form-control" rows="2" ng-model="opknee4.TourniquetNotes"></textarea> </td>
				<td></td>
			</tr>

			<tr class="active">
				<td class="text-right" nowrap>
					Release: 
				</td>
				<td nowrap>
					<input type="radio" value="Release Before C" ng-model="opknee4.ReleaseB4C" > Before C 
					<br>
					<input type="radio" value="Release After C" ng-model="opknee4.ReleaseB4C"> After C
				</td>
				<td><textarea class="form-control" rows="2" ng-model="opknee4.ReleaseB4Notes"></textarea></td>
				<td></td>
			</tr>

			<tr class="active">
				<td width="1%" class="text-right" nowrap> Approach </td>
				<td></td>
				<td width="1%" nowrap> <textarea class="form-control" rows="2" ng-model="opknee4.Approach"></textarea> </td>
				<td></td>
			</tr>

			<tr class="active">
				<td class="text-right" nowrap>
					Subvastus: 
				</td>
				<td nowrap>
					<input type="radio" value="Subvastus: YES" ng-model="opknee4.Subvastus" > YES 
					<br>
					<input type="radio" value="Subvastus: NO" ng-model="opknee4.Subvastus"> NO
				</td>
				<td width="1%" nowrap> <textarea class="form-control" rows="2" ng-model="opknee4.SubvastusNotes"></textarea> </td>
				<td></td>
			</tr>

			<tr class="active">
				<td class="text-right" nowrap>
					Surgical Incision: 
				</td>
				<td nowrap>
					<input type="radio" value="Surgical Incision: Straight Anterior" ng-model="opknee4.SurgicalIncision" > Straight Anterior 
					<br>
					<input type="radio" value="Surgical Incision: Paramedical" ng-model="opknee4.SurgicalIncision"> Paramedical
				</td>
				<td> <textarea class="form-control" rows="2" ng-model="opknee4.SurgicalIncisionNotes"></textarea> </td>
				<td></td>
			</tr>

			<tr class="active">
				<td class="text-right" nowrap> Bone Preparation: </td>
				<!-- td nowrap>
					<input type="radio" ng-model="opknee4.BonePreparation" value="Bone Preparation: Regular" checked> Regular
					<br>
					<input type="radio" ng-model="opknee4.BonePreparation" value="Bone Preparation: Others"> Others
				</td -->
				<td></td>
				<td width="1%" nowrap> <textarea class="form-control" rows="2" ng-model="opknee4.BonePreparation"></textarea> </td>
				<td></td>
			</tr>

			<tr class="active">
				<td class="text-right">
					Cementing of components:
				</td>
				<!--td nowrap>
					<input type="radio" ng-model="opknee4.CementingComponents" value="Cementing of components: Simultameous" checked> Simultameous
					<br>
					<input type="radio" ng-model="opknee4.CementingComponents" value="Cementing of components: One After Another"> One After Another
				</td -->
				<td></td>
				<td width="1%" nowrap> <textarea class="form-control" rows="2" ng-model="opknee4.CementingComponents"></textarea> </td>
				<td></td>
			</tr>

			<tr class="active">
				<td class="text-right" nowrap>Lateral release:
				</td>
				<td nowrap>
					<input type="radio" ng-model="opknee4.LateralRelease" value="Lateral release: YES" > YES
					<br>
					<input type="radio" ng-model="opknee4.LateralRelease" value="Lateral release: NO"> NO
				</td>
				
				<td width="1%" nowrap> <textarea class="form-control" rows="2" ng-model="opknee4.LateralReleaseNotes"></textarea> </td>
				<td></td>
			</tr>

			<tr class="active">
				<td class="text-right" nowrap>
					Hemovac used
				</td>
				<td nowrap>
					<input type="radio" ng-model="opknee4.HemovacUsed" value="Hemovac used: YES"> YES
					<br>
					<input type="radio" ng-model="opknee4.HemovacUsed" value="Hemovac used: NO" > NO
				</td>
				<td></td>
				<td></td>
			</tr>

			<tr>
				<td colspan="2" class="text-center" nowrap>
					<a class="btn btn-large btn-info" ng-click="addNew(opknee4)" style="text-decoration: none; color: #000">Save</a>
				</td>
			</tr>
		</table>





		<table class="table table-condensed table-bordered">
			<tr class="info">
	        	
	            <th width="1%" class="text-center" style="color:#888" nowrwap>Tourniquet</th>
	            <th width="1%" class="text-center" style="color:#888" nowrwap>Release</th>
				<th width="1%" class="text-center" style="color:#888" nowwrap>Approach</th>

	            <th width="1%" class="text-center" style="color:#888" colspan="2" nowrwap>Subvastus</th>
	            <th width="1%" class="text-center" style="color:#888" colspan="2" nowrwap>Surgical Incision</th>
	            <th width="1%" class="text-center" style="color:#888" nowrwap>Bone Preparation</th>
	            <th width="1%" class="text-center" style="color:#888" nowrwap>Cementing Components</th>
	            <th width="1%" class="text-center" style="color:#888" colspan="2" nowrwap>Later Release</th>
	            <th width="1%" class="text-center" style="color:#888" nowrwap>Hemovac Used</th>
	            <th></th>
	            <td></td>
			</tr>

			<tr class="info" ng-repeat="ophip4Row in jdata_OPKNEE_4">
	        	<td style="color:black">{{(ophip4Row.Tourniquet == "1") ? "YES" : "NO"}}</td>
	        	<td style="color:black">{{ophip4Row.ReleaseB4C}}</td>
	        	
	        	<td style="color:black">{{ophip4Row.Approach}}</td>

	        	<td style="color:black">{{ophip4Row.Subvastus}}</td>
	        	<td style="color:black">{{ophip4Row.SubvastusNotes}}</td>

	        	<td style="color:black">{{ophip4Row.SurgicalIncision}}</td>
	        	<td style="color:black">{{ophip4Row.SurgicalIncisionNotes}}</td>

	        	<td style="color:black">{{ophip4Row.BonePreparation}}</td>

	        	<td style="color:black">{{ophip4Row.CementingComponents}}</td>
	        	<td style="color:black">{{ophip4Row.LateralRelease}}</td>
	        	<td style="color:black">{{ophip4Row.LateralReleaseNotes}}</td>
	        	<td style="color:black">{{ophip4Row.HemovacUsed}}</td>
	            <td>
	            	<a class="btn btn-large btn-danger" ng-click="removeItem(ophip4Row)" style="text-decoration: none">
	            		DELETE
	            	</a>
	        	</td>
                <td></td>
	        </tr>
	    </table>

	</div>		
</div>		