<div ng-controller="OPKNEE_3Ctrl">
	
	<div scroll-bookmark="OPKNEE_3">
		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td width="1%" colspan="9" nowrap>
					<span id="DGL_module_header">
			    		KNEE Implant
			    	</span>
			    </td>
			</tr>

			<!-- tr class="active">
				<td nowrap>
					Type of KNEE replacement<br>
					<input type="radio" ng-model="opknee3.TypeOfKNEERep" value="Cemented">Cemented
					<br>
					<input type="radio" ng-model="opknee3.TypeOfKNEERep" value="Hybrid">Hybrid
					<br>
					<input type="radio" ng-model="opknee3.TypeOfKNEERep" value="Cement Less">Cement Less
				</td -->
			
				<td nowrap>
					Implants Used
					<br>
					<textarea class="form-control" rows="2" ng-model="opknee3.ImplantUsed"></textarea>
				</td>
			</tr>

			<!-- tr class="active">
				<td colspan="9" nowrap>
					<span style="font-family: Helvetiker; font-size:30px; letter-spacing: 3px; font-style: italic;">
			    		Femoral Component
			    	</span>
				</td>
			</tr -->

			<tr class="active">
				<td nowrap>
					Femoral Component
					<br>
					<textarea class="form-control" rows="2" ng-model="opknee3.FemoralCompo" placeholder="none"></textarea>
				</td>

				<td nowrap>
					Tibia Component
					<br>
					<textarea class="form-control" rows="2" ng-model="opknee3.TibiaCompo" placeholder="none"></textarea>
				</td>
			</tr>

			<tr class="active">
				<td>
					Patella:
					<br>
					<textarea class="form-control" rows="2" ng-model="opknee3.Patella" placeholder="none"></textarea>
				</td>
			</tr>

			<tr>
				<td colspan="2" class="text-center" nowrap>
					<a class="btn btn-large btn-info" style="text-decoration: none; color: #000" ng-click="addNew(opknee3)">
						SAVE
					</a>
					<a class="btn btn-large btn-danger" style="text-decoration: none" ng-click="removeItem(opknee3Row)">
	            		DELETE
	            	</a>
				</td>
			</tr>
		</table>
	</div>		
</div>