<div ng-controller="ORPinIntraOp_Ctrl">	

	<table class="table table-bordered">					
		<tr>
			<td class="warning" colspan="12" id="DGL_module_header">
				OR Nurse
			</td>
		</tr>
		<tr>
			<td class="text-center form-inline">
				PIN
				<input type="text" ng-model="ORIntrapin.PIN" value="0" class="form-control">
				
					<a class="btn btn-large btn-info" style="text-decoration: none; color: #000" ng-click="IntraPinchecking(ORIntrapin)" > SAVE</a><br>
			</td>
		</tr>
		
	</table>
</div>	