<div ng-controller="ORPin_Ctrl"
>	
		<div class="modal fade ORNurse" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
				  	<div class="modal-dialog modal-lg">

				    	<div class="modal-content">

					      	<div class="modal-header" style="color:black; background-color: #ccc">
					    		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					    		<h4 class="modal-title" id="myModalLabel"> PIN </h4>
	      					</div>

	      					<div class='container-fluid'>

								<!-- div ng-controller="ICDCtrl" -->

		      						<table class='table table-bordered'>
		      							<tr>
											<td colspan="3" class="form-inline"> ENTER PIN
												<input type="text" ng-model="searchFilter" placeholder="Search..."/>
											</td>
										</tr>

										<!-- tr>
											<td class="text-center" colspan="9">
												<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
												<a class="btn btn-large btn-info" ng-click="addNew(ClinixOBJ.ClinixRID, ClinixOBJ.PxRID, selectedCharges)" style="text-decoration: none">
													add new </a>
											</td>
										</tr -->

		      							<tr class="warning text-center">	
			      							<td width='1%' NOWRAP>
			      								PIN
			      							</td>
											
											<td width='1%' NOWRAP>
			      								ICD Code
			      							</td>

			      							<td>
			      								icd_description
			      							</td>
		      							</tr>
		      							
										<tr ng-repeat="ICD_Item in LkUpICDCodes | filter : searchFilter | orderBy : ['icd_description'] ">
											<td>
												<a class="btn btn-info" ng-click="pickICD(ICD_Item.lkup_ICDRID, ICD_Item.icd_code, ICD_Item.icd_description)" 
													style="text-decoration:none; display:block;color:black">  
													{{ICD_Item.lkup_ICDRID}}
												</a>   
											</td>

											<td class="text-left"> {{ICD_Item.icd_code}} </td>
											<td class="text-left"> {{ICD_Item.icd_description}} </td>
									  	</tr>
									</table>

								<!-- /div -->

							</div>
							<div class="modal-footer">
						    	<button type="button" class="btn btn-danger" data-dismiss="modal">
						    		Close
						    	</button>
						    	&nbsp;&nbsp;&nbsp;
						    	ICD 10
							</div>

						</div>
					</div>
				</div>





	<table class="table table-bordered">					
		<tr>
			<td class="warning" colspan="12" id="DGL_module_header">
				OR Nurse
			</td>
		</tr>
		<tr>
			<td class="text-center">
				<button type="button" class="btn btn-info btn-inline" data-toggle="modal" data-target=".ORNurse">PIN</a>
			</td>
		</tr>
		
	</table>
</div>	