
	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<th colspan=9>
				<span id="DGL_module_header">
					UPPER EXTRIMITIES
				</span>
			</th>
		</tr>
		<tr>
			<td width='1%' class='active' nowrap>
				Shoulder
			</td>
			<td width='1%'>
				Abduct:
			</td>
			<td class='form-inline' width='1%' nowrap>
				<input type='radio'> full
				<input type='radio'> Limit
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td nowrap>
				Abduct:
			</td>
			<td class='form-inline'>
				<input type='radio'> full
				<input type='radio'> Limit
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td width='1%' class='active' nowrap>
				
			</td>
			<td>
				Int rot: 
			</td>
			<td class='form-inline'>
				<input type='radio'> full
				<input type='radio'> Limit
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td width='1%' class='active' nowrap>
				
			</td>
			<td >
				Ext rot:
			</td>
			<td class='form-inline'>
				<input type='radio'> full
				<input type='radio'> Limit
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td width='1%' class='active' nowrap>
				
			</td>
			<td>
				Pron:
			</td>
			<td class='form-inline'>
				<input type='radio'> full
				<input type='radio'> Limit
				<input type='text' class='form-control'>
			</td>
		</tr>

		<tr>
			<td width='1%' class='active' nowrap>
				
			</td>
			<td>
				Supin:
			</td>
			<td class='form-inline'>
				<input type='radio'> full
				<input type='radio'> Limit
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td width='1%' class='active' nowrap>
				Elbow
			</td>
			<td class='form-inline' nowrap>
				<input type='radio'> FROM
				<br>
				<input type='radio'> Lat epicond
				
			</td>
			<td class='form-inline' nowrap>
				<input type='radio'> Limit <input type='text' class='form-control'>
				<br>
				
				<input type='radio'> Med epicond
			</td>
		</tr>
		<tr>
			<td width='1%' class='active' nowrap>
				Wrists
			</td>
			<td class='form-inline' nowrap>
				<input type='radio'> FROM
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td class='form-inline' nowrap>
				Tinel's 
			</td>
			<td>
				R: <input type='radio'> - &nbsp;&nbsp; <input type='radio'> +
				<br>
				L: <input type='radio'> - &nbsp;&nbsp; <input type='radio'> +
			</td>
			<td>
				
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td class='form-inline' nowrap>
				Phanel's R
			</td>
			<td>
				R: <input type='radio'> - &nbsp;&nbsp; <input type='radio'> +
				<br>
				L: <input type='radio'> - &nbsp;&nbsp; <input type='radio'> +
			</td>
			<td>
				
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td class='form-inline' nowrap>
				Finkel R
			</td>
			<td>
				R: <input type='radio'> - &nbsp;&nbsp; <input type='radio'> +
				<br>
				L: <input type='radio'> - &nbsp;&nbsp; <input type='radio'> +
			</td>
			<td>
				
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td class='form-inline' nowrap>
				Cogwheeling
			</td>
			<td>
				<input type='radio'> Y
				<br>
				<input type='radio'> N
				<br>
				<input type='radio'> Neurovascular intact
				<br>
				<input type='radio'> No CCE
			</td>
			<td>
				<input type='radio'> Cap. refill
				<br>
				<input type='radio'> no paresthesia
				<br>
				<input type='radio'> pulses 2+
			</td>
			<td>
				
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td class='form-inline' nowrap>
				Fingers
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td>
				
			</td>
		</tr>
		<tr>
			<td colspan="8" class="text-center active">
				<a class="btn btn-large btn-info" ng-click="addNew_Spine1(spine1)" style="text-decoration: none; color: #000">SAVE</a>

				<a class="btn btn-large btn-danger" ng-click="removespine1(spine1)" style="text-decoration: none; color: #000">DELETE</a>
			</td>
		</tr>
	</table>

