
	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<th colspan=9>
				<span id="DGL_module_header">
					LOWER EXTRIMITIES
				</span>
			</th>
		</tr>
		<tr>
			<td width='1%' nowrap>
				HIP <input type='radio'> FROM
			</td>
			<td width='1%' nowrap>
				KNEE <input type='radio'> FROM
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>
				Crepitis:
			</td>
			<td>
				R
				<input type='radio'> +
				<input type='radio'> -
				<br>
				L
				<input type='radio'> +
				<input type='radio'> -
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>
			</td>
			<td>
				Ligaments
			</td>
			<td class='form-inline'>
				intact<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td>McMurray</td>
			<td>
				R
				<input type='radio'> +
				<input type='radio'> -
				<br>
				L
				<input type='radio'> +
				<input type='radio'> -
			</td>
		</tr>
		<tr>
			<td class='active'>Ankle</td>
			<td><input type='radio'> FROM</td>
		</tr>
		<tr>
			<td class='active'>Achiles</td>
			<td><input type='radio'> intact</td>
		</tr>
		<tr>
			<td class='active'>Homan's</td>
			<td>
				<input type='radio'>- 
				<input type='radio'>+
			</td>
		</tr>
		<tr>
			<td class='active'>Motor</td>
			<td class='form-inline' nowrap>
				<input type='type' class='form-control'> /5
			</td>
		</tr>
		<tr>
			<td class='active'>SLR</td>
			<td class='form-inline' nowrap>
				<input type='type' class='form-control'> -
			</td>
			<td class='form-inline' nowrap>
				<input type='type' class='form-control'> +
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>Edema</td>
			<td class='form-inline'>
				<input type='radio'> -
			</td>
			<td class='form-inline'>
				<input type='text' class='form-control'> + pitting
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td></td>
			<td nowrap class='form-inline'><input type='text' class='form-control'> + non</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>Gait</td>
			<td class='form-inline'>
				<input type='radio'> nml
			</td>
			<td>
				or limp on &nbsp;&nbsp;&nbsp;&nbsp;
				<input type='radio'> R &nbsp;&nbsp;&nbsp;&nbsp;
				<input type='radio'> L
			</td>
		</tr>
		<tr>
			<td colspan="8" class="text-center active">
				<a class="btn btn-large btn-info" ng-click="addNew_Spine1(spine1)" style="text-decoration: none; color: #000">SAVE</a>

				<a class="btn btn-large btn-danger" ng-click="removespine1(spine1)" style="text-decoration: none; color: #000">DELETE</a>
			</td>
		</tr>
	</table>

