
	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<th colspan=9>
				<span id="DGL_module_header">
					History
				</span>
			</th>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				Purpose of Visit
			</td>
			<td width='1%' nowrap>
				<input type='radio'> Vaccination 
				<br>
				<input type='radio'> Growth Monitoring
				<br>
				<input type='radio'> Nutrition/Feeding Guidance
			</td>
			<td width='1%' class='form-inline' nowrap>
				<input type='radio'> Ear-piercing
				<br>
				Others <input type='text' class='form-control'>				
			</td>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				Feeding
			</td>
			<td>
				<input type='radio'> Breastmilk 
			</td>
			<td class='form-inline'>
				<input type='radio'> Mixed Feeding
				<input type='text' class='form-control'>
			</td>
			<td class='form-inline'>
				<input type='radio'> Formula Feeding
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'>
			</td>
			<td class='form-inline'>
				Frequency of Feeding
				<input type='text' class='form-control'>
			</td>
			<td>
				 Interval Between Feeding
				 <br>
				<input type='radio'> 1-2 hours 
				<br>
				<input type='radio'> 3 - 4 hours
				<br>
				<input type='radio'> 5 - 6 hours
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td class='form-inline'>
				Breastfeeding Duration <input type='text' class='form-control'>
			</td>
			<td nowrap class='form-inline'>
				Formula Feeding <input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'>
			</td>
			<td colspan='2'>
				<input type='radio'> Decreased Breastmilk Production
				<br>
				<input type='radio'> Poor Latch
				<br>
				<input type='radio'> Nipple confusion
				<br>
				<input type='radio'> Spitting
			</td>
		</tr>
		<tr>
			<td class='active'>
			</td>
			<td class='active'>
				Frequency of Meals
			</td>
			<td>
				<input type='radio'> Once a day
				<br>
				<input type='radio'> Twice a day
				<br>
				<input type='radio'> Thrice a day
			</td>
		</tr>
		<tr>
			<td class='active'>
			</td>
			<td class='active'>
				Complementary Feeding consist
			</td>
			<td nowrap>
				<input type='radio'> Rice/Cereal
				<br>
				<input type='radio'> Meat 
				<br>
				<input type='radio'> Vegetable
				<br>
				<input type='radio'> Fruits
			</td>
			<td>

			</td>
		</tr>
		<tr>
			<td class='active'>
				
			</td>
			<td class='active'>
				Complementary Feeding given
			</td>
			<td nowrap>
				<input type='radio'> Pureed/Blended
				<br>
				<input type='radio'> Mashed  
				<br>
				<input type='radio'> Chopped
				<br>
				<input type='radio'> Table Food
			</td>
		</tr>
		
		<tr>
			<td class='active'>
			</td>
			<td class='active'>
				1 year Up Food Preferences
			</td>
			<td class='form-inline'>
				<input type='radio'> None
				<br>
				<input type='radio'> Meats
				<br>
				<input type='radio'> Rice/Cereal
			</td>
			<td>
				<input type='radio'> Vegetables
				<br> 
				<input type='radio'> Sweets/Junk Food 
			</td>
			<td>

			</td>
		</tr>
		
		<tr>
			<td class='active'>
			</td>
			<td class='active'>
				Supplements Taken
			</td>
			<td>
				<input type='radio'> Multivitamins and  Minerals
				<br>
				<input type='radio'> Iron
				<br>
				<input type='radio'> Vitamin C
			</td>
			<td>
				<input type='radio'> Vitamin C plus Zinc
				<br>
				<input type='radio'> Zinc
			</td>
		</tr>
		<tr>
			<td class='form-inline active'>
				Defecation/Urination
			</td>
			<td class='active'>
				Frequency of Diaper 
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td class='active'>
				Frequency of Stooling
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td class='active'>
				Stool Consistency
			</td>
			<td>
				<input type='radio'> Formed
				<br>
				<input type='radio'> Soft/Mushy
			</td>
			<td>
				<input type='radio'> Mucoid
				<br>
				<input type='radio'> Hard
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td class='active'>
				Stool color
			</td>
			<td colspan='2'>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'>
				Dental
			</td>
			<td class='form-inline'>
				Onset of Teething <input type='text' class='form-control'>
			</td>
			<td class='form-inline'>
				Number of Teeth <input type='text' class='form-control'>
			</td>
			<td>
				Brushing started Tooth Paste uesed<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'>
				Deworming
			</td>
			<td class='active'>
				Last Deworming
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td class='active'>
				Stool Consistency
			</td>
			<td>
				<input type='radio'> Soft
				<br>
				<input type='radio'> Formed
				<br>
				<input type='radio'> Hard
			</td>
		</tr>
		<tr>
			<td class='active'>
				Milestones
			</td>
			<td class='active'>
				Developmental Screening
			</td>
			<td>
				<input type='checkbox'> Administer Parent’s Evaluation of Development Status
				<br>
				<input type='checkbox'> PEDS
			</td>
		</tr>
		<tr>
			<td class='active'> 
				Other Data
			</td>
			<td class='active'>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td colspan="5" class="text-center active">
				<a class="btn btn-large btn-info" ng-click="addNew_Spine1(spine1)" style="text-decoration: none; color: #000">SAVE</a>

				<a class="btn btn-large btn-danger" ng-click="removespine1(spine1)" style="text-decoration: none; color: #000">DELETE</a>
			</td>
		</tr>
	</table>