
	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<th colspan=9>
				<span id="DGL_module_header">
					Pelvis
				</span>
			</th>
		</tr>
		<tr>
			<td width='1%' nowrap>
				<input type='radio'> normal female genitalia
			</td>
		</tr>
		<tr>
			<td width='1%' class='active' nowrap>
				Vagina 
			</td>
			<td>
				<input type='radio'> moist
				<br>
				<input type='radio'> no lesions
				<br>
				<input type='radio'> atrophic
			</td>
		</tr>
		<tr>
			<td width='1%' class='active' nowrap>
				Adnexa 
			</td>
			<td nowrap>
				<input type='radio'> normal
			</td>
			<td nowrap class='form-inline'>
				R Mass <input type='text' class='form-control'> cm
				<br>
				<input type='radio'> non
				<br>
				<input type='radio'> tender
			</td>
		</tr>
		<tr>
			<td width='1%' class='active' nowrap>
				Cervix 
			</td>
			<td nowrap>
				<input type='radio'> normal
				
			</td>
			<td nowrap class='form-inline'>
				Motion Tender: 
				<input type='radio'> -
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type='radio'> +
				
			</td>
		</tr>
		<tr>
			<td width='1%' class='active' nowrap>
			</td>
			<td nowrap>
				<input type='text' class='form-control'> cm deliated
			</td>
			<td nowrap class='form-inline'>
				<input type='radio'> D/C 
				<br>
				<input type='radio'> blood
			</td>
		</tr>
		<tr>
			<td colspan="8" class="text-center active">
				<a class="btn btn-large btn-info" ng-click="addNew_Spine1(spine1)" style="text-decoration: none; color: #000">SAVE</a>

				<a class="btn btn-large btn-danger" ng-click="removespine1(spine1)" style="text-decoration: none; color: #000">DELETE</a>
			</td>
		</tr>
	</table>

