
	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<th colspan=9>
				<span id="DGL_module_header">
					Past Medical History
				</span>
			</th>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				Medical Condition
			</td>
			<td class='form-inline' width='1%' nowrap>
				 <input type="radio" ng-model="spine1.BornIn" value="Hospital"> Asthma
				 <br>
				 <input type="radio" ng-model="spine1.BornIn" value="Hospital"> Allergic Rhinitis
				 <br>
				 <input type="radio" ng-model="spine1.BornIn" value="Hospital"> Heart Disease
				 <br>
				 <input type="radio" ng-model="spine1.BornIn" value="Hospital"> Epilepsy/Seizures
			</td>
			<td class='form-inline' width='1%' nowrap>
				 Others <input type="text" ng-model="spine1.BornIn" class='form-control'>
			</td>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				Prevision Admissions
			</td>
			<td class='form-inline'>
				 <input type="text" ng-model="spine1.BornIn" class="form-control" placeholder='times'> 
			</td>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				1st Admission Diagnosis
			</td>
			<td class='form-inline'>
				 <input type="text" ng-model="spine1.BornIn" class="form-control"> 
			</td>
			<td class='form-inline'>
				 Age 
				 <input type="text" ng-model="spine1.BornIn" class="form-control"> 
			</td>
			<td class='form-inline'>
				 Surgeries Done:
				 <input type="text" ng-model="spine1.BornIn" class='form-control' placeholder='leave it blank If "NONE"'> 
			</td>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				2nd Admission Diagnosis
			</td>
			<td class='form-inline'>
				 <input type="text" ng-model="spine1.BornIn" class="form-control"> 
			</td>
			<td class='form-inline'>
				 Age 
				 <input type="text" ng-model="spine1.BornIn" class="form-control"> 
			</td>
			<td class='form-inline'>
				 Surgeries Done:
				 <input type="text" ng-model="spine1.BornIn" class='form-control' placeholder='leave it blank If "NONE"'> 
			</td>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				Common Diagnosis for Admission
			</td>
			<td class='form-inline'>
				 <input type="checkbox" ng-model="spine1.BornIn" value="Hospital"> Sepsis
				 <br>
				 <input type="checkbox" ng-model="spine1.BornIn" value="Hospital"> Dengue
				 <br>
				 <input type="checkbox" ng-model="spine1.BornIn" value="Hospital"> Gasoentrities
				 <br>
				 <input type="checkbox" ng-model="spine1.BornIn" value="Hospital"> Pneumonia 
			</td>
			<td class='form-inline'>
				 <input type="checkbox" ng-model="spine1.BornIn" value="Hospital"> Amoeba 
				 <br>
				 <input type="checkbox" ng-model="spine1.BornIn" value="Hospital"> Urinary Track Infection 
				 <br>
				 <input type="checkbox" ng-model="spine1.BornIn" value="Hospital"> Asthma 
				 <br>
				 Others <input type='text' class='form-control'>  
			</td>
			<td class='form-inline'>
				 
			</td>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				Allergies
			</td>
			<td class='form-inline' nowrap>
				If Yes: 
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td>
				Food Allergies	
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td>
				Drug Allergies	
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td>
				Others
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				Previous Infections
			</td>
			<td class='form-inline'>
				 <input type="radio" ng-model="spine1.BornIn" value='No'> Chickenpox
				 <br>
				 <input type="radio" ng-model="spine1.BornIn" value='No'> Measles
				 <br>
				 <input type="radio" ng-model="spine1.BornIn" value='No'> German Measles
				 <br>
				 <input type="radio" ng-model="spine1.BornIn" value='No'> Mumbes
			
			<td class='form-inline'>
				 <input type="radio" ng-model="spine1.BornIn" value='No'> Tuberculosis
				 <br>
				 <input type="radio" ng-model="spine1.BornIn" value='No'> Typhoid
				 <br>
				  <input type="radio" ng-model="spine1.BornIn" value='Hepatitis A'> Hepatitis A
				 <br>
				  <input type="radio" ng-model="spine1.BornIn" value='Hepatitis B'> Hepatitis B
				 <br>
			</td>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				Maintenance Medications
			</td>
			<td class='form-inline' nowrap>
				 <input type="radio" ng-model="spine1.BornIn" value='No'> None
			</td>
			<td class='form-inline' colspan='2' nowrap>
				<input type="radio" ng-model="spine1.BornIn" value='No'> Vitamines and Mineral Supplements
			</td>
		</tr>
		<tr>
			<td class='active'>
			</td>
			<td class='form-inline' nowrap>
				Maitenance Drugs:
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				Accidents
			</td>
			<td nowrap class='form-inline' colspan='2'>
				If Yes Please Specify:
				<input type="text" ng-model="spine1.BornIn" class='form-control'> 
			</td>
		</tr>
		<tr>
			<td colspan="10" class="text-center active">
				<a class="btn btn-large btn-info" ng-click="addNew_Spine1(spine1)" style="text-decoration: none; color: #000">SAVE</a>

				<a class="btn btn-large btn-danger" ng-click="removespine1(spine1)" style="text-decoration: none; color: #000">DELETE</a>
			</td>
		</tr>
	</table>