
	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<th colspan=9>
				<span id="DGL_module_header">
					BACK
				</span>
			</th>
		</tr>
		<tr>
			<td class='form-inline active'>
				Flex
			</td>
			<td class='form-inline'>
				<input type='text' class='form-control'>
			</td>
			<td class='form-inline'>
				toe touch
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='form-inline active'>
				Ext
			</td>
			<td class='form-inline'>
				<input type='text' class='form-control'>
			</td>
			<td class='form-inline'>
				toe touch
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='form-inline active'>
				Lat Bend
			</td>
			<td class='form-inline'>
				<input type='text' class='form-control'> degrees
			</td>
		</tr>
		<tr>
			<td class='form-inline active'>
				Lat Rot
			</td>
			<td class='form-inline'>
				<input type='text' class='form-control'> degrees
			</td>
		</tr>
		<tr>
			<td class='active'>
				Paraspinous musles:
			</td>
			<td>
				<input type='radio' > NT
			<br>
				<input type='radio' > Thoracic
				<input type='radio' > R
				<input type='radio' > L
				<input type='radio' > B
			<br>
				<input type='radio' > Lumber
				<input type='radio' > R
				<input type='radio' > L
				<input type='radio' > B
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td class='form-inline'>
				Scoliosis  
				<input type='text' class='form-control'> degrees
			</td>
			<td>
				<input type='radio' > No CVAT
			</td>
		</tr>
		<tr>
			<td colspan="8" class="text-center active">
				<a class="btn btn-large btn-info" ng-click="addNew_Spine1(spine1)" style="text-decoration: none; color: #000">SAVE</a>

				<a class="btn btn-large btn-danger" ng-click="removespine1(spine1)" style="text-decoration: none; color: #000">DELETE</a>
			</td>
		</tr>
	</table>

