
	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<th colspan=9>
				<span id="DGL_module_header">
					History
				</span>
			</th>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				Chief Complaint
			</td>
			<td width='1%' nowrap>
				<input type='radio'> Fever 
				<br>
				<input type='radio'> Cough
				<br>
				<input type='radio'> Colds
				<br>
				<input type='radio'> Difficulty of Breathing
				<br>
				<input type='radio'> Poor Suck
			</td>
			<td width='1%' nowrap>
				<input type='radio'> Jaudice
				<br>
				<input type='radio'> Diarrhea
				<br>
				<input type='radio'> Constipation
				<br>
				<input type='radio'> Rash				
			</td>
		</tr>
		<tr>
			<td class='active'>
			</td>
			<td>
				Others
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				Fever
			</td>
			<td class='active'>
				Duration of Fever 
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'>
			</td>
			<td class='active'>
				Fever Pattern
			</td>
			<td nowrap>
				<input type='radio'> Continuous
				<br>
				<input type='radio'> Remittent
				<br>
				<input type='radio'> Intermittent
			</td>
		</tr>
		<tr>
			<td class='active' colspan='2'>
				Documented, Max Temperature at Home 
			</td>
			<td nowrap>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'>
			</td>
			<td class='active'>
				Medication Given
			</td>
			<td  nowrap>
				<input type='radio'> None
				<br>
				<input type='radio'> Abroxol
				<br>
				<input type='radio'> Carbocisteine 
			</td>
			<td width='1%' nowrap class='form-inline'>
				<input type='radio'> Salbutamol
				<br>
				<input type='radio'> Lagundi
				<br>
				Others <input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'>
				Colds
			</td>
			<td class='active'>
				Duration of Colds
			</td>
			<td nowrap>
				<input type='text' class='form-control'>
			</td>
			<td nowrap class='form-inline'>
				Treatment Given:
				<br>
				<input type='radio'> None
				<br>
				<input type='radio'> Decongestant
				<br>
				<input type='radio'> Irrigation Suction
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>
				Difficulty of Breathing
			</td>
			<td class='active'>
				Duration of Dyspnea
			</td>
			<td nowrap>
				<input type='text' class='form-control'>
			</td>
			<td>
				Assossiated with:
				<br>
				<input type='radio'> Cyanosis
				<br>
				<input type='radio'> Grunting 
				<br>
				<input type='radio'> Fast Breathing
				<br>
				<input type='radio'> Poor Feeding
			</td>
			<td>

			</td>
		</tr>
		<tr>
			<td class='active'>
				
			</td>
			<td class='active'>
				Medications given
			</td>
			<td>
				Assossiated:
				<br>
				<input type='radio'> None
				<br>
				<input type='radio'> Ambroxol  
				<br>
				<input type='radio'> Carbocisteine
			</td>
			<td class='form-inline'>
				<br>
				<input type='radio'> Salbutamol
				<br>
				<input type='radio'> Lagundi
				<br>
				Others <input type='text' class='form-control'>
			</td>
			<td>

			</td>
		</tr>
		
		<tr>
			<td class='active'>
				Jaundice
			</td>
			<td class='active'>
				Onset of Jaudince
			</td>
			<td>
				<input type='text' class='form-control'
			</td>
			<td class='form-inline'>
				Daily  Sunlight Exposure
				<br>
				<input type='radio'> No
				<br>
				<input type='radio'> Yes
			</td>
			<td>

			</td>
		</tr>
		
		<tr>
			<td class='active'>
				Diarrhea
			</td>
			<td class='active'>
				Duration Days
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td class='form-inline active'>
				Frequency of Stooling
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td class='active'>
				Amount of Stool/episode Approximately
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td class='active'>
				Quality of Stools
			</td>
			<td>
				<input type='radio'> Watery
				<br>
				<input type='radio'> Water-lined
				<br>
				<input type='radio'> Mucoid
			</td>
			<td>
				<input type='radio'> Bloody
				<br>
				<input type='radio'> Soft
				<br>
				<input type='radio'> Mushy
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td class='active'>
				Treatment Done
			</td>
			<td colspan='2'>
				<input type='radio'> None
				<br>
				<input type='radio'> Rehydration with ORS
				<br>
				<input type='radio'> Rehydration with other fluids/water
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td class='active'>
				Last Urination/Wet Diaper
			</td>
			<td >
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'>
				Constipation
			</td>
			<td class='active'>
				Last Stooling
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td class='active'>
				Stool Consistency
			</td>
			<td>
				<input type='radio'> Soft
				<br>
				<input type='radio'> Formed
				<br>
				<input type='radio'> Hard
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td class='active'>
				Presence of Bleeding
			</td>
			<td>
				<input type='radio'> Yes
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type='radio'> No
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td class='active'>
				Previous episodes of constipation
			</td>
			<td>
				<input type='radio'> Yes
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type='radio'> No
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td class='active'>
				Treatment Done
			</td>
			<td nowrap>
				<input type='radio'>None
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type='radio'>Laxatives
			</td>
		</tr>
		<tr>
			<td class='active'>
				Rash
			</td>
			<td>
				Duration
				<input type="text" class='form-control'>
			</td>
			<td>
				Location First Noted:
				<br>
				<input type='radio'> Face
				<br>
				<input type='radio'> Nap/Neck
				<br>
				<input type='radio'> Chest
				<br>
				<input type='radio'> Abdomen
			</td>
			<td class='form-inline'>
				<br>
				<input type='radio'> Back
				<br>
				<input type='radio'> Upper Extrimities
				<br>
				<input type='radio'> Lower Extrimities
				<br>
				Other <input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'>
				Rash Type
			</td>
			<td nowrap>
				<input type="text" class='form-control'>
			</td>
			<td>
				<input type='radio'> Papules
				<br>
				<input type='radio'> Macules
				<br>
				<input type='radio'> Pustules
			</td>
			<td>
				<input type='radio'> Petechiae
				<br>
				<input type='radio'> Bullae
			</td>
		</tr>
		<tr>
			<td class='active'>
				Associated Signs/Symptoms
			</td>
			<td>
				<input type='radio'> Itchiness
				<br>
				<input type='radio'> Pus-formation
				<br>
				<input type='radio'> Scaling   
			</td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Medications Given
			</td>
			<td class='form-inline'>
				<input type='checkbox'> No
			</td>
			<td class='form-inline'>
				Yes <input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Others Data
			</td>
			<td class='form-inline'>
				<input type='text' class='form-class'>
			</td>
		</tr>
		<tr>
			<td colspan="5" class="text-center active">
				<a class="btn btn-large btn-info" ng-click="addNew_Spine1(spine1)" style="text-decoration: none; color: #000">SAVE</a>

				<a class="btn btn-large btn-danger" ng-click="removespine1(spine1)" style="text-decoration: none; color: #000">DELETE</a>
			</td>
		</tr>
	</table>