
	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<th colspan=9>
				<span id="DGL_module_header">
					HEART
				</span>
			</th>
		</tr>
		<tr>
			<td width='1%' class='active' nowrap>
				
			</td>
			<td>
				<input type='radio'> RRR w/ murmer
			</td>
		</tr>
		<tr>
			<td width='1%' class='active' nowrap>
				Murmer
			</td>
			<td>
				<input type='radio'> no rubs
				<br>
				<input type='radio'> no gallops
				<br>
				<input type='radio'> MPI WNL
			</td>
		</tr>
		
	</table>

	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<th colspan=9>
				<span id="DGL_module_header">
					LUNGS
				</span>
			</th>
		</tr>
		<tr>
			<td width='1%' class='active' nowrap>
			</td>
			<td>
				<input type='radio'> CTAB
			</td>
		</tr>
		<tr> 
			<td class='active'>
				Wheezes
			</td>
			<td>
				<input type='radio'> inspir
				<br>
				<input type='radio'> expir
				<br>
				<input type='radio'> Good air momment
			</td>
		</tr>
		<tr>
			<td width='1%' class='active' nowrap>
				Egophany
			</td>
			<td>
				<input type='radio'> -
				&nbsp;&nbsp;
				<input type='radio'> +
			</td>
		</tr>
		<tr>
			<td width='1%' class='active' nowrap>
				Tachyphremitis
			</td>
			<td>
				<input type='radio'> -
				&nbsp;&nbsp;
				<input type='radio'> +
			</td>
		</tr>
		<tr>
			<td width='1%' class='active' nowrap>
				Percussion
			</td>
			<td>
				<input type='radio'> dullness				
				<br>
				<input type='radio'> Rales
				<br>
				<input type='radio'> Rhonchi	
			</td>
		</tr>
		<tr>
			<td colspan="8" class="text-center active">
				<a class="btn btn-large btn-info" ng-click="addNew_Spine1(spine1)" style="text-decoration: none; color: #000">SAVE</a>

				<a class="btn btn-large btn-danger" ng-click="removespine1(spine1)" style="text-decoration: none; color: #000">DELETE</a>
			</td>
		</tr>
	</table>

