
	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<th colspan=9>
				<span id="DGL_module_header">
					Date of Consult
				</span>
			</th>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				Age at visit
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td width="1%" class='form-inline active'>
				Antropometrics
			</td>
			<td width='1%' class='active'>
				Weight
			</td>
		
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
			<td class='active'></td>
			<td class='active'>
				Length
			</td>
		
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td nowrap class='active'>
				Head Circumference
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		
		<tr>
			<td colspan="4" class="text-center active">
				<a class="btn btn-large btn-info" ng-click="addNew_Spine1(spine1)" style="text-decoration: none; color: #000">SAVE</a>

				<a class="btn btn-large btn-danger" ng-click="removespine1(spine1)" style="text-decoration: none; color: #000">DELETE</a>
			<td>
		</tr>
	</table>