
	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<th colspan=9>
				<span id="DGL_module_header">
					Review Of Systems
				</span>
			</th>
		</tr>
		<tr class='text-center'>
			<td width="1%" class='active' nowrap></td>
			<td width="1%" class='active' nowrap>Yes</td>
			<td width="1%" class='active' nowrap>No</td>
			<td width="30%" class='active' nowrap>Remarks</td>
		<tr>
		<tr>
			<td class='active'>
				Consultation
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'>
				Poor Weight Gain
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'>
				Stunted
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'>
				Weighted Loss
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'>
				Poor Appetite
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>
				Feeding Difficulty
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>
				Eyes
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>
				Visual Problems
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>
				Puffy Eyelids
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>
				Eye Pain
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>
				Ear Discharged
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>
				Hearing Problems
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>
				Eye Pain
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Ears, Nose, Throat, Mouth
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Ear Pain
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Ear Discharge
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Hearing Problem
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Nasal Secretions
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Nasal Congestion
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Sore throat
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Halitosis
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Dental Caries
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Cardiovascular
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Fainting
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Squating
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Cynosis (blue color)
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Heart murmur/heart problems
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				High blood pressure
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Orthopnea
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Respiratory
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Shortness of Breath
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Cough
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Gastrointestinal
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Diarrhea
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Constipation
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Abdominal Pain
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Blood in Stools
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Vomitting
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Musculoskeletal
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Muscle Pain
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Joint Pain
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Genitourinary
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Blood in Urine
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Dysuria
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Polyuria
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Olliguria/Anuria
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Urinary Retention
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Urinary Frequency
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Skin
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Rash
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Neurologic
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Headache
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Seizures
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Developmental Delay
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Psychiatric
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Behavioral Changes
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Hematologic
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Pallor
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Abnormal Bleeding
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Others
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Smoking
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Alchohol Use
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Drug Use
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' nowrap>
				School Problems
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='radio'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td colspan="8" class="text-center active">
				<a class="btn btn-large btn-info" ng-click="addNew_Spine1(spine1)" style="text-decoration: none; color: #000">SAVE</a>

				<a class="btn btn-large btn-danger" ng-click="removespine1(spine1)" style="text-decoration: none; color: #000">DELETE</a>
			</td>
		</tr>
	</table>