
	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<th colspan=9>
				<span id="DGL_module_header">
					Family Information
				</span>
			</th>
		</tr>
		<tr>
			<td class='active'>Fathers Name</td>
			<td colspan='2'>
				<input type='text' class='form-control'>
			</td>
			<td class='active' width='1%'>Age:</td>
			<td width='10%'>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active' width='1%'>
				Profession/Work/Occupation
			</td>
			<td colspan='2'>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'>Mothers Name</td>
			<td colspan='2'>
				<input type='text' class='form-control'>
			</td>
			<td class='active' width='1%'>Age:</td>
			<td width='10%'>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			
			
		</tr>
		<tr>
			<td class='active' width='1%'>
				Profession/Work/Occupation
			</td>
			<td colspan='2'>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active' width='1%'>
				Status of Parents 
			</td>
			<td width='1%' nowrap>
				<input type='radio'> Single
				<br>
				<input type='radio'> Married
				<br>
				<input type='radio'> Separated
			</td>
			<td width='1%' nowrap>
				<input type='radio'> Living in together
				<br>
				<input type='radio'> Widowed
			</td>
		</tr>
		<tr>
			<td class='active' width='1%'>
				Number of Siblings
			</td>
			<td colspan='2' class='form-inline'>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active' width='1%'>
				Patient’s birth Rank
			</td>
			<td colspan='2' class='form-inline'>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active' width='1%'>
				Household
			</td>
			<td colspan='2' class='form-inline'>
				Number of people leaving with the child
				<input type='text' class='form-control'>
				<br>
				<input type='radio'> Smokers in the Household
				<br>
				<input type='radio'> Pets at Home
			</td>
		</tr>
		<tr>
			<td class='active' width='1%'>
				Family Home Address
			</td>
			<td colspan='2'>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active' width='1%'>
				Contact Number
			</td>
			<td colspan='2'>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active' width='1%'>
				Email
			</td>
			<td colspan='2'>
				<input type='text' class='form-control'>
			</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td colspan="10" class="text-center active">
				<a class="btn btn-large btn-info" ng-click="addNew_Spine1(spine1)" style="text-decoration: none; color: #000">SAVE</a>

				<a class="btn btn-large btn-danger" ng-click="removespine1(spine1)" style="text-decoration: none; color: #000">DELETE</a>
			</td>
		</tr>
	</table>