
	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<th colspan=9>
				<span id="DGL_module_header">
					Info
				</span>
			</th>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>Born In:</td>
			<td colspan="2" class='form-inline'>
				<input type="radio" ng-model="spine1.BornIn" value="Hospital"> Hospital
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" ng-model="spine1.BornIn" value="Lying-in Center"> Lying-in Center
				&nbsp;&nbsp;&nbsp;&nbsp;
				Others
				<input type="text" ng-model="spine1.BornInOthers" class='form-control iput-sm'>
				<br>
				<input type="radio" ng-model="spine1.BornIn" value="Health Center"> Health Center
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" ng-model="spine1.BornIn" value="Home"> Home
			</td>
		</tr>
		<tr>
			<td class="active" nowrap>Birth History:</td>
			<td nowrap class='active' width='1%'> Birth Weight</td>
			<td class='form-inline'>
				<input type="text" class='form-control' ng-model="spine1.BirthWeight" placeholder='kg'>
			</td>
		</tr>
		<tr>
			<td class='active'>
			</td>			
			<td class='active'>
				Birth Length 
			</td>
			<td class='form-inline'>
				<input type="text" class='form-control' ng-model="spine1.BirthLength" placeholder='cm'>
			</td>
		</tr>
		<tr>
			<td class="active">

			</td>
			<td colspan='2'>
				<input type="radio" ng-model="spine1.AGA" value="AGA">AGA
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" ng-model="spine1.SGA" value="SGA">SGA
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" ng-model="spine1.LGA" value="LGA">LGA
			</td>
		</tr>
		<tr>
			<td class='active'>
			</td>
			<td colspan='2'>
				<input type="radio" ng-model="spine1.AGA" value="Born">Born
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" ng-model="spine1.SGA" value="SGA">Fullterm
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" ng-model="spine1.LGA" value="LGA">Preterm
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" ng-model="spine1.LGA" value="LGA">Postterm
			</td>
		</tr>
		<tr>
			<td class='active'>
			</td>
			<td nowrap class='active'>
				Length of Pregnancy
			</td>
			<td class='form-inline'>
				<input type="text" ng-model="spine1.LGA" class='form-control'> Weeks (if recalled)
			</td>
		</tr>
		<tr>
			<td class='active'>
			</td>
			<td colspan='2'>
				<input type="radio" ng-model="spine1.AGA" value="Via">Via
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" ng-model="spine1.SGA" value="SGA">Spontaneous Viginal Delivery
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" ng-model="spine1.LGA" value="LGA">Cesarian Section
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" ng-model="spine1.LGA" value="LGA">VBAC
			</td>
		</tr>
		<tr>
			<td class='active'>
			</td>
			<td colspan='2'>
				<input type="radio" ng-model="spine1.LGA" value="LGA">Forcepts Delivery
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" ng-model="spine1.LGA" value="LGA">Vacuum-Assisted
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" ng-model="spine1.LGA" value="LGA">Induced Vaginal Delivery
				&nbsp;&nbsp;&nbsp;&nbsp;
			</td>
		</tr>
		<tr>
			<td class='active'>
			</td>
			<td class='active'>
				Discharged After
			</td>
			<td class='form-inline'>
				<input type="text" ng-model="spine1.LGA" class='form-control'> day/s
			</td>
		</tr>
		<tr>
			<td class='active'>
			</td>
			<td class='active'>
				Admitted Confined
			</td>
			<td class='form-inline'>
				<input type="text" ng-model="spine1.LGA" class='form-control'> day/s
			</td>
		</tr>
		<tr>
			<td class='active'>
			</td>
			<td class='active' nowrap>
				Reason Confinement
			</td>
			<td>
				<input type="radio" ng-model="spine1.LGA" value="LGA">Prematurity
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" ng-model="spine1.LGA" value="LGA">Sepsis/Pneumonia/Infection
				&nbsp;&nbsp;&nbsp;&nbsp;
				<br>
				<input type="radio" ng-model="spine1.LGA" value="LGA">Jaundice
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" ng-model="spine1.LGA" value="LGA">Meconium Stained/Aspiration
				&nbsp;&nbsp;&nbsp;&nbsp;
			</td>
		</tr>
		<tr>
			<td class='active'>
			</td>
			<td class='active' nowrap>
				
			</td>
			<td class='form-inline'>
				Other
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active text-right' colspan='2'nowrap>
				Reason For Confinement
			</td>
			<td class='form-inline'>
				<input type="radio" ng-model="spine1.LGA" value="LGA">No
				&nbsp;&nbsp;&nbsp;&nbsp;
				Yes:
				<input type="radio" ng-model="spine1.LGA" value="LGA">Intubated
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" ng-model="spine1.LGA" value="LGA">Not Intubated
				&nbsp;&nbsp;&nbsp;&nbsp;
			</td>
		</tr>
		<tr>
			<td class='active'>
			</td>
			<td class='active' nowrap>
				
			</td>
			<td class='form-inline'>
				How Long
				<input type="text" ng-model="spine1.LGA" class='form-control'>
				&nbsp;&nbsp;&nbsp;&nbsp;
			</td>
		</tr>
		<tr>
			<td class='active' colspan='4'>
				Physical Abnormalities After Birth
			</td>
		</tr>
		<tr>
			<td class='active'>
			</td>
			<td class='active' >
				Vacination at birth
			</td>
			<td>
				<input type="radio" ng-model="spine1.LGA" value="LGA">Intubated
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" ng-model="spine1.LGA" value="LGA">Not Intubated
				&nbsp;&nbsp;&nbsp;&nbsp;
			</td>
		</tr>
		<tr>
			<td class='active text-right' colspan='2'>
				New born screening result
			</td>
			<td class='form-inline'>
				<input type="radio" ng-model="spine1.LGA" value="LGA">Not Done
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" ng-model="spine1.LGA" value="LGA">Normal
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" ng-model="spine1.LGA" value="LGA">Confirmatory Testing Done
				&nbsp;&nbsp;&nbsp;&nbsp;
			</td>
		</tr>
		<tr>
			<td class='active' colspan='2'>
			</td>
			<td class='form-inline'>
				Abnormal <input type="text" ng-model="spine1.LGA" class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active text-right' colspan='2'>
				New Hearing Screen Results
			</td>
			<td class='form-inline'>
				<input type="radio" ng-model="spine1.LGA" value="LGA">Not Done
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" ng-model="spine1.LGA" value="LGA">Normal
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" ng-model="spine1.LGA" value="LGA">Abnormal
				&nbsp;&nbsp;&nbsp;&nbsp;
			</td>
		</tr>
		
		<tr>
			<td colspan="4" class="text-center active">
				<a class="btn btn-large btn-info" ng-click="addNew_Spine1(spine1)" style="text-decoration: none; color: #000">SAVE</a>

				<a class="btn btn-large btn-danger" ng-click="removespine1(spine1)" style="text-decoration: none; color: #000">DELETE</a>
			<td>
		</tr>
	</table>