
	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<th colspan=9>
				<span id="DGL_module_header">
					GENITALS
				</span>
			</th>
		</tr>
			<td width='1%' class='active' nowrap>
				PENIS
			</td>
		<tr>
			<td class='active'>
			</td>
			<td nowrap>
				<input type='radio'> circumsised
				<br>
				<input type='radio'> non-circ
				<br>
				<input type='radio'> warts
				<br>
				<input type='radio'> lesions
			</td>
		</tr>
		<tr>
			<td width='1%' class='active' nowrap>
				Testes 
			</td>
			<td  width='1%' nowrap>
				Size:
				<br>
				<input type='radio'> nml
				<br>
				<input type='radio'> large
				<br>
				<input type='radio'> sml
				<br>
				<input type='radio'> tender
			</td>
			<td nowrap>
				<br>
				<input type='radio'> hydrocele
				<br>
				<input type='radio'> R
				<br>
				<input type='radio'> L
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>
			</td>
			<td nowrap>
				Epididy:
				<br>
				<input type='radio'> non
				<br>
				<input type='radio'> tender
			</td>
			<td></td>
		</tr>
		<tr>
			<td colspan="8" class="text-center active">
				<a class="btn btn-large btn-info" ng-click="addNew_Spine1(spine1)" style="text-decoration: none; color: #000">SAVE</a>

				<a class="btn btn-large btn-danger" ng-click="removespine1(spine1)" style="text-decoration: none; color: #000">DELETE</a>
			</td>
		</tr>
	</table>

