
	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<th colspan=9>
				<span id="DGL_module_header">
					RECTAL
				</span>
			</th>
		</tr>
			<td width='1%' class='active' nowrap>
				<input type='radio'> No Masses
			</td>
		<tr>
			<td width='1%' class='active' nowrap>
				Sphincter 
			</td>
			<td>
				<input type='radio'> good tone
				<br>
				<input type='radio'> Fissue
				<br>
				<input type='radio'> none
				<br>
				<input type='radio'> Present
			</td>
		</tr>
		<tr>
			<td width='1%' class='active' nowrap>
				Hemorrhoids 
			</td>
			<td nowrap>
				<input type='radio'> none
				<br>
				<input type='radio'> exter
				<br>
				<input type='radio'> internal
			</td>
			
		</tr>
		<tr>
			<td width='1%' class='active' nowrap>
				Prostate 
			</td>
			<td nowrap>
				<input type='radio'> non-enlarged
				<br>
				<input type='radio'> no masses
				<br>
				<input type='radio'> hypertrophield
			</td>
			<td nowrap class='from-inline'>
				<input type='radio'> calcification
				<br>
				<input type='radio'> rubbery mass
				<br>
				Location <input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td width='1%' class='active' nowrap>
				Stool guaic
			</td>
			<td nowrap>
				<input type='radio'> +
				<input type='radio'> -
			</td>
		</tr>
		<tr>
			<td colspan="8" class="text-center active">
				<a class="btn btn-large btn-info" ng-click="addNew_Spine1(spine1)" style="text-decoration: none; color: #000">SAVE</a>

				<a class="btn btn-large btn-danger" ng-click="removespine1(spine1)" style="text-decoration: none; color: #000">DELETE</a>
			</td>
		</tr>
	</table>

