
	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<th colspan=9>
				<span id="DGL_module_header">
					General
				</span>
			</th>
		</tr>
		<tr>
			<td width='1%' nowrap>
				<input type='radio'> AAOx4
				<br>
				<input type='radio'> WDWN
				<br>
				<input type='radio'> non-toxic
				<br>
				<input type='radio'> cooperative
			</td>
			<td width='1%' nowrap>
				<input type='radio'> Anxious
				<br>
				<input type='radio'> Disheveled
			</td>
			<td></td>
		</tr>
		<tr>
			<td colspan="8" class="text-center active">
				<a class="btn btn-large btn-info" ng-click="addNew_Spine1(spine1)" style="text-decoration: none; color: #000">SAVE</a>

				<a class="btn btn-large btn-danger" ng-click="removespine1(spine1)" style="text-decoration: none; color: #000">DELETE</a>
			</td>
		</tr>
	</table>