
	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<th colspan=9>
				<span id="DGL_module_header">
					Physical Examination
				</span>
			</th>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				Vital signs
			</td>
			<td width='1%' nowrap>
				Temperature
			</td>
			<td>
				<input type='text' class='form-control' placeholder='C'>
			</td>  
			<td width='1%' nowrap>
				HR
			</td>
			<td>
				<input type='text' class='form-control' placeholder='bpm'>
			</td> 
		</tr>
		<tr>
			<td class='active'>
			</td>
			<td width='1%' nowrap>
				RR
			</td>
			<td>
				<input type='text' class='form-control' placeholder='cpm'>
			</td> 
			<td width='1%' nowrap>
				BP
			</td>
			<td>
				<input type='text' class='form-control' placeholder="mmHg">
			</td> 
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				General Status
			</td>
			<td colspan='2' nowrap>
				<input type='radio'> Active Playful
				<br>
				<input type='radio'> Weak/Lethargic
				<br>
				<input type='radio'> Irritable
			</td>
			<td colspan='2' nowrap width='1%'>
				<input type='radio'> In Pain 
				<br>
				<input type='radio'> Dysmorphology/Facies
				<br>
				<input type='radio'> Abnormal Gait
			</td>  
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				Skin
			</td>
			<td colspan='2' nowrap>
				<input type='radio'> Normal
				<br>
				<input type='radio'> Pallor
				<br>
				<input type='radio'> Cyanotic
			</td>
			<td colspan='2' class='form-inline' nowrap>
				<input type='radio'> Rash
				<br>
				Others <input type='text' class='form-control'>
			</td>  
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				Head
			</td>
			<td colspan='2' nowrap>
				<input type='radio'> Normal
				<br>
				<input type='radio'> Skull Deformity
				<br>
				<input type='radio'> mass
			</td>
			<td colspan='2' class='form-inline' nowrap>
				<input type='radio'> alopecia
				<br>
				<input type='radio'> Scalp lesions/rash
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td colspan='2'>
				Fontanelles
				<br>
				<input type='checkbox'> Closed
				<br>
				<input type='checkbox'> Soft
				<br>
				<input type='checkbox'> Hard
			</td>
			<td colspan='2'>
				<input type='checkbox'> Bulging
				<br>
				<input type='checkbox'> Sunken
			</td>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				Eye
			</td>
			<td colspan='2' nowrap>
				<input type='radio'> Normal
				<br>
				<input type='radio'> Red-Orange Reflex
				<br>
				<input type='radio'> Eye Discharge
			</td>
			<td colspan='2' class='form-inline' nowrap>
				 Sclerae
				 <br>
				 <input type='checkbox'> Icteric
				 <br>
				 <input type='checkbox'> Anicteric
				 <br>
				 <input type='checkbox'> Erythematous
			</td>
		</tr>
		<tR>
			<td class='active'></td>
			<td colspan='2' nowrap>
				Conjunctivae
				<br>
				<input type='checkbox'> Pink
				<br>
				<input type='checkbox'> Pale
				<br>
				<input type='checkbox'> Erythematous
			</td>
			<td nowrap colspan='2'>
				Abnormal Alignment
				<br>
				<input type='checkbox'> Esotropia
				<br>
				<input type='checkbox'> Exotropia
			</td>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				Ears
			</td>
			<td colspan='2' nowrap>
				<input type='radio'> Normal
				<br>
				<input type='radio'> Ear Discharge
				<br>
				<input type='radio'> Impacted Cerumen
				<br>
				<input type='radio'> Pain upon pulling Earlobe 
			</td>
			<td colspan='2' class='form-inline' nowrap>
				 Tympanic Membrane
				 <br>
				 <input type='checkbox'> Intact
				 <br>
				 <input type='checkbox'> Perforated
				 <br>
				 <input type='checkbox'> Inflammed
				 <br>
				 <input type='checkbox'> Bluish
			</td>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				Nose
			</td>
			<td colspan='2' nowrap>
				<input type='radio'> Normal
				<br>
				<input type='radio'> Nasal Secretions
				<br>
				<input type='radio'> Nasal Polyp
				<br>
				<input type='radio'> Sinus Tenderness 
			</td>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				Mouth
			</td>
			<td colspan='2' nowrap>
				<input type='radio'> Normal
				<br>
				<input type='radio'> Dental Caries 
				<br>
				<input type='radio'> Decayed Teeth
				<br>
				<input type='radio'> Oral Ulcers 
			</td>
			<td colspan='2'>
				<input type='radio'> Teething Gums
				<br>
				<input type='radio'> Gum Bleeding
				<br>
				<input type='radio'> Oral Abscess
			</td>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				Throat
			</td>
			<td colspan='2' nowrap>
				<input type='radio'> Normal
				<br>
				<input type='radio'> Tonsillar Congestion
				<br>
				<input type='radio'> Tonsillar Exudates
				<br>
				<input type='radio'> Pharyngeal Erythema 
			</td>
			<td colspan='2'>
				<input type='radio'> Teething Gums
				<br>
				<input type='radio'> Gum Bleeding
				<br>
				<input type='radio'> Oral Abscess
			</td>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				Neck
			</td>
			<td colspan='2' nowrap>
				<input type='radio'> Normal
				<br>
				<input type='radio'> Cervical Lymphadenopathy 
				<br>
				<input type='radio'> Neck Vein Engorgement 
			</td>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				Lungs
			</td>
			<td colspan='2' nowrap>
				<input type='radio'> Normal
				<br>
				<input type='radio'> Unequal Chest Expansion 
				<br>
				<input type='radio'> Neck Vein Engorgement
				<br>
				<input type='radio'> Unequal Breath Sounds
			</td>
			<td colspan='2' class='form-inline' nowrap>
				 Retractions:
				 <br>
				 <input type='checkbox'> Intercostal
				 <br>
				 <input type='checkbox'> Subcostal
				 <br>
				 <input type='checkbox'> Suprasternal
			</td>
		</tr>
		<tr>
			<td class='active'>
			</td>
			<td colspan='2' class='form-inline' nowrap>
				Abnormal Breath Sounds
				 <br>
				 <input type='checkbox'> Crackles
				 <br>
				 <input type='checkbox'> Wheeze
				 <br>
				 <input type='checkbox'> Ronchi
			</td>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				Heart
			</td>
			<td colspan='2' nowrap>
				<input type='radio'> Normal
				<br>
				<input type='radio'> Dynamic Precordium 
				<br>
				<input type='radio'> Precordial Bulge
				<br>
				<input type='radio'> Friction Rub
			</td>
			<td colspan='2' class='form-inline' nowrap>
				 Murmur:
				 <br>
				 <input type='checkbox'> Systolic
				 <br>
				 <input type='checkbox'> Diastolic
				 <br>
				 Remarks <input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				Abdomen
			</td>
			<td colspan='2' nowrap>
				<input type='radio'> Normal
				<br>
				<input type='radio'> Distended
				<br>
				<input type='radio'> Hepatomegaly
				<br>
				<input type='radio'> Splenomegaly
			</td>
			<td colspan='2' class='form-inline' nowrap>
				 <input type='radio'> Fluid Wave
				 <br>
				 <input type='radio'> Umbilical hernia
				 <br>
				 <input type='radio'> Umbilical Discharge
				 <br>
				 <input type='radio'> Delayed Umbilical <br> Stump Detachment
			</td>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				Breasts
			</td>
			<td colspan='2' nowrap>
				<input type='radio'> Normal
				<br>
				<input type='radio'> Breast Discharge
				<br>
				<input type='radio'> Breast Tenderness
			</td>
			<td colspan='2'>
				<input type='checkbox'> Mass
				<br>
				<input type='checkbox'> Skin Changes
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td class='form-inline' colspan='4'>
				SMR Staging <input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				Back
			</td>
			<td colspan='2' nowrap>
				<input type='radio'> Normal
				<br>
				<input type='radio'> Spinal Deformity
				<br>
				<input type='radio'> Tuft of Hair
				<br>
				<input type='radio'> Skin dimpling
			</td>
			<td colspan='2'>
				Spinal Deformity:
				<br>
				<input type='checkbox'> Scoliosis 
				<br>
				<input type='checkbox'> Kyphosis
				<br>
				<input type='checkbox'> Lordosis 
				
			</td>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				Anus
			</td>
			<td colspan='2' nowrap>
				<input type='radio'> Patent
				<br>
				<input type='radio'> Imperforate
				<br>
				<input type='radio'> Draining Sinus
				<br>
				<input type='radio'> Mass
			</td>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				Genitalia
			</td>
			<td colspan='2' nowrap>
				<input type='radio'> Normal 
				<br>
				<input type='radio'> Lesions
				<br>
				<input type='radio'> Discharge
				<br>
				<input type='radio'> Mass
			</td>
			<td colspan='2' nowrap>
				Undescended Testes:
				<br>
				<input type='checkbox'> Right 
				<br>
				<input type='checkbox'> Left
				<br>
				<input type='checkbox'> Bilateral
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td class='form-inline' colspan='2'>
				SMR Staging <input type='text' class='form-control'>
			</td>
			
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				Extremities
			</td>
			<td colspan='2' nowrap>
				<input type='radio'> Normal 
				<br>
				<input type='radio'> Clubbing

			</td>
			<tD colspan='2'>
				Hip Test for Dislocation
				<br>
				<input type='checkbox'> Normal 
				<br>
				<input type='checkbox'> Abnormal
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td colspan='2'>
				Nailbeds:
				<br>
				<input type='checkbox'> Pink
				<br>
				<input type='checkbox'> Pale
			</td>
		</tr>
		<tr>
			<td class='active'>
			</td>
			<td nowrap>
				Pulses:
				<br>
				<input type='checkbox'> Full 
				<br>
				<input type='checkbox'> Fair
			</td>
			<td>
				<br>
				<input type='checkbox'> Faint
				<br>
				<input type='checkbox'> Absent
			</td>
			<td colspan='2' class='form-inline'>
				Physical Deformities 
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Neurologic Status
			</td>
			<td nowrap class='form-inline' colspan='2'>
				GCS:
				<input type='text' class='form-control'>
			</td>
			<td colspan='2' class='form-inline' nowrap>
				E
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td  colspan='2' class='form-inline' nowrap>
				V
				<input type='text' class='form-control'>
			</td>
			<td colspan='2' class='form-inline' nowrap>
				M
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'>
			</td>
			<td colspan='2'>
				<input type='radio'> Visual Acuity Problem
				<br> 
				<input type='radio'> Nystagmus
				<br> 
				<input type='radio'> Hearing Problem
				<br> 
				<input type='radio'> Gag Reflex
				
			</td>
			<td colspan='2'>
				Absent Pupillary reflex:
				<br>
				<input type='checkbox'> R
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type='checkbox'> L
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type='checkbox'> Bilateral
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td colspan='2' nowrap>
				Abnormal Extraocular Movements:
				<br>
				<input type='checkbox'> R
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type='checkbox'> L
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type='checkbox'> Bilateral
			</td>
		</tr>
		<tr>
			<td class='active'>
			</td>
			<td colspan='2'>
				Absent Corneal Reflex:
				<br>
				<input type='checkbox'> R
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type='checkbox'> L
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type='checkbox'> Bilateral
			</td>
			<td colspan='2'>
				Flat Nasolabial fold:
				<br>
				<input type='checkbox'> R
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type='checkbox'> L
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type='checkbox'> Bilateral
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td colspan='2'>
				Tongue Deviation:
				<br>
				<input type='checkbox'> R
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<input type='checkbox'> L
			</td>
		</tr>
		<tr>
			<td class='active'>
			</td>
			<td class='form-inline' nowrap>
				Motors:
			</td>
			<td colspan='5'>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'>
			</td>
			<td class='form-inline' nowrap>
				Reflexes:
			</td>
			<td colspan='5'>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td colspan="9" class="text-center active">
				<a class="btn btn-large btn-info" ng-click="addNew_Spine1(spine1)" style="text-decoration: none; color: #000">SAVE</a>

				<a class="btn btn-large btn-danger" ng-click="removespine1(spine1)" style="text-decoration: none; color: #000">DELETE</a>
			</td>
		</tr>
	</table>