
	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<th colspan=9>
				<span id="DGL_module_header">
					HEENT
				</span>
			</th>
		</tr>
		<tr>
			<td class='active'></td>
			<td>
				<input type='radio'> Normal
			</td>
		</tr>
		<tr>
			<td class='active' width='1%' nowrap>
				Scalp
			</td>
			<td width='1%' nowrap>
				<input type='radio'> atrumatic
				<br>
				<input type='radio'> normocephal
			</td>
		</tr>
		<tr>
			<td class='active'>
				Eyes
			</td>
			<td>
				<input type='radio'> PERRLA
				<br>
				<input type='radio'> EOMI
			</td>
		</tr>
		<tr>
			<td class='active'></td>
			<td>
				Nystagmus
			</td>
			<td width='1%' nowrap>
				<input type='radio'> No
				<br>
				<input type='radio'> R
				<br>
				<input type='radio'> L
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'></td>
			<td>
				Convergence
			</td>
			<td width='1%' nowrap>
				<input type='radio'> nml
				<br>
				<input type='radio'> abn
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'></td>
			<td>
				Sclera
			</td>
			<td width='1%' nowrap>
				<input type='radio'> Clear
				<br>
				<input type='radio'> Injected
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'></td>
			<td>
				Fundi
			</td>
			<td width='1%' nowrap>
				<input type='radio'> WNL
				<br>
				<input type='radio'> papilledema
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'></td>
			<td>
				Cornea
			</td>
			<td width='1%' nowrap>
				<input type='radio'> Flourescene
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>
			Ears
			</td>
			<td>
				Tympanic membranes
			</td>
			<td width='1%' nowrap>
				R : <input type='radio'> clear &nbsp;&nbsp;&nbsp; <input type='radio'> eryth &nbsp;&nbsp;&nbsp; <input type='radio'> bulge <br>
				L : <input type='radio'> clear &nbsp;&nbsp;&nbsp; <input type='radio'> eryth &nbsp;&nbsp;&nbsp; <input type='radio'> bulge 
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'></td>
			<td>
				External canals
			</td>
			<td width='1%' nowrap>
				R : <input type='radio'> clear &nbsp;&nbsp;&nbsp; <input type='radio'> eryth &nbsp;&nbsp;&nbsp; <input type='radio'> D/C <br>
				L : <input type='radio'> clear &nbsp;&nbsp;&nbsp; <input type='radio'> eryth &nbsp;&nbsp;&nbsp; <input type='radio'> D/C 
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'></td>
			<td>
				Hearing
			</td>
			<td width='1%' nowrap>
				<input type='radio'> nml
				<br>
				<input type='radio'> abn 
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>
				Nose
			</td>
			<td colspan='2'>
				<input type='radio'> patent bilaterally
				<br>
				<input type='radio'> deviated septum
				<br>
				<input type='radio'> swollen MM
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>
				
			</td>
			<td>
				Color:
			</td>
			<td width='1%' nowrap>
				<input type='radio'> Pink
				<br>
				<input type='radio'> boggy mucosa
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>
				Mouth
			</td>
			<td colspan='2'>
				<input type='radio'> Poor dentition
				<br>
				<input type='radio'> aphthous ulcers
				<br>
				<input type='radio'> moist MM
				<br>
				<input type='radio'> toungue midline
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>
				Oropharynx
			</td>
			<td colspan='2'>
				<input type='radio'> No eryth
				<br>
				<input type='radio'> No exudate
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>

			</td>
			<td>
				Tonsils
			</td>
			<td>
				<input type='radio'> Non-enlarged
				<br>
				<input type='radio'> Hypertrophied
				<br>
				<input type='radio'> Plaques
			</td>
			<td></td>
		</tr>
		<tr>
			<td colspan="8" class="text-center active">
				<a class="btn btn-large btn-info" ng-click="addNew_Spine1(spine1)" style="text-decoration: none; color: #000">SAVE</a>

				<a class="btn btn-large btn-danger" ng-click="removespine1(spine1)" style="text-decoration: none; color: #000">DELETE</a>
			</td>
		</tr>
	</table>