
	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<th colspan=9>
				<span id="DGL_module_header">
					Developmental History
				</span>
			</th>
		</tr>
		<tr>
			<td colspan='9' class='active'>Give Approximate Ages at which the child began to do the following activities:</td>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				 Crawl
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td width="1%" class='active' nowrap>
				 Sit
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td width="1%" class='active' nowrap>
				 Stand
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				 Walk
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td width="1%" class='active' nowrap>
				 Run
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td width="1%" class='active' nowrap>
				 Using Single Words
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				 Combine Words
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td width="1%" class='active' nowrap>
				 Toilet-Trained
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td width="1%" class='active' nowrap>
				 Fed Self
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				 Dressed Self
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		
		<tr>
			<td colspan="10" class="text-center active">
				<a class="btn btn-large btn-info" ng-click="addNew_Spine1(spine1)" style="text-decoration: none; color: #000">SAVE</a>

				<a class="btn btn-large btn-danger" ng-click="removespine1(spine1)" style="text-decoration: none; color: #000">DELETE</a>
			</td>
		</tr>
	</table>