
	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<th colspan=9>
				<span id="DGL_module_header">
					SKIN
				</span>
			</th>
		</tr>
		<tr>
			<td width='1%' nowrap>
				<input type='radio'> Scars 
			</td>
			<td class='form-inline'>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td width='1%' nowrap>
				<input type='radio'> good turgor pressure 
			</td>
		</tr>
		<tr>
			<td class='active'>
				Rash
			</td>
			<td width='1%' nowrap>
				Location <input type='text' class='form-control'>
			</td>
			<td>
				<input type='radio'> macular
				<br>
				<input type='radio'> papular
				<br>
				<input type='radio'> maculopapular
			</td>
		</tr>
		<tr>
			<td width='1%' class='active' nowrap>
			  Locat
			</td>
			<td>
				<input type='radio'> diffus
				<br>
				<input type='radio'> local
				<br>
				<input type='radio'> discret
			</td>
		</tr>
		<tr>
			<td width='1%' class='active' nowrap>
			  Blanchable
			</td>
			<td>
				<input type='radio'> blanch
				<br>
				<input type='radio'> non
			</td>
		</tr>
		<tr>
			<td colspan="8" class="text-center active">
				<a class="btn btn-large btn-info" ng-click="addNew_Spine1(spine1)" style="text-decoration: none; color: #000">SAVE</a>

				<a class="btn btn-large btn-danger" ng-click="removespine1(spine1)" style="text-decoration: none; color: #000">DELETE</a>
			</td>
		</tr>
	</table>

