
	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<th colspan=9>
				<span id="DGL_module_header">
					Lungs
				</span>
			</th>
		</tr>
		<tr>
			<td class='active'></td>
			<td>
				<input type='radio'> CTAB
			</td>
		</tr>
		<tr>
			<td class='active' width='1%' nowrap>
				Wheezes
			</td>
			<td width='1%' nowrap>
				<input type='radio'> Inspir
				<br>
				<input type='radio'> Expir
				<br>
				<input type='radio'> Good Air Movement
			</td>
		</tr>
		<tr>
			<td class='active'>
				Egophany
			</td>
			<td>
				<input type='radio'> -
				<br>
				<input type='radio'> +
			</td>
		</tr>
		<tr>
			<td class='active'>
				Tachyphremitis
			</td>
			<td>
				<input type='radio'> -
				<br>
				<input type='radio'> +
			</td>
		</tr>
		<tr>
			<td class='active'>
				Percussion
			</td>
			<td>
				<input type='radio'> Dullness
				<br>
				<input type='radio'> Rales
				<br>
				<input type='radio'> Rhonchi
			</td>
			<td></td>
		</tr>
		<tr>
			<td colspan="8" class="text-center active">
				<a class="btn btn-large btn-info" ng-click="addNew_Spine1(spine1)" style="text-decoration: none; color: #000">SAVE</a>

				<a class="btn btn-large btn-danger" ng-click="removespine1(spine1)" style="text-decoration: none; color: #000">DELETE</a>
			</td>
		</tr>
	</table>