
	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<th colspan=9>
				<span id="DGL_module_header">
					Vaccination Record
				</span>
			</th>
		</tr>
		<tr class='text-center'>
			<td width="1%" class='active' nowrap>Given</td>
			<td width="1%" class='active' nowrap>Recommended Age</td>
			<td width="1%" class='active' nowrap>Vaccine</td>
			<td width="1%" class='active' nowrap>Brand</td>
			<td width="1%" class='active' nowrap>Date Received</td>
			<td width="1%" class='active' nowrap>Place Received</td>
			<td width="1%" class='active' nowrap>Vaccination</td>
		<tr>
			<tr class='text-center'>
				<td> <input type='checkbox'></td>
				<td> Birth</td>
				<td> Hepatitis B (1) </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
			</tr>
			<tr class='text-center'>
				<td> <input type='checkbox'></td>
				<td> Birth</td>
				<td> BCG </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
			</tr>
			<tr class='text-center'>
				<td> <input type='checkbox'></td>
				<td> 2 Months </td>
				<td nowrap> Hepatitis B (2) </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
			</tr>
			<tr class='text-center'>
				<td> <input type='checkbox'></td>
				<td> 2 Months </td>
				<td> DPT, Polio, Hib (1) </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
			</tr>
			<tr class='text-center'>
				<td> <input type='checkbox'></td>
				<td> 2 Months </td>
				<td> PVC (1) </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
			</tr>
			<tr class='text-center'>
				<td> <input type='checkbox'></td>
				<td> 2 Months </td>
				<td> Rotavirus (1) </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
			</tr>
			<tr class='text-center'>
				<td> <input type='checkbox'></td>
				<td> 3 - 4 Months </td>
				<td> PT, Polio, Hib (2) </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
			</tr>
			<tr class='text-center'>
				<td> <input type='checkbox'></td>
				<td> 4 months </td>
				<td> PVC (2) </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
			</tr>
			<tr class='text-center'>
				<td> <input type='checkbox'></td>
				<td> 4 months </td>
				<td> Rotavirus (2) </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
			</tr>
			<tr class='text-center'>
				<td> <input type='checkbox'></td>
				<td> 6 months </td>
				<td> Hepatitis B (3) </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
			</tr>
			<tr class='text-center'>
				<td> <input type='checkbox'></td>
				<td> 6 months </td>
				<td> DPT, Polio, Hib (3) </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
			</tr>
			<tr class='text-center'>
				<td> <input type='checkbox'></td>
				<td> 6 months </td>
				<td nowrap> PVC(3)/Rotavirus(3)* </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
			</tr>
			<tr class='text-center'>
				<td> <input type='checkbox'></td>
				<td> 6 months </td>
				<td> Influenza (1) </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
			</tr>
			<tr class='text-center'>
				<td> <input type='checkbox'></td>
				<td> 7 - 9 months </td>
				<td> Influenza (2) </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
			</tr>
			<tr class='text-center'>
				<td> <input type='checkbox'></td>
				<td> 9 months </td>
				<td> Measles </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
			</tr>
			<tr class='text-center'>
				<td> <input type='checkbox'></td>
				<td> 1 year </td>
				<td> MMR (1) </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
			</tr>
			<tr class='text-center'>
				<td> <input type='checkbox'></td>
				<td> 1 year </td>
				<td> Varicella (1) </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
			</tr>
			<tr class='text-center'>
				<td> <input type='checkbox'></td>
				<td> 1 Year </td>
				<td nowrap> Hepatitis B* (Booster) </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
			</tr>
			<tr class='text-center'>
				<td> <input type='checkbox'></td>
				<td> 1 Year </td>
				<td nowrap> DPT,Polio,Hib(Booster) </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
			</tr>
			<tr class='text-center'>
				<td> <input type='checkbox'></td>
				<td> 1 Year </td>
				<td> Hepatitis A (1) </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
			</tr>
			<tr class='text-center'>
				<td> <input type='checkbox'></td>
				<td> 2 Years </td>
				<td> Typhoid (1) </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
			</tr>
			<tr class='text-center'>
				<td> <input type='checkbox'></td>
				<td> 2 years </td>
				<td nowrap> Meningcoccal (1) </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
			</tr>
			<tr class='text-center'>
				<td> <input type='checkbox'></td>
				<td> 4 - 6 Years </td>
				<td> DTap (Booster) </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
			</tr>
			<tr class='text-center'>
				<td> <input type='checkbox'></td>
				<td> 4 - 6 Years </td>
				<td> Polio (Booster) </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
			</tr>
			<tr class='text-center'>
				<td> <input type='checkbox'></td>
				<td> 4 - 6 Years </td>
				<td> MMR(2) </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
			</tr>
			<tr class='text-center'>
				<td> <input type='checkbox'></td>
				<td> 4 - 6 Years </td>
				<td> Varicella (2) </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
			</tr>
			<tr class='text-center'>
				<td> <input type='checkbox'></td>
				<td> 11 Years </td>
				<td> Tdap </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
			</tr>
			<tr class='text-center'>
				<td> <input type='checkbox'></td>
				<td> 11 - 12 Years </td>
				<td> HPV (1) </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
			</tr>
			<tr class='text-center'>
				<td> <input type='checkbox'></td>
				<td> 11 - 12 Years </td>
				<td> HPV (2) </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
			</tr>
			<tr class='text-center'>
				<td> <input type='checkbox'></td>
				<td> 11 - 12 Years </td>
				<td> HPV (3) </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td><input type='text' class='form-control'> </td>
				<td></td>
			</tr>
		<tr>
			<td colspan="8" class="text-center active">
				<a class="btn btn-large btn-info" ng-click="addNew_Spine1(spine1)" style="text-decoration: none; color: #000">SAVE</a>

				<a class="btn btn-large btn-danger" ng-click="removespine1(spine1)" style="text-decoration: none; color: #000">DELETE</a>
			</td>
		</tr>
	</table>