
	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<th colspan=9>
				<span id="DGL_module_header">
					NECK
				</span>
			</th>
		</tr>
		<tr>
			<td class='active'></td>
			<td width='1'>
				<input type='radio'> supple
				<br>
				<input type='radio'> FROM
			</td>
			<td width='1%'>
				<input type='radio'> No JVD
				<br>
				<input type='radio'> No hepatojular relax
			</td>
		</tr>
		<tr>
			<td class='active' width='1%' nowrap>
				Lymph nodes:
			</td>
			<td width='1%' nowrap>
				<input type='radio'> no LN
				<br>
				<input type='radio'> preauricular
				<br>
				<input type='radio'> superfacial cervial
			</td>
			<td>
				<input type='radio'> deep cervical
				<br>
				<input type='radio'> supraclavicular
			</td>
		</tr>
		<tr>
			<td class='active'>
				Bruits
			</td>
			<td>
				<input type='radio'> None
				<br>
				<input type='radio'> R
			</td>
			<td>
				<input type='radio'> L
				<br>
				<input type='radio'> B
			</td>
		</tr>
		<tr>
			<td class='active'>
				Thyroid:
			</td>
			<td>
				Size
			</td>
			<td>
				<input type='radio'> thyromeg
				<br>
				<input type='radio'> None
			</td>
		</tr>
		<tr>
			<td class='active'>
				
			</td>
			<td>
				Masses
			</td>
			<td>
				<input type='radio'> No Masses
				<br>
				<input type='radio'> nodules
				<br>
				<input type='radio'> R
				<br>
				<input type='radio'> L
				<br>
				<input type='radio'> B
			</td>
		</tr>
		<tr>
			<td class='active'>
				Trapezius
			</td>
			<td>
				<input type='radio'> Non Tender
				<br>
				<input type='radio'> Tender
			</td>
			<td></td><td></td>
		</tr>
		
		<tr>
			<td colspan="8" class="text-center active">
				<a class="btn btn-large btn-info" ng-click="addNew_Spine1(spine1)" style="text-decoration: none; color: #000">SAVE</a>

				<a class="btn btn-large btn-danger" ng-click="removespine1(spine1)" style="text-decoration: none; color: #000">DELETE</a>
			</td>
		</tr>
	</table>