
	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<th colspan=9>
				<span id="DGL_module_header">
					Maternal History
				</span>
			</th>
		</tr>
		<tr>
			<td width="1%" class='active' nowrap>
				Maternal Age at Delivery:
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td width='1%'>
				Gavid
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td width='1%'>
				Para
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td colspan='6' class='active' nowrap>
				Perinatal Illnesses/complications (may be more than one):</td>
		</tr>
		<tr>
			<td width='1%' colspan='6' class='form-inline'>
				<input type="radio" ng-model="spine1.LGA" value="LGA">Hypertension
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" ng-model="spine1.LGA" value="LGA">Infection
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" ng-model="spine1.LGA" value="LGA">Diabetes
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" ng-model="spine1.LGA" value="LGA">Spotting/Bleeding
				&nbsp;&nbsp;&nbsp;&nbsp;
				Others
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td width='1%' colspan='6' class='form-inline'>
				<input type="radio" ng-model="spine1.LGA" value="LGA">Alcohol Use
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" ng-model="spine1.LGA" value="LGA">Smoking
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type="radio" ng-model="spine1.LGA" value="LGA">Illicit Drug Use
				&nbsp;&nbsp;&nbsp;&nbsp;
			</td>
		</tr>
		<tr>
			<td class='active' nowrap>
				Medications taken during pregnancy:
			</td>
			<td class='form-inline' colspan='5'>
				<input type='text' class='form-control'>
			</td>
		</tr>
		

		<tr>
			<td colspan="6" class="text-center active">
				<a class="btn btn-large btn-info" ng-click="addNew_Spine1(spine1)" style="text-decoration: none; color: #000">SAVE</a>

				<a class="btn btn-large btn-danger" ng-click="removespine1(spine1)" style="text-decoration: none; color: #000">DELETE</a>
			<td>
		</tr>
	</table>