
	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<th colspan=9>
				<span id="DGL_module_header">
					NEURO
				</span>
			</th>
		</tr>
		<tr>
			<td width='1%' class='active' nowrap>
				Speech
			</td>
			<td>
				<input type='radio'> nml
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type='radio'> slur
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type='radio'> pressure
			</td>
		</tr>
		<tr>
			<td width='1%' class='active' nowrap>
				CN II --> XII:
			</td>
			<td nowrap>
				<input type='checkbox'> intact
			</td>
		</tr>
		<tr>
			<td class='active'>
				Cerebellum
			</td>
			<td nowrap>
				<input type='checkbox'> intact
			</td>
		</tr>
		<tr>
			<td class='active'>
				Romberg
			</td>
			<td nowrap>
				<input type='checkbox'> nml
				<br>
				<input type='checkbox'> abnormal
			</td>
		</tr>
		<tr>
			<td class='active'>
				DTRs:
			</td>
			<td nowrap class='form-inline'>
				tricepts <input type='text' class='form-control'> /3+
				<br>
				<br>
				patellar <input type='text' class='form-control'> /3+
			</td>
			<td nowrap class='form-inline'>
				branchrad <input type='text' class='form-control'> /3+
				<br>
				<br>
				Achilles <input type='text' class='form-control'> /3+
			</td>
		</tr>
		<tr>
			<td class='active'>
			</td>
			<td nowrap class='form-inline'>
				<input type='checkbox'>symmetric
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type='checkbox'>R>L
				&nbsp;&nbsp;&nbsp;&nbsp;
				<input type='checkbox'>L>R
			</td>
			<td nowrap class='form-inline'>
			</td>
		</tr>
		<tr>
			<td colspan="8" class="text-center active">
				<a class="btn btn-large btn-info" ng-click="addNew_Spine1(spine1)" style="text-decoration: none; color: #000">SAVE</a>

				<a class="btn btn-large btn-danger" ng-click="removespine1(spine1)" style="text-decoration: none; color: #000">DELETE</a>
			</td>
		</tr>
	</table>

