
	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<th colspan=9>
				<span id="DGL_module_header">
					Common Management
				</span>
			</th>
		</tr>
		<tr class='text-center'>
			<td class='active' nowrap>Treatment</td>
			<td class='active' nowrap>Timing/Intervals</td>
			<td class='active' nowrap>Duration</td>
		<tr>
		<tr>
			<td class='active'>
				<input type='text' class='form-control'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'>
				<input type='text' class='form-control'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'>
				<input type='text' class='form-control'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'>
				<input type='text' class='form-control'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'>
				<input type='text' class='form-control'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'>
				<input type='text' class='form-control'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'>
				<input type='text' class='form-control'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'>
				<input type='text' class='form-control'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'>
				<input type='text' class='form-control'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td class='active'>
				<input type='text' class='form-control'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
			<td>
				<input type='text' class='form-control'>
			</td>
		</tr>
		<tr>
			<td colspan="8" class="text-center active">
				<a class="btn btn-large btn-info" ng-click="addNew_Spine1(spine1)" style="text-decoration: none; color: #000">SAVE</a>

				<a class="btn btn-large btn-danger" ng-click="removespine1(spine1)" style="text-decoration: none; color: #000">DELETE</a>
			</td>
		</tr>
	</table>