
	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<th colspan=9>
				<span id="DGL_module_header">
					ABDOMEN
				</span>
			</th>
		</tr>
		<tr>
			<td class='active' width='1%' nowrap>
				<input type='radio'> SNTND BS+ 0 HSM 0 Mass
			</td>
			<td width='1%' nowrap>
				Firmness
			</td>
			<td width='1%' nowrap>
				<input type='radio'> Soft
				<br>
				<input type='radio'> Rigid
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' width='1%' nowrap>
				Tenderness
			</td>
			<td width='1%' nowrap>
				<input type='checkbox'> Non Tender
			</td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td class='active' width='1%' nowrap>
				Magnitude
			</td>
			<td width='1%' nowrap>
				<input type='radio'> min
				<br>
				<input type='radio'> mild
			</td>
			<td width='1%' nowrap>
				<input type='radio'> mod
				<br>
				<input type='radio'> very
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active' width='1%' nowrap>
				Location
			</td>
			<td width='1%' nowrap>
				<input type='radio'> diffuse
				<br>
				<input type='radio'> focal
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td class='active'>
			</td>
			<td width='1%' colspan='2' nowrap>
				<input type='radio'> RUQ
				<input type='radio'> RLQ
				<input type='radio'> LUQ
				<input type='radio'> LLQ
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>
			</td>
			<td width='1%' colspan='2' nowrap>
				<input type='radio'> epigal
				<input type='radio'> umbil
				<input type='radio'> suprapo
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>
				Guarding
			</td>
			<td width='1%' nowrap>
				<input type='radio'> Y
				<input type='radio'> N
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>
				Rebound
			</td>
			<td width='1%' nowrap>
				<input type='radio'> Y
				<input type='radio'> N
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>
				Distended
			</td>
			<td width='1%' nowrap>
				<input type='radio'> Non
				<input type='radio'> tympany
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>
				Obese
			</td>
			<td width='1%' nowrap>
				<input type='radio'> Morb
				<br>
				<input type='radio'> Obse
			</td>
			<td>
				<input type='radio'> Flat
				<br>
				<input type='radio'> Scap
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>
				BS
			</td>
			<td width='1%' nowrap>
				Magnitud
				<br>
				<input type='radio'>nml
				<br>
				<input type='radio'>-
			</td>
			<td>
				<br>
				<input type='radio'>hyper
				<br>
				<input type='radio'> all Q's
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>
			</td>
			<td width='1%' class='form-inline' nowrap>
				Location
				<br>
				Other <input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>
				Masses
			</td>
			<td width='1%' nowrap>
				<input type='radio'> No masses
				<input type='radio'> No HSM
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>
			</td>
			<td width='1%' colspan='2' class='form-inline' nowrap>
				HSM:
				<br>
				<input type='text' class='form-control'> cm below costal
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>

			</td>
			<td width='1%' colspan='2' class='form-inline' nowrap>
				<input type='text' class='form-control'> cm total liver span
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>

			</td>
			<td width='1%' colspan='2' class='form-inline' nowrap>
				Mass:
				<br>
				Location <input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>
				Bruits
			</td>
			<td width='1%' colspan='2' class='form-inline' nowrap>
				<input type='radio'> None
				<br>
				<input type='radio'> R
				<br>
				<input type='radio'> L
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>
				AAA
			</td>
			<td width='1%' colspan='2' class='form-inline' nowrap>
				<input type='text' class='form-control'> cm
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>
				Gravid
			</td>
			<td width='1%' nowrap>
				Fundal height:
			</td>
			<td class='form-inline'>
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>
				
			</td>
			<td width='1%' nowrap>
				<input type='radio'> Vtx
				<br>
				<input type='radio'> Breech
			</td>
			<td>
				<input type='radio'> Transv
				<br>
				<input type='radio'> Positive Fetal Movement
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>
				Surgical Scar
			</td>
			<td width='1%' class='form-inline' nowrap>
				Location
				<input type='text' class='form-control'>
			</td>
			<td nowrap>
				Size
				<input type='text' class='form-control'>
			</td>
			<td></td>
		</tr>
		<tr>
			<td class='active'>
				Murphy's Sign
			</td>
			<td width='1%' class='form-inline' nowrap>
				<input type='radio'>+
				<input type='radio'>-
			</td>
		</tr>
		<tr>
			<td class='active'>
				Liver Span
			</td>
			<td width='1%' class='form-inline' nowrap>
				<input type='radio'>nml <input type='text' class='form-control'>cm
				<br>
				<input type='radio'> Pannus
				<br>
				<input type='radio'> Striae
			</td>
		</tr>
		<tr>
			<td class='active'>
				Hernia
			</td>
			<td width='1%' class='form-inline' nowrap>
				<input type='radio'> present
				<br>
				<input type='radio'> absent
				<br>
				<input type='radio'> umbilical
			</td>
			<td>
				<input type='radio'> midline
				<br>
				<input type='radio'> inguinal
				<br>
				<input type='radio'> direct
			</td>
		</tr>
		<tr>
			<td colspan="8" class="text-center active">
				<a class="btn btn-large btn-info" ng-click="addNew_Spine1(spine1)" style="text-decoration: none; color: #000">SAVE</a>

				<a class="btn btn-large btn-danger" ng-click="removespine1(spine1)" style="text-decoration: none; color: #000">DELETE</a>
			</td>
		</tr>
	</table>

