<div scroll-bookmark="GirthMeasurement">
<div ng-controller="PT4_Ctrl">
	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<th colspan=9>
				<span id="DGL_module_header">
					Girth Measurement
				</span>
			</th>
		</tr>
		<tr class='active'>
			<td class='form-inline' width='1%' nowrap>
				LANDMARK
			</td>
			<td class='form-inline' width='1%' nowrap>
				RIGHT
			</td>
			<td class='form-inline' width='1%' nowrap>
				LEFT
			</td>
			<td class='form-inline' width='20%' nowrap>
				DIFFERENCE
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td class='active' width='1%' nowrap>
				<input type='hidden' ng-model="PT4.PTRID" readonly>

				<input type='text' ng-model="PT4.LandMark" class='form-control'>
			</td>
			<td class='text-center'>
				<input type='text' ng-model="PT4.RightMeasurement" class='form-control'>
			</td>
			<td class='text-center'>
				<input type='text' ng-model="PT4.LeftMeasurement" class='form-control'>
			</td>
			<td>
				<input type='text' ng-model="PT4.Difference" class='form-control'>
			</td>
			<td> 
				<a class="btn btn-large btn-info" style="text-decoration: none; color: #000" ng-click="addNew_PT4(PT4)"> ADD </a>
			</td>

		</tr>
		<tr ng-repeat="PT4Girth in jdata_PT4">
			<td>{{PT4Girth.LandMark}}</td>
			<td>{{PT4Girth.RightMeasurement}}</td>
			<td>{{PT4Girth.LeftMeasurement}}</td>
			<td>{{PT4Girth.Difference}}</td>
			<td nowrap> 
				&nbsp;&nbsp;
				<!-- {{PT4Girth.DiagnosisRID}} -->
				&nbsp;&nbsp;
				<a class="btn btn-large btn-info" style="text-decoration: none"
    	 			ng-click="editPT4_ROW(PT4Girth.PTRID, PT4Girth.LandMark, PT4Girth.Right,PT4Girth.Left,PT4Girth.Difference)">
    	 			edit
    			</a>
				<a class="btn btn-large btn-danger" style="text-decoration: none"
    	 			ng-click="removePT4_ROW(PT4Girth.PTRID)">
    	 			delete
    			</a>
	 		</td>
		</tr>

	</table>
</div>
</div>