<div ng-controller="POSTOpKNEE_preformCtrl">
	<table class="table table-condensed table-bordered">
		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="kneePostForm.Post01" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 1. To post-operative recovery room. </td>
		</tr>

		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="kneePostForm.Post02" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 2. Anterior-Posterior (AP) and Lateral X-rays of operated knee.  Be sure the patella and foot are facing up-right.</td>
		</tr>

		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="kneePostForm.Post03" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 3. Regular diet as tolerated.</td>
		</tr>

		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="kneePostForm.Post04" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 4. Keep IV per ordered by Anesthesiologist.</td>
		</tr>

		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="kneePostForm.Post05" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 5. Keep epidural anesthesia per order by Anesthesiologist.</td>
		</tr>

		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="kneePostForm.Post06" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 6. Demerol 50-75 mgs every 3-4 hrs PRN.</td>
		</tr>

		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="kneePostForm.Post07" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 7. Arcoxia 60, 90, 120 mgs once a day.</td>
		</tr>

		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="kneePostForm.Post08" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 8. Aspirin 80mgs once a day, indifinitely.</td>
		</tr>
		
		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="kneePostForm.Post09" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 9. Ferrous Sulfate 300 gms, three times daily for 3 months.</td>
		</tr>
		
		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="kneePostForm.Post10" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 10. Massive Ice Packs around the KNEE area continuously for 48 hrs.</td>
		</tr>
		
		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="kneePostForm.Post11" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 11. Measure and record drainage from Hemovac Suction.</td>
		</tr>

		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="kneePostForm.Post12" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 12. Repeat IV Cefuroxime 1.5 gms in 12 hrs. one doze only. </td>
		</tr>
		
		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="kneePostForm.Post13" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 13. Repeat IV Cefazoline 2 gms in 8 hrs one doze only.</td>
		</tr>
		
		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="kneePostForm.Post14" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 14. HgB and Hematocrit in 48 hrs.</td>
		</tr>

		
		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="kneePostForm.Post15" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 15. Wear knee immobilizer at night x3 weeks. </td>
		</tr>

		
		<tr>
			<td></td>
			<td> 16. PT 2 times daily:.</td>
			
		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="kneePostForm.Post16a" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> &nbsp;&nbsp;&nbsp;&nbsp; a. Foot and ankle pump 10 times every hour when awake.</td>
		</tr>
			
		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="kneePostForm.Post16b" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> &nbsp;&nbsp;&nbsp;&nbsp; b. Quadriceps and hamstring sitting exercise 10 times every hour when awake.</td>
		</tr>

		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="kneePostForm.Post16c" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> &nbsp;&nbsp;&nbsp;&nbsp; c. Isometric abduction with crutches or walker, weight bearing as tolerated.</td>
		</tr>

		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="kneePostForm.Post17" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 17. May dangle on bed with assistance the first post-operative day.</td>
		</tr>
		
		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="kneePostForm.Post18" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 18. When sitting, keep feet turned out.  Do not internally rotate leg in flexion.</td>
		</tr>

		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="kneePostForm.Post19" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 19. Keep thigh high TEDS stockings when up or awake.  Use TEDS stockings for the next 6 weeks in both legs.</td>
		</tr>
		
		<tr>
			<td class="text-center active" width="1%">
				<input type="checkbox" class="form-control" ng-model="kneePostForm.Post20" 
		            ng-true-value="1"
		            ng-false-value="0">
			</td>
			<td> 20. Ambulate on the 2nd or 3rd with PT supervision or nurses assistance.</td>
		</tr>

		<tr>
			<td></td>

			<td class="text-center">
				<table width="100%">
					<tr class="success">
						<td width="15%" class="text-center" nowrap>
							<button class="form-control btn-danger" ng-click="checkAll()" style="margin-right: 10px">Check all</button>
						</td>
						<td width="5%"></td>
						<td width="15%" class="text-center" nowrap>
							<button class="form-control btn-warning" ng-click="uncheckAll()" style="margin-right: 10px">Uncheck all</button>
						</td>
						
						<td width="5%"></td>

						<td width="15%" class="text-center">
							<a class="btn btn-large btn-info" style="text-decoration: none" ng-click="addNew(kneePostForm)">
								SAVE
							</a>

						</td>

						<td></td>
					</tr>
				</table>

			</td>
		</tr>
	</table>
</div>