<div ng-controller="POSTOpHIP_preformCtrl">

	<div scroll-bookmark="PostOpHIPpreform">

		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td width="1%" colspan="9" nowrap>
					<span style="font-family: Helvetiker; font-size:30px; color: #000; letter-spacing: 3px; font-style: italic;">
			    		HIP POST-Operative Form
			    	</span>
			    </td>
			</tr>

			<tr ng-repeat="preForm in clinix_POSTOp_HIP_preform">
				<td class="text-center active" width="1%">
					<input type="checkbox" checklist-model="hipPostform.clinix_POSTOp_HIP_preform" checklist-value="preForm"  ng-checked="preForm.PostOpYN == 1">
				</td>

				<td> {{preForm.PostOp}} </td>

				<!-- td> {{preForm.PostOpHIPpreformRID}} </td>
				<td> {{preForm.ClinixRID}} </td>
				<td> {{preForm.PostOpYN}} </td -->
			</tr>

			<!-- tr ng-repeat="postFormRow in clinix_POSTOp_HIP_preform">
				<td class="text-center active" width="1%">
					<input type="checkbox" checklist-model="hipPostform.clinix_POSTOp_HIP_preform" checklist-value="postFormRow" 
					ng-checked="postFormRow.PostOpYN == '1'">
				</td>
				<td> {{postFormRow.PostOp}} </td>
			</tr -->

			<tr>
				<td></td>

				<td class="text-center">
					<table width="100%">
						<tr class="success">
							<td width="15%" class="text-center" nowrap>
								<button class="form-control btn-danger" ng-click="checkAll()" style="margin-right: 10px">Check all</button>
							</td>
							<td width="5%"></td>
							<td width="15%" class="text-center" nowrap>
								<button class="form-control btn-warning" ng-click="uncheckAll()" style="margin-right: 10px">Uncheck all</button>
							</td>
							<td width="5%"></td>
							<td width="15%" class="text-center">

								<a class="btn btn-large btn-info" ng-click="addNew()" style="text-decoration: none">
									REFRESH LIST
								</a>

							</td>

							<td width="15%" class="text-center">

								<a class="btn btn-large btn-info" ng-click="Update(hipPostform.clinix_POSTOp_HIP_preform)" style="text-decoration: none">
									Update
								</a>

							</td>
							<td></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>

		<table class="table table-condensed table-bordered">
			<tr class="info" ng-repeat="postFormRow in clinix_POSTOp_HIP_preform" >

	        	<!-- td style="color:black" width="1%">
	        		{{postFormRow.PostOpYN}}
	        	</td -->

	        	<td style="color:black" width="75%">
	        		{{postFormRow.PostOp}}
	        	</td>
	        	
	            <td width="1%">
	            	<a class="btn btn-large btn-danger" href="#/{{postFormRow.ClinixRID}}" ng-click="removeItem(postFormRow)" style="text-decoration: none">
	            		DELETE
	            	</a>
	        	</td>
            	<td></td>
	        </tr>
		</table>

	</div>
</div>