<div ng-controller="PREOpHIP_preformCtrl">

	<div scroll-bookmark="PreOpHIPpreform">

		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td width="1%" colspan="9" nowrap>
					<span style="font-family: Helvetiker; font-size:30px; color: #000; letter-spacing: 3px; font-style: italic;">
			    		HIP PRE-Operative Form
			    	</span>
			    </td>
			</tr>


			<tr ng-repeat="preForm in preForms">
				<td class="text-center active" width="1%">
					<input type="checkbox" checklist-model="hipPreform.preForms" checklist-value="preForm">
				</td>
				<td> {{preForm}} </td>
			</tr>

			<tr>
				<td></td>

				<td class="text-center">
					<table width="100%">
						<tr class="success">
							<td width="15%" class="text-center" nowrap>
								<button class="form-control btn-danger" ng-click="checkAll()" style="margin-right: 10px">Check all</button>
							</td>
							<td width="5%"></td>
							<td width="15%" class="text-center" nowrap>
								<button class="form-control btn-warning" ng-click="uncheckAll()" style="margin-right: 10px">Uncheck all</button>
							</td>
							<td width="5%"></td>
							<td width="15%" class="text-center">
								<a class="btn btn-large btn-info" ng-click="addNew(hipPreform.preForms)" style="text-decoration: none">Save</a>
							</td>
							<td></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>



		<table class="table table-condensed table-bordered">
			<tr class="info" ng-repeat="preFormRow in clinix_PREOp_HIP_preform">
	        	<td style="color:black" width="75%">
	        		<input type="checkbox" checked> &nbsp; {{preFormRow.PreOp}}
	        	</td>
	        	
	            <td width="1%">
	            	<a class="btn btn-large btn-danger" ng-click="removeItem(preFormRow)" style="text-decoration: none">
	            		DELETE
	            	</a>
	        	</td>

            	<td></td>
	        </tr>
		</table>
	</div>
</div>