<div ng-controller="PREOpHIP_repeatbiCtrl">
	<div scroll-bookmark="PreOpHIPrepeatBilateral">
		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td width="1%" colspan="9" nowrap>
					<!-- span style="font-family: Helvetiker; font-size:30px; color: #000; letter-spacing: 3px; font-style: italic;">
			    		Repeat in bilateral joint surgery after the first joint is finished
			    	</span-->
			    </td>
			</tr>

			<tr ng-repeat="repeatBil in repeatBils">
				<td class="text-center active" width="1%">
					<input type="checkbox" checklist-model="hipRepeat.repeatBils" checklist-value="repeatBil">
				</td>
				<td> {{repeatBil}} </td>
			</tr>

			<tr>
				<td class="active">Others</td>
				<td><input type="textbox" ng-model="hipRepeat.repeatBils.repeatBilOthers" class="form-control" placeholder="Others"></td>
			</tr>

			<tr>
				<td></td>

				<td class="text-center">
					<table width="100%">
						<tr class="success">
							<td width="15%" class="text-center" nowrap>
								<button class="form-control btn-danger" ng-click="checkAll()" style="margin-right: 10px">Check all</button>
							</td>
							<td width="5%"></td>
							<td width="15%" class="text-center" nowrap>
								<button class="form-control btn-warning" ng-click="uncheckAll()" style="margin-right: 10px">Uncheck all</button>
							</td>
							<td width="5%"></td>
							<td width="15%" class="text-center">
								<a class="btn btn-large btn-info" ng-click="addNew(hipRepeat.repeatBils)" style="text-decoration: none">Save</a>
							</td>
							<td></td>
						</tr>
					</table>
				</td>
			</tr>

		</table>

		<table class="table table-condensed table-bordered">
			<tr class="info" ng-repeat="repeatBilRow in clinix_PREOp_HIP_repeatBilateral" >
	        	<td style="color:black" width="75%">
	        		{{repeatBilRow.RepeatBilateral}}
	        	</td>
	        	
	            <td width="1%">
	            	<a class="btn btn-large btn-danger" href="#/{{repeatBilRow.ClinixRID}}" ng-click="removeItem(repeatBilRow)" style="text-decoration: none">
	            		DELETE
	            	</a>
	        	</td>
            	<td></td>
	        </tr>
		</table>

	</div>						
</div>