<div ng-controller="PREOpHIP_antibioCtrl">
	<div scroll-bookmark="PreOpHIPantibiotics">
	
		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td width="1%" colspan="9" nowrap>
					<span style="font-family: Helvetiker; font-size:30px; color: #000; letter-spacing: 3px; font-style: italic;">
			    		ANTIBIOTICS (HIP pre-op)
			    	</span>
			    </td>
			</tr>

			<tr ng-repeat="antiBiotic in antiBiotics">
				<td class="text-center active" width="1%">
					<input type="checkbox" checklist-model="hipAntibio.antiBiotics" checklist-value="antiBiotic">
				</td>
				<td> {{antiBiotic}} </td>
			</tr>

			<tr>
				<td class="active">Others</td>
				<td>
					<input type="textbox" ng-model="hipAntibio.antiBiotics.others" class="form-control" placeholder="Others">
				</td>
				
				<td width="15%" class="text-center">
					<a class="btn btn-large btn-info" ng-click="addNew(hipAntibio.antiBiotics)" style="text-decoration: none">Save</a>	
				</td>
			</tr>
		</table>

		<table class="table table-condensed table-bordered">

			<tr class="info" ng-repeat="antiBioRow in clinix_PREOp_HIP_antibio" >

	        	<td style="color:black" width="75%">
	        		{{antiBioRow.Antibiotic}}
	        	</td>
	        	
	            <td width="1%">
	            	<a class="btn btn-large btn-danger" href="#/{{antiBioRow.ClinixRID}}" ng-click="removeItem(antiBioRow)" style="text-decoration: none">
	            		DELETE
	            	</a>
	        	</td>

            	<td></td>
	        </tr>
		</table>
	</div>						
</div>