<div ng-controller="HipMeasuresCtrl">
	<div scroll-bookmark="HipMeasures">
		
		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td class="text-left" width="1%" nowrap>
					<span style="font-family: Helvetiker; font-size:30px; color: #000; letter-spacing: 3px; font-style: italic;">
			    		HIP Measurement (supine)
			    	</span>
				</td>
				<td width="15%" class="text-center">LEFT</td>
				<td width="15%" class="text-center">RIGHT</td>
				<td></td>
			</tr>

			<tr>
				<td nowrap> Leg length: ASIS / mm </td>
				<td><input type="text" class="form-control" ng-model="HIPMeasures.ASISLeft" placeholder="none" ></td>
				<td><input type="text" class="form-control" ng-model="HIPMeasures.ASISRight" placeholder="none" ></td>
				<td> </td>
			</tr>

			<tr>
				<td nowrap> Thigh </td>
				<td><input type="text" class="form-control" ng-model="HIPMeasures.ThighLeft" placeholder="none" ></td>
				<td><input type="text" class="form-control" ng-model="HIPMeasures.ThighRight" placeholder="none" ></td>
				<td> </td>
			</tr>

			<tr>
				<td nowrap> LEG Circumference </td>
				<td><input type="text" class="form-control" ng-model="HIPMeasures.LEGLeft" placeholder="none" ></td>
				<td><input type="text" class="form-control" ng-model="HIPMeasures.LEGRight" placeholder="none" ></td>
				<td> </td>
			</tr>



			<tr>
				<td nowrap> Dorsalis Pedis Pulse </td>
				<td class="text-center" nowrap>
					<input type="radio" ng-model="HIPMeasures.DorsalisLeft" value="Absent"> Absent 
					<br>
					<input type="radio" ng-model="HIPMeasures.DorsalisLeft" value="Normal"> Normal
				</td>
				<td class="text-center" nowrap>
					<input type="radio" ng-model="HIPMeasures.DorsalisRight" value="Absent"> Absent 
					<br>
					<input type="radio" ng-model="HIPMeasures.DorsalisRight" value="Normal"> Normal
				</td>
				<td></td>
			</tr>

			<tr>
				<td nowrap> Others </td>
				<td class="text-center" nowrap>
					<input type="text" class="form-control" ng-model="HIPMeasures.OthersLeft" >  
				</td>
				<td class="text-center" nowrap>
					<input type="text" class="form-control" ng-model="HIPMeasures.OthersRight" >  
				</td>
				<td class="text-center">
					<a class="btn btn-large btn-info" href="#/{{clinix.ClinixRID}}" ng-click="addNew(HIPMeasures)" style="text-decoration: none; color: #000">ADD</a>
				</td>
			</tr>

		</table>


		<table class="table table-condensed table-bordered">
			<tr class="info">
				<th width="1%" class="text-center" style="color:#888" nowrap></th>  <!-- OnsetAccuteGradual -->
	        	<th width="1%" class="text-center" style="color:#888" nowrap>Supine</th>
	        	<th width="1%" class="text-center" style="color:#888" nowwrap>Left</th>
	            <th width="1%" class="text-center" style="color:#888" nowrwap>Right</th>
	            <th width="1%"> </th>
	            <th width="1%"> </th>
	            <th width=> </th>
			</tr>

			<tr class="info" ng-repeat="HipMeasure in clinix_HipMeasures">
	        	<td style="color:black" nowrap></td>  <!-- OnsetAccuteGradual -->
	        	<td style="color:black" nowrap>{{HipMeasure.Supine}}</td>
	        	<td style="color:black" nowrap>{{HipMeasure.Left}}</td>
	            <td style="color:black">{{HipMeasure.Right}}</td>
	            <td>
	            	<a class="btn btn-large btn-danger" href="#/{{HipMeasure.ClinixRID}}" ng-click="removeHipMeasure(HipMeasure)" style="text-decoration: none">
	            		DELETE
	            	</a>
	        	</td>
                <td>
                	<!-- a class="btn btn-large btn-warning" href="#/{{HipMeasure.ChiefRID}}/edit" ng-click="editChiefComp(HipMeasure)" style="text-decoration: none">
                		EDIT
                	</a -->
            	</td>
            	<td></td>
	        </tr>
		</table>

	</div>
</div>