<div ng-controller="HipMotionRangeCtrl">
	<div scroll-bookmark="HipMotionRange">
		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td width="1%" colspan="9" nowrap>
					<span style="font-family: Helvetiker; font-size:30px; color: #000; letter-spacing: 3px; font-style: italic;">
			    		Range of Motion (hip)
			    	</span>
			    </td>
			</tr>

			<tr>
				<td width="1%" nowrap>Flexion Contracture </td>
				<td width="20%"><input type="text" class="form-control" ng-model="HipMotionRanges.RightFlexionContra" placeholder="none" ></td>

				<td class="text-right" width="1%"> Flexion </td>
				<td width="20%"><input type="text" class="form-control" ng-model="HipMotionRanges.RightFlexion" placeholder="none" ></td>
			</tr>

			<tr>
				<td> Extension </td>
				<td><input type="text" class="form-control" ng-model="HipMotionRanges.RightExtension" placeholder="none" ></td>

				<td class="text-right"> IR </td>
				<td><input type="text" class="form-control" ng-model="HipMotionRanges.IRRight" placeholder="none" ></td>
			</tr>

			<tr>
				<td> ER </td>
				<td><input type="text" class="form-control" ng-model="HipMotionRanges.ERRight" placeholder="none" ></td>

				<td class="text-right" nowrap> Abduction (supine) </td>
				<td><input type="text" class="form-control" ng-model="HipMotionRanges.supineRight" placeholder="none" ></td>
			</tr>

			<tr>
				<td nowrap> Abduction (lateral) </td>
				<td><input type="text" class="form-control" ng-model="HipMotionRanges.lateralRight" placeholder="none" ></td>

				<td class="text-right"> Adduction </td>
				<td><input type="text" class="form-control" ng-model="HipMotionRanges.AdductionRight" placeholder="none" ></td>
			</tr>




			<tr>
				<td> SLR (right) </td>
				<td nowrap>
					    <input type="radio" value="1" ng-model="HipMotionRanges.SLR_Ryn"> Yes &nbsp;&nbsp;
					<br><input type="radio" value="0" ng-model="HipMotionRanges.SLR_Ryn"> No
				</td>
				<td class="text-left" colspan="2" nowrap> 
					&nbsp;&nbsp;&nbsp;<input type="radio" ng-model="HipMotionRanges.SLRValR" value="NORMAL" > Normal
					&nbsp;&nbsp;&nbsp;<input type="radio" ng-model="HipMotionRanges.SLRValR" value="MILD" > Mild
					&nbsp;&nbsp;&nbsp;<input type="radio" ng-model="HipMotionRanges.SLRValR" value="MODERATE" > Moderate
					&nbsp;&nbsp;&nbsp;<input type="radio" ng-model="HipMotionRanges.SLRValR" value="SEVERE" > Severe
				</td>
			</tr>
			<tr>
				<td> SLR (left) </td>
				<td nowrap> 
					    <input type="radio" value="1" ng-model="HipMotionRanges.SLR_Lyn"> Yes &nbsp;&nbsp;
					<br><input type="radio" value="0" ng-model="HipMotionRanges.SLR_Lyn"> No
				</td>

				<td class="text-left" colspan="2" nowrap> 
					&nbsp;&nbsp;&nbsp;<input type="radio" ng-model="HipMotionRanges.SLRValL" value="NORMAL" > Normal
					&nbsp;&nbsp;&nbsp;<input type="radio" ng-model="HipMotionRanges.SLRValL" value="MILD" > Mild
					&nbsp;&nbsp;&nbsp;<input type="radio" ng-model="HipMotionRanges.SLRValL" value="MODERATE" > Moderate
					&nbsp;&nbsp;&nbsp;<input type="radio" ng-model="HipMotionRanges.SLRValL" value="SEVERE" > Severe
				</td>
			</tr>

			<tr>
				<td> SLR vs Resistance (Right) </td>
				<td nowrap> 
					    <input type="radio" value="1" ng-model="HipMotionRanges.Resist_Ryn"> Yes &nbsp;&nbsp;
					<br><input type="radio" value="0" ng-model="HipMotionRanges.Resist_Ryn"> No
				</td>
				<td class="text-left" colspan="2" nowrap> 
					&nbsp;&nbsp;&nbsp;<input type="radio" ng-model="HipMotionRanges.ResistRight" value="NORMAL" > Normal
					&nbsp;&nbsp;&nbsp;<input type="radio" ng-model="HipMotionRanges.ResistRight" value="MILD" > Mild
					&nbsp;&nbsp;&nbsp;<input type="radio" ng-model="HipMotionRanges.ResistRight" value="MODERATE" > Moderate
					&nbsp;&nbsp;&nbsp;<input type="radio" ng-model="HipMotionRanges.ResistRight" value="SEVERE" > Severe
				</td>
			</tr>
			
			<tr>
				<td> SLR vs Resistance (Left) </td>
				<td nowrap>
					    <input type="radio" value="1" ng-model="HipMotionRanges.Resist_Lyn"> Yes &nbsp;&nbsp;
					<br><input type="radio" value="0" ng-model="HipMotionRanges.Resist_Lyn"> No
				</td>
				<td class="text-left" colspan="2" nowrap> 
					&nbsp;&nbsp;&nbsp;<input type="radio" ng-model="HipMotionRanges.ResistLeft" value="NORMAL" > Normal
					&nbsp;&nbsp;&nbsp;<input type="radio" ng-model="HipMotionRanges.ResistLeft" value="MILD" > Mild
					&nbsp;&nbsp;&nbsp;<input type="radio" ng-model="HipMotionRanges.ResistLeft" value="MODERATE" > Moderate
					&nbsp;&nbsp;&nbsp;<input type="radio" ng-model="HipMotionRanges.ResistLeft" value="SEVERE" > Severe
				</td>
			</tr>
			
			<tr>
				<td class="text-center" colspan="9">
					<a class="btn btn-large btn-info" href="#/{{clinix.ClinixRID}}" ng-click="addNew(HipMotionRanges)" style="text-decoration: none; color: #000">ADD</a>
				</td>
			</tr>


			<!-- D  I   S   P   L   A   Y -->


			<tr class="info" ng-repeat="HipMotionRange in clinix_HipMotionRange">
	        	<td style="color:black" nowrap>{{HipMotionRange.MotionArea}}</td>

	        	<td class="text-center" style="color:black" nowrap>
	        		{{ (HipMotionRange.YN == "0")? "NO" : ((HipMotionRange.YN == "1")? "YES" : "") }}
	        	</td>

	            <td class="text-center" style="color:black" nowrap>{{HipMotionRange.MotionAreaVal}}</td>

	            <td>
	            	<a class="btn btn-large btn-danger" href="#/{{HipMotionRange.ClinixRID}}" ng-click="removeHipMotionRange(HipMotionRange)" style="text-decoration: none">
	            		DELETE
	            	</a>
	        	</td>
                <td>
                	<!-- a class="btn btn-large btn-warning" href="#/{{HipMotionRange.ChiefRID}}/edit" ng-click="editChiefComp(HipMotionRange)" style="text-decoration: none">
                		EDIT
                	</a -->
            	</td>
            	<td></td>
	        </tr>
		</table>

	</div>
</div>