<div ng-controller="HipMotionRangeCtrl">
	<div scroll-bookmark="HipMotionRange">
		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td width="1%" nowrap>
					<span style="font-family: Helvetiker; font-size:30px; color: #000; letter-spacing: 3px; font-style: italic;">
			    		Range of Motion
			    	</span>
			    </td>
				<td width="25%" class="text-center">LEFT</td>
				<td width="25%" class="text-center">RIGHT</td>
				<td width="1%" ></td>
				<td width="1%" ></td>
				<td></td>
			</tr>
			<tr>
				<td>
					<select ng-model="HipMotionRanges.MotionArea" class="form-control"> 
						<option value="">(select one)</option>
						<option value="Flexion Contracture"> Flexion Contracture </option>
						<option value="Flexion"> Flexion </option>
						<option value="Extension"> Extension </option>
						<option value="IR"> IR </option>
						<option value="ER"> ER </option>
						<option value="Abduction(supine)"> Abduction(supine) </option>
						<option value="Abduction(lateral)"> Abduction(lateral) </option>
						<option value="Adduction"> Abduction </option>
					</select>
				</td>
				<td><input type="text" class="form-control" ng-model="HipMotionRanges.Left" placeholder="left" ></td>
				<td><input type="text" class="form-control" ng-model="HipMotionRanges.Right" placeholder="right" ></td>
			</tr>

			<tr>
				<td>
					<select ng-model="HipMotionRanges.MotionArea" class="form-control"> 
						<option value="">(select one)</option>
						<option value="SLR"> SLR </option>
						<option value="SLR vs Resistance"> SLR vs Resistance </option>
					</select>
				</td>
				<td class="text-center">
					<select ng-model="HipMotionRanges.Left" style=" width:110px;" class="form-control">
						<option value="MILD">MILD</option>
						<option value="MODERATE">MODERATE</option>
						<option value="SEVERE">SEVERE</option>
						<option value="INCREASING">INCREASING</option>
					</select> 
				</td>
				<td>
					<select ng-model="HipMotionRanges.Right" style=" width:110px;" class="form-control">
						<option value="MILD">MILD</option>
						<option value="MODERATE">MODERATE</option>
						<option value="SEVERE">SEVERE</option>
						<option value="INCREASING">INCREASING</option>
					</select> 
				</td>

				<td>
					<a class="btn btn-large btn-info" href="#/{{clinix.ClinixRID}}" ng-click="addNew(HipMotionRanges)" style="text-decoration: none; color: #000">ADD</a>
				</td>
			</tr>
		

			<tr class="info" ng-repeat="HipMotionRange in clinix_HipMotionRange">
	        	<td style="color:black" nowrap>{{HipMotionRange.MotionArea}}</td>
	        	<td style="color:black" nowrap>{{HipMotionRange.Left}}</td>
	            <td style="color:black">{{HipMotionRange.Right}}</td>
	            <td>
	            	<a class="btn btn-large btn-danger" href="#/{{HipMotionRange.ClinixRID}}" ng-click="removeHipMotionRange(HipMotionRange)" style="text-decoration: none">
	            		DELETE
	            	</a>
	        	</td>
                <td>
                	<a class="btn btn-large btn-warning" href="#/{{HipMotionRange.ChiefRID}}/edit" ng-click="editChiefComp(HipMotionRange)" style="text-decoration: none">
                		EDIT
                	</a>
            	</td>
            	<td></td>
	        </tr>
		</table>


	</div>
</div>