<div ng-controller="HipMeasuresCtrl">
	<div scroll-bookmark="HipMeasures">
		
		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td class="text-left" width="1%" nowrap>
					<span style="font-family: Helvetiker; font-size:30px; color: #000; letter-spacing: 3px; font-style: italic;">
			    		HIP Measurement (supine)
			    	</span>
				</td>
				<td width="15%" class="text-center">LEFT</td>
				<td width="15%" class="text-center">RIGHT</td>
				<td></td>
			</tr>
			<tr>
				<td nowrap>
					<select ng-model="HIPMeasures.Supine" class="form-control"> 
						<option value="">(select one)</option>
						<option value="Leg length: ASIS / mm"> Leg length: ASIS / mm </option>
						<option value="Thigh"> Thigh </option>
						<option value="LEG Circumference"> LEG Circumference </option>
					</select>
				</td>
				<td><input type="text" class="form-control" ng-model="HIPMeasures.Left" placeholder="Left" ></td>
				<td><input type="text" class="form-control" ng-model="HIPMeasures.Right" placeholder="Right" ></td>
				<td>(cm)</td>
			</tr>

			<tr>
				<td nowrap>
					Dorsalis Pedis Pulse
					<input type="hidden" ng-model="HIPMeasures.Supine" class="form-control" ng-init="HIPMeasures.Supine='Dorsalis Pedis Pulse'" value="Dorsalis Pedis Pulse" READONLY> 
				</td>
				<td class="text-center" nowrap>
					<input type="radio" ng-model="HIPMeasures.Left" value="Absent"> Absent 
					<br>
					<input type="radio" ng-model="HIPMeasures.Left" value="Normal"> Normal
				</td>
				<td class="text-center" nowrap>
					<input type="radio" ng-model="HIPMeasures.Right" value="Absent"> Absent 
					<br>
					<input type="radio" ng-model="HIPMeasures.Right" value="Normal"> Normal
				</td>
				<td>
					<a class="btn btn-large btn-info" href="#/{{clinix.ClinixRID}}" ng-click="addNew(HIPMeasures)" style="text-decoration: none; color: #000">ADD</a>
				</td>
			</tr>
		</table>


		<table class="table table-condensed table-bordered">
			<tr class="info">
				<th width="1%" class="text-center" style="color:#888" nowrap></th>  <!-- OnsetAccuteGradual -->
	        	<th width="1%" class="text-center" style="color:#888" nowrap>Supine</th>
	        	<th width="1%" class="text-center" style="color:#888" nowwrap>Left</th>
	            <th width="1%" class="text-center" style="color:#888" nowrwap>Right</th>
	            <th width="1%"> </th>
	            <th width="1%"> </th>
	            <th width=> </th>
			</tr>

			<tr class="info" ng-repeat="HipMeasure in clinix_HipMeasures">
	        	<td style="color:black" nowrap></td>  <!-- OnsetAccuteGradual -->
	        	<td style="color:black" nowrap>{{HipMeasure.Supine}}</td>
	        	<td style="color:black" nowrap>{{HipMeasure.Left}}</td>
	            <td style="color:black">{{HipMeasure.Right}}</td>
	            <td>
	            	<a class="btn btn-large btn-danger" href="#/{{HipMeasure.ClinixRID}}" ng-click="removeHipMeasure(HipMeasure)" style="text-decoration: none">
	            		DELETE
	            	</a>
	        	</td>
                <td>
                	<a class="btn btn-large btn-warning" href="#/{{HipMeasure.ChiefRID}}/edit" ng-click="editChiefComp(HipMeasure)" style="text-decoration: none">
                		EDIT
                	</a>
            	</td>
            	<td></td>
	        </tr>
		</table>

	</div>
</div>