<div ng-controller="HipStandingCtrl">
	<div scroll-bookmark="HipStanding">
		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td colspan="9">
					<span style="font-family: Helvetiker; font-size:30px; color: #000; letter-spacing: 3px; font-style: italic;">
			    		Standing (hip)
			    	</span>
				</td>

				<td></td>
				<td></td>
			</tr>

			<tr>
				<td width="1%" nowrap> Pelvis Level </td>
				<td class="text-left" colspan="9">
					<input type="radio" name=" PelvisLevel" ng-model="HIPStanding.PelvisLevel" value="Left is Lower"> Left - Lower
					<br><input type="radio" name=" PelvisLevel" ng-model="HIPStanding.PelvisLevel" value="Right is Lower"> Right - Lower
					<br><input type="radio" name=" PelvisLevel" ng-model="HIPStanding.PelvisLevel" value="Left = Right"> Left = Right
				</td>
			</tr>

			<tr>
				<td nowrap> Trendelenberg Exam </td>
				<td class="text-left" nowrap>
					<input type="text" class="form-control" ng-model="HIPStanding.TrendLeft" placeholder="Trendelenberg Left " >
				</td>
			</tr>

			<tr>
				<td class="text-center" colspan="9">
					<a class="btn btn-large btn-info" href="#/{{clinix.ClinixRID}}" ng-click="addNew(HIPStanding)" style="text-decoration: none; color: #000">ADD
					</a>
				</td>
			</tr>

			<!-- D   I   S   P   L   A   Y -->

			<tr class="info" ng-repeat="HipStands in clinix_HipStanding">
	        	<td style="color:black" nowrap>{{HipStands.Standing}}</td>
	        	<td style="color:black" nowrap>{{HipStands.Left}}</td>
	            <td style="color:black">{{HipStands.Right}}</td>
	            <td>
	            	<a class="btn btn-large btn-danger" href="#/{{HipStands.ClinixRID}}" ng-click="removeHipStanding(HipStands)" style="text-decoration: none">
	            		DELETE
	            	</a>
	        	</td>
	            <td>
	            	<!-- a class="btn btn-large btn-warning" href="#/{{HipStands.ChiefRID}}/edit" ng-click="editChiefComp(HipStands)" style="text-decoration: none">
	            		EDIT
	            	</a -->
	        	</td>
	        	<td></td>
	        </tr>
		</table>
	</div>						
</div>						