<div ng-controller="HipStandingCtrl">
	<div scroll-bookmark="HipStanding">
		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td width="25%">
					<span style="font-family: Helvetiker; font-size:30px; color: #000; letter-spacing: 3px; font-style: italic;">
			    		Standing (hip)
			    	</span>
				</td>
				<td width="25%" class="text-center">LEFT</td>
				<td width="25%" class="text-center">RIGHT</td>
				<td></td>
			</tr>

			<tr>
				<td nowrap>
					<input type="text" ng-model="HIPStanding.StandingPelvis" class="form-control" ng-init="HIPStanding.StandingPelvis='Pelvis Level: R = L'" value="Pelvis Level: R = L" READONLY> 
				</td>
				<td class="text-center">
					<input type="radio" name=" PelvisLevel" ng-model="HIPStanding.PelvisLeft" value="Left is Lower"> Left - Lower
				</td>
				<td class="text-center">
					<input type="radio" name=" PelvisLevel" ng-model="HIPStanding.PelvisRight" value="Right is Lower"> Right - Lower
				</td>
			</tr>

			<tr>
				<td nowrap>
					<input type="text" ng-model="HIPStanding.StandingTrend" class="form-control" ng-init="HIPStanding.StandingTrend='Trendelenberg Exam'" value="Trendelenberg Exam" READONLY>
				</td>
				<td>
					<input type="text" class="form-control" ng-model="HIPStanding.TrendLeft" placeholder="Trendelenberg Left " >
				</td>
				<td>
					<input type="text" class="form-control" ng-model="HIPStanding.TrendRight" placeholder="Trendelenberg Right " >
				</td>
				<td>
					<a class="btn btn-large btn-info" href="#/{{clinix.ClinixRID}}" ng-click="addNew(HIPStanding)" style="text-decoration: none; color: #000">ADD
					</a>
				</td>
			</tr>


			<tr class="info" ng-repeat="HipStands in clinix_HipStanding">
	        	<td style="color:black" nowrap>{{HipStands.Standing}}</td>
	        	<td style="color:black" nowrap>{{HipStands.Left}}</td>
	            <td style="color:black">{{HipStands.Right}}</td>
	            <td>
	            	<a class="btn btn-large btn-danger" href="#/{{HipStands.ClinixRID}}" ng-click="removeHipStanding(HipStands)" style="text-decoration: none">
	            		DELETE
	            	</a>
	        	</td>
	            <td>
	            	<a class="btn btn-large btn-warning" href="#/{{HipStands.ChiefRID}}/edit" ng-click="editChiefComp(HipStands)" style="text-decoration: none">
	            		EDIT
	            	</a>
	        	</td>
	        	<td></td>
	        </tr>
		</table>
	</div>						
</div>						