<script>

	// 254.99
	$(document).ready(function()
    {
        $("#hideshowPEHipXRays").hide();

        $("#showPEHipXRays").click(function()
        {
            $("#hideshowPEHipXRays").toggle(200);
        });
    });
</script> 

<div ng-controller="HipXRaysCtrl">
	<div scroll-bookmark="HipXRAYS">

		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td colspan="9">
					<span id="DGL_module_header">
			    		HIP Radiographic Findings
			    	</span>
				</td>
			</tr>

			<tr>
				<td width="1%" nowrap>AP Pelvis including both Hips</td>
				<td colspan="2">
					{{HipXRays.APPelvisBothHipsDate | date}}
					<input type="Date" ng-model="HipXRays.APPelvisBothHipsDate" class="form-control" width="20px"> 
				</td>
			</tr>

			<tr>		
				<td>1. Pelvis Level</td>
				<td colspan="9" nowrap>
					    <input type="radio" name="PelvisLevel" ng-model="HipXRays.Pelvis" value="NORMAL" >Normal
					<br>ASYMMETRICAL &nbsp;&nbsp;&nbsp; <input type="text" ng-model="HipXRays.PelvisInches">
					<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="PelvisLevel" ng-model="HipXRays.Pelvis" value="ASYMMETRICAL: Left is Lower"> Left - Lower/Shorter 
					<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="PelvisLevel" ng-model="HipXRays.Pelvis" value="ASYMMETRICAL: Right is Lower"> Right -Lower/Shorter &nbsp;&nbsp;&nbsp;
					<!-- br>&nbsp;&nbsp;&nbsp;<input type="radio" name=" PelvisLevel" ng-model="HipXRays.Pelvis" value="Left = Right"> Left = Right  -->
				</td>
			</tr>
		

			<tr class="active">
				<td width="1%" nowrap> </td>
				<td width="1%" class="text-center" nowrap> Normal </td>
				<td width="1%" class="text-center" nowrap> Mild </td>	
				<td width="1%" class="text-center" nowrap> Moderate </td>	
				<td width="1%" class="text-center" nowrap> Severe </td>	
				<td></td>
				<td></td>
			</tr>	

			<tr>
				<td nowrap>2. Hip Joint</td>
				<td class="text-center" nowrap></td>
				<td class="text-center" nowrap></td>
				<td class="text-center" nowrap></td>
				<td class="text-center" nowrap></td>
				<td></td>
				<td></td>
			</tr>	

			<tr>
				<td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a. Avascular Necrosis Head </td>
				<td class="text-center" nowrap>
					<input type="radio" ng-model="HipXRays.Avascular" value="NORMAL" >
				</td>
				<td class="text-center" nowrap>
					<input type="radio" ng-model="HipXRays.Avascular" value="MILD" >
				</td>
				<td class="text-center" nowrap>
					<input type="radio" ng-model="HipXRays.Avascular" value="MODERATE" >
				</td>
				<td class="text-center" nowrap>
					<input type="radio" ng-model="HipXRays.Avascular" value="SEVERE" >
				</td>

				<td></td>
				<td></td>
			</tr>	

			<tr>
				<td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;b. Narrowing </td>
				<td class="text-center" nowrap>
					<input type="radio" ng-model="HipXRays.Narrowing" value="NORMAL" >
				</td>
				<td class="text-center" nowrap>
					<input type="radio" ng-model="HipXRays.Narrowing" value="MILD" >
				</td>
				<td class="text-center" nowrap>
					<input type="radio" ng-model="HipXRays.Narrowing" value="MODERATE" >
				</td>
				<td class="text-center" nowrap>
					<input type="radio" ng-model="HipXRays.Narrowing" value="SEVERE" >
				</td>
				<td></td>
				<td></td>
			</tr>	

			<tr>
				<td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;c. Subluxation </td>
				<td class="text-center" nowrap>
					<input type="radio" ng-model="HipXRays.Subluxation" value="NORMAL" >
				</td>
				<td class="text-center">
					<input type="radio" ng-model="HipXRays.Subluxation" value="MILD" >
				</td>
				<td class="text-center" nowrap>
					<input type="radio" ng-model="HipXRays.Subluxation" value="MODERATE" >
				</td>
				<td class="text-center" nowrap>
					<input type="radio" ng-model="HipXRays.Subluxation" value="SEVERE" >
				</td>
				<td></td>
				<td></td>
			</tr>	

			<tr>
				<td nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;d. Osteoporosis </td>
				<td class="text-center" nowrap>
					<input type="radio" ng-model="HipXRays.Osteoporosis" value="NORMAL" >
				</td>
				<td class="text-center">
					<input type="radio" ng-model="HipXRays.Osteoporosis" value="MILD" >
				</td>
				<td class="text-center" nowrap>
					<input type="radio" ng-model="HipXRays.Osteoporosis" value="MODERATE" >
				</td>
				<td class="text-center" nowrap>
					<input type="radio" ng-model="HipXRays.Osteoporosis" value="SEVERE" >
				</td>
				<td></td>
				<td></td>
			</tr>	

			<tr>
				<td colspan="9" nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;e. Fractures: </td>
			</tr>	

			<tr>
				<td class="text-right" nowrap> Neck </td>
				<td class="text-left" colspan="4" nowrap>
					<input type="radio" ng-model="HipXRays.FracturesNeck" value="UNDISPLACED" > Undisplaced
					<br>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					Displaced &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									  <input type="radio" ng-model="HipXRays.FracturesNeck" value="Displaced: G1" > G1
					&nbsp;&nbsp;&nbsp;<input type="radio" ng-model="HipXRays.FracturesNeck" value="Displaced: G2" > G2
					&nbsp;&nbsp;&nbsp;<input type="radio" ng-model="HipXRays.FracturesNeck" value="Displaced: G3" > G3
				</td>
				<td></td>
				<td></td>
			</tr>	

			<tr>
				<td class="text-right" nowrap>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Intertrouch </td>
				<td class="text-left" colspan="4" nowrap>
					<input type="radio" ng-model="HipXRays.Intertrouch" value="UNDISPLACED" > Undisplaced
					<br>
					<input type="radio" ng-model="HipXRays.Intertrouch" value="DISPLACED" > Displaced
				</td>
			</tr>	

			<tr>
				<td nowrap>3. Others </td>
				<td colspan="4">
					<input type="text" class="form-control" ng-model="HipXRays.Others" placeholder="Others">
				</td>
			</tr>	

			<tr>	
				<td class="text-center" colspan="9">
					<a class="btn btn-large btn-info" style="text-decoration: none; color: #000"
					 	ng-click="addNew_HipXRAY(HipXRays)">
						SAVE
					</a>
					<a class="btn btn-large btn-danger" style="text-decoration: none"
					 	ng-click="removeHipXRays(xrayRow)">
	            		DELETE
	            	</a>
				</td>
			</tr>

            <tr class="info">
				<td class="text-left" colspan="9">
                	<input type="submit" id="showPEHipXRays" class="btn btn-danger" value="GROSS PICTURES">
				 
                	<div id="hideshowPEHipXRays">
	                	<div ng-repeat="lab_results in PEHIPxrays" style="padding: 0 20px 0 20px">
							<br><br>
                			LAB Type: &nbsp;&nbsp;&nbsp; {{lab_results.LCatRID}}
        					<br> File Name: &nbsp;&nbsp;&nbsp; {{lab_results.ImageFileName}}
        					<br> Date: &nbsp;&nbsp;&nbsp; {{lab_results.RefDate | date}}
        					<br> Result: &nbsp;&nbsp;&nbsp; {{lab_results.Result}}
        					<br>
							<img ng-src="http://192.168.254.99/{{lab_results.ImageFolder}}/{{lab_results.ImageFileName}}" height="450" class="img-rounded"> 
	                	</div>
                	</div>
				</td>
            </tr>

		</table>
	</div>
</div>