<div ng-controller="KneeMotionRangeCtrl">
	<div scroll-bookmark="KneeMotionRange">
		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td width="1%" nowrap>
					<span style="font-family: Helvetiker; font-size:30px; color: #000; letter-spacing: 3px; font-style: italic;">
			    		Range of Motion (knee)
			    	</span> 
			    </td>
				<td width="25%" class="text-center">LEFT</td>
				<td width="25%" class="text-center">RIGHT</td>
				<td width="1%" ></td>
				<td width="1%" ></td>
				<td></td>
			</tr>

			<tr>					
				<td nowrap> Flexion Contracture </td>
				<td><input type="text" class="form-control" ng-model="KneeROM.FlexionContractureLeft" placeholder="left (none)" ></td>
				<td><input type="text" class="form-control" ng-model="KneeROM.FlexionContractureRight" placeholder="right (none)" ></td>
			</tr>
				
			<tr>					
				<td nowrap> Extension </td>
				<td><input type="text" class="form-control" ng-model="KneeROM.ExtensionLeft" placeholder="left (none)" ></td>
				<td><input type="text" class="form-control" ng-model="KneeROM.ExtensionRight" placeholder="right (none)" ></td>
			</tr>

			<tr>					
				<td nowrap> Flexion </td>
				<td><input type="text" class="form-control" ng-model="KneeROM.FlexionLeft" placeholder="left (none)" ></td>
				<td><input type="text" class="form-control" ng-model="KneeROM.FlexionRight" placeholder="right (none)" ></td>
			</tr>
				
			<tr>
				<td class="text-center" colspan="9">
					<a class="btn btn-large btn-info" href="#/{{clinix.ClinixRID}}" ng-click="addNew(KneeROM)" style="text-decoration: none; color: #000">ADD</a>
				</td>
			</tr>
		

			<tr class="info" ng-repeat="KneeMotionRange in clinix_KneeMotionRange">
	        	<td style="color:black" nowrap>{{KneeMotionRange.MotionArea}}</td>
	        	<td style="color:black" nowrap>{{KneeMotionRange.Left}}</td>
	            <td style="color:black">{{KneeMotionRange.Right}}</td>
	            <td>
	            	<a class="btn btn-large btn-danger" href="#/{{KneeMotionRange.ClinixRID}}" ng-click="removeKneeMotionRange(KneeMotionRange)" style="text-decoration: none">
	            		DELETE
	            	</a>
	        	</td>
                <td>
                	<!-- a class="btn btn-large btn-warning" href="#/{{KneeMotionRange.ChiefRID}}/edit" ng-click="editChiefComp(KneeMotionRange)" style="text-decoration: none">
                		EDIT
                	</a -->
            	</td>
            	<td></td>
	        </tr>
		</table>
	</div>
</div>