<div ng-controller="KneeAlignmentCtrl">
	<div scroll-bookmark="KneeAlignment">	

		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td class="text-left" width="1%" colspan="9" nowrap>
					<span id="DGL_module_header">
			    		Knee Alignment
			    	</span>
				</td>
			</tr>

			<tr>
				<td width="7%"></td>
				<td class="text-right">Normal</td>
				<td nowrap>
					<input type="radio" value="1" ng-model="KneeAlignment.Normal"> Yes &nbsp;&nbsp;
					<input type="radio" value="0" ng-model="KneeAlignment.Normal"> No
				</td>
				<td></td>
			</tr>

			<tr>
				<td></td>
				<td width="1%">Alignment</td>
				<td width="15%" class="text-right" nowrap>
					<input type="radio" value="Supine" ng-model="KneeAlignment.Alignment"> Supine
					&nbsp;&nbsp;
					<input type="radio" value="Standing" ng-model="KneeAlignment.Alignment"> Standing</td>
				</td>
				<td></td>
			</tr>

			<tr>
				<td></td>
				<td class="text-right">Varus</td>
				<td>
					<input type="text" ng-model="KneeAlignment.Varus" class="form-control">
				</td>
				<td></td>
			</tr>

			<tr>
				<td></td>
				<td class="text-right">Valgus</td>
				<td>
					<input type="text" ng-model="KneeAlignment.Valgus" class="form-control">
				</td>
				<td></td>
			</tr>

			<tr>
				<td colspan="9" class="text-center">
					<a class="btn btn-large btn-info" style="text-decoration: none; color: #000" 
						ng-click="addNew_KneeAlignment(KneeAlignment)">
						SAVE
					</a>

					<a class="btn btn-large btn-danger" style="text-decoration: none"
					 	ng-click="removeKneeAlignment()">
	            		DELETE
	            	</a>
				</td>
			</tr>
		</table>		
	</div>
</div>