<div ng-controller="KneeAlignmentCtrl">
	<div scroll-bookmark="KneeAlignment">	

		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td class="text-left" width="1%" colspan="9" nowrap>
					<span style="font-family: Helvetiker; font-size:30px; color: #000; letter-spacing: 3px; font-style: italic;">
			    		Knee Alignment
			    	</span>
				</td>
			</tr>

			<tr>
				<td width="1%">Alignment</td>
				<td width="15%" class="text-right">
					<input type="text" ng-model="KneeAlignment.Alignment1" class="form-control" ng-init="KneeAlignment.Alignment1='Supine'" value="Supine" READONLY>
				</td>
				<td width="15%">
					<input type="text" ng-model="KneeAlignment.Degrees11" class="form-control" placeholder="Supine">
				</td>
				<td width="1%" class="text-right">Degrees</td>
				<td width="15%">
					<input type="text" ng-model="KneeAlignment.Degrees12" class="form-control" placeholder="Degrees" >
				</td>
				<td width="1%">
					
				</td>
				<td></td>
			</tr>


			<tr>
				<td>&nbsp;</td>
				<td>
					<select ng-model="KneeAlignment.Alignment2" class="form-control"> 
						<option value="">(select one)</option> 
						<option value="Normal">Normal</option> 
						<option value="Varus">Varus</option> 
						<option value="Valgus">Valgus</option> 
					</select>

				</td>
				<td>
					<input type="text" ng-model="KneeAlignment.Degrees21" class="form-control">
				</td>
				
				<td></td>
				<td class="text-center">
					<a class="btn btn-large btn-info" href="#/{{clinix.ClinixRID}}" ng-click="addNew(KneeAlignment)" style="text-decoration: none; color: #000">ADD</a>
				</td>
				<td></td>
			</tr>


			<tr class="info">
				<th width="1%" class="text-center" style="color:#888" nowrap></th>
	        	<th width="1%" class="text-center" style="color:#888" nowrap>Alignment</th>
	        	<th width="1%" class="text-center" style="color:#888" nowwrap>Value</th>
	            <th width="1%" class="text-center" style="color:#888" nowrwap>Degrees</th>
	            <th width="1%"> </th>
	            <th width="1%"> </th>
	            <th width=> </th>
			</tr>

			<tr class="info" ng-repeat="KneeAlignment in clinix_KneeAlignment">
	        	<td style="color:black" nowrap></td>
	        	<td style="color:black" nowrap>{{KneeAlignment.Alignment}}</td>
	        	<td style="color:black" nowrap>{{KneeAlignment.Degrees1}}</td>
	            <td style="color:black">{{KneeAlignment.Degrees2}}</td>
	            <td>
	            	<a class="btn btn-large btn-danger" href="#/{{KneeAlignment.ClinixRID}}" ng-click="removeKneeAlignment(KneeAlignment)" style="text-decoration: none">
	            		DELETE
	            	</a>
	        	</td>
                <td>
                	<a class="btn btn-large btn-warning" href="#/{{KneeAlignment.ChiefRID}}/edit" ng-click="editChiefComp(KneeAlignment)" style="text-decoration: none">
                		EDIT
                	</a>
            	</td>
            	<td></td>
	        </tr>
		</table>		
	</div>
</div>