<div ng-controller="KneeMotionRangeCtrl">
	<div scroll-bookmark="KneeMotionRange">
		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td colspan="9" nowrap>
					<span id="DGL_module_header">
			    		Range of Motion (knee)
			    	</span> 
			    </td>
			</tr>

			<tr>					
				<td width="1%" nowrap> Flexion Contracture </td>
				<td width="45%"><input type="text" class="form-control" ng-model="KneeROM.FlexionContracture"></td>
				<td width="1%"></td>
				<td></td>
			</tr>
				
			<tr>					
				<td nowrap> Extension </td>
				<td><input type="text" class="form-control" ng-model="KneeROM.Extension"></td>
			</tr>

			<tr>					
				<td nowrap> Flexion </td>
				<td><input type="text" class="form-control" ng-model="KneeROM.Flexion"></td>
			</tr>
				
			<tr>
				<td class="text-center" colspan="9">
					<a class="btn btn-large btn-info" ng-click="addNew_ROM(KneeROM)" style="text-decoration: none; color: #000">
						SAVE
					</a>
					<a class="btn btn-large btn-danger" style="text-decoration: none"
						ng-click="removeKneeMotionRange()">
	            		DELETE
	            	</a>
				</td>
			</tr>
		
		</table>
	</div>
</div>