<div ng-controller="KneeXRaysCtrl">
	<div scroll-bookmark="KneeXRAY">
		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td width="1%" colspan="9" nowrap>
					<span style="font-family: Helvetiker; font-size:30px; color: #000; letter-spacing: 3px; font-style: italic;">
			    		Knee Radiographic Findings
			    	</span>
			    </td>
			</tr>

			<tr class="active">
				<td width="1%" class="text-center" colspan="1"> </td>
				<td width="1%"></td>
				<td width="20%" nowrap><center>(R) Medial</td>
				<td width="20%" nowrap><center>Leteral</td>
				<td></td>
			</tr>

			<tr>
				<td class= "text-center">XRay Date</td>
				<td>
					<input type="date" ng-model="KneeXRayForm.APDate" class="form-control">
				</td>
				<td></td>
			</tr>

			<tr>
				<td nowrap>AP Standing</td>
				<td class="text-left" nowrap>
					<input type="text" class="form-control" ng-model="KneeXRayForm.APDegrees" placeholder="degrees" >
				
					<br>Joint Space
					<br><input type="radio" ng-model="KneeXRayForm.APSeverity" value="MILD" > Mild
					<br><input type="radio" ng-model="KneeXRayForm.APSeverity" value="MODERATE" > Moderate
					<br><input type="radio" ng-model="KneeXRayForm.APSeverity" value="SEVERE" > Severe
					<br><input type="radio" ng-model="KneeXRayForm.APSeverity" value="INCREASING" > Increasing
				</td>

				<td>
					<input type="text" class="form-control" ng-model="KneeXRayForm.APMedial" placeholder="medial (none)">
				</td>
				<td>
					<input type="text" class="form-control" ng-model="KneeXRayForm.APLateral" placeholder="lateral (none)">
				</td>
				<td></td>
			</tr>

			<tr>
				<td nowrap>Varus Deformity</td>
				<td class="text-left" nowrap>
					<input type="text" class="form-control" ng-model="KneeXRayForm.VarusDegrees" placeholder="degrees" >
				</td>
				<td>
					<input type="text" class="form-control" ng-model="KneeXRayForm.VarusMedial" placeholder="medial (none)" >
				</td>
				<td>
					<input type="text" class="form-control" ng-model="KneeXRayForm.VarusLateral" placeholder="lateral (none)" >
				</td>
				<td></td>
			</tr>

			<tr>
				<td nowrap>Valgus Deformity</td>
				<td class="text-left" nowrap>
					<input type="text" class="form-control" ng-model="KneeXRayForm.ValgusDegrees" placeholder="degrees" >
				</td>
				<td>
					<input type="text" class="form-control" ng-model="KneeXRayForm.ValgusMedial" placeholder="medial (none)" >
				</td>
				<td>
					<input type="text" class="form-control" ng-model="KneeXRayForm.ValgusLateral" placeholder="lateral (none)" >
				</td>
				<td></td>
			</tr>

			<tr>
				<td nowrap>Lateral 30
					<input type="hidden" ng-model="KneeXRayForm.APXRayItem5" class="form-control" ng-init="KneeXRayForm.APXRayItem5='Lateral 30'" value="Lateral 30" READONLY>
				</td>
				<td class="text-left" nowrap>
					    <input type="radio" ng-model="KneeXRayForm.Lateral30Severity" value="MILD" > Mild
					<br><input type="radio" ng-model="KneeXRayForm.Lateral30Severity" value="MODERATE" > Moderate
					<br><input type="radio" ng-model="KneeXRayForm.Lateral30Severity" value="SEVERE" > Severe
					<br><input type="radio" ng-model="KneeXRayForm.Lateral30Severity" value="INCREASING" > Increasing
				</td>
				<td></td>
			</tr>
			<tr>
				<td nowrap>Laurin (patella) Views

				</td>
				<td class="text-left" nowrap>
					    <input type="radio" ng-model="KneeXRayForm.LaurinPatellaSeverity" value="MILD" > Mild
					<br><input type="radio" ng-model="KneeXRayForm.LaurinPatellaSeverity" value="MODERATE" > Moderate
					<br><input type="radio" ng-model="KneeXRayForm.LaurinPatellaSeverity" value="SEVERE" > Severe
					<br><input type="radio" ng-model="KneeXRayForm.LaurinPatellaSeverity" value="INCREASING" > Increasing
				</td>
				<td></td>
			</tr>
			<tr>
				<td class="text-center" colspan="9">
					<a class="btn btn-large btn-info" ng-click="addNew(KneeXRayForm)" style="text-decoration: none; color: #000">ADD</a>
				</td>
			</tr>

		</table>

		<table class="table table-condensed table-bordered">

			<tr class="info" ng-repeat="xrayRow in clinix_KneeXRays">
	        	<td nowrap>
 					<table class="table table-condensed table-bordered">
 						<tr class="info">
							<th width="1%" class="text-center" style="color:#888" nowrap>XRay DATE</th>
				        	<th width="1%" class="text-center" style="color:#888" nowwrap>ITEM</th>
				            <th width="1%" class="text-center" style="color:#888" nowrwap>DEGREES</th>
				            <th width="1%" class="text-center" style="color:#888" nowrwap>SEVERITY</th>
				            <th width="1%" class="text-center" style="color:#888">MEDIAL</th>
				            <th width="1%" class="text-center" style="color:#888">LATERAL</th>
				            <th></th>
						</tr>

 						<tr class="info">
 							<td style="color:black">{{xrayRow.APDate | date}}</td>
				        	<td style="color:black">{{xrayRow.APStanding}}</td>
				        	<td style="color:black">{{xrayRow.APDegrees}}</td>
				            <td style="color:black">{{xrayRow.APSeverity}}</td>
				            <td style="color:black">{{xrayRow.APMedial}}</td>
				            <td style="color:black">{{xrayRow.APLateral}}</td>
				            <td></td>
			        	</tr>
 						<tr class="info">
 							<td> </td>
				        	<td style="color:black">{{xrayRow.Varus}}</td>
				        	<td style="color:black">{{xrayRow.VarusDegrees}}</td>
				            <td style="color:black">{{xrayRow.VarusSeverity}}</td>
				            <td style="color:black">{{xrayRow.VarusMedial}}</td>
				            <td style="color:black">{{xrayRow.VarusLateral}}</td>
				            <td></td>
			        	</tr>
 						<tr class="info">
 							<td> </td>
				        	<td style="color:black">{{xrayRow.Valgus}}</td>
				        	<td style="color:black">{{xrayRow.ValgusDegrees}}</td>
				            <td style="color:black">{{xrayRow.ValgusSeverity}}</td>
				            <td style="color:black">{{xrayRow.ValgusMedial}}</td>
				            <td style="color:black">{{xrayRow.ValgusLateral}}</td>
				            <td></td>
			        	</tr>
 						<tr class="info">
 							<td> </td>
				        	<td style="color:black">{{xrayRow.Lateral30}}</td>
				        	<td style="color:black">{{xrayRow.Lateral30Degrees}}</td>
				            <td style="color:black">{{xrayRow.Lateral30Severity}}</td>
				            <td style="color:black">{{xrayRow.Lateral30Medial}}</td>
				            <td style="color:black">{{xrayRow.Lateral30Lateral}}</td>
				            <td></td>
			        	</tr>
 						<tr class="info">
 							<td> </td>
				        	<td style="color:black">{{xrayRow.LaurinPatella}}</td>
				        	<td style="color:black">{{xrayRow.LaurinPatellaDegrees}}</td>
				            <td style="color:black">{{xrayRow.LaurinPatellaSeverity}}</td>
				            <td style="color:black">{{xrayRow.LaurinPatellaMedial}}</td>
				            <td style="color:black">{{xrayRow.LaurinPatellaLateral}}</td>
				            <td></td>
			        	</tr>
		        	</table>
	        	</td>

	            <td>
	            	<br>
	            	<br>
	            	<br>
	            	<a class="btn btn-large btn-danger" ng-click="removeKneeXRays(xrayRow)" style="text-decoration: none">
	            		DELETE
	            	</a>
	        	</td>
                <td>
                	<!-- a class="btn btn-large btn-warning" href="#/{{xrayRow.ChiefRID}}/edit" ng-click="editChiefComp(xrayRow)" style="text-decoration: none">
                		EDIT
                	</a -->
            	</td>
	        </tr>

		</table>	
	</div>
</div>