<!-- div ng-controller="SkelTrauma_1Ctrl" -->
	<table class="table table-condensed table-bordered">
		<tr>
			<td class="active" width="15%">Appearance</td>
			<td>
				<input type="radio" name="App" value="Normal" checked> Normal
			</td>
			<td colspan="6" class="form-inline">
				Deformity
				<input type="text" name="TypeApperance" class="form-control" size='55'>
			</td>
		</tr>

		<tr>
			<td class="active">Skin</td>
			<td>
				<input type="radio" name="Skin" value="0"  checked> Closed
			</td>
			<td>
				Open:
				<input type="radio" name="Skin" value="2"> G1
				&nbsp;&nbsp;&nbsp;
				<input type="radio" name="Skin" value="3"> G2
				&nbsp;&nbsp;&nbsp;
				<input type="radio" name="Skin" value="4"> G3
			</td>
		</tr>
		<tr>
			<td class="active">
				Pain
			</td>
			<td class="text-right">
				Active Motion:
			</td>
			
			<td class="text-left" colspan="2" nowrap> 
				<input type="radio" ng-model="HipMotionRanges.SLRValR" value="NORMAL" > Normal
				&nbsp;&nbsp;&nbsp;<input type="radio" ng-model="HipMotionRanges.SLRValR" value="MILD" > Mild
				&nbsp;&nbsp;&nbsp;<input type="radio" ng-model="HipMotionRanges.SLRValR" value="MODERATE" > Moderate
				&nbsp;&nbsp;&nbsp;<input type="radio" ng-model="HipMotionRanges.SLRValR" value="SEVERE" > Severe
			</td>
		</tr>
		<tr>
			<td class="active">
			
			</td>
			<td class="text-right">
				Passive Motion:
			</td>
			
			<td class="text-left" colspan="2" nowrap> 
				<input type="radio" ng-model="HipMotionRanges.SLRValR" value="NORMAL" > Normal
				&nbsp;&nbsp;&nbsp;<input type="radio" ng-model="HipMotionRanges.SLRValR" value="MILD" > Mild
				&nbsp;&nbsp;&nbsp;<input type="radio" ng-model="HipMotionRanges.SLRValR" value="MODERATE" > Moderate
				&nbsp;&nbsp;&nbsp;<input type="radio" ng-model="HipMotionRanges.SLRValR" value="SEVERE" > Severe
			</td>
			
		</tr>
		<tr>
			<td class="active">
				Neurologic Status
			</td>
			<td>
				<input type="radio" name="Neurologic" value="2" checked> Normal
			</td>
			<td colspan="4">
				<input type="radio" name="Neurologic" value="3"> Poor
			</td>
		</tr>
		<tr>
			<td class="active">Vascular Status</td>
			<td>
				<input type="radio" name="Vascular" value="2" checked> Normal
			</td>
			<td>
				<input type="radio" name="Vascular" value="3"> Poor
			</td>
		</tr>
		
	</table>


	<table class="table table-condensed table-bordered">
		<tr class="info">
			<th width="1%" class="text-center" style="color:#888" nowrap>Supine</th>
        	<th width="1%" class="text-center" style="color:#888" nowwrap>Left</th>
            <th width="1%" class="text-center" style="color:#888" nowrwap>Right</th>
            <th width="1%"> </th>
            <th width="1%"> </th>
            <th width=> </th>
		</tr>
		<tr class="info" ng-repeat="HipMeasure in clinix_HipMeasures">
        	<td style="color:black" nowrap></td>  <!-- OnsetAccuteGradual -->
        	<td style="color:black" nowrap>{{HipMeasure.Supine}}</td>
        	<td style="color:black" nowrap>{{HipMeasure.Left}}</td>
            <td style="color:black">{{HipMeasure.Right}}</td>
            <td>
            	<a class="btn btn-large btn-danger" href="#/{{HipMeasure.ClinixRID}}" ng-click="removeHipMeasure(HipMeasure)" style="text-decoration: none">
            		DELETE
            	</a>
        	</td>
            <td>
            	<a class="btn btn-large btn-warning" href="#/{{HipMeasure.ChiefRID}}/edit" ng-click="editChiefComp(HipMeasure)" style="text-decoration: none">
            		EDIT
            	</a>
        	</td>
        	<td></td>
        </tr>
	</table>

	<table class="table table-condensed table-bordered">
		
		<tr>
			<td colspan="9" nowrap>
				Describe in details if Neurologic and Vascular are Poor
				<br>
				<textarea id="tinymce" ui-tinymce ng-model="SkelTruma.ApperanceText" class="form-control" rows="5"></textarea>
			</td>
		</tr>
		<tr>
			<td class="text-center" width="10%" nowrap>
				<a class="btn btn-large btn-info" href="#/{{clinix.ClinixRID}}" ng-click="addNew(Diagnosis)" style="text-decoration: none; color: #000">Save</a>
			</td>
		</tr>

		<tr class="info" ng-repeat="diagnosed in clinix_Diagnosis">
        	
        	<td style="color:black">{{diagnosed.Diagnosis}}</td>

            <td width="1%">
            	<a class="btn btn-large btn-danger" href="#/{{diagnosed.ClinixRID}}" ng-click="removeDiagnosis(diagnosed)" style="text-decoration: none">
            		DELETE
            	</a>
        	</td>
        	
            <td width="1%">
            	<a class="btn btn-large btn-warning" href="#/{{diagnosed.ChiefRID}}/edit" ng-click="editChiefComp(diagnosed)" style="text-decoration: none">
            		EDIT
            	</a>
        	</td>
        </tr>
	</table>
<!-- /div -->