<script>
    // 10.0.1.99
    $(document).ready(function()
    {
        $("#hideshowPre_OPSkelTraumaXRays").show(); //hide

        $("#showPreOpSkelTraumaXRays").click(function()
        {
            $("#hideshowPre_OPSkelTraumaXRays").toggle(200);
        });


        $("#hideshowPost_OPSkelTraumaXRays").show();

        $("#showPostOpSkelTraumaXRays").click(function()
        {
            $("#hideshowPost_OPSkelTraumaXRays").toggle(200);
        });
    });
</script> 

<div ng-controller="SkelTrauma_XRays_Ctrl">
	
	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<td width="1%" colspan="9" nowrap>
				<span id="DGL_module_header">
		    		PRE-Operative Skeletal Trauma X-Rays
		    	</span>
		    </td>
		</tr>

		<tr class="active">
			<td class="text-center" colspan="9">
                <a class="btn btn-large btn-info" style="text-decoration: none;"
                    scroll-to-bookmark="XRAYBOX_APPERANCE">
                    JUMP TO X-Ray Findings
                </a>

            	<input type="submit" id="showPreOpSkelTraumaXRays" class="btn btn-danger" value="GROSS PICTURES - PRE OP">
			</td>
		</tr>

        <tr class="info">
			<td class="text-left" colspan="9" nowrap>
            	<div id="hideshowPre_OPSkelTraumaXRays">
                	<div style="padding: 0 20px 0 20px" ng-repeat="lab_results in AllPreSkelTraumaxrays">
                		<br><br>
                		LAB Type: &nbsp;&nbsp;&nbsp; {{lab_results.LCatRID}}
        				<br> File Name: &nbsp;&nbsp;&nbsp; {{lab_results.ImageFileName}}
        				<br> Date: &nbsp;&nbsp;&nbsp; {{lab_results.RefDate | date}}
        				<br> Result: &nbsp;&nbsp;&nbsp; {{lab_results.Result}}
        				<br> <img ng-src="http://10.0.1.99/{{lab_results.ImageFolder}}/{{lab_results.ImageFileName}}" width="70%" class="img-rounded"> 
                	</div>
            	</div>
			</td>
        </tr>
    </table>
		
	<table class="table table-condensed table-bordered">
		<tr class="warning">
			<td width="1%" colspan="9" nowrap>
				<span id="DGL_module_header">
		    		POST-Operative Skeletal Trauma X-Rays
		    	</span>
		    </td>
		</tr>

		<tr class="active">
			<td class="text-center" colspan="9">
                 <a class="btn btn-large btn-info" style="text-decoration: none;"
                    scroll-to-bookmark="XRAYBOX_APPERANCE">
                    JUMP TO X-Ray Findings
                </a>

            	<input type="submit" id="showPostOpSkelTraumaXRays" class="btn btn-danger" value="GROSS PICTURES - POST OP">
			</td>
		</tr>


        <tr class="info">
            <td class="text-left" colspan="9" nowrap>
                <div id="hideshowPost_OPSkelTraumaXRays">
                    <div style="padding: 0 20px 0 20px" ng-repeat="lab_results in AllPostSkelTraumaxrays">
                        <br><br>
                        LAB Type: &nbsp;&nbsp;&nbsp; {{lab_results.LCatRID}}
                        <br> File Name: &nbsp;&nbsp;&nbsp; {{lab_results.ImageFileName}}
                        <br> Date: &nbsp;&nbsp;&nbsp; {{lab_results.RefDate | date}}
                        <br> Result: &nbsp;&nbsp;&nbsp; {{lab_results.Result}}
                        <br> <img ng-src="http://10.0.1.99/{{lab_results.ImageFolder}}/{{lab_results.ImageFileName}}" width="70%" class="img-rounded"> 
                    </div>
                </div>
            </td>
        </tr>
    </table>

</div>