
<div ng-controller="spine_2_Ctrl">
<table class="table table-bordered">
	<tr>
		<td class="warning" colspan="3">
			<div scroll-bookmark="SPINEPainSeverity" id="DGL_module_header">
				<b>Pain Sevirity</b>
			</div>
		</td>

	</tr>

	<tr>
		<td colspan="3" class="active">
			If 10 is the worst pain imaginable and 0 is no pain at all, please note your pain over the last <b>TWO WEEKS</b>
		</td>
	</tr>

	<tr>
		<td class="text-center active">A</td>
		<td>
			<div class="form-inline">
				Please rate your <B>AVERAGE</B> amount of back/neck pain:
				<input type="text" ng-model="spine2.backneckpain"class="form-control" value="">
			</div>
		</td>
	</tr>
	<tr>
		<Td class="text-center active">B</td>
		<td class="form-inline">
			Please rate your <B>AVERAGE</B> amount of leg/arm pain:
			<input type="text" ng-model="spine2.legarmpain" class="form-control" value="">
			
		</td>
	</tr>
	<tr>
		<td colspan="4" class="text-center active">
			<a class="btn btn-large btn-info" ng-click="addNew_spine2(spine2)" style="text-decoration: none; color: #000">SAVE</a>

			<a class="btn btn-large btn-danger" ng-click="removespine2(spine2)" style="text-decoration: none; color: #000">DELETE</a>
		<td>
	</tr>
</table>
</div>
