<div ng-controller="footAnkle_8_Ctrl">
	<table class='table table-bordered'>
			<tr>
				<td colspan="6" class="warning" id="DGL_module_header">
					MRI
				</td>
			</tr>
			<tr>
				<td colspan="6" class='active'>
					<input type="checkbox" ng-model="FootAnkle8.Effusion"  ng-true-value="1" ng-false-value="0" > Effusion
				</td>
			</tr>
			<tr>
				<td colspan="6" class='active'>
					<input type="checkbox" ng-model="FootAnkle8.SynovialInflammation" ng-true-value="1" ng-false-value="0" > Synovial inflammation:
					
				</td>
			</tr>
			<tr>
				<td class='active' width='1%' nowrap>
					<input type="checkbox" ng-model="FootAnkle8.MedialLigamentComplexSprain" ng-true-value="1" ng-false-value="0" > Medial ligament complex Sprain
					
				</td>
				<td>
					Grade 
				</td>
				<td>
					<input type="text"  ng-model="FootAnkle8.MedialLigamentComplexSprainGrade" class="form-control">
				</td>
				<td>
					Specific ligaments
				</td>
				<td>
					<input type="text"  ng-model="FootAnkle8.SpecificLigamentsDescrip" class="form-control">
				</td>
			</tr>
			<tr>
				<td class='active' nowrap>
					<input type="checkbox" ng-model="FootAnkle8.LateralLigamentComplexSprain" ng-true-value="1" ng-false-value="0"> Lateral ligament complex Sprain
					
				</td>
				<td>
					Grade 
				</td>
				<td>
					<input type="text" ng-model="FootAnkle8.LateralLigamentComplexSprainGrade" class="form-control">
				</td>
				<td>
					Specific ligaments
				</td>
				<td>
					<input type="text" ng-model="FootAnkle8.SpecificLigaments" class="form-control">
				</td>
			</tr>
			<tr>
				<td class='active'>
					<input type="checkbox" ng-model="FootAnkle8.SyndesmoticSprain" ng-true-value="1" ng-false-value="0" > Syndesmotic sprain
					
				</td>
				<td>
					Grade 
				</td>
				<td>
					<input type="text" ng-model="FootAnkle8.SyndesmoticSprainGrade" class="form-control">
				</td>
			</tr>
			<tr class='active'>
				<td >
					
				</td>
				<td nowrap class='text-center'>
					INFLAMED
				</td>
				<td nowrap class='text-center'>
					PATRIAL
				</td>
				<td nowrap class='text-center'>
					COMPLETE
				</td>
			</tr>
			<tr>
				<td class='active'>
					<input type="checkbox" ng-model="FootAnkle8.PeronialTendonPathology" ng-true-value="1" ng-false-value="0" >Peronial tendon pathology
				</td>
				<td nowrap class='text-center'>
					 <input type="checkbox" ng-model="FootAnkle8.PeronialTendonPathologyInflamed" ng-true-value="Inflamed" >
				</td>
				<td nowrap class='text-center'>
					 <input type="checkbox" ng-model="FootAnkle8.PeronialTendonPathologyPartial" ng-true-value="Partial" >
				</td>
				<td nowrap class='text-center'>
					 <input type="checkbox" ng-model="FootAnkle8.PeronialTendonPathologyComplete" ng-true-value="Complete" > 
				</td>
			</tr>
			
			<tr>
				<td class='active'>
					<input type="checkbox" ng-model="FootAnkle8.Posteriortibialtendonpathology" ng-true-value="1" ng-false-value="0"  >Posterior tibial tendon pathology
				</td>
				<td class='text-center'>
					 <input type="checkbox" ng-model="FootAnkle8.PosteriortibialtendonpathologyInflamed" ng-true-value="Inflamed" >
				</td>
				<td class='text-center'>
					 <input type="checkbox" ng-model="FootAnkle8.PosteriortibialtendonpathologyPartial" ng-true-value="Partial" >
				</td>
				<td class='text-center'>
					 <input type="checkbox" ng-model="FootAnkle8.PosteriortibialtendonpathologyComplete" ng-true-value="Complete" >
				</td>
			</tr>
			
			<tr>
				<td class='active'>
					<input type="checkbox" ng-model="FootAnkle8.AnteriorTibialTendonPathology" ng-true-value="1" ng-false-value="0"  >Anterior tibial tendon pathology
				</td>
				<td class='text-center'>
					 <input type="checkbox" ng-model="FootAnkle8.AnteriorTibialTendonPathologyInflamed" ng-true-value="Inflamed" >
				</td>
				<td class='text-center'>
					 <input type="checkbox" ng-model="FootAnkle8.AnteriorTibialTendonPathologyPartial" ng-true-value="Partial" >
				</td>
				<td class='text-center'>
					 <input type="checkbox" ng-model="FootAnkle8.AnteriorTibialTendonPathologyComplete" ng-true-value="Complete" >
				</td>

			</tr>
			<tr>
				<td class='active'>
					<input type="checkbox" ng-model="FootAnkle8.AchillesTendonPathology" ng-true-value="1" ng-false-value="0"  >Achilles tendon pathology
				</td>
				<td class='text-center'>
					 <input type="checkbox" ng-model="FootAnkle8.AchillesTendonPathologyInflamed" ng-true-value="Inflamed" >
				</td>
				<td class='text-center'>
					 <input type="checkbox" ng-model="FootAnkle8.AchillesTendonPathologyPartial" ng-true-value="Partial" >
				</td>
				<td class='text-center'>
					 <input type="checkbox" ng-model="FootAnkle8.AchillesTendonPathologyComplete" ng-true-value="Complete" >  
				</td>
			</tr>
			<tr>
				<td colspan="6" class='active'>
					<input type="checkbox" ng-model="FootAnkle8.AnteriorBonySpur" ng-true-value="1" ng-false-value="0"  >Anterior bony spur
				</td>
			</tr>
			<tr>
				<td colspan="6" class='active'>
					<input type="checkbox" ng-model="FootAnkle8.PosteriorSoftTissueImpingement" ng-true-value="1" ng-false-value="0"  >Posterior soft tissue impingement
				</td>
			</tr>
			<tr>
				<td class='active'>
					<input type="checkbox" ng-model="FootAnkle8.HalundPathology" ng-true-value="1" ng-false-value="0"  >Halund's pathology
				</td>
				<td nowrap colspan="2">
					<input type="checkbox" ng-model="FootAnkle8.RetrocalcanealBursalInflammation" ng-true-value="Retrocalcaneal Bursal Inflammation" > Retrocalcaneal Bursal Inflammation
				</td>
				<td colspan="2">
					<input type="checkbox" ng-model="FootAnkle8.RetrotendocalcanealBursalInflammation" ng-true-value="Retrotendocalcaneal Bursal Inflammation" > Retrotendocalcaneal Bursal Inflammation
				</td>
			</tr>
			<tr>
				<td class='active'>
					<input type="checkbox" ng-model="FootAnkle8.OsteochodralLesion" ng-true-value="1" ng-false-value="0"> Osteochodral lesion
				</td>
				<td>
					Location
				</td>
				<td>
					<input type="text" ng-model="FootAnkle8.OsteochodralLesionDecrip" class="form-control">
				</td>
			</tr>
			<tr>
				<td class='active'>
					Others
				</td>
				<td></td>
				<td colspan='2'>
					<input type="text" ng-model="FootAnkle8.OtherMRI" class="form-control">
				</td>
			</tr>
			<tr>
				<td colspan="6" class="text-center active">
					<a class="btn btn-large btn-info" ng-click="addNew_FootAnkle8(FootAnkle8)" style="text-decoration: none; color: #000">SAVE</a>

					<a class="btn btn-large btn-danger" ng-click="removeFootAnkle8(FootAnkle8)" style="text-decoration: none; color: #000">DELETE</a>
				</td>
			</tr>
		</table>
	</div>