<div ng-controller="knee_3_Ctrl">
		<table class="table table-condensed table-bordered">
			<tr>
				<td colspan="3" class="text-center">
					<input type="radio" ng-model="SportsKnee3.SensoryLeftRight" value="LEFT" > LEFT
				</td>
				<td colspan="3">
					<input type="radio" ng-model="SportsKnee3.SensoryLeftRight" value="RIGHT" > RIGHT
				</td>
			</tr>
			<tr class="active">
				<td class="text-center" width='1%' nowrap>Inspection</td>
				<td class="text-center" width='1%'>(-)</td>
				<td class="text-center" width='1%'>(+)</td>
				<td colspan="3" class="text-center">Details (Size, Location, Description)</td>
			</tr>
			<tr>
				<td class="active" nowrap>
					Deformity
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.DeformitySel" value="0" >
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.DeformitySel" value="1" >
				</td>
				<td class='form-inline' width='15'>
					<input type="text" ng-model="SportsKnee3.DeformityDefinition" class="form-control" value="" >
				</td>
			</tr>
			<tr>
				<td class="active" nowrap>
					Erythema
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.ErythemaSel" value="0" >
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.ErythemaSel" value="1" >
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="SportsKnee3.ErythemaDescrip" class="form-control" value="" >
				</td>
			</tr>
			<tr>
				<td class="active" nowrap>
					Open Wound
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.OpenWoundSel" value="0" >
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.OpenWoundSel" value="1" >
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="SportsKnee3.OpenWoundDescrip" class="form-control" value="" >
				</td>
			</tr>
			<tr>
				<td class="active" nowrap>
					Swelling
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.SwellingSel" value="0" >
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.SwellingSel" value="1" >
				</td>
				<td class='form-inline'>
					<input type="text" class="form-control" ng-model="SportsKnee3.SwellingDescrip" value="" >
				</td>
			</tr>
			<tr>
				<td class="active" nowrap>
					Hematoma
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.HematomaSel" value="0" >
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.HematomaSel" value="1" >
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="SportsKnee3.HematomaDescrip" class="form-control" value="" >
				</td>
			</tr>
			<tr>
				<td class="active" nowrap>
					Muscle atropy
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.MuscleAtropySel" value="0" >
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.MuscleAtropySel" value="1" >
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="SportsKnee3.MuscleAtropyDescrip" class="form-control" value="" >
				</td>
			</tr>
			<tr>
				<td class="active" nowrap>
					Mass
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.MassSel" value="0" >
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.MassSel" value="1" >
				</td>
				<td>
					<input type="checkbox" ng-model="SportsKnee3.Masstender" ng-true-value="1" ng-false-value="0"> tender
					<br>
					<input type="checkbox" ng-model="SportsKnee3.Massnontender" ng-true-value="1" ng-false-value="0"> nontender
					<br>
					<input type="checkbox" ng-model="SportsKnee3.Massmoveable" ng-true-value="1" ng-false-value="0"> moveable
					<br>
					<input type="checkbox" ng-model="SportsKnee3.Massfixed" ng-true-value="1" ng-false-value="0"> fixed
					<br>
				</td>
				<td>
					<input type="checkbox" ng-model="SportsKnee3.Massregular" ng-true-value="1" ng-false-value="0"> regular
					<br>
					<input type="checkbox" ng-model="SportsKnee3.Massirregular" ng-true-value="1" ng-false-value="0"> irregular
					<br>
					<input type="checkbox" ng-model="SportsKnee3.Masslymphadenopathy" ng-true-value="1" ng-false-value="0"> lymphadenopathy
				</td>
			</tr>
			<tr>
				<td class='active'>
				</td>
				<td colspan='2'>
					Size: 
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="SportsKnee3.MassSize" class="form-control">
				</td>
			</tr>
			<tr>
				<td class='active'>
				</td>
				<td class='form-inline' colspan='2'>
					Location:
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="SportsKnee3.MassLocation" class="form-control">
				</td>
			</tr>
				<td class='active'>
				</td>
				<td colspan='2'>
					Consistency: 
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="SportsKnee3.MassConsistency" class="form-control">
				</td>
			</tr>
			<tr>
				<td class="active">
					Deformities
				</td>
				<td colspan='2'>
					<input type="radio" ng-model="SportsKnee3.Deformities" value="Valgus" >  Valgus
				</td>
				<td>
					<input type="radio" ng-model="SportsKnee3.Deformities" value="Varus" >  Varus
				</td>
			</tr>
			<tr>
				<td class="active">
					Palpitation
				</td>
				<td colspan='2' nowrap>
					<input type="radio" ng-model="SportsKnee3.Palpitation" value="Normal " >  Normal
					<br>
					<input type="radio" ng-model="SportsKnee3.Palpitation" value="Tenderness" >  Tenderness 
				</td>
				<td>
					<input type="radio" ng-model="SportsKnee3.Palpitation" value="Muscle Spasm" >  Muscle Spasm
				</td>
			</tr>
		</table>
		<table class="table table-condensed table-bordered">
			<tr>
				<td colspan="7" class="warning" id="DGL_module_header">
					Sensory
				</td>
			</tr>
			<tr>
				<td nowrap width='1%'>
					<input type="checkbox" ng-model="SportsKnee3.SensoryNormal" ng-true-value="Normal" ng-false-value="Abnormal">  Normal					 
				</td>
				<td class="active" width='1%' nowrap>
					Abnormal
				</td>
				<td class="text-center active" width='1%' nowrap>
					Normal
				</td>
				<td class="text-center active" width='1%' nowrap>
					Hypoaesthesia
				</td>
				<td class="text-center active" width='1%' nowrap>
					Hyperaesthesia
				</td>
				<td class="text-center active" width='1%' nowrap>
					Paresthesia
				</td>
				<td></td>
			</tr>
			<tr>
				<td class='active'></td>
				<td class="text-center active" width='1%'>
					L3
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.L3" value="Normal" >
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.L3" value="Hypoaesthesia" >
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.L3" value="Hyperaesthesia" >
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.L3" value="Paresthesia" >
				</td>
			</tr>
				<td class='active'></td>
				<td class="text-center active">
					L4
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.L4" value="Normal">
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.L4" value="Hypoaesthesia">
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.L4" value="Hyperaesthesia">
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.L4" value="Paresthesia">
				</td>
			</tr>
			<tr>
				<td class='active'></td>
				<td class="text-center active">
					L5
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.L5" value="Normal">
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.L5" value="Hypoaesthesia">
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.L5" value="Hyperaesthesia">
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.L5" value="Paresthesia">
				</td>
			</tr>
			<tr>
				<td class='active'></td>
				<td class="text-center active">
					S1
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.S1" value="Normal" >
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.S1" value="Hypoaesthesia" >
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.S1" value="Hyperaesthesia" >
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.S1" value="Paresthesia" >
				</td>
			</tr>
		</table>
		<table class="table table-condensed table-bordered">
			<tr>	
				<td class="active" width="1%" nowrap>
					Nerve deficit
				</td>
				<td class="text-center active" width='1%'>
					(-)
				</td>
				<td class="text-center active" width='1%'>
					(+)
				</td>
				<td colspan="3" class="active">
					Details (Location, Description)
				</td>
			</tr>
			<tr>
				<td class="active" nowrap>
					Superficial peroncal n
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.Superficialperoncaln" value="0" ng-false-value="">
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.Superficialperoncaln" value="1" ng-false-value="">
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="SportsKnee3.SuperficialperoncalnDescrip" class="form-control">
				</td>
			</tr>
			<tr>
				<td class="active" nowrap>
					Deep peroneal n
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.Deepperonealn" value="0" ng-false-value="">
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.Deepperonealn" value="1" ng-false-value="">
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="SportsKnee3.DeepperonealnDescrip" class="form-control">
				</td>
			</tr>
			<tr>
				<td class="active" nowrap>
					Tibial nerve
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.Tibialnerve" value="0" ng-false-value="">
				</td>
				<td class="text-center">
					<input type="radio" ng-model="SportsKnee3.Tibialnerve" value="1" ng-false-value="">
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="SportsKnee3.TibialnerveDescrip" class="form-control">
				</td>
			</tr>
			<tr>
				<td colspan="6" class="text-center active">
					<a class="btn btn-large btn-info" ng-click="addNew_Knee3(SportsKnee3)" style="text-decoration: none; color: #000">SAVE</a>

					<a class="btn btn-large btn-danger" ng-click="removeKnee3(SportsKnee3)" style="text-decoration: none; color: #000">DELETE</a>
				</td>
			</tr>
		</table>
	</div>