<div ng-controller="knee_1_Ctrl">
		
		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td colspan='3' nowrap>
					<span id="DGL_module_header">
			    		Systemic:
			    	</span>
				</td>
			</tr>
			<tr>
				<td nowrap class="active" width="1%" >Ambulation</td>
				<td>
					<input type="radio" name="SportsKnee1_Ambulation" ng-model="SportsKnee1.Ambulation" value="Independent"> Independent
					<br>
					<input type="radio" name="SportsKnee1_Ambulation" ng-model="SportsKnee1.Ambulation" value="With Assist"> With Assist
				<td>	
					<input type="radio" name="SportsKnee1_Ambulation" ng-model="SportsKnee1.Ambulation" value="Wheel Chair-borne"> Wheel Chair-borne
					<br>
					<input type="radio" name="SportsKnee1_Ambulation" ng-model="SportsKnee1.Ambulation" value="Bedridden"> Bedridden
				</td>
			</tr>

			<tr>
				<td nowrap class="active">Sensorium:</td>
				<td width="1%">
					<input type="radio" name="SportsKnee1_Sensorium" ng-model="SportsKnee1.Sensorium" value="Conscious,coherent"> Conscious, coherent
					<br>
					<input type="radio" name="SportsKnee1_Sensorium" ng-model="SportsKnee1.Sensorium" value="Open"> Drowsey
				</td>
				<td>
					<input type="radio" name="SportsKnee1_Sensorium" ng-model="SportsKnee1.Sensorium" value="stuporous"> stuporous
					<br>
					<input type="radio" name="SportsKnee1_Sensorium" ng-model="SportsKnee1.Sensorium" value="comatose"> comatose
				</td>				
			</tr>

			<tr>
				<td class="active">
					Conjunctivae:
				</td>
				<td class="text-left" nowrap>
					<input type="radio" name="SportsKnee1_Conjunctivae" ng-model="SportsKnee1.Conjunctivae" value="pink" >  pink
					<br>
					<input type="radio" name="SportsKnee1_Conjunctivae" ng-model="SportsKnee1.Conjunctivae" value="pale;Sclera" >  pale; Sclera
					<br>
					<input type="radio" name="SportsKnee1_Conjunctivae" ng-model="SportsKnee1.Conjunctivae" value="anicteric" >  anicteric
				</td>
				<td>
					<input type="radio" name="SportsKnee1_Conjunctivae" ng-model="SportsKnee1.Conjunctivae" value="icteric" >  icteric
					<br>
					<input type="radio" name="SportsKnee1_Conjunctivae" ng-model="SportsKnee1.Conjunctivae" value="masses" >  masses
				</td>
			</tr>

			<tr>
				<td class="active" nowrap>
					Chest Expansion:
				</td>
				<td class="text-left" nowrap>
					<input type="radio" name="SportsKnee1_ChestExpansion" ng-model="SportsKnee1.ChestExpansion" value="Symmetric" >  Symmetric
					<br>
					<input type="radio" name="SportsKnee1_ChestExpansion" ng-model="SportsKnee1.ChestExpansion" value="assymmetric;BreathSounds">  assymmetric; Breath sounds
					<br>
					<input type="radio" name="SportsKnee1_ChestExpansion" ng-model="SportsKnee1.ChestExpansion" value="clear" >  clear
				</td>
				<td>
					
					<input type="radio" name="SportsKnee1_ChestExpansion" ng-model="SportsKnee1.ChestExpansion" value="wheezes" >  wheezes
					<br>
					<input type="radio" name="SportsKnee1_ChestExpansion" ng-model="SportsKnee1.ChestExpansion" value="rales/crackles" >  rales/crackles
				</td>
			</tr>

			<tr>
				<td nowrap class="active">
					Cardiac:
				</td>
				<td nowrap>
					<input type="radio" name="SportsKnee1_Cardiac" ng-model="SportsKnee1.Cardiac" value="AdynamicPrecordium" > Adynamic Precordium
					<br>
					<input type="radio" name="SportsKnee1_Cardiac" ng-model="SportsKnee1.Cardiac" value="Poor" > Normal rate, regular rhythm
				</td>
				<td>
					<input type="radio" name="SportsKnee1_Cardiac" ng-model="SportsKnee1.Cardiac" value="Arrthymic" > Arrthymic
				</td>
			</tr>
			<tr>
				<td nowrap class="active">
					Abdomen:
				</td>
				
				<td nowrap>
					<input type="radio" ng-model="SportsKnee1.Abdomen" name="SportsKnee1_Abdomen" value="Soft" > Soft
					<br>
					<input type="radio" ng-model="SportsKnee1.Abdomen" name="SportsKnee1_Abdomen" value="Hard" > Hard
					<br>
					<input type="radio" ng-model="SportsKnee1.Abdomen" name="SportsKnee1_Abdomen" value="DirectTenderness" > Direct Tenderness
				</td>
				<td nowrap>
					<input type="radio" ng-model="SportsKnee1.Abdomen" name="SportsKnee1_Abdomen" value="ReboundTenderness" > Rebound Tenderness
					<br>
					<input type="radio" ng-model="SportsKnee1.Abdomen" name="SportsKnee1_Abdomen" value="Masses" > Masses
				</td>
			</tr>
			<tr>
				<td colspan="3" class="text-center active">
					<a class="btn btn-large btn-info" ng-click="addNew_Knee1(SportsKnee1)" style="text-decoration: none; color: #000">SAVE</a>

					<a class="btn btn-large btn-danger" ng-click="removeKnee1(SportsKnee1)" style="text-decoration: none; color: #000">DELETE</a>
				</td>
			</tr>
		</table>		
</div>

			