<div ng-controller="footAnkle_5_Ctrl">

	<table class="table table-condensed table-bordered">
			<tr>
				<td colspan="7" class="warning" id="DGL_module_header">
					Range of Motion/ Muscle Testing
				</td>
			</tr>
			<tr>
				<td class="active">
					Foot and Ankle
				</td>
				<td>
					<input type="radio" ng-model="FootAnkle5.FootAnkle" value="0" >  Full					 
				</td>
				<td colspan="4">
					<input type="radio" ng-model="FootAnkle5.FootAnkle" value="1" >  Extension Lag
				</td>
			</tr>
			<tr class="active">
				<td>
					Motion
				</td>
				<td>
					Passive
				</td>
				<td>
					Active
				</td>
				<td>
					With Pain
				</td>
				<td>
					Crepitation
				</td>
				<td>
					MMT(0 - 5)
				</td>
			</tr>
			<tr>
				<td class="active">
					Dorsiflexion
				</td>
				<td>
					<input type="text" ng-model="FootAnkle5.DorsiflexionMotion" class="form-control">
				</td>
				<td>
					<input type="text" ng-model="FootAnkle5.DorsiflexionPassive" class="form-control">
				</td>
				<td class="text-center">
					<input type="checkbox" ng-model="FootAnkle5.DorsiflexionPain" ng-true-value="With pain" ng-false-value=""> 
				</td>
				<td class="text-center">
					<input type="checkbox" ng-model="FootAnkle5.DorsiflexionCrepitation" ng-true-value="Crepitation" ng-false-value=""> 
				</td>
				<td>
					<input type="text" ng-model="FootAnkle5.DorsiflexionMMT" class="form-control">
				</td>
			</tr>
			<tr>
				<td class="active">
					Plantarflexion
				</td>
				<td>
					<input type="text" ng-model="FootAnkle5.PlantarflexionMotion" class="form-control">
				</td>
				<td>
					<input type="text" ng-model="FootAnkle5.PlantarflexionPassive" class="form-control">
				</td>
				<td class="text-center">
					<input type="checkbox" ng-model="FootAnkle5.PlantarflexionPain" ng-true-value="With pain" ng-false-value=""> 
				</td>
				<td class="text-center">
					<input type="checkbox" ng-model="FootAnkle5.PlantarflexionCrepitation" ng-true-value="Crepitation" ng-false-value=""> 
				</td>
				<td>
					<input type="text" ng-model="FootAnkle5.PlantarflexionMMT" class="form-control">
				</td>
			</tr>
			<tr>
				<td class="active">
					Inversion
				</td>
				<td>
					<input type="text" ng-model="FootAnkle5.InversionMotion" class="form-control">
				</td>
				<td>
					<input type="text" ng-model="FootAnkle5.InversionPassive" class="form-control">
				</td>
				<td class="text-center">
					<input type="checkbox" ng-model="FootAnkle5.InversionPain" ng-true-value="With pain" ng-false-value=""> 
				</td>
				<td class="text-center">
					<input type="checkbox" ng-model="FootAnkle5.InversionCrepitation" ng-true-value="Crepitation" ng-false-value=""> 
				</td>
				<td>
					<input type="text" ng-model="FootAnkle5.InversionMMT" class="form-control">
				</td>
			</tr>
			<tr>
				<td class="active">
					Eversion
				</td>
				<td>
					<input type="text" ng-model="FootAnkle5.EversionMotion" class="form-control">
				</td>
				<td>
					<input type="text" ng-model="FootAnkle5.EversionPassive" class="form-control">
				</td>
				<td class="text-center">
					<input type="checkbox" ng-model="FootAnkle5.EversionPain" ng-true-value="With pain" ng-false-value=""> 
				</td>
				<td class="text-center">
					<input type="checkbox" ng-model="FootAnkle5.EversionCrepitation" ng-true-value="Crepitation" ng-false-value=""> 
				</td>
				<td>
					<input type="text" ng-model="FootAnkle5.EversionMMT" class="form-control">
				</td>
			</tr>
			<tr>
				<td class="active">
					Toe Flexion
				</td>
				<td>
					<input type="text" ng-model="FootAnkle5.ToeFlexionMotion" class="form-control">
				</td>
				<td>
					<input type="text" ng-model="FootAnkle5.ToeFlexionPassive" class="form-control">
				</td>
				<td class="text-center">
					<input type="checkbox" ng-model="FootAnkle5.ToeFlexionPain" ng-true-value="With pain" ng-false-value=""> 
				</td>
				<td class="text-center">
					<input type="checkbox" ng-model="FootAnkle5.ToeFlexionCrepitation" ng-true-value="Crepitation" ng-false-value=""> 
				</td>
				<td>
					<input type="text" ng-model="FootAnkle5.ToeFlexionMMT" class="form-control">
				</td>
			</tr>
			<tr>
				<td class="active">
					Toe Extension
				</td>
				<td>
					<input type="text" ng-model="FootAnkle5.ToeExtensionMotion" class="form-control">
				</td>
				<td>
					<input type="text" ng-model="FootAnkle5.ToeExtensionPassive" class="form-control">
				</td>
				<td class="text-center">
					<input type="checkbox" ng-model="FootAnkle5.ToeExtensionPain" ng-true-value="With pain" ng-false-value=""> 
				</td>
				<td class="text-center">
					<input type="checkbox" ng-model="FootAnkle5.ToeExtensionCrepitation" ng-true-value="Crepitation" ng-false-value=""> 
				</td>
				<td>
					<input type="text" ng-model="FootAnkle5.ToeExtensionMMT" class="form-control">
				</td>
			</tr>
			<tr>
				<td colspan="6" class="text-center active">
					<a class="btn btn-large btn-info" ng-click="addNew_FootAnkle5(FootAnkle5)" style="text-decoration: none; color: #000">SAVE</a>

					<a class="btn btn-large btn-danger" ng-click="removeFootAnkle5(FootAnkle5)" style="text-decoration: none; color: #000">DELETE</a>
				</td>
			</tr>
		</table>
</div>