<div ng-controller="shoulder_7_Ctrl">		
	<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td colspan="6" id="DGL_module_header">
					Special Test
				</td>
			</tr>
			<tr>
				<td width="1%" nowrap>
					<input type="checkbox" ng-model="Sportshoulder7.SpecialTestNormal" ng-true-value="Normal" > Normal
				</td>
				<td class="text-center active" width='1%'>
					Abnormal			 
				</td>
				<td class="text-center active" width='1%'>
					(-)
				</td>
				<td class="text-center active" width='1%'>
					(+)
				</td>
				<td class='text-center active'>
					Location
				</td>
				<td class='active'></td>
			</tr>
			<tr>
				<td>
					
				</td>
				<td class="active">
					Jobe's
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportshoulder7.JobesValue" value="0" >			 
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportshoulder7.JobesValue" value="1" >			 
				</td>
				<td class='form-inline'>
					<input type='text' ng-model="Sportshoulder7.JobesDescrip" class='form-control'>
				</td>
			</tr>
			<tr>
				<td>
					
				</td>
				<td class="active">
					Hawkin's
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportshoulder7.HawkinValue" value="0" >			 
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportshoulder7.HawkinValue" value="1" >			 
				</td>
				<td class='form-inline'> 
					<input type='text' ng-model="Sportshoulder7.HawkinDescrip" class='form-control'>
				</td>
			</tr>
			<tr>
				<td>
					
				</td>
				<td class="active">
					O'Brien'ss
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportshoulder7.OBrienssValue" value="0" >			 
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportshoulder7.OBrienssValue" value="1" >			 
				</td>
				<td class='form-inline'>
					<input type='text' ng-model="Sportshoulder7.OBrienssDescrip" class='form-control'>
				</td>
			</tr>
			<tr>
				<td>
					
				</td>
				<td class="active">
					Sulcus sign
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportshoulder7.Sulcussign" value="0" >			 
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportshoulder7.Sulcussign" value="1" >			 
				</td>
				<td class='form-inline'>
					<input type='text' ng-model="Sportshoulder7.SulcussignDescrip" class='form-control'>
				</td>
			</tr>
			<tr>
				<td>
					
				</td>
				<td class="active">
					Apprehension
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportshoulder7.ApprehensionValue" value="0" >			 
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportshoulder7.ApprehensionValue" value="1" >			 
				</td>
				<td class='form-inline'>
					<input type='text' ng-model="Sportshoulder7.ApprehensionDescrip" class='form-control'>
				</td>
			</tr>
			<tr>
				<td>
					
				</td>
				<td class="active">
					Drop Arm
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportshoulder7.DropArmValue" value="0" >			 
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportshoulder7.DropArmValue" value="1" >			 
				</td>
				<td class='form-inline'>
					<input type='text' ng-model="Sportshoulder7.DropArmDescrip" class='form-control'>
				</td>
			</tr>
			<tr>
				<td>
					
				</td>
				<td class="active">
					Speed's
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportshoulder7.SpeedsValue" value="0" >			 
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportshoulder7.SpeedsValue" value="1" >			 
				</td>
				<td class='form-inline'>
					<input type='text' ng-model="Sportshoulder7.SpeedsDescrip" class='form-control'>
				</td>
			</tr>
			<tr>
				<td>
					
				</td>
				<td class="active">
					Yerganson's
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportshoulder7.YergansonValue" value="0" >			 
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportshoulder7.YergansonValue" value="1" >			 
				</td>
				<td class='form-inline'>
					<input type='text' ng-model="Sportshoulder7.YergansonDescrip" class='form-control'>
				</td>
			</tr>
			<tr>
				<td>
					
				</td>
				<td class="active">
					Neer's
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportshoulder7.NeerValue" value="0" >			 
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportshoulder7.NeerValue" value="1" >			 
				</td>
				<td class='form-inline'>
					<input type='text' ng-model="Sportshoulder7.NeerDescrip" class='form-control'>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					Others
				</td>
				<td colspan="3">
					<input type='text' ng-model="Sportshoulder7.Otherspecialtest" class='form-control'>
				</td>
			</tr>
			<tr>
				<td colspan="6" class="text-center active">
					<a class="btn btn-large btn-info active" ng-click="addNew_shoulder7(Sportshoulder7)" style="text-decoration: none; color: #000">SAVE</a>

					<a class="btn btn-large btn-danger active" ng-click="removeshoulder7(Sportshoulder7)" style="text-decoration: none; color: #000">DELETE</a>
				</td>
			</tr>

		</table>
	</div>