<script>

    // 10.0.1.99

    $(document).ready(function()
    {
        $("#hideshowPre_OPFootAnkleXRays").show(); //hide

        $("#showPreOpFootAnkleXRays").click(function()
        {
            $("#hideshowPre_OPFootAnkleXRays").toggle(200);
        });

        $("#hideshowPre_OPFootAnklePic").show(); //hide

        $("#showPreOpFootAnklePic").click(function()
        {
            $("#hideshowPre_OPFootAnklePic").toggle(200);
        });

        $("#hideshowPre_OPFootAnkleVid").show(); //hide

        $("#showPreOpFootAnkleVid").click(function()
        {
            $("#hideshowPre_OPFootAnkleVid").toggle(200);
        });


        $("#hideshowPost_OPFootAnkleXRays").show();

        $("#showPostOpFootAnkleXRays").click(function()
        {
            $("#hideshowPost_OPFootAnkleXRays").toggle(200);
        });


        $("#hideshowPost_OPFootAnklePic").show();

        $("#showPostOpFootAnklePic").click(function()
        {
            $("#hideshowPost_OPFootAnklePic").toggle(200);
        });

        $("#hideshowPost_OPFootAnkleVid").show();

        $("#showPostOpFootAnkleVid").click(function()
        {
            $("#hideshowPost_OPFootAnkleVid").toggle(200);
        });
    });
</script> 

<div ng-controller="FootAnkle_XRays_Ctrl">
	
	<table class="table table-condensed table-bordered">
		<tr class="warning">
            <td width="1%" colspan="9" nowrap>
                <span id="DGL_module_header">
                    PRE-Operative Sports Foot and Ankle X-Rays
                </span>
            </td>
        </tr>

        <tr class="active">
            <td class="text-center" colspan="9">
                <a class="btn btn-large btn-info" style="text-decoration: none;"
                    scroll-to-bookmark="XRAY">
                    JUMP TO X-Ray Findings
                </a>

                <input type="submit" id="showPreOpFootAnkleXRays" class="btn btn-danger" value="GROSS PICTURES - PRE OP">
            </td>
        </tr>

        <tr class="info">
            <td class="text-left" colspan="9" nowrap>
                <div id="hideshowPre_OPFootAnkleXRays">
                    <div style="padding: 0 20px 0 20px" ng-repeat="lab_results in AllPreFootAnklexrays">
                        <br><br>
                         Date: &nbsp;&nbsp;&nbsp; 
                        <span style='font-size:24px;'>{{lab_results.RefDate | date}}</span><br>
                        <br>LAB Type: &nbsp;&nbsp;&nbsp; {{lab_results.LCatRID}}
                        <br> File Name: &nbsp;&nbsp;&nbsp; {{lab_results.ImageFileName}}
                        <br> Result: &nbsp;&nbsp;&nbsp; {{lab_results.Result}}
                        <br> <img ng-src="http://10.0.1.99/{{lab_results.ImageFolder}}/{{lab_results.ImageFileName}}" width="70%" class="img-rounded"> 
                    </div>
                </div>
            </td>
        </tr>


        <tr class="warning">
            <td width="1%" colspan="9" nowrap>
                <span id="DGL_module_header">
                    PRE-Operative Sports Foot and Ankle Picture
                </span>
            </td>
        </tr>

        <tr class="active">
            <td class="text-center" colspan="9">

                <input type="submit" id="showPreOpFootAnklePic" class="btn btn-danger" value="Patient Picture">
            </td>
        </tr>

        <tr class="info">
            <td class="text-left" colspan="9" nowrap>
                <div id="hideshowPre_OPFootAnklePic">
                    <div style="padding: 0 20px 0 20px" ng-repeat="lab_results in AllPreFootAnklepicture">
                        <br><img ng-src="http://10.0.1.99/{{lab_results.ImageFolder}}/{{lab_results.ImageFileName}}" width="70%" class="img-rounded"> <br>
                    </div>
                </div>
            </td>
        </tr>


        <tr class="warning">
			<td width="1%" colspan="9" nowrap>
				<span id="DGL_module_header">
		    		PRE-Operative Sports Foot and Ankle Video
		    	</span>
		    </td>
		</tr>

		<tr class="active">
			<td class="text-center" colspan="9">

            	<input type="submit" id="showPreOpFootAnkleVid" class="btn btn-danger" value="PRE-OP Video">
			</td>
		</tr>

        <tr class="info">
			<td class="text-left" colspan="9" nowrap>
            	<div id="hideshowPre_OPFootAnkleVid">
                	<div style="padding: 0 20px 0 20px" ng-repeat="lab_results in AllPreSkelTraumavideo">
                		<br><img ng-src="http://10.0.1.99/{{lab_results.ImageFolder}}/{{lab_results.ImageFileName}}" width="70%" class="img-rounded"> <br>
                	</div>
            	</div>
			</td>
        </tr>
    </table>
		



	<table class="table table-condensed table-bordered">
		<tr class="warning">
            <td width="1%" colspan="9" nowrap>
                <span id="DGL_module_header">
                    POST-Operative Sports Foot and Ankle X-Rays
                </span>
            </td>
        </tr>

        <tr class="active">
            <td class="text-center" colspan="9">
                <a class="btn btn-large btn-info" style="text-decoration: none;"
                    scroll-to-bookmark="XRAY">
                    JUMP TO X-Ray Findings
                </a>
                <input type="submit" id="showPostOpFootAnkleXRays" class="btn btn-danger" value="GROSS PICTURES - POST OP">
            </td>
        </tr>


        <tr class="info">
            <td class="text-left" colspan="9" nowrap>
                <div id="hideshowPost_OPFootAnkleXRays">
                    <div style="padding: 0 20px 0 20px" ng-repeat="lab_results in AllPostFootAnklexrays">
                        <br>
                        Date: &nbsp;&nbsp;&nbsp; 
                        <span style='font-size:24px;'>{{lab_results.RefDate | date}}</span><br>
                        LAB Type: &nbsp;&nbsp;&nbsp; {{lab_results.LCatRID}}
                        <br> File Name: &nbsp;&nbsp;&nbsp; {{lab_results.ImageFileName}}
                        <br> Result: &nbsp;&nbsp;&nbsp; {{lab_results.Result}}
                        <br> <img ng-src="http://10.0.1.99/{{lab_results.ImageFolder}}/{{lab_results.ImageFileName}}" width="70%" class="img-rounded"> 
                    </div>
                </div>
            </td>
        </tr>

        <tr class="warning">
            <td width="1%" colspan="9" nowrap>
                <span id="DGL_module_header">
                    POST-Operative Sports Foot and Ankle Picture
                </span>
            </td>
        </tr>

        <tr class="active">
            <td class="text-center" colspan="9">

                <input type="submit" id="showPostOpFootAnklePic" class="btn btn-danger" value="Patient Picture">
            </td>
        </tr>


        <tr class="info">
            <td class="text-left" colspan="9" nowrap>
                <div id="hideshowPost_OPFootAnklePic">
                    <div style="padding: 0 20px 0 20px" ng-repeat="lab_results in AllPostSkelTraumapicture">
                        <br><img ng-src="http://10.0.1.99/{{lab_results.ImageFolder}}/{{lab_results.ImageFileName}}" width="70%" class="img-rounded"> <br>
                    </div>
                </div>
            </td>
        </tr>


        <tr class="warning">
			<td width="1%" colspan="9" nowrap>
				<span id="DGL_module_header">
		    		POST-Operative Sports Foot and Ankle Video
		    	</span>
		    </td>
		</tr>

		<tr class="active">
			<td class="text-center" colspan="9">

            	<input type="submit" id="showPostOpFootAnkleVid" class="btn btn-danger" value="POST-OP Video">
			</td>
		</tr>


        <tr class="info">
            <td class="text-left" colspan="9" nowrap>
                <div id="hideshowPost_OPFootAnkleVid">
                    <div style="padding: 0 20px 0 20px" ng-repeat="lab_results in AllPostSkelTraumavid">
                        <br><img ng-src="http://10.0.1.99/{{lab_results.ImageFolder}}/{{lab_results.ImageFileName}}" width="70%" class="img-rounded"> <br>
                    </div>
                </div>
            </td>
        </tr>
    </table>

</div>