	<div ng-controller="footAnkle_9_Ctrl">
		<table class="table table-condensed table-bordered">
			<tr>
				<td>
					Assessment:
					<TEXTAREA ng-model="FootAnkle9.Assessment" class="form-control"></TEXTAREA>
				</td>
			</tr>
			<tr>
				<td>
					Management:
					<TEXTAREA ng-model="FootAnkle9.Management" class="form-control"></TEXTAREA>
				</td>
			</tr>
			<tr>
				<td>
					Disposition:
					<TEXTAREA ng-model="FootAnkle9.Disposition" class="form-control"></TEXTAREA>
				</td>
			</tr>
			<tr>
				<td colspan="6" class="text-center active">
					<a class="btn btn-large btn-info" ng-click="addNew_FootAnkle9(FootAnkle9)" style="text-decoration: none; color: #000">SAVE</a>

					<a class="btn btn-large btn-danger" ng-click="removeFootAnkle9(FootAnkle9)" style="text-decoration: none; color: #000">DELETE</a>
				</td>
			</tr>
		</table>
	</div>
	