<div ng-controller="shoulder_3_Ctrl">		
	<table class="table table-condensed table-bordered">
			<tr>
				<td colspan='4' class="warning" id="DGL_module_header">Extremities</td>
			</tr>
			<tr>
				<td class="active" width='1%' nowrap>Inspection</td>
				<td width='1%' nowrap>
					<input type="radio" ng-model="Sportsholder3.Inspection" value="Deformity" > Deformity
					<br>
					<input type="radio" ng-model="Sportsholder3.Inspection" value="OpenWound" > Open Wound
				</td>
				<td width='1%' nowrap>
					<input type="radio" ng-model="Sportsholder3.Inspection" value="Tenderness" > Tenderness
					<br>
					<input type="radio" ng-model="Sportsholder3.Inspection" value="Swelling" > Swelling
				</td>
			</tr>
			<tr>
				<td class="active" nowrap>
					Range of Motion
				</td>
				<td>
					<input type="radio" ng-model="Sportsholder3.RangeofMotion" value="Full ROM" > Full ROM
				</td>
				<td nowrap>
					<input type="radio" ng-model="Sportsholder3.RangeofMotion" value="Limited ROM" > Limited ROM 
				</td>
				<td class='form-inline'> 
					<input type="text" ng-model="Sportsholder3.RangeofMotionDescrip" class="form-control">
				</td>
			</tr>
			<tr>
				<td class="active">
					MMT
				</td>
				<td>
					<input type="radio" ng-model="Sportsholder3.MMT" value="5/5" > 5/5
				</td>
				<td nowrap>
					<input type="radio" ng-model="Sportsholder3.MMT" value="With Weakness" > With weakness
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="Sportsholder3.MMTDescrip" class="form-control">
				</td>
			</tr>
			<tr>
				<td class="active">
					Sensory
				</td>
				<td>
					<input type="radio" ng-model="Sportsholder3.Sensory" value="100% intact" > 100% intact
				</td>
				<td >
					<input type="radio" ng-model="Sportsholder3.Sensory" value="WeakPulse" > Weak Deficit
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="Sportsholder3.SensoryDescrip" class="form-control">
				</td>
			</tr>
			<tr>
				<td class="active">
					Vascular
				</td>
				<td>
					<input type="radio" ng-model="Sportsholder3.Vascular" value="Full ROM" > Full Pulse
				<td>
					<input type="radio" ng-model="Sportsholder3.Vascular" value="Weak Pulse" > Weak Pulse:
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="Sportsholder3.VascularWeakPulseDescrip" class="form-control">
				</td>
			</tr>
				<td class='active'>
				</td>
				<td>
				</td>
				<td nowrap>
					<input type="radio" ng-model="Sportsholder3.Vascular" value="Absent Pulse" > Absent Pulse:
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="Sportsholder3.VascularAbsentPulseDescrip" class="form-control">	
				</td>
			</tr>
			<tr>
				<td class='active'></td>
				<td nowrap>
					<input type="radio" ng-model="Sportsholder3.VascularGoodPoor" value="Good Capullary Refill" > Good Capillary Refill
				</td>
				<td nowrap>
					<input type="radio" ng-model="Sportsholder3.VascularGoodPoor" value="Poor Capullary Refill" > Poor Capillary Refill
				</td>
			</tr>
			<tr>
				<td colspan="4" class="text-center active">
					<a class="btn btn-large btn-info" ng-click="addNew_shoulder3(Sportsholder3)" style="text-decoration: none; color: #000">SAVE</a>

					<a class="btn btn-large btn-danger" ng-click="removeshoulder3(Sportsholder3)" style="text-decoration: none; color: #000">DELETE</a>
				</td>
			</tr>
		</table>
	</div>