<div ng-controller="footAnkle_3_Ctrl">

		<table class="table table-condensed table-bordered">
			<tr>
				<td colspan='4' class="warning" id="DGL_module_header">Extremities</td>
			</tr>
			<tr>
				<td class="active" width='1%'>Inspection</td>
				<td width='1%' nowrap>
					<input type="radio" ng-model="FootAnkle3.Inspection" value="Deformity"> Deformity
					<br>
					<input type="radio" ng-model="FootAnkle3.Inspection" value="Open Wound" > Open Wound
				</td>
				<td width='1%' nowrap>
					<input type="radio" ng-model="FootAnkle3.Inspection" value="Tenderness" > Tenderness
					<br>
					<input type="radio" ng-model="FootAnkle3.Inspection" value="Swelling" > Swelling
				</td>
			</tr>
			<tr>
				<td class="active" nowrap>
					Range of Motion
				</td>
				<td>
					<input type="checkbox" ng-model="FootAnkle3.RangeMotion" ng-true-value="Full ROM" > Full ROM
				</td>
				<td class='form-inline' >
					Limited ROM:
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="FootAnkle3.RangeMotionDescript" class="form-control">
				</td>
			</tr>
			<tr>
				<td class="active">
					MMT
				</td>
				<td>
					<input type="checkbox" ng-model="FootAnkle3.MMT" ng-true-value="5/5" > 5/5
				</td>
				<td class='form-inline' >
					With weakness:
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="FootAnkle3.MMTDescript" class="form-control">
				</td>
			</tr>
			<tr>
				<td class="active">
					Sensory
				</td>
				<td>
					<input type="checkbox" ng-model="FootAnkle3.Sensory" ng-true-value="100% intact" > 100% intact
				</td>
				<td class='form-inline' >
					Weak Deficit:
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="FootAnkle3.SensoryDescript" class="form-control">
				</td>
			</tr>
			<tr>
				<td class="active">
					Vascular
				</td>
				<td>
					<input type="checkbox" ng-model="FootAnkle3.Vascular" ng-true-value="Full ROM" > Full Pulse
				<td class='form-inline' >
					Weak Pulse:						
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="FootAnkle3.VascularDescript" class="form-control">
				</td>
			</tr>
			<tr>
				<td class='active'></td>
				<td></td>
				<td>
					Absent Pulse:
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="FootAnkle3.AbsentPulseDescript" class="form-control">
				</td>
			</tr>
			<tr>
				<td class="active"></td>
				<td nowrap>
					<input type="radio" ng-model="FootAnkle3.VascularCapil" value="Good Capullary Refill" > Good Capillary Refill
				</td>
				<td nowrap>
					<input type="radio" ng-model="FootAnkle3.VascularCapil" value="Poor Capullary Refill" > Poor Capillary Refill
				</td>
			</tr>
			<tr>
				<td colspan="4" class="text-center active">
					<a class="btn btn-large btn-info" ng-click="addNew_FootAnkle3(FootAnkle3)" style="text-decoration: none; color: #000">SAVE</a>

					<a class="btn btn-large btn-danger" ng-click="removeFootAnkle3(FootAnkle3)" style="text-decoration: none; color: #000">DELETE</a>
				</td>
			</tr>
		</table>
	</div>

		