<div ng-controller="shoulder_9_Ctrl">
		<table class="table table-condensed table-bordered">
			<tr>
				<td>
					Assessment:
					<TEXTAREA class="form-control" ng-model="Sportshoulder9.Assessment" ></TEXTAREA>
				</td>
			</tr>
			<tr>
				<td>
					Management:
					<TEXTAREA class="form-control" ng-model="Sportshoulder9.Management"></TEXTAREA>
				</td>
			</tr>
			<tr>
				<td>
					Disposition:
					<TEXTAREA class="form-control"  ng-model="Sportshoulder9.Disposition"></TEXTAREA>
				</td>
			</tr>
			<tr>
				<td colspan="6" class="text-center">
					<a class="btn btn-large btn-info" ng-click="addNew_shoulder9(Sportshoulder9)" style="text-decoration: none; color: #000">SAVE</a>

					<a class="btn btn-large btn-danger" ng-click="removeshoulder9(Sportshoulder9)" style="text-decoration: none; color: #000">DELETE</a>
				</td>
			</tr>

		</table>
	</div>