<div ng-controller="shoulder_1_Ctrl">
		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td class="text-left" colspan="4" nowrap>
					<span style="font-family: Helvetiker; font-size:30px; color: #000; letter-spacing: 3px; font-style: italic;">
			    		History Of Present Illness:
			    	</span>
				</td>
			</tr>
			<tr>
				<td colspan="4" class="active"> Chief Complaint: </td>
			</tr>
			<tr >
				<td class="active" width='1%'>DOI:</td>
				<td class='form-inline' width='15%'>
					<input type="text" ng-model="Sportsholder1.DOI" class="form-control">
				<td class="active" width='1%' nowrap>	
					TOI :
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="Sportsholder1.TOI" class="form-control">
				</td>
			</tr>

			<tr >
				<td class="active">MOI:</td>
				<td class='form-inline' width='15%'>
					<input type="text" ng-model="Sportsholder1.MOI" class="form-control">
				<td class="active">	
					POI:
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="Sportsholder1.POI" class="form-control">
				</td>
			</tr>
			<tr>
				<td colspan="4">
					<TEXTAREA ng-model="Sportsholder1.HistoryOfPresentIllnessDescrip" class="form-control"></TEXTAREA>
				</td>
			</tr>
		</table>
		<table class='table table-bordered'>
			<tr class="warning" >
				<td colspan="4">
					<span id="DGL_module_header">
			    		Past Medical History:
			    	</span>
				</td>
				
			</tr>

			<tr>
				<td nowrap width='1%'>
					<input type="checkbox" ng-model="Sportsholder1.Hypertension" ng-true-value="1" ng-false-value="0"> Hypertension
				</td>
				<td nowrap width='1%'>
					<input type="checkbox" ng-model="Sportsholder1.Cardiac" ng-true-value="1" ng-false-value="0"> Cardiac
				</td>
				<td colspan="2">
					<input type="checkbox" ng-model="Sportsholder1.Genital" ng-true-value="1" ng-false-value="0"> Genital
				</td>
			</tr>
			<tr>
				<td nowrap>
					<input type="checkbox" ng-model="Sportsholder1.Diabetes" ng-true-value="1" ng-false-value="0"> Diabetes
				</td>
				<td nowrap>
					<input type="checkbox" ng-model="Sportsholder1.Pulmo" ng-true-value="1" ng-false-value="0"> Pulmo
				</td>
				<td colspan="2">
					<input type="checkbox" ng-model="Sportsholder1.Hepatitis" ng-true-value="1" ng-false-value="0"> Hepatitis
				</td>
			</tr>
			<tr>
				<td nowrap>
					<input type="checkbox" ng-model="Sportsholder1.Asthma" ng-true-value="1" ng-false-value="0"> Asthma
				</td>
				<td nowrap>
					<input type="checkbox" ng-model="Sportsholder1.Kidney" ng-true-value="1" ng-false-value="0"> Kidney
				</td>
				<td colspan="2">
					<input type="checkbox" ng-model="Sportsholder1.Bleeding" ng-true-value="1" ng-false-value="0"> Bleeding
				</td>
			</tr>
			<tr>
				<td nowrap>
					<input type="checkbox" ng-model="Sportsholder1.Thyroid" ng-true-value="1" ng-false-value="0"> Thyroid
				</td>
				<td nowrap>
					<input type="checkbox" ng-model="Sportsholder1.GI" ng-true-value="1" ng-false-value="0"> GI
				</td>
				<td colspan="2" class='form-inline'>
					Others
					<input type="text" ng-model="Sportsholder1.Others" class='form-control'> 
				</td>
			</tr>
			<tr>
				<td nowrap>
					<input type="checkbox" ng-model="Sportsholder1.Allergies" ng-true-value="1" ng-false-value="0"> Allergies
				</td>
				<td colspan="3" class='form-inline'>
					<input type="text" ng-model="Sportsholder1.AllergiesDescrip" class="form-control">
				</td>
			</tr>
			<tr>
				<td nowrap>
					<input type="checkbox" ng-model="Sportsholder1.PreviousOperation" ng-true-value="1" ng-false-value="0"> Previous Operation
				</td>
				<td colspan="3" class='form-inline'>
					<input type="text" ng-model="Sportsholder1.PreviousOperationDescrip" class="form-control">
				</td>
			</tr>
			<tr>
				<td nowrap>
					<input type="checkbox" ng-model="Sportsholder1.Currentmedication" ng-true-value="1" ng-false-value="0"> Current medication
				</td>
				<td colspan="3" class='form-inline'>
					<input type="text" ng-model="Sportsholder1.CurrentmedicationDescrip" class="form-control">
				</td>
			</tr>
			<tr class="warning">
				<td colspan="4">
					<span id="DGL_module_header">
			    		Review Of Systems
			    	</span>
				</td>
				
			</tr>

			<tr>
				<td nowrap>
					<input type="checkbox" ng-model="Sportsholder1.ReviewOfSystemsFever" ng-true-value="1" ng-false-value="0"> Fever
				</td>
				<td nowrap>
					<input type="checkbox" ng-model="Sportsholder1.ReviewOfSystemsAbdominalPain" ng-true-value="Abdominal Pain" ng-true-value="1" ng-false-value="0"> Abdominal Pain
				</td>
				<td width='1%' nowrap>
					<input type="checkbox" ng-model="Sportsholder1.ReviewOfSystemsVomiting" ng-true-value="1" ng-false-value="0"> Vomiting
				</td>
				<td>
					<input type="checkbox" ng-model="Sportsholder1.ReviewOfSystemsDysuria" ng-true-value="1" ng-false-value="0"> Dysuria
				</td>
			</tr>
			<tr>
				<td nowrap>
					<input type="checkbox" ng-model="Sportsholder1.ReviewOfSystemsCough" ng-true-value="1" ng-false-value="0"> Cough
				</td>
				<td nowrap>
					<input type="checkbox" ng-model="Sportsholder1.ReviewOfSystemsDOB" ng-ng-true-value="1" ng-false-value="0"> DOB
				</td>
				<td>
					<input type="checkbox" ng-model="Sportsholder1.ReviewOfSystemsDiarrhea" ng-true-value="1" ng-false-value="0"> Diarrhea
				</td>
				<td>
					<input type="checkbox" ng-model="Sportsholder1.ReviewOfSystemslowback" ng-true-value="1" ng-false-value="0"> low back pain
				</td>
			</tr>
			<tr>
				<td colspan="4" class="text-center active">
					<a class="btn btn-large btn-info" ng-click="addNew_shoulder1(Sportsholder1)" style="text-decoration: none; color: #000">SAVE</a>

					<a class="btn btn-large btn-danger" ng-click="removeshoulder1(Sportsholder1)" style="text-decoration: none; color: #000">DELETE</a>
				</td>
			</tr>
		</table>
	</div>