<div ng-controller="footAnkle_1_Ctrl">
	
		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td class="text-left" colspan="4" nowrap>
					<span id="DGL_module_header">
			    		History Of Present Illness:
			    	</span>
				</td>
			</tr>
			<tr>
				<td colspan="4" class="active"> Chief Complaint: </td>
			</tr>
			<tr >
				<td class="active text-right">DOI:</td>
				<td>
					<input type="text" ng-model="FootAnkle1.DOI" class="form-control">
				</td>
				<td class="active text-right">	
					TOI :
				</td>
				<td>
					<input type="text" ng-model="FootAnkle1.TOI" class="form-control">
				</td>
			</tr>

			<tr >
				<td class="active text-right">MOI:</td>
				<td>
					<input type="text" ng-model="FootAnkle1.MOI" class="form-control">
				<td class="active text-right">	
					POI:
				</td>
				<td>
					<input type="text" ng-model="FootAnkle1.POI" class="form-control">
				</td>
			</tr>
			<tr>
				<td colspan="4">
					<TEXTAREA ng-model="FootAnkle1.HistoryOfIllness" class="form-control" ></TEXTAREA>
				</td>
			</tr>
		</table>
		<table class='table table-bordered'>
			<tr class="warning" >
				<td colspan="5">
					<span id="DGL_module_header">
			    		Past Medical History:
			    	</span>
				</td>
				
			</tr>

			<tr>
				<td width='1%' nowrap>
					<input type="checkbox" ng-model="FootAnkle1.MedHistHypertension" ng-true-value="Hypertension" ng-false-value=""> Hypertension
				</td>
				<td width='1%' nowrap>
					<input type="checkbox" ng-model="FootAnkle1.MedHistCardiac" ng-true-value="Cardiac" ng-false-value=""> 
					Cardiac
				</td>
				<td width='1%' nowrap>
					<input type="checkbox" ng-model="FootAnkle1.MedHistGenital" ng-true-value="Genital" ng-false-value=""> Genital
				</td>
				<td></td>
			</tr>
			<tr>
				<td nowrap>
					<input type="checkbox" ng-model="FootAnkle1.MedHistDiabetes" ng-true-value="Diabetes" ng-false-value=""> Diabetes
				</td>
				<td nowrap>
					<input type="checkbox" ng-model="FootAnkle1.MedHistPulmo" ng-true-value="Pain" ng-false-value=""> Pulmo
				</td>
				<td width='1%' nowrap>
					<input type="checkbox" ng-model="FootAnkle1.MedHistHepatitis" ng-true-value="Hepatitis" ng-false-value=""> Hepatitis
				</td>
			</tr>
			<tr>
				<td nowrap>
					<input type="checkbox" ng-model="FootAnkle1.MedHistAsthma" ng-true-value="Asthma" ng-false-value=""> Asthma
				</td>
				<td nowrap>
					<input type="checkbox" ng-model="FootAnkle1.MedHistKidney" ng-true-value="Kidney" ng-false-value=""> Kidney
				</td>
				<td width='1%' nowrap>
					<input type="checkbox" ng-model="FootAnkle1.MedHistBleeding" ng-true-value="Bleeding" ng-false-value=""> Bleeding
				</td>
			</tr>
			<tr>
				<td nowrap>
					<input type="checkbox" ng-model="FootAnkle1.MedHistThyroid" ng-true-value="Thyroid" ng-false-value=""> Thyroid
				</td>
				<td nowrap>
					<input type="checkbox" ng-model="FootAnkle1.MedHistGI" ng-true-value="GI" ng-false-value=""> GI
				</td>
				<td width='1%' nowrap>
					<input type="checkbox" ng-model="FootAnkle1.MedHistOthers" ng-true-value="Others" ng-false-value=""> Others
				</td>
			</tr>
			<tr>
				<td nowrap>
					Allergies
				</td>
				<td colspan="2">
					<input type="text" ng-model="FootAnkle1.MedHistAllergies" class="form-control">
				</td>
			</tr>
			<tr>
				<td nowrap>
					Previous Operation
				</td>
				<td colspan="2">
					<input type="text" ng-model="FootAnkle1.MedHistPrevOp" class="form-control">
				</td>
			</tr>
			<tr>
				<td nowrap>
					Current medication
				</td>
				<td colspan="2">
					<input type="text" ng-model="FootAnkle1.MedHistCurrentMedication" class="form-control">
				</td>
			</tr>
			<tr class="warning">
				<td colspan="5">
					<span id="DGL_module_header">
			    		Review Of Systems
			    	</span>
				</td>
				
			</tr>

			<tr>
				<td nowrap>
					<input type="checkbox" ng-model="FootAnkle1.ReviewSystemFever" ng-true-value="Fever" ng-false-value=""> Fever
				</td>
				<td nowrap>
					<input type="checkbox" ng-model="FootAnkle1.ReviewSystemAbdominalPain" ng-true-value="AbdominalPain" ng-false-value=""> Abdominal Pain
				</td>
				<td>
					<input type="checkbox" ng-model="FootAnkle1.ReviewSystemVomiting" ng-true-value="Vomiting" ng-false-value=""> Vomiting
				</td>
				<td colspan='2'>
					<input type="checkbox" ng-model="FootAnkle1.ReviewSystemDysuria" ng-true-value="Dysuria" ng-false-value=""> Dysuria
				</td>
			</tr>
			<tr>
				<td nowrap>
					<input type="checkbox" ng-model="FootAnkle1.ReviewSystemCough" ng-true-value="Cough" ng-false-value=""> Cough
				</td>
				<td nowrap>
					<input type="checkbox" ng-model="FootAnkle1.ReviewSystemDOB" ng-true-value="DOB" ng-false-value=""> DOB
				</td>
				<td>
					<input type="checkbox" ng-model="FootAnkle1.ReviewSystemDiarrhea" ng-true-value="Diarrhea" ng-false-value=""> Diarrhea
				</td>
				<td colspan='2'>
					<input type="checkbox" ng-model="FootAnkle1.ReviewSystemlowbackpain" ng-true-value="lowbackpain" ng-false-value=""> low back pain
				</td>
			</tr>
			<tr>
				<td colspan="5" class="text-center active">
					<a class="btn btn-large btn-info" ng-click="addNew_FootAnkle1(FootAnkle1)" style="text-decoration: none; color: #000">SAVE</a>
				
					<a class="btn btn-large btn-danger" ng-click="removeFootAnkle1(FootAnkle1)" style="text-decoration: none; color: #000">DELETE</a>
				</td>
			</tr>
		</table>
</div>

