<div ng-controller="knee_8_Ctrl">

	<table class="table table-condensed table-bordered">
			<tr>
				<td>
					Assessment:
					<TEXTAREA ng-model="SportsKnee8.Assessment" class="form-control"></TEXTAREA>
				</td>
			</tr>
			<tr>
				<td>
					Management:
					<TEXTAREA ng-model="SportsKnee8.Management" class="form-control"></TEXTAREA>
				</td>
			</tr>
			<tr>
				<td>
					Disposition:
					<TEXTAREA ng-model="SportsKnee8.Disposition" class="form-control"></TEXTAREA>
				</td>
			</tr>
			<tr>
				<td colspan="6" class="text-center">
					<a class="btn btn-large btn-info" ng-click="addNew_Knee8(SportsKnee8)" style="text-decoration: none; color: #000">SAVE</a>

					<a class="btn btn-large btn-danger" ng-click="removeKnee8(SportsKnee8)" style="text-decoration: none; color: #000">DELETE</a>
				</td>
			</tr>

		</table>
	</div>