<div ng-controller="shoulder_4_Ctrl">	
		<table class="table table-condensed table-bordered">
			<tr>
				<td colspan="3" class="text-center">
					<input type="radio" ng-model="Sportsholder4.SensoryRightLeft" value="RIGHT" > RIGHT
				</td>

				<td colspan="3" class="text-center">
					<input type="radio" ng-model="Sportsholder4.SensoryRightLeft" value="LEFT" > LEFT
					
				</td>
			</tr>
			<tr>
				<td class="text-center active" width='1%'>Inspection</td>
				<td class="text-center active" width='1%'>(-)</td>
				<td class="text-center active" width='1%'>(+)</td>
				<td colspan="3" class="text-center active">Details (Size, Location, Description)</td>
			</tr>
			<tr>
				<td class="active" nowrap>
					<input type="checkbox" ng-model="Sportsholder4.Deformity" ng-true-value="1" ng-false-value="0"> Deformity
				</td>
				<td class="text-center" width='1%'>
					<input type="radio" ng-model="Sportsholder4.DeformityValue" value="0" >
				</td>
				<td class="text-center" width='1%'>
					<input type="radio" ng-model="Sportsholder4.DeformityValue" value="1" >
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="Sportsholder4.DeformityDescrip" class="form-control" value="" >
				</td>
			</tr>
			<tr>
				<td class="active" nowrap>
					<input type="checkbox" ng-model="Sportsholder4.Erythema" ng-true-value="1" ng-false-value="0"> Erythema
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.ErythemaValue" value="0" >
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.ErythemaValue" value="1" >
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="Sportsholder4.ErythemaValueDescrip" class="form-control" value="" >
				</td>
			</tr>
			<tr>
				<td class="active" nowrap>
					<input type="checkbox" ng-model="Sportsholder4.OpenWound" ng-true-value="1" ng-false-value="0"> Open Wound
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.OpenWoundValue" value="0" >
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.OpenWoundValue" value="1" >
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="Sportsholder4.OpenWoundDescrip" class="form-control" value="" >
				</td>
			</tr>
			<tr>
				<td class="active" nowrap>
					<input type="checkbox" ng-model="Sportsholder4.Swelling" ng-true-value="1" ng-false-value="0"> Swelling
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.SwellingValue" value="0" >
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.SwellingValue" value="1" >
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="Sportsholder4.SwellingDescrip" class="form-control" value="" >
				</td>
			</tr>
			<tr>
				<td class="active" nowrap>
					<input type="checkbox" ng-model="Sportsholder4.Hematoma" ng-true-value="1" ng-false-value="0"> Hematoma
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.HematomaValue" value="0" >
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.HematomaValue" value="1" >
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="Sportsholder4.HematomaDescrip" class="form-control" value="" >
				</td>
			</tr>
			<tr>
				<td class="active" nowrap>
					<input type="checkbox" ng-model="Sportsholder4.Muscleatropy" ng-true-value="1" ng-false-value="0"> Muscle atropy
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.MuscleatropyValue" value="0" >
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.MuscleatropyValue" value="1" >
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="Sportsholder4.MuscleatropyDescrip" class="form-control" value="" >
				</td>
			</tr>
			<tr>
				<td class="active" nowrap>
					<input type="checkbox" ng-model="Sportsholder4.Mass" ng-true-value="1" ng-false-value="0"> Mass
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.MassValue" value="0" >
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.MassValue" value="1" >
				</td>
				<td width='15%'>
					<input type="checkbox" ng-model="Sportsholder4.Masstender" ng-true-value="1" ng-false-value="0"> tender
					<br>
					<input type="checkbox" ng-model="Sportsholder4.Massnontender" ng-true-value="1" ng-false-value="0"> nontender
					<br>
					<input type="checkbox" ng-model="Sportsholder4.Massmoveable" ng-true-value="1" ng-false-value="0"> moveable
					<br>
					<input type="checkbox" ng-model="Sportsholder4.Massfixed" ng-true-value="1" ng-false-value="0"> fixed
				</td>
				<td>
					<input type="checkbox" ng-model="Sportsholder4.Massregular" ng-true-value="1" ng-false-value="0"> regular
					<br>
					<input type="checkbox" ng-model="Sportsholder4.Massirregular" ng-true-value="1" ng-false-value="0"> irregular
					<br>
					<input type="checkbox" ng-model="Sportsholder4.Masslymphadenopathy" ng-true-value="lymphadenopathy" ng-false-value=""> lymphadenopathy
				</td>
			</tr>
			<tr>
				<td class='active'>
				</td>
				<td colspan='2'>
					Size: 
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="Sportsholder4.MassSize" class="form-control">
				</td>
			</tr>
			<tr>
				<td class='active'>
				</td>
				<td colspan='2'>
					Location:
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="Sportsholder4.MassLocation" class="form-control">
				</td>
			</tr>
				<td class='active'>
				</td>
				<td colspan='2'>
					Consistency:
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="Sportsholder4.MassConsistency" class="form-control">
				</td>
			</tr>
			<tr>
				<td class="active">
					Palpitation
				</td>
				<td colspan="4">
					<input type="radio" ng-model="Sportsholder4.Palpitation" value="Normal" >  Normal
					<input type="radio" ng-model="Sportsholder4.Palpitation" value="Tenderness" >  Tenderness 
					<input type="radio" ng-model="Sportsholder4.Palpitation" value="Muscle Spasm" >  Muscle Spasm
				</td>
			</tr>
		</table>



<div scroll-bookmark="Sensory">
		<table class="table table-condensed table-bordered">
			<tr>
				<td colspan="7" class="warning" id="DGL_module_header">
					Sensory
				</td>
			</tr>
			<tr>
				<td width='1%' nowrap>
					<input type="checkbox" ng-model="Sportsholder4.SensoryNormal" ng-true-value="Normal" ng-false-value="Abnormal">  Normal				 
				</td>
				<td class="text-center active" width='1%'>
					Abnormal
				</td>
				<td class="text-center active" width='1%'>
					Normal
				</td>
				<td class="text-center active" width='1%'>
					Hypoaesthesia
				</td>
				<td class="text-center active" width='1%'>
					Hyperaesthesia
				</td>
				<td class="text-center active" width='1%'>
					Paresthesia
				</td>
				<td class='active'></td>
			</tr>
			<tr>
				<td></td>
				<td class="text-right active">
					C5
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.C5" value="Normal">
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.C5" value="Hypoaesthesia">
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.C5" value="Hyperaesthesia">
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.C5" value="Paresthesia">
				</td>
			</tr>
				<td></td>
				<td class="text-right active">
					C6
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.C6" value="Normal">
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.C6" value="Hypoaesthesia">
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.C6" value="Hyperaesthesia">
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.C6" value="Paresthesia">
				</td>
			</tr>
			<tr>
				<td></td>
				<td class="text-right active">
					C7
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.C7" value="Normal">
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.C7" value="Hypoaesthesia">
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.C7" value="Hyperaesthesia">
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.C7" value="Paresthesia">
				</td>
			</tr>
			<tr>
				<td></td>
				<td class="text-right active">
					C8
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.C8" value="Normal">
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.C8" value="Hypoaesthesia">
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.C8" value="Hyperaesthesia">
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.C8" value="Paresthesia">
				</td>
			</tr>
			<tr>
				<td></td>
				<td class="text-right active">
					T1
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.T1" value="Normal">
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.T1" value="Hypoaesthesia">
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.T1" value="Hyperaesthesia">
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.T1" value="Paresthesia">
				</td>
			</tr>
		</table>
		<table class="table table-condensed table-bordered">
				<td class="active" width='1%' nowrap>
					Nerve deficit
				</td>
				<td class="text-center active">
					(-)
				</td>
				<td class="text-center active">
					(+)
				</td>
				<td class="active" >
					Details (Location, Description)
				</td>
			</tr>
			<tr>
				<td class="active">
					Ulnar nerve
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.Ulnarnervevalue" value="0">
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.Ulnarnervevalue" value="1">
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="Sportsholder4.UlnarnervevalueDescrip" class="form-control">
				</td>
			</tr>
			<tr>
				<td class="active">
					Medial nerve
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.MedialnerveValue" value="0">
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.MedialnerveValue" value="1">
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="Sportsholder4.MedialnerveDescrip" class="form-control">
				</td>
			</tr>
			<tr>
				<td class="active">
					Radial nerve
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.RadialnerveValue" value="0">
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.RadialnerveValue" value="1">
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="Sportsholder4.RadialnerveDescrip" class="form-control">
				</td>
			</tr>
			<tr>
				<td class="active" nowrap>
					Musculocutaneous n
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.MusculocutaneousnValue" value="0">
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.MusculocutaneousnValue" value="1">
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="Sportsholder4.MusculocutaneousDescrip" class="form-control">
				</td>
			</tr>
			<tr>
				<td class="active">
					Axillary Nerve
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.AxillaryNerveValue" value="0" ng-false-value="">
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.AxillaryNerveValue" value="1" ng-false-value="">
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="Sportsholder4.AxillaryNerveDescrip" class="form-control">
				</td>
			</tr>
			<tr>
				<td class="active">
					Subscapular Nerve
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.SubscapularNerveValue" value="0" ng-false-value="">
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.SubscapularNerveValue" value="1" ng-false-value="">
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="Sportsholder4.SubscapularDescrip" class="form-control">
				</td>
			</tr>
			<tr>
				<td class="active">
					Supraspinous Nerve
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.SupraspinousNerveValue" value="0" ng-false-value="">
				</td>
				<td class="text-center">
					<input type="radio" ng-model="Sportsholder4.SupraspinousNerveValue" value="1" ng-false-value="">
				</td>
				<td class='form-inline'>
					<input type="text" ng-model="Sportsholder4.SupraspinousNerveDescrip" class="form-control">
				</td>
			</tr>
			<tr>
				<td colspan="6" class="text-center active">
					<a class="btn btn-large btn-info" ng-click="addNew_shoulder4(Sportsholder4)" style="text-decoration: none; color: #000">SAVE</a>

					<a class="btn btn-large btn-danger" ng-click="removeshoulder4(Sportsholder4)" style="text-decoration: none; color: #000">DELETE</a>
				</td>
			</tr>
		</table>
	</div>
</div>