<div ng-controller="StructuredSchedSurgCtrl">

	<div scroll-bookmark="StructuredDischarge_SURGSCHED">
		
		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td class="text-left" colspan="9">
					<span style="font-family: Helvetiker; font-size:30px; color: #000; letter-spacing: 3px; font-style: italic;">
			    		Surgery Details
			    	</span>
				</td>
			</tr>

			<!--tr>
				<td>Surgeon</td>
				<td>
					<div ng-repeat="schedSurgery in clinix_DiagSchedSurgery">
						<input type="text" class="form-control" ng-model="schedSurgeGrp.Surgeon" placeholder="Surgeon" DISABLED>
					</div>
				</td>
		
				<td nowrap>Surgeon</td>
				<td>
					<div ng-repeat="schedSurgery in clinix_DiagSchedSurgery">
						<input type="text" class="form-control" ng-model="schedSurgeGrp.Assistant" placeholder="Assistant Surgeon" DISABLED>
					</div>
				</td>
			</tr>
			<tr>
				<td nowrap>Internist or Cardiologist</td>
				<td>
					<input type="text" class="form-control" ng-model="schedSurgeGrp.Cardio" placeholder="Internist or Cardiologist" >
				</td>
		
				<td nowrap>Anesthesiologist</td>
				<td>
					<input type="text" class="form-control" ng-model="schedSurgeGrp.Anesthesio" placeholder="Anesthesiologist" >
				</td>
			</tr>
			<tr>
				<td>Hospital</td>
				<td><input type="text" class="form-control" ng-model="schedSurgeGrp.Hospital" placeholder="Hospital" ></td>
				<td nowrap>Other Info</td>
				<td><input type="text" class="form-control" ng-model="schedSurgeGrp.Others" placeholder="Other Info" ></td>
				<td></td>
			</tr>

			<tr>
				<td width="1%">Type</td>
				<td width="25%">
					<textarea class="form-control" ng-model="schedSurgeGrp.SurgeryType" placeholder="Surgery Type" rows="3" ></textarea>
				</td>
				<td width="1%">When</td>
				<td width="25%">
					<input type="date" class="form-control" ng-model="schedSurgeGrp.SurgeryDate">
				</td>
				
				<td class="text-center" nowrap>
					<a class="btn btn-large btn-info" href="#/{{clinix.ClinixRID}}" ng-click="addNew(schedSurgeGrp)" style="text-decoration: none; color: #000">Save</a>
				</td>
			</tr -->
		</table>

		<table class="table table-condensed table-bordered">
			<tr class="info">

	        	<th width="1%" class="text-center" style="color:#888" nowwrap>TYPE</th>
	        	<th width="1%" class="text-center" style="color:#888" nowwrap>DATE</th>
	        	<th width="1%" class="text-center" style="color:#888" nowwrap>Surgeon</th>
	            <th width="1%" class="text-center" style="color:#888" nowrwap>Assisting</th>
	            <th width="1%" class="text-center" style="color:#888" nowrwap>Internist</th>
	            <th width="1%" class="text-center" style="color:#888" nowrwap>Anesthesiologist</th>
	            <th width="1%" class="text-center" style="color:#888" nowrwap>Hospital</th>
	            <th width="1%" class="text-center" style="color:#888" nowrwap>Other Info</th>
	            <th width=> </th>
			</tr>

			<tr class="info" ng-repeat="schedSurgery in clinix_DiagSchedSurgery">
	        	<td style="color:black">{{schedSurgery.SurgeryType}}</td>
	        	<td style="color:black" nowrap>{{schedSurgery.SurgeryDate | date}}</td>
	        	<td style="color:black">{{schedSurgery.Surgeon}}</td>
	        	<td style="color:black">{{schedSurgery.Assistant}}</td>
	        	<td style="color:black">{{schedSurgery.Cardio}}</td>
	        	<td style="color:black">{{schedSurgery.Anesthesio}}</td>
	        	<td style="color:black">{{schedSurgery.Hospital}}</td>
	        	<td style="color:black">{{schedSurgery.Others}}</td>
	            <td>
	            	<!--a class="btn btn-large btn-danger" href="#/{{schedSurgery.ClinixRID}}" ng-click="removeItem(schedSurgery)" style="text-decoration: none">
	            		DELETE
	            	</a-->
	        	</td>
                <!--td>
                	<a class="btn btn-large btn-warning" href="#/{{schedSurgery.ChiefRID}}/edit" ng-click="editChiefComp(schedSurgery)" style="text-decoration: none">
                		EDIT
                	</a>
            	</td-->
	        </tr>
	    </table>
	</div>
</div>