<div ng-controller="StructuredManagementCtrl">

	<div scroll-bookmark="StructuredDischarge_MANAGEMENT">
		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td class="text-left" colspan="4">
					<span id="DGL_module_header">
			    		Management
			    	</span>
				</td>
			</tr>

			<tr>
				<td width="1%" nowrap> Physical Therapy </td>
				<td colspan="3">
					<input type="text" class="form-control" ng-model="StructMgmt.PhysicalTherapy">
				</td>
				<td></td>
			</tr>

			<tr>
				<td nowrap> Exercise program </td>
				<td nowrap>
					    <input type="checkbox"  ng-model="StructMgmt.ExProg_FootAnkle"
							ng-true-value="1"
				            ng-false-value="0"> Foot and Ankle

					<br><input type="checkbox" ng-model="StructMgmt.ExProg_QuadsHams"
							ng-true-value="1"
				            ng-false-value="0"> Quads and Hamstrings
					
					<br><input type="checkbox" ng-model="StructMgmt.ExProg_FullWeight"
							ng-true-value="1"
				            ng-false-value="0"> FULL Weight Bearing

					<br><input type="checkbox" ng-model="StructMgmt.ExProg_SLR"
							ng-true-value="1"
				            ng-false-value="0"> SLR
				</td>
			</tr>

			<tr>
				<td nowrap> Ambulatory Aid </td>
				<td nowrap>
					    <input type="radio" value="Cruches" ng-model="StructMgmt.AmbulatoryAid"> Cruches &nbsp;&nbsp;
					<br><input type="radio" value="Walker" ng-model="StructMgmt.AmbulatoryAid"> Walker
					<br><input type="radio" value="Cane" ng-model="StructMgmt.AmbulatoryAid"> Cane
				</td>
				<td></td>
				<td></td>
			</tr>

			<tr>
				<td nowrap>TED Stockings</td>
				<td nowrap>
					<input type="radio" value="YES" ng-model="StructMgmt.TEDS"> Yes &nbsp;&nbsp;
					<input type="radio" value="NO" ng-model="StructMgmt.TEDS"> No
				</td>
				<td></td>
				<td></td>
			</tr>

			<tr>
				<td nowrap>Shower</td>
				<td nowrap>
					<input type="radio" value="YES" ng-model="StructMgmt.Shower"> Yes &nbsp;&nbsp;
					<input type="radio" value="NO" ng-model="StructMgmt.Shower"> No
				</td>
				<td></td>
				<td></td>
			</tr>

			<tr>
				<td nowrap>Instructions/Notes</td>
				<td nowrap>
					<textarea class="form-control" ng-model="StructMgmt.Notes" rows="2"> </textarea> 
				</td>
				<td></td>
				<td></td>
			</tr>

			<tr>
				<td nowrap>Follow-up</td>
				<td nowrap>
					<input type="text" ng-model="StructMgmt.FollowUp" class="form-control">
				</td>
				<td></td>
				<td></td>
			</tr>

			<tr>
				<td class="text-center" colspan="9" nowrap>
					<a class="btn btn-large btn-info" style="text-decoration: none; color: #000" 
						ng-click="addNew(StructMgmt)">
						SAVE
					</a>
					<a class="btn btn-large btn-danger" style="text-decoration: none" 
	            		ng-click="removeItem()">
	            		DELETE
	            	</a>
				</td>

				<td></td>
			</tr>

		</table>
	</div>
</div>