<div ng-controller="StructuredManagementCtrl">

	<div scroll-bookmark="StructuredDischarge_MANAGEMENT">
		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td class="text-left" colspan="4">
					<span style="font-family: Helvetiker; font-size:30px; color: #000; letter-spacing: 3px; font-style: italic;">
			    		Management
			    	</span>
				</td>
			</tr>
			<tr>
				<td width="1%" nowrap>Type
					<input type="hidden" ng-model="StructMgmt.Management1" class="form-control" ng-init="StructMgmt.Management1='Management Type'" value="Management Type" READONLY>
				</td>
				<td width="15%" colspan="1">
					<select ng-model="StructMgmt.ManagementDetail1" class="form-control"> 
						<option value="">(select one)</option>
						<option value="CLOSED"> CLOSED </option>
						<option value="OPEN"> OPEN </option>
					</select>
				</td>
				<td width="15%"></td>
				<td></td>
			</tr>
			
			<tr>
				<td nowrap>Physical Therapy
					<input type="hidden" ng-model="StructMgmt.Management2" class="form-control" ng-init="StructMgmt.Management2='Physical Therapy'" value="Physical Therapy" READONLY>
				</td>
				<td colspan="2">
					<input type="text" class="form-control" ng-model="StructMgmt.ManagementDetail2" placeholder="Physical Theraphy" >
				</td>
				<td></td>
			</tr>
			<tr>
				<td nowrap>Exercise program <br>for hips/knees
					<input type="hidden" ng-model="StructMgmt.Management3" class="form-control" ng-init="StructMgmt.Management3='Exercise program for hips/knees'" value="Exercise program for hips/knees" READONLY>
				</td>
				<td nowrap>
					<select ng-model="StructMgmt.ManagementDetail3" class="form-control"> 
						<option value="">(select one)</option>
						<option value="Foot and Ankle"> Foot and Ankle </option>
						<option value="Quads and Hamstrings"> Quads and Hamstrings </option>
						<option value="SLR"> SLR </option>
					</select>
				</td>
			</tr>
			<tr>
				<td nowrap>Ambulatory Trainings
					<input type="hidden" ng-model="StructMgmt.Management4" class="form-control" ng-init="StructMgmt.Management4='Ambulatory Trainings'" value="Ambulatory Trainings" READONLY>
				</td>
				<td nowrap>
					<select ng-model="StructMgmt.ManagementDetail4" class="form-control"> 
						<option value="">(select one)</option>
						<option value="Cruches"> Cruches </option>
						<option value="Walker"> Walker </option>
						<option value="Cane"> Cane </option>
					</select>
				</td>
				<td class="text-center" nowrap>
					<a class="btn btn-large btn-info" href="#/{{clinix.ClinixRID}}" ng-click="addNew(StructMgmt)" style="text-decoration: none; color: #000">Save</a>
				</td>
				<td></td>
			</tr>


			<tr class="info" ng-repeat="StructMgmt in clinix_StructuredManagement">
	        	<td style="color:black" nowrap>{{StructMgmt.Management}}</td>
	        	<td style="color:black">{{StructMgmt.ManagementDetail}}</td>
	            <td>
	            	<a class="btn btn-large btn-danger" href="#/{{StructMgmt.ClinixRID}}" ng-click="removeItem(StructMgmt)" style="text-decoration: none">
	            		DELETE
	            	</a>
	        	</td>
                <td>
                	<a class="btn btn-large btn-warning" href="#/{{StructMgmt.ChiefRID}}/edit" ng-click="editChiefComp(StructMgmt)" style="text-decoration: none">
                		EDIT
                	</a>
            	</td>
	        </tr>


		</table>
	</div>
</div>