<div ng-controller="StructuredLABSCtrl">
	<div scroll-bookmark="StructuredDischarge_LABS">
		
		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td colspan="6">
					<span id="DGL_module_header">
			    		Laboratory Examination on Discharge
			    	</span>
				</td>
			</tr>

			<tr>
				<th width="1%" class="text-center">Date</th>
				<td width="1%"><input type="date" class="form-control" ng-model="labsOnDischarge.labDate" ></td>
				<td></td>
			</tr>

			<tr>
				<th class="text-center">Where</th>
				<td><input type="text" class="form-control" ng-model="labsOnDischarge.labSource" ></td>
			</tr>

			<tr class="active">		
				<th class="text-center">Labs</th>
				<th class="text-center">Report</th>
			</tr>

			<tr>	
				<td class="text-center"> WBC </td>
				<td><input type="text" class="form-control" ng-model="labsOnDischarge.WBC" ></td>
			</tr>

			<tr>
				<td class="text-center"> HgB </td>
				<td><input type="text" class="form-control" ng-model="labsOnDischarge.HgB" ></td>
			</tr>

			<tr>	
				<td class="text-center"> Hematocrit </td>
				<td><input type="text" class="form-control" ng-model="labsOnDischarge.Hematocrit" ></td>
			</tr>

			<tr>
				<td class="text-center" colspan="2">
					<a class="btn btn-large btn-info" style="text-decoration: none" 
						ng-click="addNew(labsOnDischarge)">
						ADD
					</a>
				</td>
			</tr>
			
		</table>	

		<!-- D I S P L A Y -->

		<table class="table table-condensed table-bordered">
	            
			<tr class="info">
            	<td width="1%" class="text-center">DATE</td>
            	<td width="1%" class="text-center" nowrap>WHERE</td>
                <td width="1%" class="text-center">WBC</td>
                <td width="1%" class="text-center">HgB</td>
                <td width="1%" class="text-center">Hematocrit</td>
                <td width="1%"></td>
                <td></td>
            </tr>

			<tr class="info" ng-repeat="rolLabs in clinix_StructuredLABS">
            	<td class="text-center" style="color:black" nowrap>{{rolLabs.labDate | date}}</td>
            	<td class="text-center" style="color:black" nowrap>{{rolLabs.labSource}}</td>
                <td class="text-center" style="color:black" nowrap>{{rolLabs.WBC}}</td>
                <td class="text-center" style="color:black" nowrap>{{rolLabs.HgB}}</td>
                <td class="text-center" style="color:black" nowrap>{{rolLabs.Hematocrit}}</td>

                <td>
                	<a class="btn btn-large btn-danger" href="#/{{rolLabs.ClinixRID}}" ng-click="removeItem(rolLabs)" style="text-decoration: none">
                		DELETE
                	</a>
            	</td>

                <td>
                	<!--a class="btn btn-large btn-warning" href="#/{{rolLabs.ChiefRID}}/edit" ng-click="editChiefComp(rolLabs)" style="text-decoration: none">
                		EDIT
                	</a -->
            	</td>
            	
            </tr>
		</table>
	</div>