<div ng-controller="StructuredHospitalizationCtrl">

	<div scroll-bookmark="StructuredDischarge_HOSPITAL">
		
		<table class="table table-condensed table-bordered">
			<tr class="warning">
				<td width="1%" colspan="9" nowrap>
					<span id="DGL_module_header">
			    		Hospitalization
			    	</span>
			    </td>
			</tr>	

			<tr>
				<td width="1%" nowrap>Date Admitted </td>
				<td class="active" width="1%">
					{{ hospitalize.DateAdmitted | date : 'MM/dd/yyyy' }}
					<br>
					<input type="Date" class="form-control" 
						ng-model="hospitalize.DateAdmitted" 
						value="{{ hospitalize.DateAdmitted | date : 'MM/dd/yyyy' }}">
					<br>
						{{ hospitalize.TimeAdmitted | date : 'MM/dd/yyyy' }}
					<br>
					<input type="Time" class="form-control" 
						ng-model="hospitalize.TimeAdmitted" 
						value="{{ hospitalize.TimeAdmitted}}">
				</td>
				<td width="1%" nowrap>Date Discharged</td>
				<td class="active" width="1%">
					{{ hospitalize.DateDischarged | date : 'MM/dd/yyyy' }}
					<br>
					<input type="Date" class="form-control" 
						ng-model="hospitalize.DateDischarged"
						value="{{ hospitalize.DateDischarged | date : 'MM/dd/yyyy' }}">
					<br>
						{{ hospitalize.TimeDischarged | date : 'MM/dd/yyyy' }}
					<br>
					<input type="time" class="form-control" 
						ng-model="hospitalize.TimeDischarged"
						value="{{ hospitalize.TimeDischarged}}">
				</td>
				<td></td>
			</tr>

			<tr>
				<td nowrap>Hospital Course</td>
				<td class="active" colspan="3">
					<input type="text" class="form-control" ng-model="hospitalize.HospitalCourse" placeholder="hospital course" >
				</td>
			</tr>

			<tr>
				<td colspan="2" nowrap>Wound Appearance on Discharge</td>
				<td class="active" colspan="2">
					<input type="text" class="form-control" ng-model="hospitalize.WoundAppearance" placeholder="wound appearance">
				</td>

				<td class="text-center" width="10%" nowrap> </td>
			</tr>

			<tr>	
				<td class="text-center" colspan="9" nowrap>
					<a class="btn btn-large btn-info" style="text-decoration: none; color: #000"
						ng-click="addNew(hospitalize)">
						SAVE
					</a>

					<a class="btn btn-large btn-danger" style="text-decoration: none"
	            	 	ng-click="removeItem()">
	            		DELETE
	            	</a>
				</td>
			</tr>
		</table>
	</div>
</div>