<table class="table table-bordered table-hover" width="100%">
	<tr>
		<td colspan="3">
			<input type="text" ng-model="searchFilter" placeholder="Search..."/>
		</td>

		<td>
			<ng:include src="'..//common/main.button.link.html'"></ng:include>
		</td>
	</tr>

	<tr class="success">
		<td class="text-center" width="1%">0001</td>

		<td class="text-center" width="1%" nowrap> VISIT </td>

		<!-- td class="text-center" width="1%" nowrap>Chart # </td -->

		<td class="text-center" nowrap>	PATIENT </td>
		<td class="text-center" width="1%" nowrap>	VISIT STATUS </td>
	</tr>

	<tr ng-repeat="px_Item in clinix | filter : searchFilter | orderBy : [ 'TranStatus', 'AppDateSet', 'ClinixRID' ] ">
		<td>
			worked
	  	</td>
  	</tr>
</table>

