<ng:include src="'tplpe/px_pe.html'"></ng:include>

<ng:include src="'..//common/vw_chiefcomp.html'"></ng:include>
<ng:include src="'..//common/vw_ethiology.html'"></ng:include>
<ng:include src="'..//common/vw_treatment.html'"></ng:include>
<ng:include src="'..//common/vw_prevsurgeries.html'"></ng:include>
<ng:include src="'..//common/vw_labs.html'"></ng:include>
<ng:include src="'..//common/vw_medhist.html'"></ng:include>


<div ng-controller="ChiefComplaintCtrl">
	<div ng-repeat="zclinixes in zclinix">

		<p ng-show = {{zclinixes.HIP}} >
			<ng:include src="'..//common/vw_px_hip.html'"></ng:include>
		</p>

		<p ng-show = {{zclinixes.KNEE}} >
			<ng:include src="'..//common/vw_px_knee.html'"></ng:include>
		</p>

	</div>
</div>

<ng:include src="'..//common/vw_diagnosis.html'"></ng:include>

<ng:include src="'..//common/vw_diags_Management.html'"></ng:include>
<ng:include src="'..//common/vw_diags_SurgerySched.html'"></ng:include>
<ng:include src="'..//common/vw_diags_Medication.html'"></ng:include>
<ng:include src="'..//common/vw_diags_Disposition.html'"></ng:include>

<ng:include src="'..//common/vw_diags_Notes.html'"></ng:include>
<!-- ng:include src="'tplpe/close_pe.html'"></ng:include -->

<div ng-controller="ChiefComplaintCtrl">
	<div ng-repeat="zclinixes in zclinix">
		<p ng-show = {{zclinixes.HIP}} >
			<ng:include src="'..//common/vw_PREOpHIPreplc_preform.html'"></ng:include>
		</p>
		<p ng-show = {{zclinixes.KNEE}} >
			<ng:include src="'..//common/vw_PREOpKNEEreplc_preform.html'"></ng:include>
		</p>
	</div>
</div>

<div ng-controller="ChiefComplaintCtrl">
	<div ng-repeat="zclinixes in zclinix">


		<p ng-show = {{zclinixes.HIP}} >

			<table class="table table-condensed table-bordered">
				<tr class="info">
					<th colspan=9>
						<span id="DGL_module_header">
			    			HIP Replacement Operative Report
			    		</span>
					</th>
				</tr>
			</table>

			<ng:include src="'tplpe/OPHIP_1_preOpDiags.html'"></ng:include>
			<ng:include src="'tplpe/OPHIP_2_surgeon.html'"></ng:include>
			<ng:include src="'tplpe/OPHIP_3_implant.html'"></ng:include>
			<!-- NOT USED!!!  ng:include src="'tplpe/OPHIP_4_acetabular.html'"></ng:include -->
			<ng:include src="'tplpe/OPHIP_5_surgicalapp.html'"></ng:include>
			<ng:include src="'tplpe/OPHIP_6_finale.html'"></ng:include>
			<!-- Move up in XRay Findings ng:include src="'tplpe/OPHIP_XRays.html'"></ng:include -->
		</p>



		<p ng-show = {{zclinixes.KNEE}} >

			<table class="table table-condensed table-bordered">
				<tr class="info">
					<th colspan=9>
						<span id="DGL_module_header">
			    			KNEE Replacement Operative Report
			    		</span>
					</th>
				</tr>
			</table>

			<ng:include src="'tplpe/OPKNEE_1_preOpDiags.html'"></ng:include>
			<ng:include src="'tplpe/OPKNEE_2_surgeon.html'"></ng:include>
			<ng:include src="'tplpe/OPKNEE_3_implant.html'"></ng:include>
			<ng:include src="'tplpe/OPKNEE_4_surgicalapp.html'"></ng:include>
			<ng:include src="'tplpe/OPKNEE_5_finale.html'"></ng:include>

			<!-- ng:include src="'tplpe/OPKNEE_XRays.html'"></ng:include -->
		</p>


	</div>
</div>

<div ng-controller="ChiefComplaintCtrl">
	<div ng-repeat="zclinixes in zclinix">
	<p ng-show = {{zclinixes.HIP}} >
		<ng:include src="'..//common/vw_POSTOpHIPreplc_preform.html'"></ng:include>
	</p>
	<p ng-show = {{zclinixes.KNEE}} >
		<ng:include src="'..//common/vw_POSTOpKNEEreplc_preform.html'"></ng:include>
	</p>
</div>	


<!-- XRAY / LABS boxess -->
<div ng-controller="ChiefComplaintCtrl">
	<div ng-repeat="zclinixes in zclinix">
	<p ng-show = {{zclinixes.HIP}}>

		<div scroll-bookmark="HIP_XRAYBOX">
			<ng:include src="'tplpe/OPHIP_XRays.html'"></ng:include>
		</div>	
	</p>

	<!-- p ng-show = {{zclinixes.KNEE}}>
		<div scroll-bookmark="KNEE_XRAYBOX">
			<ng:include src="'tplpe/OPKNEE_XRays.html'"></ng:include>
		</div>
	</p -->
</div>	


<ng:include src="'..//common/vw_structured_discharge_summary.html'"></ng:include>
