<html ng-app>
<head>
<meta charset="utf-8">
<script src="..//conf.js"></script>
<link href="..//css/bootstrap.min.css" rel="stylesheet">

<script src="..//lib/jquery-1.11.1.min.js" type="text/javascript" ></script>
<script src="..//lib/jaydata-1.3.6/jaydata.min.js"></script>
<script src="..//lib/jaydata-1.3.6/jaydataproviders/SqLiteProvider.min.js"></script>
<script src="..//lib/angular-1.2.18.min.js"></script>

<script src="..//common/models/model_zclinix.js"></script>

<script src="..//common/models/model_clinix.js"></script>
<script src="..//common/models/model_lkupTranStatus.js"></script>
<script src="..//common/models/model_lkupPEChargesTariff.js"></script>
<script src="..//common/models/model_lab_results.js"></script>
<script src="..//common/models/model_pe_charges.js"></script>

<!-- IOH -->
<script src="..//common/models/model_chiefcomplaint.js"></script>
<script src="..//common/models/model_etiology.js"></script>
<script src="..//common/models/model_treatment.js"></script>
<script src="..//common/models/model_prevsurgeries.js"></script>
<script src="..//common/models/model_labs.js"></script>
<script src="..//common/models/model_medhist.js"></script>

<!-- PHYSICAL EXAMINATION -->
<script src="..//common/models/model_xpe_ambustatus.js"></script>
<script src="..//common/models/model_xpe_hipmeasures.js"></script>
<script src="..//common/models/model_xpe_hipstanding.js"></script>
<script src="..//common/models/model_xpe_hipmotionrange.js"></script>
<script src="..//common/models/model_xpe_hipxrays.js"></script>

<script src="..//common/models/model_xpe_kneemeasures.js"></script>
<script src="..//common/models/model_xpe_kneeAppearance.js"></script>
<script src="..//common/models/model_xpe_kneeAlignment.js"></script>
<script src="..//common/models/model_xpe_kneeMotionRange.js"></script>
<script src="..//common/models/model_xpe_kneeXRays.js"></script>

<script src="..//common/models/model_PREOp_HIP_preform.js"></script>
<script src="..//common/models/model_POSTOp_HIP_preform.js"></script>

<script src="..//common/models/model_PREOp_KNEE_preform.js"></script>
<script src="..//common/models/model_POSTOp_KNEE_preform.js"></script>

<!-- Diagnosis -->
<script src="..//common/models/model_diagnosis.js"></script>
<script src="..//common/models/model_diags_Management.js"></script>
<script src="..//common/models/model_diags_Meds.js"></script>
<script src="..//common/models/model_diags_SchedSurgery.js"></script>
<script src="..//common/models/model_diags_Disposition.js"></script>
<script src="..//common/models/model_diagsNotes.js"></script>

<script src="..//common/models/model_OPHIP_3.js"></script>
<script src="..//common/models/model_OPHIP_4.js"></script>
<script src="..//common/models/model_OPHIP_5.js"></script>
<script src="..//common/models/model_OPHIP_6.js"></script>

<script src="..//common/models/model_OPKNEE_2.js"></script>
<script src="..//common/models/model_OPKNEE_3.js"></script>
<script src="..//common/models/model_OPKNEE_4.js"></script>
<script src="..//common/models/model_OPKNEE_5.js"></script>

<script src="..//common/models/model_StructuredDiagnosis.js"></script>
<script src="..//common/models/model_StructuredSchedSurgery.js"></script>
<script src="..//common/models/model_StructuredHospitalization.js"></script>
<script src="..//common/models/model_StructuredLABS.js"></script>
<script src="..//common/models/model_StructuredDisposition.js"></script>
<script src="..//common/models/model_StructuredManagement.js"></script>
<script src="..//common/models/model_StructuredMeds.js"></script>

<script src="..//common/models/model_SkelTrauma_1.js"></script>
<script src="..//common/models/model_SkelTrauma_2.js"></script>

<script src="..//common/models/model_gen_ortho_1.js"></script>
<script src="..//common/models/model_gen_ortho_2.js"></script>
<script src="..//common/models/model_gen_ortho_3.js"></script>
<script src="..//common/models/model_gen_ortho_4.js"></script>
<script src="..//common/models/model_gen_ortho_5.js"></script>
<script src="..//common/models/model_gen_ortho_6.js"></script>

<script src="..//common/models/model_spine_1.js"></script>
<script src="..//common/models/model_spine_2.js"></script>
<script src="..//common/models/model_spine_3.js"></script>
<script src="..//common/models/model_spine_4.js"></script>

<script src="..//common/models/model_xpe_footAnkle_1.js"></script>
<script src="..//common/models/model_xpe_footAnkle_2.js"></script>
<script src="..//common/models/model_xpe_footAnkle_3.js"></script>
<script src="..//common/models/model_xpe_footAnkle_4.js"></script>
<script src="..//common/models/model_xpe_footAnkle_5.js"></script>
<script src="..//common/models/model_xpe_footAnkle_6.js"></script>
<script src="..//common/models/model_xpe_footAnkle_7.js"></script>
<script src="..//common/models/model_xpe_footAnkle_8.js"></script>
<script src="..//common/models/model_xpe_footAnkle_9.js"></script>

<script src="..//common/models/model_xpe_knee_1.js"></script>
<script src="..//common/models/model_xpe_knee_2.js"></script>
<script src="..//common/models/model_xpe_knee_3.js"></script>
<script src="..//common/models/model_xpe_knee_4.js"></script>
<script src="..//common/models/model_xpe_knee_5.js"></script>
<script src="..//common/models/model_xpe_knee_6.js"></script>
<script src="..//common/models/model_xpe_knee_7.js"></script>
<script src="..//common/models/model_xpe_knee_8.js"></script>

<script src="..//common/models/model_xpe_sholder_1.js"></script>
<script src="..//common/models/model_xpe_sholder_2.js"></script>
<script src="..//common/models/model_xpe_sholder_3.js"></script>
<script src="..//common/models/model_xpe_sholder_4.js"></script>
<script src="..//common/models/model_xpe_sholder_5.js"></script>
<script src="..//common/models/model_xpe_sholder_6.js"></script>
<script src="..//common/models/model_xpe_sholder_7.js"></script>
<script src="..//common/models/model_xpe_sholder_8.js"></script>
<script src="..//common/models/model_xpe_sholder_9.js"></script>

<script src="..//common/models/model_ICD10.js"></script>
<script src="..//common/models/model_rvs.js"></script>

<script src="model_myservices.js"></script>

<script src="app.js"></script>
</head>

<body ng-controller="DataController">
<div class="container">
  <div class="jumbotron text-center">
      <h2>SYNCH Updates and Processes</h2>
      <h3>DOWNLOAD Data from SERVER to iPad</h3>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <table class="table" width="100%"> 
        <tr>
          <td width="1%"><span class="glyphicon glyphicon-home btn-lg"></span></td>

          <td width="30%">
            <a href="..//index.html" class="btn btn-primary btn-block btn-lg text-center" 
              style="text-decoration : none">Back to <br>Main Options
            </a>
          </td>
        </tr> 

        <tr>
          <td width="1%"><span class="glyphicon glyphicon-th btn-lg"></span></td>
          
          <td>
            <button class="btn-danger btn-block btn-lg text-center" ng-click="puller_IOH()">
              DOWNLOAD <br> Initial Interview Results 
            </button>
          </td>
        </tr> 
        
        <tr>
          <td width="1%"><span class="glyphicon glyphicon-th btn-lg"></span></td>
          <td>
            <button class="btn-info btn-block btn-lg text-center" ng-click="puller_PEResults()">
              DOWNLOAD <br> PE (HIP & KNEE), Diagsnosis  
            </button>
          </td>
        </tr>

        <tr>
          <td width="1%"><span class="glyphicon glyphicon-th btn-lg"></span></td>
          <td>
            <button class="btn-success btn-block btn-lg text-center" ng-click="puller_OrdersReorts()">
              DOWNLOAD <br> Orders and Reports (HIP & KNEE)
            </button>
          </td>
        </tr>

        <tr>
          <td width="1%"><span class="glyphicon glyphicon-refresh btn-lg"></span></td>
          <td>
            <button class="btn-warning btn-block btn-lg text-center" ng-click="pullgenortho()">
              DOWNLOAD Latest <br>GEN ORTHOPEDICS
            </button>
          </td>
        </tr>

        <tr>
          <td width="1%"><span class="glyphicon glyphicon-refresh btn-lg"></span></td>
          <td>
            <button class="btn-warning btn-block btn-lg text-center" ng-click="pullskeltrauma()">
              DOWNLOAD Latest <br>SKELETAL TRAUMA
            </button>
          </td>
        </tr>

        <tr>
          <td width="1%"><span class="glyphicon glyphicon-refresh btn-lg"></span></td>
          <td>
            <button class="btn-warning btn-block btn-lg text-center" ng-click="pullspine()">
              DOWNLOAD Latest <br>SPINE
            </button>
          </td>
        </tr>
        <tr>
          <td width="1%"><span class="glyphicon glyphicon-refresh btn-lg"></span></td>
          <td>
            <button class="btn-warning btn-block btn-lg text-center" ng-click="pullsportsfootankle()">
              DOWNLOAD Latest <br>SPORTS FOOT AND ANKLE
            </button>
          </td>
        </tr>

        <tr>
          <td width="1%"><span class="glyphicon glyphicon-refresh btn-lg"></span></td>
          <td>
            <button class="btn-warning btn-block btn-lg text-center" ng-click="pullSportsknee()">
              DOWNLOAD Latest <br> SPORTS KNEE
            </button>
          </td>
        </tr>

        <tr>
          <td width="1%"><span class="glyphicon glyphicon-refresh btn-lg"></span></td>
          <td>
            <button class="btn-warning btn-block btn-lg text-center" ng-click="pullsportshoulder()">
              DOWNLOAD Latest <br> SPORTS SHOULDER
            </button>
          </td>
        </tr>

      </table>
    </div>


    <!-- 2nd column -->
    <div class="col-xs-6">
      <table class="table" width="100%"> 

        <!-- <tr>
            <td width="1%"><span class="glyphicon glyphicon-fire btn-lg"></span></td>

            <td width="30%">
                <a class="btn btn-danger btn-block btn-lg text-center" style="text-decoration : none" 
                    ng-click="CleanClinix()">
                    Clear ALL Appointments<br>(use with caution)
                </a>
            </td>
        </tr>  -->

        <tr>
            <td width="1%"><span class="glyphicon glyphicon-cog btn-lg"></span></td>
            <td>
                <button class="btn-danger btn-block btn-lg text-center" ng-click="pullAllClinix()">
                  Pull ALL Appointments<br>From Server
                </button>

            </td>
        </tr> 
        
        <tr>
            <td width="1%"><span class="glyphicon glyphicon-refresh btn-lg"></span></td>
            <td>
              <button class="btn-warning btn-block btn-lg text-center" 
              ng-click="pullData()">
                Pull Today's APPOINMENTs <br>From Server
              </button>
            </td>    
        </tr> 

        <tr>
          <td width="1%"><span class="glyphicon glyphicon-camera btn-lg"></span></td>
          <td>
            <button class="btn-info btn-block btn-lg text-center" ng-click="pullLABResults()">
              DOWNLOAD <br> Lab Results 
            </button>
          </td>
        </tr> 
        
        <tr>
          <td width="1%"><span class="glyphicon glyphicon-refresh btn-lg"></span></td>
          <td>
            <button class="btn-warning btn-block btn-lg text-center" ng-click="pull_ICD10()">
              DOWNLOAD Latest <br>ICD 10 
            </button>
          </td>
        </tr>
        <tr>
          <td width="1%"><span class="glyphicon glyphicon-refresh btn-lg"></span></td>
          <td>
            <button class="btn-warning btn-block btn-lg text-center" ng-click="pull_rvs()">
              DOWNLOAD <br>RVS 
            </button>
          </td>
        </tr>

        <tr>
          <td width="1%"><span class="glyphicon glyphicon-refresh btn-lg"></span></td>
          <td>
            <button class="btn-warning btn-block btn-lg text-center" ng-click="pullTariff()">
              DOWNLOAD Latest <br>PE Charges Tariff 
            </button>
          </td>
        </tr>
      
        <tr>
            <td width="1%"><span class="glyphicon glyphicon-refresh btn-lg"></span></td>
            <td>
              <button class="btn-warning btn-block btn-lg text-center" ng-click="pullTranStatus()">
                DOWNLOAD Latest <br> Appoinment Statuses
              </button>
            </td>
        </tr> 

      </table>
    </div>
  </div>

  <div>
    <table class="table table-bordered">
      <!--tr class="info">
         <td width="1%" nowrap>App #</td>

         <td width="1%" nowrap>Purpose</td>
         <td width="1%" nowrap>Dok</td>

         <td width="1%" nowrap>Date Set</td>
         <td width="1%" nowrap>App Age</td>

         <td width="1%" nowrap>Hosp Chart #</td>
         <td width="1%" nowrap>Hosp</td>

         <td width="1%" nowrap>Chart #</td>
         <td width="1%" nowrap>Patient</td>

         <td width="1%" nowrap>Address</td>
         <td width="1%" nowrap>Status</td>
         <td width="1%" nowrap>Reg Date</td>
         <td>Profile</td>
      </tr-->

      <tr class="primary" ng-repeat="row in clinix | limitTo:50">
        <td>{{row.ClinixRID}}</td>
        <td>{{ row.PurposeOfVisit }}</td>
        <td>{{ row.Dok }}</td>
        <td nowrap>{{row.AppDateSet | date}}</td>
        <td nowrap>{{row.AppDateAge}}</td>
        <td>{{row.HospitalRID}}</td>
        <td>{{row.Hospital}}</td>
        <td>{{row.PxRID}}</td>
        <td>{{row.pxname}}</td>
        <td>{{row.pxAddress}}</td>
        <td nowrap>{{row.pxstatus}}</td>
        <td nowrap>{{row.pxregdate | date}}</td>
        <td>{{row.pxFoto}}</td>
      </tr>

      <tr class="primary" ng-repeat="row in LkUpICDCodes">
        <td>{{row.lkup_ICDRID}}</td>
        <td>{{ row.icd_code }}</td>
        <td>{{ row.icd_description }}</td>
        <td nowrap>{{row.SynchStatus}}</td>
      </tr>

  	</table>
</div>

</body>
</html>