<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.walterfs.iPadMRRESTAPI"
        versionCode="11"
        version   = "11.1.0">

    <!-- versionCode is optional and Android only -->

    <name>iPad MR API</name>

    <description>
       iPad MR API
    </description>

    <author href="http://wfseballos.org" email="wolt45@yahoo.com.com">
        Walter Frederick Seballos
    </author>

</widget>
