<html ng-app>
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="lib/jquery-1.11.1.min.js"></script>
    <script src="lib/jaydata-1.3.6/jaydata.min.js"></script>
    <script src="lib/jaydata-1.3.6/jaydataproviders/SqLiteProvider.min.js"></script>
    <script src="lib/angular-1.2.18.min.js"></script>

    <script src="model_clinix.js"></script>
    <script src="model_chiefcomplaint.js"></script>
    <script src="model_spineIntl.js"></script>
    <script src="model_etiology.js"></script>
    <script src="model.js"></script>
    
    <script src="app.js"></script>
</head>

<body ng-controller="DataController">
<h1>WALTER'S TEST</h1>
<h1>RESTFUL API, wfseballos, Aug 29, 2014</h1>
<br/>
<p>Extract px_data REST from server and store to Web SQL</p>
<button ng-click="pullData()">Pull Data From Server</button>

<br/>
<p>Show Data</p>
<div ng-repeat="row in clinix">
	<p>{{row.ClinixRID}} - {{row.PxRID}} - {{row.pxname}} - {{row.Address}} - {{row.pxstatus}} - {{row.pxregdate}} - {{row.Foto}}</p>
	<hr>
</div>

</body>
</html>