<html ng-app>
<head>
    <meta charset="utf-8">
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript" src="lib/jquery-1.11.1.min.js"></script>
    <script src="lib/jaydata-1.3.6/jaydata.min.js"></script>
    <script src="lib/jaydata-1.3.6/jaydataproviders/SqLiteProvider.min.js"></script>
    <script src="lib/angular-1.2.18.min.js"></script>
    <script src="model.js"></script>
    <script src="appj.js"></script>
</head>

<body ng-controller="DataController">
<h1>LOCAL DB VIEWER - px_data</h1>

<br/>
<button ng-click="ShowData()">Show Data Directly From Local DB</button>
<br/>

<TABLE class="table-bordered table-striped">
	<tr>
		<th>PxRID</th>
		<th>name</th>
		<th>Address</th>
		<th>Status</th>
		<th>Reg Date</th>
		<th>Foto</th>
	</tr>
	<tr ng-repeat="row in px_data">	
		<td>{{row.PxRID}} </td>
		<td>{{row.pxname}} </td>
		<td>{{row.Address}} </td>
		<td>{{row.pxstatus}} </td>
		<td>{{row.pxregdate}} </td>
		<td>{{row.Foto}} </td>
	</tr>
</TABLE>

</body>
</html>