<!-- MED HIST -->
<div ng-controller="MedHistCtrl">
	<div scroll-bookmark="IOPEMedHist">
		<div class="panel panel-default">
			
			<table class="table table-condensed table-bordered">
				<tr class="warning">
					<th colspan=9>
						<span style="font-family: Helvetiker; font-size:30px; color: #555; letter-spacing: 3px; font-style: italic;">
			    			Medical History
			    		</span>
					</th>
				</tr>

				<tr class="active">
					<td width="1%" nowrap>
						<select ng-model="CHIEFCformData.MedHist" style="background-color: white; color: #000">
	              			<option ng-repeat="rolMedHist in MedHistList" value="{{rolMedHist.dropname}}">{{rolMedHist.dropname}}</option>
						</select>
					</td>

					<td width="20%">
						<input type="text" class="form-control" ng-model="CHIEFCformData.MedHistDetails" placeholder="Details">
					</td>

					<td width="1%" class="text-center" rowspan=1>
						<a class="btn btn-large btn-info" href="#/{{clinix.ClinixRID}}" ng-click="addMedHist(CHIEFCformData)" style="text-decoration: none">ADD</a>
					</td>

				</tr>
			
				<tr class="info">
	            	<th width="1%" class="text-center" style="color:#888" nowrap>Item</th>
	            	<th width="1%" class="text-center" style="color:#888" nowrap>Details</th>

					<td></td>
					<td></td>
					<td></td>
					<td></td>
	            </tr>

				<tr class="info" ng-repeat="rolHist in clinix_MedHist">
	            	<td class="text-center" style="color:black">{{rolHist.MedHist}}</td>
	            	<td class="text-center" style="color:black">{{rolHist.MedHistDetails}}</td>

	                <td class="text-center" width="1%">
	                	<a class="btn btn-large btn-danger" href="#/{{rolHist.ClinixRID}}" ng-click="removeMedHist(rolHist)" style="text-decoration: none">
	                		DELETE
	                	</a>
	            	</td>
	                <td class="text-center" width="1%">
	                	<a class="btn btn-large btn-warning" href="#/{{rolHist.ChiefRID}}/edit" ng-click="editMedHist(rolHist)" style="text-decoration: none">
	                		EDIT
	                	</a>
	            	</td>

	            	<td></td>
	            	
	            </tr>
				
			</table>

		</div>
	</div>
</div>